@namespace Blazorise.Docs.Docs.Examples

<Row>
    <Column>
        <FieldLabel>
            Image Cropper
        </FieldLabel>
        <FieldBody>
            <ImageCropper @ref="cropper" Source="img/gallery/amongus.png" PreviewSelector=".image-cropper-preview" />
        </FieldBody>
    </Column>
    <Column>
        <Row>
            <Column>
                <FieldBody>
                    <div class="image-cropper-preview" style="margin: 10px; width: 150px; height: 150px; overflow: hidden" />
                </FieldBody>
            </Column>
        </Row>
        <Row>
            <Column>
                <Row Margin="Margin.Is3.FromTop">
                    <Column>
                        <Button Color="Color.Primary" Clicked="@GetCroppedImage">Get Cropped Image</Button>
                    </Column>
                    <Column>
                        <img src="@result" width="250" height="250" />
                    </Column>
                </Row>
            </Column>
        </Row>
    </Column>
</Row>


@code {
    private ImageCropper cropper;
    private string result;
    private double? ratio = 1.0;
    private ImageCropperViewMode viewMode;
    private bool enabled = true;
    private bool flipX, flipY;

    private Task OnCropped()
    {
        return Task.CompletedTask;
    }

    private async Task GetCroppedImage()
    {
        result = await cropper.CropAsBase64ImageAsync( new() { Width = 250, Height = 250 } );
    }
}