@namespace Blazorise.Docs.Docs.Examples

<Container TextAlignment="TextAlignment.Center">
    <Row Gutter="Gutter.Is2">
        @for ( int i = 1; i <= 4; i++ )
        {
            <Column ColumnSize="ColumnSize.Is6">
                <Div Padding="Padding.Is3"
                     Background="Background.Primary.Subtle"
                     Border="Border.Primary">
                    Custom column padding
                </Div>
            </Column>
        }
    </Row>
</Container>