@namespace Blazorise.Docs.Docs.Examples

<Container Overflow="Overflow.Hidden" TextAlignment="TextAlignment.Center">
    <Row Gutter="Gutter.Is5.OnX">
        @for ( int i = 1; i <= 2; i++ )
        {
            <Column>
                <Div Padding="Padding.Is3"
                     Background="Background.Primary.Subtle"
                     Border="Border.Primary">
                    Custom column padding
                </Div>
            </Column>
        }
    </Row>
</Container>