<Alert Color="Color.Success" Visible>
    <AlertMessage>Well done!</AlertMessage>
    <AlertDescription Style="color:red; font-size:46px">
        You successfully read this important alert message.
    </AlertDescription>
</Alert>