@inherits BaseComponent
@typeparam TItem
<Div Class="@ClassNames" Style="@StyleNames" Position="Blazorise.Position.Relative" Width="Blazorise.Width.Is100" Flex="Blazorise.Flex.Default">
    @ChildContent
</Div>