@typeparam TItem
<Div Style="@GetAllDayHeaderStyle()" Position="Position.Relative" Flex="Blazorise.Flex.Column.AlignItems.Stretch" Width="Width.Is100" Border="Border.Is1.OnBottom.Is1.OnStart">
    @{
        var items = Scheduler.GetAllDayItemsInRange( Date, Date ).ToList();

        @if ( items?.Any() == true )
        {
            var height = HeaderCellHeight / 2;

            @foreach ( var item in items )
            {
                var totalDays = (int)Scheduler.GetAllDayItemDurationInDays( item );
                var numberOfPreviousItems = Scheduler.CountOverlappingItemsBefore( item );
                var top = height * numberOfPreviousItems;

                <Div Flex="Flex.Default" Style="@GetAllDayHeaderInnerStyle( totalDays, top, height )">
                    <_SchedulerDayAllDayItem TItem="TItem" Item="@item" Clicked="@OnItemClicked" />
                </Div>
            }
        }
    }
</Div>
@code {
    protected async Task OnItemClicked( TItem item )
    {
        if ( item is not null )
        {
            await Scheduler.NotifyItemClicked( item );
        }
    }

    string GetAllDayHeaderStyle()
    {
        return $"min-height: {( HeaderCellHeight / 2 ) * MaxAllDayItems}px;";
    }

    string GetAllDayHeaderInnerStyle( int totalDays, double top, double height )
    {
        return $"position: absolute; left: 0; top: {top}px; width: {totalDays * 100}%; height: {height}px; z-index: 1; cursor: pointer;";
    }

    [CascadingParameter] public Scheduler<TItem> Scheduler { get; set; }

    [Parameter] public DateOnly Date { get; set; }

    [Parameter] public DateOnly SelectedDate { get; set; }

    [Parameter] public double HeaderCellHeight { get; set; }

    [Parameter] public IEnumerable<TItem> AllDayItems { get; set; }

    [Parameter] public int MaxAllDayItems { get; set; }
}
