<Div Class="b-scheduler-hour" Flex="Blazorise.Flex.Default.Grow.Is1.Shrink.Is1" Width="Blazorise.Width.Is100" Height="Height.Px( HeaderCellHeight )" Border="Border.Is1.OnBottom.Is1.OnTop">
    <Div Class="b-scheduler-hour-header" TextWeight="Blazorise.TextWeight.Bold" Padding="Blazorise.Padding.Is3">
        <Span></Span>
    </Div>
</Div>
@code {
    [Parameter] public double HeaderCellHeight { get; set; }
}
