<Div Class="b-scheduler-hour" Flex="FlexDefaultGrowIs1ShrinkIs1" Width="WidthIs100" Height="Height.Px( HeaderCellHeight )" Border="BorderIs1OnBottomIs1OnTop">
    <Div Class="b-scheduler-hour-header" TextWeight="Blazorise.TextWeight.Bold" Padding="PaddingIs3">
        <Span></Span>
    </Div>
</Div>
@code {
    [Parameter] public double HeaderCellHeight { get; set; }
}
