<Div Class="b-scheduler-allday-header" style="@GetAllDayHeaderStyle()" Flex="FlexColumnJustifyContentCenterAlignItemsCenter" Width="WidthIs100" Border="BorderIs1OnBottom">
    <Div Class="b-scheduler-allday-header-cell">
        <Span TextWeight="TextWeight.SemiBold">All Day</Span>
    </Div>
</Div>
@code {
    string GetAllDayHeaderStyle()
    {
        return $"min-height: {( HeaderCellHeight / 2 ) * MaxStackedAllDayItems}px;";
    }

    [Parameter] public double HeaderCellHeight { get; set; }

    [Parameter] public int MaxStackedAllDayItems { get; set; }
}
