<Buttons Width="Width.Is100">
    @for ( var day = FirstDayOfWeek; day < FirstDayOfWeek + 7; day++ )
    {
        var tempDay = day;
        var dayLabel = tempDay.ToString().Substring( 0, 1 );

        <Button Color="Color.Secondary" Outline Active="@(ByDay.Contains( tempDay ))" Clicked="@(() => OnDayClicked( tempDay ))">
            @dayLabel
        </Button>
    }
</Buttons>

@* @for ( var day = FirstDayOfWeek; day < FirstDayOfWeek + 7; day++ )
{
    var tempDay = day;
    var dayLabel = tempDay.ToString().Substring( 0, 1 );

    <Div Background="@GetBackgroundColor( tempDay )" Flex="Flex.InlineFlex.JustifyContent.Center.AlignItems.Center" Width="Width.Rem( 2 )" Height="Height.Rem( 2 )" Border="Border.RoundedCircle" Margin="Margin.Is2.FromEnd" @onclick="@(() => OnDayClicked( tempDay ))" Style="cursor: pointer">
        @dayLabel
    </Div>
} *@

@code {
    Task OnDayClicked( DayOfWeek day )
    {
        if ( ByDay.Contains( day ) )
        {
            if ( ByDay.Count > 1 )
            {
                ByDay.Remove( day );
            }
        }
        else
        {
            ByDay.Add( day );
        }

        return Task.CompletedTask;
    }

    private Background GetBackgroundColor( DayOfWeek day )
        => ByDay.Contains( day ) ? Background.Secondary : Background.Default;

    private List<DayOfWeek> ByDay { get; set; } = new() { DateTime.Today.AddDays( 1 ).DayOfWeek };

    [Parameter] public DayOfWeek FirstDayOfWeek { get; set; }
}
