@typeparam TItem
<Div Position="Blazorise.Position.Relative">
    @if ( ShowDayHeader )
    {
        <_SchedulerHourHeader HeaderCellHeight="@HeaderCellHeight" />
    }

    @if ( MaxAllDayItems > 0 )
    {
        <_SchedulerHourAllDayHeader HeaderCellHeight="@HeaderCellHeight" MaxAllDayItems="@MaxAllDayItems" />
    }

    @for ( int hour = ( StartTime?.Hour ?? 0 ); hour <= ( EndTime?.Hour ?? 23 ); ++hour )
    {
        int tempHour = hour;

        <Div Class="b-scheduler-hour" Flex="Blazorise.Flex.Default.Grow.Is1.Shrink.Is1" Width="Blazorise.Width.Is100" Height="Height.Px( ItemCellHeight )" Border="Border.Is1.OnBottom">
            <_SchedulerHourCell Hour="@tempHour" />
        </Div>
    }
</Div>
@code {
    [Parameter] public TimeOnly? StartTime { get; set; }

    [Parameter] public TimeOnly? EndTime { get; set; }

    [Parameter] public bool ShowDayHeader { get; set; }

    [Parameter] public double HeaderCellHeight { get; set; }

    [Parameter] public double ItemCellHeight { get; set; }

    [Parameter] public IEnumerable<TItem> AllDayItems { get; set; }

    [Parameter] public int MaxAllDayItems { get; set; }
}