<section id="action-section">
    <Row>
        <Column ColumnSize="ColumnSize.Is12" TextAlignment="TextAlignment.Center" Padding="Padding.Is5.FromBottom">
            <Heading Size="HeadingSize.Is2" Padding="Padding.Is3.FromBottom">Start Building With Blazorise Now!</Heading>
            <Heading Size="HeadingSize.Is5" TextWeight="TextWeight.Normal" TextColor="TextColor.Muted">
                We are here to help you succeed. Our specialists are happy to answer any questions you may have, and our technical documentation includes tutorials and copy-paste code examples on the different Blazorise features.
            </Heading>
        </Column>
    </Row>
    <Row>
        <Column Margin="Margin.Is2.OnY">
            <Div Flex="Flex.Column.Row.OnDesktop.AlignItems.Stretch.JustifyContent.Center" Gap="Gap.Is3">
                <Button Type="ButtonType.Link" To="contact" Color="Color.Primary" Size="Size.Large">
                    Contact us
                </Button>
                <Button Type="ButtonType.Link" To="docs" Color="Color.Primary" Outline Size="Size.Large">
                     Read documentation
                 </Button>
             </Div>
         </Column>
     </Row>
 </section>