<section class="home-css-frameworks" id="home-css-frameworks-section">
    <Row>
        <Column ColumnSize="ColumnSize.Is12" TextAlignment="TextAlignment.Center" Padding="Padding.Is5.FromBottom">
            <Heading Size="HeadingSize.Is2" TextSize="TextSize.Heading1" TextWeight="TextWeight.Bold" Padding="Padding.Is3.FromBottom">
                Blazorise CSS Framework Integrations
            </Heading>
            <Heading Size="HeadingSize.Is5" TextWeight="TextWeight.Normal" TextColor="TextColor.Muted">
                Blazorise is a <Strong>Blazor component library</Strong> with support for <Strong>multiple CSS frameworks</Strong> like Bootstrap, Tailwind, Bulma, AntDesign and Material.
            </Heading>
        </Column>
    </Row>
    <Grid>
        <Column ColumnSize="ColumnSize.Is12.OnMobile.Is4.OnDesktop" Flex="Flex.Column" Border="Border.Is1.Rounded">
            <Anchor To="docs/usage/tailwind" Title="Link to Tailwind">
                <Div Margin="Margin.Is3.FromTop.Is4.OnX">
                    <Image Source="assets/img/logos/tailwind.svg" Text="Tailwind" Style="width: 2rem; height: 2rem;" />
                </Div>
                <Div Padding="Padding.Is3">
                    <Paragraph TextSize="TextSize.Large" TextWeight="TextWeight.Bold" Margin="Margin.Is1.FromBottom">Tailwind</Paragraph>
                    <Paragraph>
                        A utility-first CSS framework for rapid UI development.
                    </Paragraph>
                </Div>
            </Anchor>
        </Column>
        <Column ColumnSize="ColumnSize.Is12.OnMobile.Is4.OnDesktop" Flex="Flex.Column" Border="Border.Is1.Rounded">
            <Anchor To="docs/usage/bootstrap5" Title="Link to Bootstrap 5">
                <Div Margin="Margin.Is3.FromTop.Is4.OnX">
                    <Image Source="assets/img/logos/bootstrap-5.svg" Text="Bootstrap 5" Style="width: 2rem; height: 2rem;" />
                </Div>
                <Div Padding="Padding.Is3">
                    <Paragraph TextSize="TextSize.Large" TextWeight="TextWeight.Bold" Margin="Margin.Is1.FromBottom">Bootstrap 5</Paragraph>
                    <Paragraph>
                        Powerful, extensible, and feature-packed frontend toolkit.
                    </Paragraph>
                </Div>
            </Anchor>
        </Column>
        <Column ColumnSize="ColumnSize.Is12.OnMobile.Is4.OnDesktop" Flex="Flex.Column" Border="Border.Is1.Rounded">
            <Anchor To="docs/usage/bootstrap4" Title="Link to Bootstrap 4">
                <Div Margin="Margin.Is3.FromTop.Is4.OnX">
                    <Image Source="assets/img/logos/bootstrap-4.svg" Text="Bootstrap 4" Style="width: 2rem; height: 2rem;" />
                </Div>
                <Div Padding="Padding.Is3">
                    <Paragraph TextSize="TextSize.Large" TextWeight="TextWeight.Bold" Margin="Margin.Is1.FromBottom">Bootstrap 4</Paragraph>
                    <Paragraph>
                        The world’s most popular framework for building responsive, mobile-first sites.
                    </Paragraph>
                </Div>
            </Anchor>
        </Column>
        <Column ColumnSize="ColumnSize.Is12.OnMobile.Is4.OnDesktop" Flex="Flex.Column" Border="Border.Is1.Rounded">
            <Anchor To="docs/usage/bulma" Title="Link to Bulma">
                <Div Margin="Margin.Is3.FromTop.Is4.OnX">
                    <Image Source="assets/img/logos/bulma-small.svg" Text="Bulma" Style="width: 2rem; height: 2rem;" />
                </Div>
                <Div Padding="Padding.Is3">
                    <Paragraph TextSize="TextSize.Large" TextWeight="TextWeight.Bold" Margin="Margin.Is1.FromBottom">Bulma</Paragraph>
                    <Paragraph>
                        Free, open source components, and modern CSS framework based on Flexbox.
                    </Paragraph>
                </Div>
            </Anchor>
        </Column>
        <Column ColumnSize="ColumnSize.Is12.OnMobile.Is4.OnDesktop" Flex="Flex.Column" Border="Border.Is1.Rounded">
            <Anchor To="docs/usage/ant-design" Title="Link to AntDesign">
                <Div Margin="Margin.Is3.FromTop.Is4.OnX">
                    <Image Source="assets/img/logos/ant-design.svg" Text="AntDesign" Style="width: 2rem; height: 2rem;" />
                </Div>
                <Div Padding="Padding.Is3">
                    <Paragraph TextSize="TextSize.Large" TextWeight="TextWeight.Bold" Margin="Margin.Is1.FromBottom">AntDesign</Paragraph>
                    <Paragraph>
                        An enterprise-class UI design language and React UI library.
                    </Paragraph>
                </Div>
            </Anchor>
        </Column>
        <Column ColumnSize="ColumnSize.Is12.OnMobile.Is4.OnDesktop" Flex="Flex.Column" Border="Border.Is1.Rounded">
            <Anchor To="docs/usage/material" Title="Link to Material">
                <Div Margin="Margin.Is3.FromTop.Is4.OnX">
                    <Image Source="assets/img/logos/material.svg" Text="Material" Style="width: 2rem; height: 2rem;" />
                </Div>
                <Div Padding="Padding.Is3">
                    <Paragraph TextSize="TextSize.Large" TextWeight="TextWeight.Bold" Margin="Margin.Is1.FromBottom">Material</Paragraph>
                    <Paragraph>
                        Material Design for Bootstrap 4.
                    </Paragraph>
                </Div>
            </Anchor>
        </Column>
    </Grid>
</section>