<section class="home-features" id="features-section" style="overflow-x: hidden;">
    <HomeFeatureInfo Title="Multiple CSS Frameworks" To="docs/usage" ImageSource="img/illustrations/home/CSS_Two Color.svg" ImageText="Multiple CSS Frameworks image">
        <TextContent>
            Blazorise is built from the ground up to support any favorite CSS framework without sacrificing speed or features.
        </TextContent>
        <BoldContent>
            Have a try at <Anchor To="https://bootstrapdemo.blazorise.com/" Target="Target.Blank">Bootstrap</Anchor>, <Anchor To="https://tailwinddemo.blazorise.com/" Target="Target.Blank">Tailwind</Anchor>, <Anchor To="https://bulmademo.blazorise.com/" Target="Target.Blank">Bulma</Anchor>, <Anchor To="https://materialdemo.blazorise.com/" Target="Target.Blank">Material</Anchor>, or <Anchor To="https://antdesigndemo.blazorise.com/" Target="Target.Blank">AntDesign</Anchor>.
        </BoldContent>
    </HomeFeatureInfo>

    <HomeFeatureInfo Title="80+ Components" To="docs" ImageSource="img/illustrations/home/User interface_Two Color.svg" ImageText="80+ Components image" Reverse>
        <TextContent>
            Blazorise comes with 80+ <Anchor To="docs/components" Title="Link to Blazor UI components">Blazor UI components</Anchor> that help you build consistent UIs fast. The theme can be customized to match your brand.
        </TextContent>
        <BoldContent>
            <Anchor To="docs/extensions" Title="Link to Extensions">Extensions</Anchor> component are built upon the core components to extend and bring even more features.
        </BoldContent>
    </HomeFeatureInfo>

    <HomeFeatureInfo Title="Open Source" To="https://github.com/Megabit/Blazorise" ImageSource="img/illustrations/home/Coding _Two Color.svg" ImageText="Open source image">
        <TextContent>
            Blazorise is open-source and free to use under our Community License. You can install it from nuget or build your own copy from source.
        </TextContent>
        <BoldContent>
            You can contribute directly to <Anchor To="https://github.com/Megabit/Blazorise">Blazorise</Anchor> by submiting a PR, reporting an issue, or asking for a feature.
        </BoldContent>
    </HomeFeatureInfo>

    <HomeFeatureInfo Title="For Enterprises" To="commercial" ImageSource="img/illustrations/home/Finance analytics _Two Color.svg" ImageText="Commercial image" Reverse>
        <TextContent>
            Priority feature updates, support, and bug fixes are available as part of our commercial licensing.
        </TextContent>
        <BoldContent>
            Get guaranteed development support directly from the team that built Blazorise with a <Anchor To="commercial">Blazorise Professional</Anchor> subscription.
        </BoldContent>
    </HomeFeatureInfo>

    <HomeFeatureInfo Title="Less code. More speed" To="docs/start" ImageSource="img/illustrations/home/Web development _Two Color.svg" ImageText="Less code. More speed image">
        <TextContent>
            Spend less time writing UI code and more time building a great experience for your customers.
        </TextContent>
        <BoldContent>
            Develop rich web applications using C# code on both the server and client-side(WASM).
        </BoldContent>
    </HomeFeatureInfo>
</section>