<section class="home-community" id="community-section">
    <Row>
        <Column ColumnSize="ColumnSize.Is12" TextAlignment="TextAlignment.Center">
            <Heading Size="HeadingSize.Is2" Padding="Padding.Is3.FromBottom">Join Our Community</Heading>
            <Heading Size="HeadingSize.Is5" Padding="Padding.Is3.FromBottom" TextWeight="TextWeight.Normal" TextColor="TextColor.Muted">
                Great systems have a great community behind it. We open sourced Blazorise early in our journey because we believe in the importance of community. It is foundational to our story. We are open about our roadmap and priorities. We are proud of what we have running under the hood. Check out our Github and take a look at our priority list, our code, our documentation, and join our community.
            </Heading>
        </Column>
    </Row>

    <Row>
        <Column ColumnSize="ColumnSize.Is12.Is3.OnDesktop" TextAlignment="TextAlignment.Center">
            <Image Source="img/logos/icons8-twitter-x.svg" Text="Twitter icon" Class="home-community-img-icons" />
            <Heading Size="HeadingSize.Is5" Padding="Padding.Is3.OnY">X</Heading>
            <Paragraph TextColor="TextColor.Muted">For announcements, blog posts, and general Blazorise stuff.</Paragraph>
            <Anchor To="https://twitter.com/Blazorise" Title="Link to Blazorise Twitter" Target="Target.Blank" Class="home-community-readmore-link"><Paragraph>Follow us</Paragraph></Anchor>
        </Column>
        <Column ColumnSize="ColumnSize.Is12.Is3.OnDesktop" TextAlignment="TextAlignment.Center">
            <Image Source="img/logos/icons8-discord.svg" Text="Discord icon" Class="home-community-img-icons" />
            <Heading Size="HeadingSize.Is5" Padding="Padding.Is3.OnY">Discord</Heading>
            <Paragraph TextColor="TextColor.Muted">Get help over chat from community members. A maintainer is usually online.</Paragraph>
            <Anchor To="https://discord.gg/cVmq8xBSnG" Title="Link to Blazorise Discord" Target="Target.Blank" Class="home-community-readmore-link"><Paragraph>Chat now</Paragraph></Anchor>
        </Column>
        <Column ColumnSize="ColumnSize.Is12.Is3.OnDesktop" TextAlignment="TextAlignment.Center">
            <Image Source="img/logos/icons8-reddit.svg" Text="Reddit icon" Class="home-community-img-icons" />
            <Heading Size="HeadingSize.Is5" Padding="Padding.Is3.OnY">Reddit</Heading>
            <Paragraph TextColor="TextColor.Muted">Subscribe to be notified of any Blazorise news or announcements.</Paragraph>
            <Anchor To="https://www.reddit.com/r/Blazorise/" Title="Link to Blazorise Reddit" Target="Target.Blank" Class="home-community-readmore-link"><Paragraph>Subscribe</Paragraph></Anchor>
        </Column>
        <Column ColumnSize="ColumnSize.Is12.Is3.OnDesktop" TextAlignment="TextAlignment.Center">
            <Image Source="img/logos/icons8-github.svg" Text="GitHub icon" Class="home-community-img-icons" />
            <Heading Size="HeadingSize.Is5" Padding="Padding.Is3.OnY">GitHub</Heading>
            <Paragraph TextColor="TextColor.Muted">If you encounter an issue, do us a favor and report it. Someone else may have the same issue.</Paragraph>
            <Anchor To="https://github.com/Megabit/Blazorise" Title="Link to Blazorise GitHub" Target="Target.Blank" Class="home-community-readmore-link"><Paragraph>View GitHub issues</Paragraph></Anchor>
        </Column>
    </Row>
</section>