<section class="home-testimonials" id="testimonials-section">
    <Row>
        <Column ColumnSize="ColumnSize.Is12" TextAlignment="TextAlignment.Center" Padding="Padding.Is5.FromBottom">
            <Heading Size="HeadingSize.Is2" Padding="Padding.Is3.FromBottom">Loved by 100,000+ developers and relied on by Fortune 500 businesses.</Heading>
            <Heading Size="HeadingSize.Is5" TextWeight="TextWeight.Normal" TextColor="TextColor.Muted">
                No better way to describe Blazorise, then actually using it in real world scenarios.
                Here's what our clients have to say about Blazorise:
            </Heading>
        </Column>
    </Row>
    <Row>
        <Column ColumnSize="ColumnSize.Is4.OnWidescreen.Is6.OnDesktop">
            <Div Padding="Padding.Is4" Shadow="Shadow.Large">
                <Rating SelectedValue="5" ReadOnly />
                 <Div>
                     <Paragraph>
                         <Blockquote>
                             “Blazorise has been a key framework which allowed us to quickly build new products while focusing on distinguishing features. The diverse offering of components and compelling documentation made thinking about new features and visualising them much quicker. The customisation layer offered is also excellent and allows us to really make our products and solutions feel coherent and in line with the company brand.”
                         </Blockquote>
                     </Paragraph>
                 </Div>
                 <Div Class="home-testimonial-meta">
                     <Heading>Cristian Recoseanu</Heading>
                     <Paragraph>
                         <Anchor To="https://www.pebble.tv/" Target="Target.Blank">@@Pebble</Anchor>
                     </Paragraph>
                 </Div>
             </Div>
         </Column>
         <Column ColumnSize="ColumnSize.Is4.OnWidescreen.Is6.OnDesktop">
             <Div Padding="Padding.Is4" Shadow="Shadow.Large">
                 <Rating SelectedValue="5" ReadOnly />
                 <Div>
                     <Paragraph>
                         <Blockquote>
                             “We moved from Radzen to Blazorise a year ago and never looked back.  Being able to target Boostrap on the desktop and Material for mobile with the same markup is amazing.”
                         </Blockquote>
                     </Paragraph>
                 </Div>
                 <Div Class="home-testimonial-meta">
                     <Heading>Mark Davis</Heading>
                     <Paragraph>
                         <Anchor To="https://darkmatter.consulting/" Target="Target.Blank">@@Dark Matter Consulting</Anchor>
                     </Paragraph>
                 </Div>
             </Div>
         </Column>
         <Column ColumnSize="ColumnSize.Is4.OnWidescreen.Is6.OnDesktop">
             <Div Padding="Padding.Is4" Shadow="Shadow.Large">
                 <Rating SelectedValue="5" ReadOnly />
                 <Div>
                     <Paragraph>
                         <Blockquote>
                             “Blazorise is one of the most complete Blazor component libraries. It provides built-in solutions for all the essential UI requirements. It is easy to learn, use and customize. We trust it in our solutions, and it is highly recommended.”
                         </Blockquote>
                     </Paragraph>
                 </Div>
                 <Div Class="home-testimonial-meta">
                     <Heading>Halil İbrahim Kalkan</Heading>
                     <Paragraph>
                         <Anchor To="https://abp.io/" Target="Target.Blank">@@ABP Framework</Anchor>
                     </Paragraph>
                 </Div>
             </Div>
         </Column>
     </Row>
 </section>