<!-- In <head> -->
<!-- Optional: Material icons webfont (recommended when using Blazorise.Icons.Material) -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Sharp|Material+Icons+Round|Material+Icons+Two+Tone" rel="stylesheet">

<link href="_content/Blazorise/blazorise.css?v=2.0.0.0" rel="stylesheet" />
<link href="_content/Blazorise.Material/blazorise.material.css?v=2.0.0.0" rel="stylesheet" />
<link href="_content/Blazorise.Icons.Material/blazorise.icons.material.css?v=2.0.0.0" rel="stylesheet" />

<!-- Before </body> (before the Blazor framework script) -->
<script src="_content/Blazorise.Material/blazorise.material.js?v=2.0.0.0"></script>