@page "/"
@namespace Blazorise.Docs.Server.Pages
@using Microsoft.AspNetCore.Components.Web
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blazorise</title>

    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />

    <base href="~/" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="manifest.json">

    <!-- inside of head section -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link href="https://unpkg.com/easymde/dist/easymde.min.css" rel="stylesheet">

    <link href="_content/Blazorise/blazorise.css" rel="stylesheet" />
    <link href="_content/Blazorise.Bootstrap/blazorise.bootstrap.css" rel="stylesheet" />
    <link href="_content/Blazorise.Snackbar/blazorise.snackbar.css" rel="stylesheet" />
    <link href="_content/Blazorise.SpinKit/blazorise.spinkit.css" rel="stylesheet" />
    <link href="_content/Blazorise.TreeView/blazorise.treeview.css" rel="stylesheet" />
    <link href="_content/Blazorise.Docs/blazorise.docs.css" rel="stylesheet" />

    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#494e52"
                    },
                    "button": {
                        "background": "#71489f",
                        "text": "#ffffff"
                    }
                },
                "revokable": false,
                "showLink": true,
                "position": "bottom-right",
                "type": "opt-out",
                "content": {
                    "message": "This website uses cookies to ensure you get the best experience on our website.",
                    "href": "/terms/"
                },
                onInitialise: function (status) {
                    var type = this.options.type;
                    var didConsent = this.hasConsented();
                    if (type == 'opt-in' && didConsent) {
                        // enable cookies
                        setTracking(true);
                    }
                    if (type == 'opt-out' && !didConsent) {
                        // disable cookies
                        setTracking(false);
                    }
                },
                onStatusChange: function (status, chosenBefore) {
                    var type = this.options.type;
                    var didConsent = this.hasConsented();
                    if (type == 'opt-in' && didConsent) {
                        // enable cookies
                        setTracking(true);
                    }
                    if (type == 'opt-out' && !didConsent) {
                        // disable cookies
                        setTracking(false);
                    }
                },
                onRevokeChoice: function () {
                    var type = this.options.type;
                    if (type == 'opt-in') {
                        // disable cookies
                        setTracking(false);
                    }
                    if (type == 'opt-out') {
                        // enable cookies
                        setTracking(true);
                    }
                },
            })
        });

        // enables or disables google analytics
        setTracking = (track) => {
            if (track === true) {
                window['ga-disable-UA-131035631-1'] = false;
            }
            else {
                window['ga-disable-UA-131035631-1'] = true;
            }
        };
    </script>

    <!-- inside of body section and after the div/app tag  -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
    <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/min/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@1.8.0"></script>

    <script id="GA_SCRIPT_UNIVERSAL">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-131035631-1', 'auto');
        ga('set', 'anonymizeIp', true)
        ga('send', 'pageview');
    </script>

    <script src="_content/Blazorise.Docs/blazorise.docs.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
