.ant-input-status-success {
    > .ql-container,
    > .ql-toolbar {
        border-color: var(--b-theme-success, $success) !important;
    }
}

.ant-input-status-error {
    > .ql-container,
    > .ql-toolbar {
        border-color: var(--b-theme-danger, $danger) !important;
    }
}
