.ant-input-status-success {
    > .b-richtextedit-editor,
    > .b-richtextedit-toolbar {
        border-color: var(--b-theme-success, $success);
    }
}

.ant-input-status-error {
    > .b-richtextedit-editor,
    > .b-richtextedit-toolbar {
        border-color: var(--b-theme-danger, $danger);
    }
}
