@namespace Blazorise.Docs.Docs.Examples

<Div Padding="Padding.Is3" Margin="Margin.Is2.FromBottom" Background="Background.Primary" TextColor="TextColor.White">
    Primary
</Div>
<Div Padding="Padding.Is3" Margin="Margin.Is2.FromBottom" Background="Background.Primary.Subtle" TextColor="TextColor.Primary.Emphasis">
    Primary Subtle
</Div>
<Div Padding="Padding.Is3" Margin="Margin.Is2.FromBottom" Background="Background.Secondary" TextColor="TextColor.White">
    Secondary
</Div>
<Div Padding="Padding.Is3" Margin="Margin.Is2.FromBottom" Background="Background.Secondary.Subtle" TextColor="TextColor.Secondary.Emphasis">
    Secondary Subtle
</Div>
<Div Padding="Padding.Is3" Margin="Margin.Is2.FromBottom" Background="Background.Success" TextColor="TextColor.White">
    Success
</Div>
<Div Padding="Padding.Is3" Margin="Margin.Is2.FromBottom" Background="Background.Success.Subtle" TextColor="TextColor.Success.Emphasis">
    Success Subtle
</Div>
<Div Padding="Padding.Is3" Margin="Margin.Is2.FromBottom" Background="Background.Danger" TextColor="TextColor.White">
    Danger
</Div>
<Div Padding="Padding.Is3" Margin="Margin.Is2.FromBottom" Background="Background.Danger.Subtle" TextColor="TextColor.Danger.Emphasis">
    Danger Subtle
</Div>
<Div Padding="Padding.Is3" Margin="Margin.Is2.FromBottom" Background="Background.Warning" TextColor="TextColor.Dark">
    Warning
</Div>
<Div Padding="Padding.Is3" Margin="Margin.Is2.FromBottom" Background="Background.Warning.Subtle" TextColor="TextColor.Warning.Emphasis">
    Warning Subtle
</Div>