@using Blazorise;

<Heading>Counter</Heading>

<Paragraph>@Value</Paragraph>
    <Button Color=Color.Success Clicked="IncrementCount">Increment</Button>

@code {
    [Parameter ] public long Value { get; set; }
    private void IncrementCount()
    {
        Value++;
    }
}
