# create a new project and move to its directory
dotnet new blazorwasm -n my-container-app
cd my-container-app

# add a reference to a (temporary) package that creates the container
dotnet add package Microsoft.NET.Build.Containers

# publish your project for linux-x64
dotnet publish --os linux --arch x64 -
p:PublishProfile=DefaultContainer

# run your app using the new container

docker run -it --rm 5010:80 my-container-app:1.0:0