<Field>
    <FieldLabel>Username</FieldLabel>
    <TextEdit Placeholder="Enter username" />
</Field>
<Field>
    <FieldLabel>Password</FieldLabel>
    <TextEdit Placeholder="Enter password" />
</Field>