<Tabs SelectedTab="@selectedTab" SelectedTabChanged="@OnSelectedTabChanged">
    <Items>
        <Tab Name="login">Login</Tab>
        <Tab Name="register">Register</Tab>
    </Items>
    <Content>
        <TabPanel Name="Login">
            Place form here
        </TabPanel>
        <TabPanel Name="Register">
            Place Form Here.
        </TabPanel>
    </Content>
</Tabs>