.EasyMDEContainer {
    .editor-toolbar,
    .editor-toolbar button,
    .editor-toolbar i,
    .editor-toolbar .separator {
        color: var(--btw-color-gray-700);
    }

    .editor-toolbar button:hover,
    .editor-toolbar button.active {
        color: var(--btw-color-gray-900);
    }
}

.dark .EasyMDEContainer {
    .editor-toolbar,
    .editor-toolbar button,
    .editor-toolbar i,
    .editor-toolbar .separator {
        color: var(--btw-color-gray-300);
    }

    .editor-toolbar button:hover,
    .editor-toolbar button.active {
        color: var(--btw-color-gray-100);
    }
}

.EasyMDEContainer.b-markdown-valid.b-markdown-valid {
    .editor-toolbar,
    .CodeMirror,
    .editor-preview-side,
    .editor-preview-full,
    .editor-statusbar {
        border-color: var(--b-theme-success, #22c55e);
    }
}

.EasyMDEContainer.b-markdown-warning.b-markdown-warning {
    .editor-toolbar,
    .CodeMirror,
    .editor-preview-side,
    .editor-preview-full,
    .editor-statusbar {
        border-color: var(--b-theme-warning, #f59e0b);
    }
}

.EasyMDEContainer.b-markdown-invalid.b-markdown-invalid {
    .editor-toolbar,
    .CodeMirror,
    .editor-preview-side,
    .editor-preview-full,
    .editor-statusbar {
        border-color: var(--b-theme-danger, #ef4444);
    }
}
