.border-green-500 {
    > .ql-container,
    > .ql-toolbar {
        border-color: var(--b-theme-success, #22c55e) !important;
    }
}

.border-red-500 {
    > .ql-container,
    > .ql-toolbar {
        border-color: var(--b-theme-danger, #ef4444) !important;
    }
}
