.b-richtextedit {
    > .b-richtextedit-toolbar.ql-bubble,
    > .b-richtextedit-editor.ql-bubble {
        border-style: solid;
        border-width: 1px;
        border-color: var(--btw-color-gray-300);
    }

    > .b-richtextedit-toolbar + .b-richtextedit-content + .b-richtextedit-editor,
    > .b-richtextedit-toolbar + .b-richtextedit-editor {
        border-top: 0;
    }

    > .b-richtextedit-editor + .b-richtextedit-content + .b-richtextedit-toolbar,
    > .b-richtextedit-editor + .b-richtextedit-toolbar {
        border-top: 0;
    }
}

.b-richtextedit.border-green-500 {
    > .b-richtextedit-editor.ql-container,
    > .b-richtextedit-toolbar.ql-toolbar {
        border-color: var(--b-theme-success, #22c55e);
    }
}

.b-richtextedit.border-red-500 {
    > .b-richtextedit-editor.ql-container,
    > .b-richtextedit-toolbar.ql-toolbar {
        border-color: var(--b-theme-danger, #ef4444);
    }
}
