.border-green-500 {
    > .b-richtextedit-editor,
    > .b-richtextedit-toolbar {
        border-color: var(--b-theme-success, #22c55e);
    }
}

.border-red-500 {
    > .b-richtextedit-editor,
    > .b-richtextedit-toolbar {
        border-color: var(--b-theme-danger, #ef4444);
    }
}
