*          text=auto

*.cmd             text eol=crlf
*.config          text eol=crlf
*.cs              text eol=crlf diff=csharp
*.cshtml          text eol=crlf diff=csharp
*.csproj          text eol=crlf
*.css             text eol=crlf
*.dll             binary
*.editorconfig    text eol=lf
*.eot             binary
*.example         text eol=crlf
*.exe             binary
*.gif             binary
*.gitattributes   text eol=lf
*.gitignore       text eol=lf
*.gitmodules      text eol=lf
*.html            text eol=crlf
*.ico             binary
*.jpg             binary
*.js              text eol=crlf
*.json            text eol=crlf working-tree-encoding=UTF-8
*.less            text eol=crlf
*.map             text eol=lf
*.md              text eol=crlf
*.png             binary
*.ps1             text eol=crlf
*.razor           text eol=crlf
*.rels            text eol=crlf
*.resx            text eol=crlf
*.scss            text eol=crlf
*.sln             text eol=crlf
*.svg             text elf=lf
*.ts              text eol=crlf
*.tsx             text eol=crlf
*.ttf             binary
*.woff            binary
*.wsp             binary
*.xml             text eol=crlf