@using Blazorise.Components
@using System.Reflection;
@using Blazorise.Docs.Layouts;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <base href="/" />

    <HeadOutlet @rendermode="RenderMode.InteractiveServer" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="manifest.json">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="_content/Blazorise.Icons.FontAwesome/v6/css/all.min.css" rel="stylesheet">

    <link href="_content/Blazorise/blazorise.min.css?v=1.7.7.0" rel="stylesheet" />
    <link href="_content/Blazorise.Bootstrap5/blazorise.bootstrap5.min.css?v=1.7.7.0" rel="stylesheet" />

    <link href="_content/Blazorise.Snackbar/blazorise.snackbar.min.css?v=1.7.7.0" rel="stylesheet" />
    <link href="_content/Blazorise.SpinKit/blazorise.spinkit.min.css?v=1.7.7.0" rel="stylesheet" />
    <link href="_content/Blazorise.LoadingIndicator/blazorise.loadingindicator.min.css?v=1.7.7.0" rel="stylesheet" />
    <link href="_content/Blazorise.TreeView/blazorise.treeview.min.css?v=1.7.7.0" rel="stylesheet" />
    <link href="_content/Blazorise.Docs/blazorise.docs.min.css?v=1.7.7.0" rel="stylesheet" />

    <link href="css/site.css?v=1.7.7.0" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>

    <script>
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                type: 'info',
                palette: {
                    popup: {
                        background: "rgba(100, 19, 173,.9)",
                        text: "#fff"
                    },
                    button: {
                        background: "#e03d76",
                        text: "#fff"
                    }
                },
                content: {
                    message: "We use cookies to give you the best experience on our website.\nIf you continue to browse, then you agree to our",
                    link: " privacy policy and cookie policy",
                    href: "https://blazorise.com/privacy"
                },
                onStatusChange: function (status) { },
            })
        });
    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script defer data-domain="blazorise.com" src="https://plausible.io/js/script.js"></script>

    <script>(function (w, r) { w._rwq = r; w[r] = w[r] || function () { (w[r].q = w[r].q || []).push(arguments) } })(window, 'rewardful');</script>
    <script async src='https://r.wdfl.co/rw.js' data-rewardful='42a4f3'></script>
</head>
<body>
    <Routes @rendermode="RenderMode.InteractiveServer" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@1.28.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@2.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-trendline"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@2.2.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.2.0/dist/chartjs-plugin-zoom.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.11.1/tocbot.min.js"></script>

    <script src="https://cdn.paddle.com/paddle/paddle.js"></script>
    <script type="text/javascript">
        Paddle.Setup({ vendor: 130780 });
    </script>

    <script src="_content/Blazorise.Animate/blazorise.animate.js?v=1.7.7.0"></script>
    <script src="_content/Blazorise.Docs/blazorise.docs.min.js?v=1.7.7.0"></script>

    <script src="_framework/blazor.web.js" suppress-error="BL9992"></script>

    <script>
        Blazor.start({
            reconnectionHandler: {
                onConnectionDown: (options, error) => {
                    var isReloading = false;
                    async function attemptReload() {
                        if (!isReloading) {
                            isReloading = true;
                            var request = new Request({
                                url: '/healthcheck',
                                method: 'GET'
                            });
                            var result = await fetch(request);
                            if (result.status == 200) {
                                document.location.reload();
                            }
                            isReloading = false;
                        }
                    }
                    setInterval(attemptReload, 1500);
                }
            }
        });
    </script>
</body>
</html>