.tree-view {
    margin-left: 1.25rem; }

.tree-view-collapsed {
    display: none; }

.tree-view-icon {
    float: left; }

.tree-view-title {
    margin-left: 1.25rem; }

.tree-view .cursor-pointer {
    cursor: pointer; }
