@namespace Blazorise.Docs.Docs.Examples

<Div Position="Position.Relative">
    <Div Position="Position.Absolute.Top.Is0.Start.Is0"></Div>
    <Div Position="Position.Absolute.Top.Is0.End.Is0"></Div>
    <Div Position="Position.Absolute.Top.Is50.Start.Is50"></Div>
    <Div Position="Position.Absolute.Bottom.Is50.End.Is50"></Div>
    <Div Position="Position.Absolute.Bottom.Is0.Start.Is0"></Div>
    <Div Position="Position.Absolute.Bottom.Is0.End.Is0"></Div>
</Div>