@namespace Blazorise.Docs.Docs.Examples

<Div Position="Position.Relative">
    <Div Position="Position.Absolute.Top.Is0.Left.Is0.Translate.Middle"></Div>
    <Div Position="Position.Absolute.Top.Is0.Left.Is50.Translate.Middle"></Div>
    <Div Position="Position.Absolute.Top.Is0.Left.Is100.Translate.Middle"></Div>
    <Div Position="Position.Absolute.Top.Is50.Left.Is0.Translate.Middle"></Div>
    <Div Position="Position.Absolute.Top.Is50.Left.Is50.Translate.Middle"></Div>
    <Div Position="Position.Absolute.Top.Is50.Left.Is100.Translate.Middle"></Div>
    <Div Position="Position.Absolute.Top.Is100.Left.Is0.Translate.Middle"></Div>
    <Div Position="Position.Absolute.Top.Is100.Left.Is50.Translate.Middle"></Div>
    <Div Position="Position.Absolute.Top.Is100.Left.Is100.Translate.Middle"></Div>
</Div>