@namespace Blazorise.Docs.Docs.Examples

<Div Position="Position.Relative">
    <Div Position="Position.Absolute.Top.Is0.Start.Is0.Translate.Middle"></Div>
    <Div Position="Position.Absolute.Top.Is0.Start.Is50.Translate.Middle"></Div>
    <Div Position="Position.Absolute.Top.Is0.Start.Is100.Translate.Middle"></Div>
    <Div Position="Position.Absolute.Top.Is50.Start.Is0.Translate.Middle"></Div>
    <Div Position="Position.Absolute.Top.Is50.Start.Is50.Translate.Middle"></Div>
    <Div Position="Position.Absolute.Top.Is50.Start.Is100.Translate.Middle"></Div>
    <Div Position="Position.Absolute.Top.Is100.Start.Is0.Translate.Middle"></Div>
    <Div Position="Position.Absolute.Top.Is100.Start.Is50.Translate.Middle"></Div>
    <Div Position="Position.Absolute.Top.Is100.Start.Is100.Translate.Middle"></Div>
</Div>