@page "/tests/elements";

<Row>
    <Column ColumnSize="ColumnSize.Is6.OnDesktop.Is12.OnMobile">
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>Pagination</CardTitle>
            </CardHeader>
            <CardBody>
                <CardText>
                    Provide pagination links for your site or app with the multi-page pagination component.
                </CardText>
            </CardBody>
            <CardBody>
                <Pagination>
                    <PaginationItem>
                        <PaginationLink>
                            <span aria-hidden="true">Previous</span>
                        </PaginationLink>
                    </PaginationItem>
                    @for ( int i = 1; i <= 5; ++i )
                    {
                        var pageIndex = i.ToString();

                        <PaginationItem Active="@(i == 2)">
                            <PaginationLink>
                                @pageIndex
                            </PaginationLink>
                        </PaginationItem>
                    }
                    <PaginationItem>
                        <PaginationLink>
                            <span aria-hidden="true">Next</span>
                        </PaginationLink>
                    </PaginationItem>
                </Pagination>
            </CardBody>
        </Card>
    </Column>
    <Column ColumnSize="ColumnSize.Is6.OnDesktop.Is12.OnMobile">
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>Pagination Sizing</CardTitle>
            </CardHeader>
            <CardBody>
                <CardText>
                    Add <code>Size.Large</code> or <code>Size.Small</code> for additional sizes.
                </CardText>
            </CardBody>
            <CardBody>
                <Pagination Size="Size.Small">
                    <PaginationItem>
                        <PaginationLink>
                            <span aria-hidden="true">Previous</span>
                        </PaginationLink>
                    </PaginationItem>
                    @for ( int i = 1; i <= 5; ++i )
                    {
                        var pageIndex = i.ToString();

                        <PaginationItem Active="@(i == 2)">
                            <PaginationLink>
                                @pageIndex
                            </PaginationLink>
                        </PaginationItem>
                    }
                    <PaginationItem>
                        <PaginationLink>
                            <span aria-hidden="true">Next</span>
                        </PaginationLink>
                    </PaginationItem>
                </Pagination>
                <Pagination Size="Size.Large">
                    <PaginationItem>
                        <PaginationLink>
                            <span aria-hidden="true">Previous</span>
                        </PaginationLink>
                    </PaginationItem>
                    @for ( int i = 1; i <= 5; ++i )
                    {
                        var pageIndex = i.ToString();

                        <PaginationItem Active="@(i == 2)">
                            <PaginationLink>
                                @pageIndex
                            </PaginationLink>
                        </PaginationItem>
                    }
                    <PaginationItem>
                        <PaginationLink>
                            <span aria-hidden="true">Next</span>
                        </PaginationLink>
                    </PaginationItem>
                </Pagination>
            </CardBody>
        </Card>
    </Column>
</Row>
<Row>
    <Column>
        <Card Margin="Margin.Is4.FromBottom">
            <CardHeader>
                <CardTitle>Breadcrumbs</CardTitle>
            </CardHeader>
            <CardBody>
                <CardText>
                    Indicate the current page’s location within a navigational hierarchy.
                </CardText>
            </CardBody>
            <CardBody>
                <Breadcrumb>
                    <BreadcrumbItem Active>
                        <BreadcrumbLink To="#">Home</BreadcrumbLink>
                    </BreadcrumbItem>
                </Breadcrumb>
                <Breadcrumb>
                    <BreadcrumbItem>
                        <BreadcrumbLink To="#">Home</BreadcrumbLink>
                    </BreadcrumbItem>
                    <BreadcrumbItem Active>
                        <BreadcrumbLink To="#">Library</BreadcrumbLink>
                    </BreadcrumbItem>
                </Breadcrumb>
                <Breadcrumb>
                    <BreadcrumbItem>
                        <BreadcrumbLink To="#">Home</BreadcrumbLink>
                    </BreadcrumbItem>
                    <BreadcrumbItem>
                        <BreadcrumbLink To="#">Library</BreadcrumbLink>
                    </BreadcrumbItem>
                    <BreadcrumbItem Active>
                        <BreadcrumbLink To="#">Data</BreadcrumbLink>
                    </BreadcrumbItem>
                </Breadcrumb>
            </CardBody>
        </Card>
    </Column>
</Row>
<Row>
    <Column ColumnSize="ColumnSize.Is12.OnMobile">
        <Jumbotron Background="Background.Primary" Margin="Margin.Is4.FromBottom">
            <JumbotronTitle Size="JumbotronTitleSize.Is4">Hello, world!</JumbotronTitle>
            <JumbotronSubtitle>
                This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
            </JumbotronSubtitle>
            <Divider></Divider>
            <Paragraph>
                It uses utility classes for typography and spacing to space content out within the larger container.
            </Paragraph>
        </Jumbotron>
    </Column>
</Row>