@page "/tests/modal-provider"

<Row>
    <Column ColumnSize="ColumnSize.IsFull">
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>ModalProvider</CardTitle>
            </CardHeader>
            <CardBody>
                <Button Clicked="Show">Show custom content</Button>
                <Button Clicked="Hide">Close custom content</Button>
            </CardBody>
        </Card>
    </Column>
</Row>


@code {
    //TODO:
    //Modal Defined Structure in component
    //ModalProviderOptions override
    //Complex parameter interaction
    //ModalService.Hide inside the custom content

    [Inject] public IModalService ModalService { get; set; }

    public Task Show()
    {
        Random random = new();
        var newValue = random.NextInt64(100);
        return ModalService.Show<Counter>("My Custom Content!", x => x.Add(x => x.Value, newValue));
    }

    public Task Hide()
        => ModalService.Hide();

}