@page "/tests/splitter"
<Row>
    <Column>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>Splitter</CardTitle>
            </CardHeader>
            <CardBody>
                <Splitter >
                    <SplitterSection>
                        <h1>Hello!</h1>
                    </SplitterSection>
                    <SplitterSection>
                        <h1>World!</h1>
                    </SplitterSection>
                </Splitter>
            </CardBody>
        </Card>
    </Column>
</Row>

@code {

}