@page "/tests/splitter"
<Row>
    <Column>
        <Button Color="Color.Primary" Clicked="@(()=>StateHasChanged())">
            Refresh page
        </Button>
        <Slider @bind-Value="@gutterSize" Min="5" Max="30" />
    </Column>
</Row>
<Row>
    <Column>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>Splitter</CardTitle>
            </CardHeader>
            <CardBody Style="height: 300px;">
                <Splitter GutterSize="@gutterSize">
                    <SplitterSection>
                        <div>Hello!</div>
                    </SplitterSection>
                    <SplitterSection>
                        <div>World!</div>
                    </SplitterSection>
                </Splitter>
            </CardBody>
        </Card>
    </Column>
    <Column>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>Splitter</CardTitle>
            </CardHeader>
            <CardBody Style="height: 300px;">
                <Div Height="Height.Is100">
                    <Splitter Direction="SplitDirection.Vertical">
                        <SplitterSection>
                            <div>Hello!</div>
                        </SplitterSection>
                        <SplitterSection>
                            <div>World!</div>
                        </SplitterSection>
                    </Splitter>
                </Div>
            </CardBody>
        </Card>
    </Column>
</Row>
@code {
    int gutterSize = 10;
}