@page "/tests/splitter"
<Row>
    <Column>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>Splitter</CardTitle>
            </CardHeader>
            <CardBody Style="height: 300px;">
                <Splitter>
                    <SplitterSection>
                        <div>Hello!</div>
                    </SplitterSection>
                    <SplitterSection>
                        <div>World!</div>
                    </SplitterSection>
                </Splitter>
            </CardBody>
        </Card>
    </Column>
    <Column>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>Splitter</CardTitle>
            </CardHeader>
            <CardBody Style="height: 300px;">
                <Div Height="Height.Is100">
                    <Splitter Direction="SplitDirection.Vertical">
                        <SplitterSection>
                            <div>Hello!</div>
                        </SplitterSection>
                        <SplitterSection>
                            <div>World!</div>
                        </SplitterSection>
                    </Splitter>
                </Div>
            </CardBody>
        </Card>
    </Column>
</Row>
@code {

}