@namespace Blazorise.Reporting.Internal
@inherits BaseReportComponent
@using System
@using Microsoft.AspNetCore.Components.Web

<Div Class="b-report-designer-tabs">
    <Button Color="@GetTabColor( PropertiesTab )"
            Size="Size.Small"
            Clicked="@((MouseEventArgs _) => SelectTab( PropertiesTab ))">
        Properties
    </Button>
    <Button Color="@GetTabColor( ExplorerTab )"
            Size="Size.Small"
            Clicked="@((MouseEventArgs _) => SelectTab( ExplorerTab ))">
        Report Explorer
    </Button>
</Div>

<div class="b-report-designer-panel-body">
    @if ( string.Equals( SelectedTab, ExplorerTab, StringComparison.Ordinal ) )
    {
        @Explorer
    }
    else
    {
        @Properties
    }
</div>