@namespace Blazorise.Reporting.Internal
@inherits ReportComponentBase
@using System
@using System.Globalization
@using Microsoft.AspNetCore.Components.Web

<Field Margin="Margin.Is2.FromBottom">
    <FieldLabel>@Label</FieldLabel>
    <Div Flex="Flex.Row" Gap="Gap.Is2">
        <input type="color"
               value="@ReportElementDefinitionHelper.NormalizeColorValue( Value )"
               @onchange="OnChanged" />
        <Button Color="Color.Light" Clicked="@((MouseEventArgs _) => Clear())">Clear</Button>
    </Div>
</Field>