@namespace Blazorise.Reporting.Internal
@inherits ReportComponentBase

<table>
    @if ( Element?.Columns?.Count > 0 )
    {
        <tr>
            @foreach ( var column in Element.Columns )
            {
                <_ReportDesignerTableColumn Column="column" />
            }
        </tr>
    }
    else
    {
        <tr>
            <td></td>
        </tr>
    }
</table>