@namespace Blazorise.Reporting.Internal
@inherits BaseReportComponent
@using System.Threading.Tasks
@using Blazorise.Utilities

@if ( Visible )
{
    <div class="b-report-context-menu" style="@Style">
        @ChildContent
    </div>
}