@namespace Blazorise.Reporting.Internal
@inherits ReportComponentBase
@implements IAsyncDisposable
@using System

<Div @ref="designerElement"
     Class="b-report-designer">
    <Div Class="b-report-designer-toolbox-panel"
         Padding="Padding.Is3"
         Background="Background.White"
         Border="Border.Is1">
        @ToolboxPanel
    </Div>

    <Div Class="b-report-designer-surface"
         Padding="Padding.Is3"
         Background="Background.Light"
         Border="Border.Is1"
         Overflow="Overflow.Auto">
        @Surface
    </Div>

    <Div Class="b-report-designer-panel"
         Padding="Padding.Is3"
         Background="Background.White"
         Border="Border.Is1">
        @Panel
    </Div>

    @ContextMenu
</Div>