@namespace Blazorise.Reporting.Internal
@inherits ReportComponentBase
@using Microsoft.AspNetCore.Components.Web

<Field Margin="Margin.Is2.FromBottom">
    <label class="b-report-designer-option">
        <input type="checkbox" checked="@Value" @onchange="@Changed" />
        @Label
    </label>
</Field>