@page "/docs/faq"

<DocsPageTitle>
    FAQ
</DocsPageTitle>

<DocsPageParagraph>
    Blazorise is a user interface component library made on top of a web framework called Blazor, and CSS frameworks like
    <Blazorise.Link To="https://getbootstrap.com/" Target="Target.Blank">Bootstrap</Blazorise.Link>,
    <Blazorise.Link To="https://ant.design/" Target="Target.Blank">AntDesign</Blazorise.Link>,
    <Blazorise.Link To="https://bulma.io/" Target="Target.Blank">Bulma</Blazorise.Link>,
    or <Blazorise.Link To="https://djibe.github.io/material/" Target="Target.Blank">Material</Blazorise.Link>.
    Blazorise has two core principles:
</DocsPageParagraph>

<ol>
    <li>
        keep stuff simple
    </li>
    <li>
        be extendable
    </li>
</ol>

<DocsPageSubtitle>
    What is Blazorise goal?
</DocsPageSubtitle>

<DocsPageParagraph>
    Blazorise goal is to have an abstraction over different CSS frameworks. The same code can be applied for any
    CSS framework, no matter which framework you choose at the beginning.
</DocsPageParagraph>

<DocsPageSubtitle>
    How Blazorise differ from other libraries?
</DocsPageSubtitle>

<DocsPageParagraph>
    Most of third-party component libraries for Blazor are made around only one CSS framework. Blazorise on the
    other hand does not have any preferred framework. It has it’s own abstraction layer that is simple enough and can be used as a building block for almost any CSS framework.
</DocsPageParagraph>

<DocsPageSubtitle>
    Why should I use Blazorise?
</DocsPageSubtitle>

<DocsPageParagraph>
    It gives you a set of components that you can use to easily create a single page application. That way you can
    save time and don’t need to waste it on building your own set of components. Just import Blazorise and start now!
</DocsPageParagraph>

<DocsPageSubtitle>
    How can I try out Blazorise?
</DocsPageSubtitle>

<DocsPageParagraph>
    To try Blazorise please check out our <Blazorise.Link To="docs/start">quick start guide</Blazorise.Link>.
</DocsPageParagraph>

<DocsPageSubtitle>
    Can I offer my help with Blazorise?
</DocsPageSubtitle>

<DocsPageParagraph>
    Of course. Any help is welcome. You can start by reading
    <Blazorise.Link To="https://github.com/Megabit/Blazorise/blob/master/CONTRIBUTING.md" Target="Target.Blank">contributing</Blazorise.Link>
    guide and by browsing <Blazorise.Link To="https://github.com/Megabit/Blazorise/issues" Target="Target.Blank">GitHub issues</Blazorise.Link>
    to see where you can start.
</DocsPageParagraph>