@page "/docs/usage"

<DocsPageTitle>
    Usage
</DocsPageTitle>

<DocsPageSubtitle>
    Supported CSS Providers
</DocsPageSubtitle>

<ul>
    <li>
        <Blazorise.Link To="docs/usage/bootstrap">Bootstrap</Blazorise.Link>
    </li>
    <li>
        <Blazorise.Link To="docs/usage/bootstrap5">Bootstrap 5</Blazorise.Link>
    </li>
    <li>
        <Blazorise.Link To="docs/usage/material">Material</Blazorise.Link>
    </li>
    <li>
        <Blazorise.Link To="docs/usage/ant-design">AntDesign</Blazorise.Link>
    </li>
    <li>
        <Blazorise.Link To="docs/usage/bulma">Bulma</Blazorise.Link>
    </li>
</ul>

<DocsPageSubtitle>
    Empty provider
</DocsPageSubtitle>

<DocsPageParagraph>
    Generally you will always want to use one of the provided CSS frameworks. But in the case that you
    only want to use custom Blazorise extension like Chart or Sidebar you can register an “Empty” provider.
    This way the extensions will still work but the default Blazorise components will be unused.
</DocsPageParagraph>

<DocsPageSection>
    <DocsPageSectionSource Code="EmptyProviderExample" />
</DocsPageSection>