@page "/docs/usage"

<DocsPageTitle>
    Usage
</DocsPageTitle>

<DocsPageSubtitle>
    Supported CSS Providers
</DocsPageSubtitle>

<ul>
    <li>
        <Blazorise.Link To="docs/usage/bootstrap">Bootstrap</Blazorise.Link>
    </li>
    <li>
        <Blazorise.Link To="docs/usage/material">Material</Blazorise.Link>
    </li>
    <li>
        <Blazorise.Link To="docs/usage/ant-design">AntDesign</Blazorise.Link>
    </li>
    <li>
        <Blazorise.Link To="docs/usage/bulma">Bulma</Blazorise.Link>
    </li>
</ul>