@page "/affiliate-terms"

<Seo Canonical="/affiliate-terms" Title="Blazorise Affiliate Program Terms of Service" Description="The services or content Blazorise provides to you on any Blazorise hosted website are subject to the following Affiliate Program Terms of Service." />

<PageHeader>
    <Title>
        Affiliate Program Terms of Service
    </Title>
    <Description>
        <Paragraph>
            Please read these terms of service very carefully before using or registering for the Blazorise Affiliate Program web site and associated services.
        </Paragraph>
    </Description>
</PageHeader>

<Row>
    <Column Margin="Margin.Is4.FromTop">
        <Container Class="terms-content">
            <Row>
                <Column>
                    <Alert Color="Color.Danger" Visible>
                        <AlertMessage>
                            <Strong>Note:</Strong> Blazorise has discontinued its affiliate program due to misuse and operational burden. This change is effective immediately starting from September 16th, 2025.
                        </AlertMessage>
                    </Alert>
                </Column>
            </Row>

            <Row>
                <Column ColumnSize="ColumnSize.Is8" Margin="Margin.IsAuto.OnX">
                    <Paragraph>
                        Thanks for your interest in signing up to be a Blazorise affiliate! There are just a few rules we have to keep everything running smoothly.
                    </Paragraph>
                    <Paragraph>
                        <OrderedList>
                            <OrderedListItem Padding="Padding.Is3.FromBottom">
                                Self-referrals are not allowed.
                            </OrderedListItem>
                            <OrderedListItem Padding="Padding.Is3.FromBottom">
                                Abuse or gaming the affiliate system will result in having your account banned.
                            </OrderedListItem>
                            <OrderedListItem Padding="Padding.Is3.FromBottom">
                                No search engine ads (especially on branded terms or domain names), Facebook ads, or other ads that would compete with our own marketing and cause potential confusion for customers (unless you've spoken to us about it and gotten approval).
                            </OrderedListItem>
                            <OrderedListItem Padding="Padding.Is3.FromBottom">
                                No Facebook ads that link to our website or anything similar that would compete with our own paid marketing and drive up our costs and potentially cause confusion.
                            </OrderedListItem>
                            <OrderedListItem Padding="Padding.Is3.FromBottom">
                                Don't pretend to be an official Blazorise employee or representative.
                            </OrderedListItem>
                            <OrderedListItem Padding="Padding.Is3.FromBottom">
                                After signing up, you will receive a personalized referral link that you can use right away. Our affiliate tracking software tracks conversions through your link.
                            </OrderedListItem>
                            <OrderedListItem Padding="Padding.Is3.FromBottom">
                                To track all of your referrals, we use cookies that last 90 days.
                            </OrderedListItem>
                            <OrderedListItem Padding="Padding.Is3.FromBottom">
                                You can NOT run ads for branded keywords such as Blazorise, blazorise, or any variations thereof, including misspellings.
                            </OrderedListItem>
                            <OrderedListItem Padding="Padding.Is3.FromBottom">
                                You can run ads for anything that's not branded, but the user should be directed to the Blazorise website first. We track all our paid traffic and any affiliates that violate our terms and conditions will be removed from our program.
                            </OrderedListItem>
                            <OrderedListItem Padding="Padding.Is3.FromBottom">
                                We pay commissions around the 20th of each month for verified sales from the previous month.
                            </OrderedListItem>
                            <OrderedListItem Padding="Padding.Is3.FromBottom">
                                We make regular payouts via PayPal or Wise. All affiliates must provide a PayPal, Wise, or Bank Business account to receive their commission payouts. Individuals cannot be paid due to tax rules. Affiliates must also provide their business details, including business name, address, country, and VAT/Tax/Business ID.
                            </OrderedListItem>
                            <OrderedListItem Padding="Padding.Is3.FromBottom">
                                The affiliate program is open to individuals or organizations who are not current or past users of Blazorise products or services. This restriction includes any free, trial, or paid users of Blazorise. Applications will be reviewed to verify eligibility, and any ineligible applications will be denied.
                            </OrderedListItem>
                            <OrderedListItem Padding="Padding.Is3.FromBottom">
                                We reserve the right to change the Terms of Service for our affiliate program at any time.
                            </OrderedListItem>
                        </OrderedList>
                    </Paragraph>
                    <Paragraph>
                        We also reserve the right to terminate your affiliate account for violation of any of the rules at our sole discretion. Commissions generated by mechanisms that are in violation of our Terms of Service will not be paid or owed.
                    </Paragraph>
                </Column>
            </Row>
        </Container>
    </Column>
</Row>