@page "/"

<Seo Canonical="/" Title="Blazorise - Blazor Component Library" Description="Blazorise is a component library built on top of Blazor with support for CSS frameworks like Bootstrap, Tailwind, Bulma, AntDesign and Material." />

<PageHeader>
    <Title>
        @* Developer Focused <Span Class="gradient-commercial">Blazor Component</Span> Library *@
        @* CSS <Span Class="gradient-commercial">framework independent</Span> development in C# *@
        Make UI building <Span Class="gradient-commercial">our problem</Span>. Not yours.
    </Title>
    <Subtitle>
        @* UI component that enables CSS framework <Strong>independent</Strong> development in C#. *@
        @* Build Blazor web applications <Strong>from scratch</Strong> with a set of <Strong>80+</Strong> native Blazor UI components. *@
        We manage the complexities of user interface design, freeing you to focus on the creative and functional aspects of your projects.
    </Subtitle>
    <Actions>
        <Button Class="btn-primary-gradient" Type="ButtonType.Link" To="docs" Color="Color.Primary" Size="Size.Large">
            Get Started
            <Icon Name="IconName.ArrowRight" Margin="Margin.Is2.FromStart" />
        </Button>
        <Button Type="ButtonType.Link" To="book-a-demo" Color="Color.Secondary" Size="Size.Large">
            <Icon Name="IconName.Microphone" />
            Book a Demo
        </Button>
    </Actions>
</PageHeader>

<Div Padding="Padding.Is5.OnY">
    <Container>
        <section class="home-logos" id="logos-section">
            <HomeClientLogos />
            <Row>
                <Column>
                    <Paragraph Margin="Margin.Is4.FromTop" TextColor="TextColor.Muted" TextAlignment="TextAlignment.Center">
                        Yes, it's true – the world's best product teams trust Blazorise to deliver an unrivaled experience for both developers and users.
                    </Paragraph>
                </Column>
            </Row>
        </section>
        <Divider Margin="Margin.Is5.OnY" />
        <HomeCSSFrameworksSection />
        <Divider Margin="Margin.Is5.OnY" />
        <HomeCaseStudiesSection />
        <Divider Margin="Margin.Is5.OnY" />
        <HomePopularComponentsSection />
        <Divider Margin="Margin.Is5.OnY" />
        <HomeTestimonialsSection />
        <Divider Margin="Margin.Is5.OnY" />
        <HomeSpecialistsSection />
        <Divider Margin="Margin.Is5.OnY" />
        <HomeCommunitySection />
        <Divider Margin="Margin.Is5.OnY" />
        <section class="home-newsletter" id="newsletter-section">
            <Container>
                <HomeNewsletterWidget />
            </Container>
        </section>
    </Container>
</Div>