@page "/"

<Seo Canonical="/" Title="Blazorise Component Library" Description="Blazorise is a component library built on top of Blazor with support for CSS frameworks like Bootstrap, Bulma, AntDesign and Material." />

<Div Class="banner" TextAlignment="TextAlignment.Center" Padding="Padding.Is5.OnY">
    <Container>
        <Heading Size="HeadingSize.Is1" TextWeight="TextWeight.Bold" Padding="Padding.Is3.OnY">
            Blazorise Component Library
        </Heading>
        <Heading Size="HeadingSize.Is3" TextWeight="TextWeight.Normal" TextColor="TextColor.Muted" Padding="Padding.Is3.FromBottom">
            A set of 70+ free and open source native Blazor UI controls.
        </Heading>
        <Heading Size="HeadingSize.Is6" TextWeight="TextWeight.Normal" TextColor="TextColor.Muted" Padding="Padding.Is3.FromBottom" class="font-weight-normal text-muted pb-3">
            Blazorise is a component library built on top of Blazor with support for CSS frameworks like Bootstrap, Bulma, AntDesign and Material.
        </Heading>
        <Div>
            <Button Color="Color.Primary" Size="Size.Large" Margin="Margin.Is1.FromRight">Get started</Button>
            <Button Color="Color.Success" Size="Size.Large" Margin="Margin.Is1.FromLeft">Learn more</Button>
        </Div>
        <Image Source="img/illustrations/home2/Dashboard.svg" Text="" Fluid />
    </Container>
</Div>

<Div Padding="Padding.Is5.OnY">
    <Container>
        <section class="community" id="community-section">
            <Column ColumnSize="ColumnSize.Is12" TextAlignment="TextAlignment.Center" Padding="Padding.Is5.OnY">
                <Heading Size="HeadingSize.Is2">Join our community</Heading>
                <Heading Size="HeadingSize.Is6" TextWeight="TextWeight.Normal" TextColor="TextColor.Muted">
                    Do you have questions? Do you want to help others? Just talk or get news? Join one of our channels and become part of the Blazorise community.
                </Heading>
            </Column>

            <Div Flex="Flex._.OnDesktop.JustifyContent.Between" Margin="Margin.Is5.FromBottom">
                <Div Flex="Flex.JustifyContent.Start">
                    <Div Class="community-width">
                        <Image Source="img/logos/icons8-twitter.svg" Text="" Class="img-icons" />
                        <Heading Size="HeadingSize.Is5" Padding="Padding.Is3.OnY">Twitter</Heading>
                        <Paragraph TextColor="TextColor.Muted">For announcements, blog posts, and general Blazorise stuff.</Paragraph>
                        <Anchor To="https://twitter.com/Blazorise"><Paragraph Class="readmore-link">Follow us</Paragraph></Anchor>
                    </Div>
                </Div>

                <Div Flex="Flex.JustifyContent.Center">
                    <Div Class="community-width">
                        <Image Source="img/logos/icons8-discord.svg" Text="" Class="img-icons" />
                        <Heading Size="HeadingSize.Is5" Padding="Padding.Is3.OnY">Discord</Heading>
                        <Paragraph TextColor="TextColor.Muted">To get involved in the community, ask questions, help others or just talk.</Paragraph>
                        <Anchor To="https://discord.io/blazorise"><Paragraph Class="readmore-link">Come and chat</Paragraph></Anchor>
                    </Div>
                </Div>

                <Div Flex="Flex.JustifyContent.End">
                    <Div Class="community-width">
                        <Image Source="img/logos/icons8-github.svg" Text="" Class="img-icons" />
                        <Heading Size="HeadingSize.Is5" Padding="Padding.Is3.OnY">GitHub</Heading>
                        <Paragraph TextColor="TextColor.Muted">To file issues, request features, and contribute, check out our GitHub.</Paragraph>
                        <Anchor To="https://github.com/Megabit/Blazorise"><Paragraph Class="readmore-link">Fork the code</Paragraph></Anchor>
                    </Div>
                </Div>
            </Div>
        </section>
        <section class="features" id="features-section">
            <Row Flex="Flex.AlignItems.Center">
                <Column ColumnSize="ColumnSize.Is12.Is7.OnWidescreen" Class="aos-init aos-animate" data-aos="fade-right">
                    <Heading Size="HeadingSize.Is3" Margin="Margin.Is0">Free</Heading>
                    <Column ColumnSize="ColumnSize.Is5.OnWidescreen.Is6.OnFullHD" Padding="Padding.Is0">
                        <Paragraph Padding="Padding.Is4.OnY" Margin="Margin.Is0" TextColor="TextColor.Muted">
                            Blazorise Components are open source and free for commercial use. You can install them from nuget or build your own copy from source.
                        </Paragraph>
                        <Paragraph TextWeight="TextWeight.Bold" TextColor="TextColor.Muted">
                            Paid support is available as part of the Blazorise Professional subscription.
                        </Paragraph>
                    </Column>
                    <Button Color="Color.Info" Type="ButtonType.Link" To="https://commercial.blazorise.com/">Readmore</Button>
                </Column>
                <Column ColumnSize="ColumnSize.Is12.Is5.OnWidescreen" Padding="Padding.Is0" Class="img-features aos-init aos-animate" data-aos="fade-left">
                    <Image Source="img/illustrations/home2/Customer Support.svg" Text="" Fluid />
                </Column>
            </Row>

            <Row Flex="Flex.AlignItems.Center">
                <Column ColumnSize="ColumnSize.Is12.Is7.OnWidescreen" Class="flex-item aos-init aos-animate" data-aos="fade-left">
                    <Image Source="img/illustrations/home2/Testimonial.svg" Text="" Fluid />
                </Column>
                <Column ColumnSize="ColumnSize.Is12.Is5.OnWidescreen" Class="flex-item">
                    <Heading Size="HeadingSize.Is3" Margin="Margin.Is0">Native</Heading>
                    <Column ColumnSize="ColumnSize.Is9.OnWidescreen.Is8.IsFull" Padding="Padding.Is0">
                        <Paragraph Padding="Padding.Is4.OnY" Margin="Margin.Is0" TextColor="TextColor.Muted">
                            The components are implemented in C# and take full advantage of the Blazor framework.
                            <br /><br />
                            The usage of existing JavaScript frameworks or libraries is kept to a minimum.
                        </Paragraph>
                        <Paragraph Padding="Padding.Is2.FromBottom" TextWeight="TextWeight.Bold" TextColor="TextColor.Muted">
                            Both server-side and client-side (WASM) Blazor are supported.
                        </Paragraph>
                    </Column>
                    <Button Color="Color.Info">Readmore</Button>
                </Column>
            </Row>
        </section>
        <section class="case-studies" id="case-studies-section">
            <Row Margin="Margin.Is5.FromBottom">
                <Column ColumnSize="ColumnSize.Is12" TextAlignment="TextAlignment.Center" Padding="Padding.Is5.FromBottom">
                    <Heading Size="HeadingSize.Is2">Why you need Blazorise</Heading>
                    <Heading Size="HeadingSize.Is6" TextWeight="TextWeight.Normal" TextColor="TextColor.Muted">
                        Blazorise component library provides state-of-the-art solutions for startups and enterprises. It includes more than 70 components that make developers work easier.
                    </Heading>
                </Column>

                <Column ColumnSize="ColumnSize.Is12.Is6.OnDesktop.Is3.OnWidescreen" Margin="Margin.Is3.FromBottom.Is0.FromBottom.OnWidescreen" Class="stretch-card aos-init aos-animate" data-aos-delay="200">
                    <Card Class="color-cards" Border="Border.Is0">
                        <CardBody Padding="Padding.Is0">
                            <Div Background="Background.Primary" TextAlignment="TextAlignment.Center" Class="card-contents">
                                <CardImage Source="img/illustrations/home/Group95.svg" Class="case-studies-card-img" />
                                <Div Class="card-desc-box" Flex="Flex.AlignItems.Center.JustifyContent.Around">
                                    <Div>
                                        <Heading Size="HeadingSize.Is6" TextColor="TextColor.White" Padding="Padding.Is2.FromBottom.Is3.OnX">Know more about Web Development</Heading>
                                        <Button Color="Color.Light">Read More</Button>
                                    </Div>
                                </Div>
                            </Div>
                            <Div Class="card-details" TextAlignment="TextAlignment.Center" Padding="Padding.Is4.FromTop">
                                <Heading Size="HeadingSize.Is6" Margin="Margin.Is0" Padding="Padding.Is1.FromBottom">Online Marketing</Heading>
                                <Paragraph>Seo, Marketing</Paragraph>
                            </Div>
                        </CardBody>
                    </Card>
                </Column>

                <Column ColumnSize="ColumnSize.Is12.Is6.OnDesktop.Is3.OnWidescreen" Margin="Margin.Is3.FromBottom.Is0.FromBottom.OnWidescreen" Class="stretch-card aos-init aos-animate" data-aos-delay="200">
                    <Card Class="color-cards" Border="Border.Is0">
                        <CardBody Padding="Padding.Is0">
                            <Div Background="Background.Warning" TextAlignment="TextAlignment.Center" Class="card-contents">
                                <CardImage Source="img/illustrations/home/Group108.svg" Class="case-studies-card-img" />
                                <Div Class="card-desc-box" Flex="Flex.AlignItems.Center.JustifyContent.Around">
                                    <Div>
                                        <Heading Size="HeadingSize.Is6" TextColor="TextColor.White" Padding="Padding.Is2.FromBottom.Is3.OnX">Know more about Web Development</Heading>
                                        <Button Color="Color.Light">Read More</Button>
                                    </Div>
                                </Div>
                            </Div>
                            <Div Class="card-details" TextAlignment="TextAlignment.Center" Padding="Padding.Is4.FromTop">
                                <Heading Size="HeadingSize.Is6" Margin="Margin.Is0" Padding="Padding.Is1.FromBottom">Web Development</Heading>
                                <Paragraph>Developing, Designing</Paragraph>
                            </Div>
                        </CardBody>
                    </Card>
                </Column>

                <Column ColumnSize="ColumnSize.Is12.Is6.OnDesktop.Is3.OnWidescreen" Margin="Margin.Is3.FromBottom.Is0.FromBottom.OnWidescreen" Class="stretch-card aos-init aos-animate" data-aos-delay="200">
                    <Card Class="color-cards" Border="Border.Is0">
                        <CardBody Padding="Padding.Is0">
                            <Div Background="Background.Success" TextAlignment="TextAlignment.Center" Class="card-contents">
                                <CardImage Source="img/illustrations/home/Group108.svg" Class="case-studies-card-img" />
                                <Div Class="card-desc-box" Flex="Flex.AlignItems.Center.JustifyContent.Around">
                                    <Div>
                                        <Heading Size="HeadingSize.Is6" TextColor="TextColor.White" Padding="Padding.Is2.FromBottom.Is3.OnX">Know more about Web Development</Heading>
                                        <Button Color="Color.Light">Read More</Button>
                                    </Div>
                                </Div>
                            </Div>
                            <Div Class="card-details" TextAlignment="TextAlignment.Center" Padding="Padding.Is4.FromTop">
                                <Heading Size="HeadingSize.Is6" Margin="Margin.Is0" Padding="Padding.Is1.FromBottom">Web Designing</Heading>
                                <Paragraph>Designing, Developing</Paragraph>
                            </Div>
                        </CardBody>
                    </Card>
                </Column>

                <Column ColumnSize="ColumnSize.Is12.Is6.OnDesktop.Is3.OnWidescreen" Margin="Margin.Is3.FromBottom.Is0.FromBottom.OnWidescreen" Class="stretch-card aos-init aos-animate" data-aos-delay="200">
                    <Card Class="color-cards" Border="Border.Is0">
                        <CardBody Padding="Padding.Is0">
                            <Div Background="Background.Light" TextAlignment="TextAlignment.Center" Class="card-contents">
                                <CardImage Source="img/illustrations/home/Group108.svg" Class="case-studies-card-img" />
                                <Div Class="card-desc-box" Flex="Flex.AlignItems.Center.JustifyContent.Around">
                                    <Div>
                                        <Heading Size="HeadingSize.Is6" TextColor="TextColor.White" Padding="Padding.Is2.FromBottom.Is3.OnX">Know more about Web Development</Heading>
                                        <Button Color="Color.Light">Read More</Button>
                                    </Div>
                                </Div>
                            </Div>
                            <Div Class="card-details" TextAlignment="TextAlignment.Center" Padding="Padding.Is4.FromTop">
                                <Heading Size="HeadingSize.Is6" Margin="Margin.Is0" Padding="Padding.Is1.FromBottom">Software Development</Heading>
                                <Paragraph>Developing, Designing</Paragraph>
                            </Div>
                        </CardBody>
                    </Card>
                </Column>
            </Row>
        </section>
        <section id="testimonials-section">
            <Container>
                <Row Margin="Margin.Is5.FromBottom">
                    <Column ColumnSize="ColumnSize.Is12" TextAlignment="TextAlignment.Center" Padding="Padding.Is5.FromBottom">
                        <Heading Size="HeadingSize.Is2">What our Clients Says</Heading>
                        <Heading Size="HeadingSize.Is6" TextWeight="TextWeight.Normal" TextColor="TextColor.Muted">
                            There are many variations of passages of Lorem Ipsum available
                            but the majority have suffered alteration in some form.
                        </Heading>
                    </Column>
                </Row>

                <Row>
                    <Column ColumnSize="ColumnSize.Is4.OnWidescreen.Is6.OnDesktop">
                        <Div Padding="Padding.Is4" Shadow="Shadow.Large">
                            <Rating SelectedValue="5" ReadOnly />
                            <Div>
                                <Paragraph>
                                    <Blockquote>
                                        “ Our members are so impressed. It's intuitive. It's clean.
                                        It's distraction free. If you're building a community.
                                    </Blockquote>
                                </Paragraph>
                            </Div>
                            <Div>
                                <Div>
                                    <Image Source="img/avatars/home/author-01.png" Text="author" />
                                </Div>
                                <Div Class="testimonial-meta">
                                    <Heading>Sabo Masties</Heading>
                                    <Paragraph>Founder @@UIdeck</Paragraph>
                                </Div>
                            </Div>
                        </Div>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is4.OnWidescreen.Is6.OnDesktop">
                        <Div Padding="Padding.Is4" Shadow="Shadow.Large">
                            <Rating SelectedValue="5" ReadOnly />
                            <Div>
                                <Paragraph>
                                    <Blockquote>
                                        “ Our members are so impressed. It's intuitive. It's clean.
                                        It's distraction free. If you're building a community.
                                    </Blockquote>
                                </Paragraph>
                            </Div>
                            <Div>
                                <Div>
                                    <Image Source="img/avatars/home/author-02.png" Text="author" />
                                </Div>
                                <Div Class="testimonial-meta">
                                    <Heading>Margin Gesmu</Heading>
                                    <Paragraph>Founder @@Lineicons</Paragraph>
                                </Div>
                            </Div>
                        </Div>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is4.OnWidescreen.Is6.OnDesktop">
                        <Div Padding="Padding.Is4" Shadow="Shadow.Large">
                            <Rating SelectedValue="5" ReadOnly />
                            <Div>
                                <Paragraph>
                                    <Blockquote>
                                        “ Our members are so impressed. It's intuitive. It's clean.
                                        It's distraction free. If you're building a community.
                                    </Blockquote>
                                </Paragraph>
                            </Div>
                            <Div>
                                <Div>
                                    <Image Source="img/avatars/home/author-03.png" Text="author" />
                                </Div>
                                <Div Class="testimonial-meta">
                                    <Heading>William Smith</Heading>
                                    <Paragraph>Founder @@GrayGrids</Paragraph>
                                </Div>
                            </Div>
                        </Div>
                    </Column>
                </Row>
            </Container>
        </section>
    </Container>
</Div>