@page "/privacy"

<Seo Canonical="/privacy" Title="Blazorise Privacy policy" Description="At Blazorise, we take your privacy seriously and will only use your personal information to administer your account." />

<PageHeader>
    <Title>
        Privacy policy
    </Title>
    <Description>
        <Paragraph>
            At Blazorise, we take your privacy seriously and will only use your personal information to administer your account.
        </Paragraph>
    </Description>
</PageHeader>

<Row>
    <Column Margin="Margin.Is4.FromTop">
        <Container Class="terms-content">
            <Row>
                <Column ColumnSize="ColumnSize.Is8" Margin="Margin.IsAuto.OnX">
                    <OrderedList>
                        <OrderedListItem>
                            <Strong>Introduction</Strong>
                            <Paragraph>
                                Megabit (hereinafter: the Store) recognizes and appreciates your right to data confidentiality and commits itself to preserving security of data collected through the website https://blazorise.com/
                                <br /><br />
                                The Store collects, processes and stores your personal data in accordance with the EU's General Data Protection Act (GDPR) and other applicable regulations. The data will not be forwarded to third parties or brought to third countries, with the exception of situations where it acts as a prerequisite for the fulfilment of contracted services.
                                <br /><br />
                                We will consider that the continued use of https://blazorise.com/ represents your acceptance of terms listed bellow.
                            </Paragraph>
                        </OrderedListItem>
                        <OrderedListItem>
                            <Strong>Use of personal data</Strong>
                            <Paragraph>
                                Store takes data protection and privacy very seriously. We collect only relevant and necessary data to accomplish the specified purpose and to meet our obligations. Our buyers are informed about the way the collected data is used, moreover, they can control and determine how their personal data is used. Buyers can also decide whether they want their name removed from the list used for marketing campaigns.

                                All user personal data is kept strictly confidential. It is available only to employees who require such data to perform their work tasks. All employees of Store and business partners are obliged to demonstrate that their activities are compliant with the Data Protection Principles.
                            </Paragraph>
                        </OrderedListItem>
                        <OrderedListItem>
                            <Strong>Purchases</Strong>
                            <Paragraph>
                                All payments will be effected in US Dollar (USD) and will be processed by the Paddle platform. For more information please visit https://paddle.com/.
                            </Paragraph>
                        </OrderedListItem>
                        <OrderedListItem>
                            <Strong>Cookies</Strong>
                            <Paragraph>
                                Cookies allow the Store to collect statistical data with relation to user behavior at https://blazorise.com/ (for example, on which parts of the site the user spends the longest or the shortest amount of time), which Internet browser  (e.g. Internet Explorer, Opera, Safari, Google Chrome,Firefox) is used and similar.
                                <br /><br />
                                Cookies are a small set of data sent from the https://blazorise.com/ server to the user's computer, and serves as an anonymous identifier. Cookies are also used to facilitate navigation through web pages (for example, you do not need to enter registration data each time). Cookies are not used to access user data or to track user activity after leaving https://blazorise.com/.
                                <br /><br />
                                The Store reserves the right to use cookies at https://blazorise.com/ but each user may prohibit receiving cookies by editing / changing the settings in their Internet browser.
                            </Paragraph>
                        </OrderedListItem>
                        <OrderedListItem>
                            <Strong>Connections</Strong>
                            <Paragraph>
                                https://blazorise.com/ contains links to other websites that are not owned by the Store. Accordingly, we warn and ask the users take into consideration the fact that the Store can not be held responsible for matters regarding privacy protection on the stated internet websites. Therefore, users are encouraged to read the Privacy Statement of each web site they access.
                            </Paragraph>
                        </OrderedListItem>
                        <OrderedListItem>
                            <Strong>Digital Marketing</Strong>
                            <Paragraph>
                                Contact information, such as your name and e-mail address, is necessary when you want to use the services of receiving promotional materials from the Store. Promotional materials include information about service, special offers and newsletter.
                                <br /><br />
                                The service can be disabled at any time by activating the "Logout" link at the end of an email or by sending a delete request from the digital marketing list at sales@blazorise.com
                            </Paragraph>
                        </OrderedListItem>
                        <OrderedListItem>
                            <Strong>Safety</Strong>
                            <Paragraph>
                                The Store undertakes all security measures to ensure data protection, during input, transfer, data processing, and storage. Data access is limited and the only employees in possession of it are those who require it in order to perform business activities.
                                <br /><br />
                                The personal data transferred to the Store upon registration shall be kept during the existence of the website or during the registration of the user. Any information provided to the Store upon registration on the Internet site will be destroyed at the latest when shutting it down or until the user requests otherwise.
                                <br /><br />
                                Users have the right to ask for information about their personal data being processed by the Store as well as  modify or delete them at any time by sending a request to sales@blazorise.com
                            </Paragraph>
                        </OrderedListItem>
                        <OrderedListItem>
                            <Strong>GDPR</Strong>
                            <UnorderedList>
                                <UnorderedListItem>
                                    <Strong>Paddle</Strong>
                                    <Paragraph>
                                        <Strong>Data protection pursuant to the General Data Protection Regulation of the European Parliament and the Council no. 2016/679- Regulation and implementation of the GDPR</Strong>
                                        <br /><br />
                                        Paddle, being the processor of authorization and payment made by credit cards, uses personal data as the processor pursuant to the General Data Protection Regulation of the European Parliament and the Council no. 2016/679, and compliant with PCI DSS Level 1 Regulations for data transfers.
                                        <br /><br />
                                        Paddle uses 256-bit SSL encryption and TLS 1.2 cryptographic protocol as the highest protection standards for data entry and transfer.
                                        <br /><br />
                                        Personal data used for the purposes of authorization and payment are deemed to be confidential data.
                                        <br /><br />
                                        The following customer's personal data are necessary to fulfil the Agreement (authorization and payment):
                                        <UnorderedList>
                                            <UnorderedListItem>Name and Surname</UnorderedListItem>
                                            <UnorderedListItem>E-mail</UnorderedListItem>
                                            <UnorderedListItem>Telephone number</UnorderedListItem>
                                            <UnorderedListItem>Address</UnorderedListItem>
                                            <UnorderedListItem>City</UnorderedListItem>
                                            <UnorderedListItem>Post Code</UnorderedListItem>
                                            <UnorderedListItem>Country</UnorderedListItem>
                                            <UnorderedListItem>Type of credit card</UnorderedListItem>
                                            <UnorderedListItem>Credit card number</UnorderedListItem>
                                            <UnorderedListItem>Expiry date (credit card)</UnorderedListItem>
                                            <UnorderedListItem>CVV number for credit card</UnorderedListItem>
                                        </UnorderedList>
                                        Paddle does not process or use these personal data except for the purpose of fulfilling the Agreement, the authorization and the payment.
                                        <br /><br />
                                        Paddle ensures to meet the requirements determined by applicable personal data protection regulations, for the processors of personal data, especially taking all necessary technical, organizational or security measures confirmed by PCI DSS Level 1 certificate.
                                    </Paragraph>
                                </UnorderedListItem>
                            </UnorderedList>
                        </OrderedListItem>
                        <OrderedListItem>
                            <Strong>Payments</Strong>
                            <Paragraph>
                                <u>Megabit</u> (sales point) uses Paddle for online payments.
                                <br /><br />
                                Paddle is a secure system for online payments, real time credit and debit card payments, and other payment methods. Paddle ensures the buyer and the merchant with the secure card data entry and transfer, which is also confirmed by PCI DSS certificate. Paddle uses 256-bit SSL encryption and TLS 1.2 cryptographic protocol as the highest protection standards for data entry and transfer.
                            </Paragraph>
                        </OrderedListItem>
                        <OrderedListItem>
                            <Strong>Notification of changes</Strong>
                            <Paragraph>
                                If we change our terms of use we will post those changes on this page.
                            </Paragraph>
                        </OrderedListItem>
                    </OrderedList>
                </Column>
            </Row>
        </Container>
    </Column>
</Row>