@page "/terms"

<Seo Canonical="/terms" Title="Blazorise Terms of Service" Description="The services or content Blazorise provides to you on any Blazorise hosted website are subject to the following Terms of Service." />

<PageHeader>
    <Title>
        Terms of Service
    </Title>
    <Description>
        <Paragraph>
            Please read these terms of service very carefully before using or registering for the Blazorise web site and associated services.
        </Paragraph>
    </Description>
</PageHeader>

<Row>
    <Column Margin="Margin.Is4.FromTop">
        <Container Class="terms-content">
            <Row>
                <Column ColumnSize="ColumnSize.Is8" Margin="Margin.IsAuto.OnX">
                    <Paragraph>
                        These terms of service (“Agreement”) govern you accessing content and using http://blazorise.com/, any associated service or mobile application. This Agreement between you (“you”) and Blazorise Commercial, is subject to change by us as described below. By accessing the website or registering for a site account or any associated services, you (i) accept this Agreement; (ii) agree to be bound by these terms and conditions; and (iii) have entered into a binding agreement between you and Blazorise Commercial.
                    </Paragraph>
                    <OrderedList>
                        <OrderedListItem Padding="Padding.Is3.FromBottom">
                            <Strong>Application of Terms</Strong>
                            <OrderedList>
                                <OrderedListItem>
                                    By visiting and/or taking any action on Blazorise Commercial, you confirm that you are in agreement with and bound by the terms outlined below. These terms apply to the website, emails, or any other communication.
                                </OrderedListItem>
                            </OrderedList>
                        </OrderedListItem>
                        <OrderedListItem Padding="Padding.Is3.FromBottom">
                            <Strong>Blazorise Commercial</Strong>
                            <OrderedList>
                                <OrderedListItem>
                                    All products are 100% digital and all your licence key(s) are delivered electronically to your email.
                                </OrderedListItem>
                                <OrderedListItem>
                                    Blazorise Commercial is not responsible for you not receiving your licence key(s) if you fail to provide a valid email or for technical issues outside our control.
                                </OrderedListItem>
                            </OrderedList>
                        </OrderedListItem>
                        <OrderedListItem Padding="Padding.Is3.FromBottom">
                            <Strong>Security & Payments</Strong>
                            <OrderedList>
                                <OrderedListItem>
                                    All payments are processed securely through <Blazorise.Link To="https://paddle.com/" Target="Target.Blank">Paddle</Blazorise.Link>. Blazorise Commercial does not directly process payments through the website.
                                </OrderedListItem>
                            </OrderedList>
                        </OrderedListItem>
                        <OrderedListItem Padding="Padding.Is3.FromBottom">
                            <Strong>Refunds</Strong>
                            <OrderedList>
                                <OrderedListItem>
                                    You have 14 days to evaluate your purchase. If your purchase fails to meet expectations set by the seller, or is critically flawed in some way, contact Blazorise Commercial and we will issue a full refund pending a review.
                                </OrderedListItem>
                                <OrderedListItem>
                                    The issue of refunds is at the complete discretion of Blazorise Commercial.
                                </OrderedListItem>
                            </OrderedList>
                        </OrderedListItem>
                        <OrderedListItem Padding="Padding.Is3.FromBottom">
                            <Strong>Support</Strong>
                            <OrderedList>
                                <OrderedListItem>
                                    Support for a purchase is governed by the usage license you purchase.
                                </OrderedListItem>
                            </OrderedList>
                        </OrderedListItem>
                        <OrderedListItem Padding="Padding.Is3.FromBottom">
                            <Strong>Ownership</Strong>
                            <OrderedList>
                                <OrderedListItem>
                                    Ownership of the product is governed by the usage licenses.
                                </OrderedListItem>
                            </OrderedList>
                        </OrderedListItem>
                        <OrderedListItem Padding="Padding.Is3.FromBottom">
                            <Strong>Membership & Content</Strong>
                            <OrderedList>
                                <OrderedListItem>
                                    Membership is a benefit for those who follow our terms and policies. We may at any time suspend or terminate your account.
                                </OrderedListItem>
                                <OrderedListItem>
                                    We can view and/or remove any content for any reason at our own discretion. This will typically only be exercised for issues needing immediate resolution, such as, but not limited to, the posting of unauthorized content, offensive content, illegal content, or anything breaching anyone else’s rights.
                                </OrderedListItem>
                            </OrderedList>
                        </OrderedListItem>
                        <OrderedListItem Padding="Padding.Is3.FromBottom">
                            <Strong>Liability</Strong>
                            <OrderedList>
                                <OrderedListItem>
                                    You indemnify us against all losses, costs (including legal costs), expenses, demands or liability that we incur arising out of, or in connection with, any claims against us relating to your use of Blazorise Commercial.
                                </OrderedListItem>
                            </OrderedList>
                        </OrderedListItem>
                        <OrderedListItem Padding="Padding.Is3.FromBottom">
                            <Strong>Requesting, Modifying or Deleting Your Data (GDPR)</Strong>
                            <OrderedList>
                                <OrderedListItem>
                                    We are a small operation, but we work hard to make sure your data remains safe and we only collect what is needed to provide our services. If you want to request an export of your data, a modification to any data we have related to your account, or delete of all data permanently, please email <Strong>support@blazorise.com</Strong> and we’ll complete your request in a timely manner.
                                </OrderedListItem>
                            </OrderedList>
                        </OrderedListItem>
                        <OrderedListItem Padding="Padding.Is3.FromBottom">
                            <Strong>Changes to terms</Strong>
                            <OrderedList>
                                <OrderedListItem>
                                    If we change our terms of use we will post those changes on this page.
                                </OrderedListItem>
                            </OrderedList>
                        </OrderedListItem>
                    </OrderedList>
                </Column>
            </Row>
        </Container>
    </Column>
</Row>