@page "/terms"

<Seo Canonical="/terms" Title="Blazorise Terms of Service" Description="The services or content Blazorise provides to you on any Blazorise hosted website are subject to the following Terms of Service." />

<PageHeader>
    <Title>
        Terms of Service
    </Title>
    <Description>
        <Paragraph>
            Please read these terms of service very carefully before using or registering for the Blazorise web site and associated services.
        </Paragraph>
    </Description>
</PageHeader>

<Row>
    <Column Margin="Margin.Is4.FromTop">
        <Container Class="terms-content">
            <Row>
                <Column ColumnSize="ColumnSize.Is8" Margin="Margin.IsAuto.OnX">
                    <Paragraph>
                        These Terms of Service (“Agreement”) govern your access to and use of http://blazorise.com/, its associated services, and any mobile applications. This Agreement is between you (“User”) and Blazorise Commercial and may be updated by us as outlined below. By accessing the website, registering for an account, or using any services, you (i) accept this Agreement; (ii) agree to be bound by its terms and conditions; and (iii) enter into a binding agreement with Blazorise Commercial.
                    </Paragraph>
                    <OrderedList>
                        <OrderedListItem Padding="Padding.Is3.FromBottom">
                            <Strong>Application of Terms</Strong>
                            <OrderedList>
                                <OrderedListItem>
                                    <Paragraph>
                                        By visiting or engaging with Blazorise Commercial, you agree to these terms, which apply to all forms of communication, including the website, emails, and other methods of contact.
                                    </Paragraph>
                                </OrderedListItem>
                            </OrderedList>
                        </OrderedListItem>
                        <OrderedListItem Padding="Padding.Is3.FromBottom">
                            <Strong>Blazorise Commercial</Strong>
                            <OrderedList>
                                <OrderedListItem>
                                    <Paragraph>
                                        All Blazorise products are 100% digital, and license key(s) are sent electronically to the provided email address.
                                    </Paragraph>
                                </OrderedListItem>
                                <OrderedListItem>
                                    <Paragraph>
                                        Blazorise Commercial is not responsible for undelivered license keys due to an invalid email address or external technical issues beyond our control.
                                    </Paragraph>
                                </OrderedListItem>
                            </OrderedList>
                        </OrderedListItem>
                        <OrderedListItem Padding="Padding.Is3.FromBottom">
                            <Strong>Security & Payments</Strong>
                            <OrderedList>
                                <OrderedListItem>
                                    <Paragraph>
                                        All payments are processed securely through <Blazorise.Link To="https://paddle.com/" Target="Target.Blank">Paddle</Blazorise.Link>. Blazorise Commercial does not directly handle payments on its website.
                                    </Paragraph>
                                </OrderedListItem>
                            </OrderedList>
                        </OrderedListItem>
                        <OrderedListItem Padding="Padding.Is3.FromBottom">
                            <Strong>License Key and Product Token</Strong>
                            <OrderedList>
                                <OrderedListItem>
                                    <Paragraph>
                                        To activate and maintain compliance with the Software, both a license key and a product token are required. Upon purchase, Blazorise Commercial provides a license key, which the Licensee must use to register their account. This registration generates a product token, which must be integrated into the Licensee's application to remove license warnings and verify proper use. Note that the license key alone does not grant the right to use the Software; the product token is essential for verification.
                                    </Paragraph>
                                </OrderedListItem>
                            </OrderedList>
                        </OrderedListItem>
                        <OrderedListItem Padding="Padding.Is3.FromBottom">
                            <Strong>Refund Policy</Strong>
                            <OrderedList>
                                <OrderedListItem>
                                    <Paragraph>
                                        You can request a refund within 30 days of your license purchase. Professional and Enterprise licenses, which include source-code download options, qualify for a 60% refund within the 30-day period.
                                    </Paragraph>
                                </OrderedListItem>
                                <OrderedListItem>
                                    <Paragraph>
                                        Refunds are not available for renewals or subsequent license purchases. If your purchase does not meet expectations set by the seller or is critically flawed, contact Blazorise Commercial for a review and possible refund. All refunds are at the sole discretion of Blazorise Commercial.
                                    </Paragraph>
                                </OrderedListItem>
                                <OrderedListItem>
                                    <Paragraph>
                                        All refunds are at the sole discretion of Blazorise Commercial.
                                    </Paragraph>
                                </OrderedListItem>
                            </OrderedList>
                        </OrderedListItem>
                        <OrderedListItem Padding="Padding.Is3.FromBottom">
                            <Strong>Support</Strong>
                            <OrderedList>
                                <OrderedListItem>
                                    <Paragraph>
                                        Support is provided according to the terms of the usage license associated with your purchase.
                                    </Paragraph>
                                </OrderedListItem>
                            </OrderedList>
                        </OrderedListItem>
                        <OrderedListItem Padding="Padding.Is3.FromBottom">
                            <Strong>Ownership</Strong>
                            <OrderedList>
                                <OrderedListItem>
                                    <Paragraph>
                                        Ownership of the product is governed by the usage licenses.
                                    </Paragraph>
                                </OrderedListItem>
                            </OrderedList>
                        </OrderedListItem>
                        <OrderedListItem Padding="Padding.Is3.FromBottom">
                            <Strong>Membership & Content</Strong>
                            <OrderedList>
                                <OrderedListItem>
                                    <Paragraph>
                                        Membership is a benefit for those who follow our terms and policies. We may at any time suspend or terminate your account.
                                    </Paragraph>
                                </OrderedListItem>
                                <OrderedListItem>
                                    <Paragraph>
                                        We can view and/or remove any content for any reason at our own discretion. This will typically only be exercised for issues needing immediate resolution, such as, but not limited to, the posting of unauthorized content, offensive content, illegal content, or anything breaching anyone else’s rights.
                                    </Paragraph>
                                </OrderedListItem>
                            </OrderedList>
                        </OrderedListItem>
                        <OrderedListItem Padding="Padding.Is3.FromBottom">
                            <Strong>Liability</Strong>
                            <OrderedList>
                                <OrderedListItem>
                                    <Paragraph>
                                        You indemnify us against all losses, costs (including legal costs), expenses, demands or liability that we incur arising out of, or in connection with, any claims against us relating to your use of Blazorise Commercial.
                                    </Paragraph>
                                </OrderedListItem>
                            </OrderedList>
                        </OrderedListItem>
                        <OrderedListItem Padding="Padding.Is3.FromBottom">
                            <Strong>Requesting, Modifying or Deleting Your Data (GDPR)</Strong>
                            <OrderedList>
                                <OrderedListItem>
                                    <Paragraph>
                                        We are a small operation, but we work hard to make sure your data remains safe and we only collect what is needed to provide our services. If you want to request an export of your data, a modification to any data we have related to your account, or delete of all data permanently, please email <Strong>support@blazorise.com</Strong> and we’ll complete your request in a timely manner.
                                    </Paragraph>
                                </OrderedListItem>
                            </OrderedList>
                        </OrderedListItem>
                        <OrderedListItem Padding="Padding.Is3.FromBottom">
                            <Strong>Changes to terms</Strong>
                            <OrderedList>
                                <OrderedListItem>
                                    <Paragraph>
                                        Any updates to these Terms of Service will be posted on this page.
                                    </Paragraph>
                                </OrderedListItem>
                            </OrderedList>
                        </OrderedListItem>
                    </OrderedList>
                </Column>
            </Row>
        </Container>
    </Column>
</Row>