@mixin emit-breakpoint-observer($breakpoints, $breakpoint-content-map, $selector: "body:before") {
    $previous-content: null;

    #{$selector} {
        display: none;
        visibility: hidden;
    }

    @each $breakpoint, $content in $breakpoint-content-map {
        @if $previous-content == null {
            #{$selector} {
                content: "#{$content}";
            }

            $previous-content: $content;
        }
        @else if $content != $previous-content {
            @include media-breakpoint-up($breakpoint, $breakpoints) {
                #{$selector} {
                    content: "#{$content}";
                }
            }

            $previous-content: $content;
        }
    }
}

@mixin emit-initial-bar-breakpoints($selector, $breakpoints, $class-breakpoint-map) {
    @each $class-name, $breakpoint in $class-breakpoint-map {
        @include media-breakpoint-up($breakpoint, $breakpoints) {
            #{$selector}.#{$class-name} {
                display: flex !important;
            }
        }
    }
}

$breakpoint-observer-breakpoints: (
    mobile: map-get($grid-breakpoints, mobile),
    tablet: map-get($grid-breakpoints, tablet),
    desktop: map-get($grid-breakpoints, desktop),
    widescreen: map-get($grid-breakpoints, widescreen),
    fullhd: map-get($grid-breakpoints, fullhd),
    quadhd: map-get($grid-breakpoints, quadhd),
);

$breakpoint-observer-map: (
    mobile: mobile,
    tablet: tablet,
    desktop: desktop,
    widescreen: widescreen,
    fullhd: fullhd,
    quadhd: quadhd,
);

$bar-initial-breakpoints: (
    "navbar-expand-mobile": mobile,
    "navbar-expand-tablet": tablet,
    "navbar-expand-desktop": desktop,
    "navbar-expand-widescreen": widescreen,
    "navbar-expand-fullhd": fullhd,
    "navbar-expand-quadhd": quadhd,
);

@include emit-breakpoint-observer($breakpoint-observer-breakpoints, $breakpoint-observer-map);
