<h2>Button</h2>
<p id="basic-button-event">
    <Button id="basic-button" Clicked="@RaiseBasicCounter">Count</Button>
    <span id="basic-button-event-result">@basicEventCounter</span>
</p>
@code{
    int basicEventCounter = 0;

    void RaiseBasicCounter()
    {
        basicEventCounter++;
    }
}