<h2>Close Button</h2>
<p id="close-button-event">
    <CloseButton Clicked="@RaiseCounter">Count</CloseButton>
    <span id="close-button-event-result">@eventCounter</span>
</p>
@functions{
    int eventCounter = 0;

    void RaiseCounter()
    {
        eventCounter++;
    }
}