@using Microsoft.AspNetCore.Components.RenderTree
<div id="test-selector">
    Select test:
    <select bind=@SelectedComponentTypeName>
        <option value="none">Choose...</option>
        <option value="BasicTestApp.Client.TextOnlyComponent">Plain text</option>
        <option value="BasicTestApp.Client.ButtonComponent">Button</option>
        <option value="BasicTestApp.Client.DropdownComponent">Dropdown</option>
        <option value="BasicTestApp.Client.TextEditComponent">TextEdit</option>
        <option value="BasicTestApp.Client.TextEditValidationComponent">TextValidation</option>
    </select>

    @if ( SelectedComponentType != null )
    {
        <span id="source-info"><code><tt>@(SelectedComponentType.Name.Replace( ".", "/" )).cshtml</tt></code></span>
    }
    <hr />
</div>

<app>
    @((RenderFragment)RenderSelectedComponent)
</app>

@functions {
    string SelectedComponentTypeName { get; set; } = "none";

    Type SelectedComponentType
        => SelectedComponentTypeName == "none" ? null : Type.GetType( SelectedComponentTypeName );

    void RenderSelectedComponent( RenderTreeBuilder builder )
    {
        if ( SelectedComponentType != null )
        {
            builder.OpenComponent( 0, SelectedComponentType );
            builder.CloseComponent();
        }
    }
}
