<h2>Button</h2>
<p id="basic-button-event">
    <SimpleButton Clicked="@RaiseBasicCounter">Count</SimpleButton>
    <span id="basic-button-event-result">@basicEventCounter</span>
</p>
@functions{
    int basicEventCounter = 0;

    void RaiseBasicCounter()
    {
        basicEventCounter++;
        StateHasChanged();
    }
}