<TextEdit Text="@textWithEvent" TextChanged="@((s)=>{ textWithEvent = s; StateHasChanged(); })"></TextEdit>

<p>The text below should update automatically as you type in the text field above</p>

<p id="test-result">@textWithEvent</p>

@functions {
    string textWithEvent { get; set; }
}