@namespace Blazorise.Reporting.Internal
@inherits BaseReportComponent

<Div Class="b-report-designer-property-group" Margin="MarginIs3FromBottom">
    <Span TextSize="TextSizeSmall" TextWeight="TextWeightSemiBold">@Title</Span>
    @ChildContent
</Div>