@namespace Blazorise.Reporting.Internal
@inherits BaseReportComponent
@implements System.IAsyncDisposable

@if ( Nodes is not null )
{
    <div @ref="treeElement" class="b-report-tree-view">
        <_ReportTreeViewNodes Nodes="Nodes"
                              Level="0"
                              NodeClicked="NodeClicked"
                              NodeDoubleClicked="NodeDoubleClicked"
                              NodeContextMenu="NodeContextMenu"
                              NodeDragStarted="NodeDragStarted"
                              NodeDragEnded="NodeDragEnded"
                              IsNodeExpanded="IsExpanded"
                              HasNodeChildren="HasChildren"
                              ToggleNode="ToggleNode" />
    </div>
}