@namespace Blazorise.Reporting.Internal
@inherits BaseReportComponent
@using System.Threading.Tasks
@using Blazorise.Utilities

<div @key="@Key"
     class="@Class"
     style="@Style">
    @Text
</div>