@namespace Blazorise.Reporting.Internal
@inherits BaseReportComponent

<Div Class="b-report-designer-property-group" Margin="MarginIs3FromBottom">
    <Heading Size="HeadingSize.Is6">@Title</Heading>
    @ChildContent
</Div>