@namespace Blazorise.Reporting.Internal
@inherits BaseReportComponent

@if ( !CanRenderNestedReport )
{
    <Div Class="b-report-subreport-placeholder" TextSize="TextSizeSmall" TextColor="TextColorSecondary">
        @PlaceholderText
    </Div>
}
else
{
    @foreach ( ReportRenderPage renderPage in RenderPages )
    {
        <Div Class="b-report-subreport-page" Style="@GetSubreportPageStyle( SubreportDefinition )">
            @foreach ( ReportRenderSection renderSection in renderPage.HeaderSections )
            {
                @RenderSubreportSection( renderSection )
            }
            @foreach ( ReportRenderSection renderSection in renderPage.BodySections )
            {
                @RenderSubreportSection( renderSection )
            }
            @foreach ( ReportRenderSection renderSection in renderPage.FooterSections )
            {
                @RenderSubreportSection( renderSection )
            }
        </Div>
    }
}