@namespace Blazorise.Reporting.Internal
@inherits BaseReportComponent
@using System
@using System.Threading.Tasks
@using Blazorise.Utilities
@using Microsoft.AspNetCore.Components.Web

<div @key="@PageKey"
     @ref="pageElement"
     class="@Class"
     style="@Style"
     @onpointermove="NonRenderingPointerMove"
     @onpointermove:preventDefault="DesignMode"
     @onpointerup="PointerUp"
     @onpointerup:preventDefault="DesignMode"
     @onpointercancel="PointerCancel">
    @ChildContent

    @if ( DesignMode && ShowSelectionBox )
    {
        <_ReportDesignerSelectionBox X="SelectionBoxX"
                                     Y="SelectionBoxY"
                                     Width="SelectionBoxWidth"
                                     Height="SelectionBoxHeight"
                                     LeftOffset="SelectionBoxLeftOffset" />
    }
</div>