@namespace Blazorise.Reporting.Internal
@inherits BaseReportComponent
@using System

<h5>Report Explorer</h5>
<_ReportTreeView Nodes="@ReportDesignerTreeBuilder.BuildReportExplorerNodes( Definition, ReportSelected, SelectedSectionIndex, SelectedElementKey, SelectedCellKey, IsElementSelected )"
                 NodeClicked="@NodeClicked"
                 NodeContextMenu="@NodeContextMenu" />