<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />
<link href="_content/Blazorise.Icons.FontAwesome/v6/css/all.min.css" rel="stylesheet">

<link href="_content/Blazorise/blazorise.css?v=1.7.2.0" rel="stylesheet" />
<link href="_content/Blazorise.Bulma/blazorise.bulma.css?v=1.7.2.0" rel="stylesheet" />