<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css" />
<link href="_content/Blazorise.Icons.FontAwesome/v6/css/all.min.css" rel="stylesheet">

<link href="_content/Blazorise/blazorise.css?v=2.0.0.0" rel="stylesheet" />
<link href="_content/Blazorise.Bulma/blazorise.bulma.css?v=2.0.0.0" rel="stylesheet" />