<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css" />
<link href="_content/Blazorise.Icons.Lucide/blazorise.icons.lucide.css?v=2.1.0.0" rel="stylesheet" />

<link href="_content/Blazorise/blazorise.css?v=2.1.0.0" rel="stylesheet" />
<link href="_content/Blazorise.Bulma/blazorise.bulma.css?v=2.1.0.0" rel="stylesheet" />