<Div ElementId="tooltip-custom-target">
    <Field>
        <FieldLabel>Enter CVV</FieldLabel>
            <Tooltip Text="A three digit pin behind your credit card" TriggerTargetId="tooltip-custom-target" Inline>
                <Badge Color="Color.Warning">What's That?</Badge>
            </Tooltip>
        </FieldLabel>
    </Field>
</Div>