@namespace Blazorise.Docs.Docs.Examples

<Span Border="Border.Is1">Border on all sides</Span>

<Span Border="Border.Is1.Rounded">Rounded</Span>

<Span Border="Border.Primary">Borders with primary color</Span>