@namespace Blazorise.Docs.Docs.Examples

<Div Border="Border.Is1" Padding="Padding.Is3" Margin="Margin.Is2.FromBottom">
    Default border on all sides
</Div>

<Div Border="Border.Is1.Rounded" Padding="Padding.Is3" Margin="Margin.Is2.FromBottom">
    Rounded
</Div>

<Div Border="Border.Primary" Padding="Padding.Is3" Margin="Margin.Is2.FromBottom">
    Borders with primary color
</Div>

<Div Border="Border.Is3.Success.Subtle" Padding="Padding.Is3" Margin="Margin.Is2.FromBottom">
    Borders with subtle color
</Div>

<Div Border="Border.Is2.OnStart" Padding="Padding.Is3" Margin="Margin.Is2.FromBottom">
    Start border only
</Div>

<Div Border="Border.Is1.RoundedPill" Padding="Padding.Is3" Margin="Margin.Is2.FromBottom">
    Rounded pill
</Div>