@namespace Blazorise.Docs.Docs.Examples

<Div Padding="Padding.Is2" Border="Border.Rounded" Flex="Flex.InlineFlex.Column.AlignItems.Center" Background="Background.Dark" TextColor="TextColor.Light">
    <QRCode Value="https://blazorise.com" Alt="QRCode image" />
    <Div Flex="Flex.JustifyContent.Center.AlignItems.Center">
        <Span>
            SCAN ME
        </Span>
    </Div>
</Div>