@*
    The Router component displays whichever component has a @page
    directive matching the current URI.
*@
<Blazorise.ThemeProvider Theme="@theme">
    <Router AppAssembly="typeof(App).Assembly">
        <Found Context="routeData">
            <CascadingValue Value="routeData">
                <RouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)" />
            </CascadingValue>
        </Found>
        <NotFound>
            <p>Sorry, there's nothing at this address.</p>
        </NotFound>
    </Router>
    <MessageProvider />
    <NotificationProvider />
    <PageProgressProvider />
    <ModalProvider UseModalStructure Animated Size="ModalSize.ExtraLarge" />
    <ApplicationLoadingIndicator />
</Blazorise.ThemeProvider>
@code{
    private Theme theme = new()
    {
        Enabled = false,
        BarOptions = new()
        {
            HorizontalHeight = "72px"
        },
        BreakpointOptions = new()
        {
        },
        //SpacingOptions = new()
        //{
        //},
        ColorOptions = new()
        {
            Primary = "#3b82f6",
            Secondary = "#6B7280",
            Success = "#0E9F6E",
            Danger = "#F05252",
            Warning = "#C27803",
            Info = "#03A9F4",
            Light = "#F3F4F6",
            Dark = "#1F2937",
        },
        BackgroundOptions = new()
        {
            Primary = "#3b82f6",
            Secondary = "#6B7280",
            Success = "#0E9F6E",
            Danger = "#F05252",
            Warning = "#C27803",
            Info = "#03A9F4",
            Light = "#F3F4F6",
            Dark = "#1F2937",
        },
        TextColorOptions = new()
        {
            Primary = "#3b82f6",
            Secondary = "#6B7280",
            Success = "#0E9F6E",
            Danger = "#F05252",
            Warning = "#C27803",
            Info = "#03A9F4",
            Light = "#F3F4F6",
            Dark = "#1F2937",
        },
        //ButtonOptions = new ThemeButtonOptions { },
        //DropdownOptions = new ThemeDropdownOptions { },
        InputOptions = new()
        {
            CheckColor = "#0288D1",
        },
        //CardOptions = new ThemeCardOptions { },
        //ModalOptions = new ThemeModalOptions { },
        //TabsOptions = new ThemeTabsOptions { },
        //ProgressOptions = new ThemeProgressOptions { },
        //AlertOptions = new ThemeAlertOptions { },
        //BreadcrumbOptions = new ThemeBreadcrumbOptions { },
        //BadgeOptions = new ThemeBadgeOptions { },
        //PaginationOptions = new ThemePaginationOptions { },
        //TooltipOptions = new ThemeTooltipOptions
        //{
        //    BackgroundColor = "#22c8ce",
        //    BackgroundOpacity = .7f,
        //    Color = "#ff0000",
        //},
    };

}