@*
    The Router component displays whichever component has a @page
    directive matching the current URI.
*@
<Blazorise.ThemeProvider Theme="@theme">
    <Router AppAssembly="typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)" />
        </Found>
        <NotFound>
            <p>Sorry, there's nothing at this address.</p>
        </NotFound>
    </Router>
</Blazorise.ThemeProvider>
@code{
    private Theme theme = new Theme()
    {
        Black = "#343a40",
        Enabled = true,
        IsGradient = true,
        IsRounded = true,
        LuminanceThreshold = 150,
        ThemeColorInterval = 8f,
        White = "#ffffff",
        AlertOptions = new ThemeAlertOptions()
        {
            BackgroundLevel = -10,
            BorderLevel = -9,
            BorderRadius = ".25rem",
            ColorLevel = 6,
            GradientBlendPercentage = 15f
        },
        BackgroundOptions = new ThemeBackgroundOptions()
        {
            Body = "#555555",
            Danger = "#f44336",
            Dark = "#424242",
            Info = "#00bcd4",
            Light = "#f5f5f5",
            Muted = "#dddddd",
            Primary = "#1976d2",
            Secondary = "#757575",
            Success = "#4caf50",
            Warning = "#ffeb3b"
        },
        BadgeOptions = new ThemeBadgeOptions()
        {
            BorderRadius = ".25em"
        },
        BarOptions = new ThemeBarOptions()
        {
            DarkColors = new ThemeBarColorOptions()
            {
                BackgroundColor = "#001529",
                BrandColorOptions = new ThemeBarBrandColorOptions()
                {
                    BackgroundColor = "#ffffff06"
                },
                Color = "#ffffff80",
                DropdownColorOptions = new ThemeBarDropdownColorOptions()
                {
                    BackgroundColor = "#000c17"
                },
                ItemColorOptions = new ThemeBarItemColorOptions()
                {
                    ActiveBackgroundColor = "#0288D1",
                    ActiveColor = "#ffffff",
                    HoverBackgroundColor = "#ffffff4c",
                    HoverColor = "#ffffff"
                }
            },
            LightColors = new ThemeBarColorOptions()
            {
                BackgroundColor = "#ffffff",
                BrandColorOptions = new ThemeBarBrandColorOptions()
                {
                    BackgroundColor = "#00000006"
                },
                Color = "#000000B2",
                DropdownColorOptions = new ThemeBarDropdownColorOptions()
                {
                    BackgroundColor = "#f2f2f2"
                },
                ItemColorOptions = new ThemeBarItemColorOptions()
                {
                    ActiveBackgroundColor = "#0288D1",
                    ActiveColor = "#000000",
                    HoverBackgroundColor = "#0000004c",
                    HoverColor = "#000000"
                }
            },
            VerticalBrandHeight = "64px",
            VerticalSmallWidth = "64px",
            VerticalWidth = "220px"
        },
        BreadcrumbOptions = new ThemeBreadcrumbOptions()
        {
            BorderRadius = ".25rem",
            Color = "#42a5f5"
        },
        BreakpointOptions = new ThemeBreakpointOptions()
        {
            Desktop = "992px",
            FullHD = "1400px",
            Mobile = "576px",
            Tablet = "768px",
            Widescreen = "1200px"
        },
        ButtonOptions = new ThemeButtonOptions()
        {
            ActiveDarkenColor = 10f,
            ActiveLightenColor = 12.5f,
            BorderRadius = ".25rem",
            BoxShadowSize = ".25rem",
            BoxShadowTransparency = 127,
            GradientBlendPercentage = 15f,
            HoverDarkenColor = 7.5f,
            HoverLightenColor = 10f,
            LargeBorderRadius = ".3rem",
            Margin = "0rem 0rem 0rem 0rem",
            Padding = ".6875rem 1rem .6875rem 1rem",
            SmallBorderRadius = ".2rem"
        },
        CardOptions = new ThemeCardOptions()
        {
            BorderRadius = ".25rem",
            ImageTopRadius = "calc(.25rem - 1px)"
        },
        ColorOptions = new ThemeColorOptions()
        {
            Danger = "#f44336",
            Dark = "#424242",
            Info = "#00bcd4",
            Light = "#f5f5f5",
            Primary = "#1976d2",
            Secondary = "#757575",
            Success = "#4caf50",
            Warning = "#ffeb3b"
        },
        ContainerMaxWidthOptions = new ThemeContainerMaxWidthOptions()
        {
            Desktop = "960px",
            FullHD = "1320px",
            Mobile = "540px",
            Tablet = "720px",
            Widescreen = "1140px"
        },
        DividerOptions = new ThemeDividerOptions()
        {
            Color = "#999999",
            DividerType = DividerType.TextContent,
            TextSize = ".875rem",
            Thickness = "2px"
        },
        DropdownOptions = new ThemeDropdownOptions()
        {
            BorderRadius = ".25rem",
            GradientBlendPercentage = 15f,
            ToggleIconVisible = true
        },
        InputOptions = new ThemeInputOptions()
        {
            BorderRadius = ".25rem",
            CheckColor = "#1976d2",
            Color = "#000000",
            SliderColor = "#c4c4c4"
        },
        ModalOptions = new ThemeModalOptions()
        {
            BorderRadius = ".25rem"
        },
        PaginationOptions = new ThemePaginationOptions()
        {
            BorderRadius = ".25rem",
            LargeBorderRadius = ".3rem"
        },
        ProgressOptions = new ThemeProgressOptions()
        {
            BorderRadius = ".25rem"
        },
        SidebarOptions = new ThemeSidebarOptions()
        {
            BackgroundColor = "#343a40",
            Color = "#ced4da",
            Width = "220px"
        },
        SnackbarOptions = new ThemeSnackbarOptions()
        {
            BackgroundColor = "#323232",
            ButtonColor = "#ff4081",
            ButtonHoverColor = "#ff80ab",
            TextColor = "#ffffff",
            VariantBackgroundColorLevel = -3
        },
        SwitchOptions = new ThemeSwitchOptions()
        {
            BorderRadius = ".25rem",
            BoxShadowLightenColor = 25f,
            DisabledLightenColor = 50f,
        },
        TableOptions = new ThemeTableOptions()
        {
            BackgroundLevel = -9,
            BorderLevel = -6,
            BorderRadius = ".25rem"
        },
        TabsOptions = new ThemeTabsOptions()
        {
            BorderRadius = ".25rem"
        },
        TextColorOptions = new ThemeTextColorOptions()
        {
            Black50 = "#000000",
            Body = "#212121",
            Danger = "#f44336",
            Dark = "#424242",
            Info = "#00bcd4",
            Light = "#f5f5f5",
            Muted = "#757575",
            Primary = "#1976d2",
            Secondary = "#757575",
            Success = "#4caf50",
            Warning = "#ffeb3b",
            White = "#fafafa",
            White50 = "#ffffff"
        },
        TooltipOptions = new ThemeTooltipOptions()
        {
            BackgroundColor = "#808080",
            BackgroundOpacity = 90f,
            BorderRadius = ".25rem",
            Color = "#ffffff",
            FadeTime = "0.3s",
            FontSize = ".875rem",
            MaxWidth = "15rem",
            Padding = ".5rem 1rem .5rem 1rem",
            ZIndex = "1020"
        }
    };
}