<link href="_content/Blazorise/blazorise.css?v=0.9.5.4" rel="stylesheet" />
<link href="_content/Blazorise.Bootstrap/blazorise.bootstrap.css?v=0.9.5.4" rel="stylesheet" />

<script src="_content/Blazorise/blazorise.js?v=0.9.5.4"></script>
<script src="_content/Blazorise.Bootstrap/blazorise.bootstrap.js?v=0.9.5.4"></script>