<link href="_content/Blazorise/blazorise.css?v=1.7.5.0" rel="stylesheet" />
<link href="_content/Blazorise.Bootstrap/blazorise.bootstrap.css?v=1.7.5.0" rel="stylesheet" />

<script src="_content/Blazorise/blazorise.js?v=1.7.5.0"></script>
<script src="_content/Blazorise.Bootstrap/blazorise.bootstrap.js?v=1.7.5.0"></script>
<script src="_content/Blazorise.Bootstrap/blazorise.bootstrap.js?v=1.7.5.0"></script>
