@namespace Blazorise.Docs.Docs.Examples

<Field>
    <Button Color="Color.Primary" Clicked="@(()=>timeEditRef.ShowPicker())">
        Show Picker
    </Button>
</Field>
<Field>
    <TimeEdit @ref="@timeEditRef" TValue="DateTime" />
</Field>

@code {
    TimeEdit<DateTime> timeEditRef;
}