@namespace Blazorise.Docs.Docs.Examples

<Field>
    <Button Color="Color.Primary" Clicked="@(() => timeInputRef.ShowPicker())">
        Show Picker
    </Button>
</Field>
<Field>
    <TimeInput @ref="@timeInputRef" TValue="DateTime" />
</Field>

@code {
    TimeInput<DateTime> timeInputRef;
}