@layout RootLayout
@inherits LayoutComponentBase

<Sidebar @ref="sidebar">
    <SidebarContent>
        <SidebarBrand>
            <a href="">Blazorise Demo</a>
        </SidebarBrand>
        <SidebarNavigation>
            <SidebarLabel>Main</SidebarLabel>
            <SidebarItem>
                <SidebarLink To="" Title="Show dashboard">
                    <Icon Name="IconName.Dashboard" Margin="Margin.Is3.FromRight" />Dashboard
                </SidebarLink>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink Toggled="(isOpen)=> sidebarSubItemTests.Toggle(isOpen)" IsShow="true">
                    <Icon Name="IconName.Edit" Margin="Margin.Is3.FromRight" />Test Pages
                </SidebarLink>
                <SidebarSubItem @ref="sidebarSubItemTests" IsShow="true">
                    <SidebarItem>
                        <SidebarLink To="tests/buttons">Buttons</SidebarLink>
                    </SidebarItem>
                    <SidebarItem>
                        <SidebarLink To="tests/forms">Forms</SidebarLink>
                    </SidebarItem>
                    <SidebarItem>
                        <SidebarLink To="tests/validations">Validations</SidebarLink>
                    </SidebarItem>
                    @*<SidebarItem>
                            <SidebarLink To="tests/editors">Editors</SidebarLink>
                        </SidebarItem>*@
                    <SidebarItem>
                        <SidebarLink To="tests/modals">Modals</SidebarLink>
                    </SidebarItem>
                    <SidebarItem>
                        <SidebarLink To="tests/tables">Tables</SidebarLink>
                    </SidebarItem>
                    <SidebarItem>
                        <SidebarLink To="tests/cards">Cards</SidebarLink>
                    </SidebarItem>
                    <SidebarItem>
                        <SidebarLink To="tests/tabs">Tabs</SidebarLink>
                    </SidebarItem>
                    <SidebarItem>
                        <SidebarLink To="tests/progressbars">Progress bars</SidebarLink>
                    </SidebarItem>
                    <SidebarItem>
                        <SidebarLink To="tests/elements">Elements</SidebarLink>
                    </SidebarItem>
                    <SidebarItem>
                        <SidebarLink To="tests/components">Components</SidebarLink>
                    </SidebarItem>
                    <SidebarItem>
                        <SidebarLink To="tests/charts">Charts</SidebarLink>
                    </SidebarItem>
                </SidebarSubItem>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink Toggled="(isOpen)=> sidebarSubItemApps.Toggle(isOpen)" IsShow="true">
                    <Icon Name="IconName.Smartphone" Margin="Margin.Is3.FromRight" />Apps
                </SidebarLink>
                <SidebarSubItem @ref="sidebarSubItemApps" IsShow="true">
                    <SidebarItem>
                        <SidebarLink To="apps/todo">Todo List</SidebarLink>
                    </SidebarItem>
                </SidebarSubItem>
            </SidebarItem>
        </SidebarNavigation>
    </SidebarContent>
</Sidebar>

<div class="app-main">
    <Bar Class="app-bar" Breakpoint="Breakpoint.Desktop" Background="Background.Light" Theme="Theme.Light">
        <BarBrand>
            <BarItem>
                <BarLink To="">
                    <Icon Name="IconName.Dashboard" />
                    Blazorise Demo
                </BarLink>
            </BarItem>
        </BarBrand>
        <BarToggler Clicked="@ToggleSidebar">
        </BarToggler>
        <BarMenu>
            <BarStart>
                <BarItem>
                    <BarLink To="https://blazorise.com/">Home</BarLink>
                </BarItem>
                <BarItem>
                    <BarLink To="https://blazorise.com/docs/">Documentation</BarLink>
                </BarItem>
                <BarItem>
                    <BarDropdown>
                        <BarDropdownToggle>More</BarDropdownToggle>
                        <BarDropdownMenu>
                            <BarDropdownItem To="https://blazorise.com/docs/quick-start/">
                                Quick-Start Guide
                            </BarDropdownItem>
                            <BarDropdownItem To="https://blazorise.com/docs/usage/">
                                Usage
                            </BarDropdownItem>
                        </BarDropdownMenu>
                    </BarDropdown>
                </BarItem>
            </BarStart>
            <BarEnd>
                <BarItem>
                    <BarLink To="https://github.com/stsrki/blazorise">GitHub</BarLink>
                </BarItem>
            </BarEnd>
        </BarMenu>
    </Bar>
    <div class="app-content">
        @Body
    </div>
</div>

@code{
    Sidebar sidebar;
    SidebarSubItem sidebarSubItemTests;
    SidebarSubItem sidebarSubItemApps;

    //bool collapseNavMenu = true;

    void ToggleSidebar()
    {
        sidebar.Toggle();
    }
}