@namespace Blazorise.Docs.Docs.Examples

<Validations @ref="validations" Mode="ValidationMode.Manual">
    <Validation Validator="@ValidationRule.IsNotEmpty">
        <Field>
            <FieldLabel>Message</FieldLabel>
            <FieldBody>
                <RichTextEdit @bind-Value="@messageHtml" PlaceHolder="Type your message here...">
                    <Feedback>
                        <ValidationError>Please enter a message.</ValidationError>
                    </Feedback>
                </RichTextEdit>
            </FieldBody>
        </Field>
    </Validation>
    <Button Color="Color.Primary" Clicked="@Submit">Submit</Button>
</Validations>

@code {
    Validations validations;

    string messageHtml;

    async Task Submit()
    {
        await validations.ValidateAll();
    }
}