@page "/community"

<Seo Canonical="/community" Title="Blazorise Community Edition" Description="Try our fully-featured, extensible, free Blazor Components library for building the .NET web applications." />

<PageHeader>
    <Title>
        Blazorise Community
    </Title>
    <Description>
        A fully-featured, extensible, free Blazor Components library for building the .NET web applications.
    </Description>
</PageHeader>

<Container Padding="Padding.Is4.OnX.Is5.OnY">
    <Heading Size="HeadingSize.Is2" Padding="Padding.Is2.FromBottom" Border="Border.OnBottom">
        Usage
    </Heading>
    <Row RowColumns="RowColumns.Are1.Are3.OnWidescreen" Padding="Padding.Is5.OnY">
        <Column Class="feature">
            <Heading Size="HeadingSize.Is2">For individuals</Heading>
            <Paragraph>
                The Community License is offered free of charge to all individuals. This includes anyone using Blazorise for personal projects, or educational purposes. This license is perfect for developers who are just getting started with Blazorise or those who are using it on small-scale projects. It grants access to all basic features of the software, but may lack certain advanced capabilities available in the Commercial License.
            </Paragraph>
            <Paragraph>
                Although it is free, users are still bound to the terms of the Community License, which prohibit uses that go beyond the specified scope.
            </Paragraph>
        </Column>
        <Column Class="feature">
            <Heading Size="HeadingSize.Is2">For organizations</Heading>
            <Paragraph>
                The Commercial License is required for all corporations, non-profit organizations, governmental entities, and any other commercial entities. This license is mandatory regardless of the entity's scale or nature. It includes start-ups, small and medium businesses, large enterprises, and government agencies among others. This license is also required if the software is used for any commercial purpose, including but not limited to, generating revenue or serving organizational needs. The Commercial License provides access to the full suite of features, advanced support, and future updates of Blazorise.
            </Paragraph>
            <Paragraph>
                Commercial entities are obligated to procure this license not just for legal compliance, but also to ensure continuous support and upgrades, helping their systems remain robust and secure. The fees collected from the Commercial License help support the ongoing development and maintenance of the Blazorise project, ensuring its sustainability and advancement.
            </Paragraph>
        </Column>
        <Column Class="feature">
            <Paragraph>
                Please note that the exact details and terms of these licenses, including any restrictions or allowances, should be reviewed in the official documentation or license agreements provided by the Blazorise team. The details provided here are a general overview and may not fully cover all terms and conditions outlined in the actual license agreements.
            </Paragraph>
            <Paragraph>
                For more information, see the
                <br />
                <Anchor To="license" Title="Licence">Blazorise licence</Anchor>
            </Paragraph>
        </Column>
    </Row>
</Container>