@page "/commercial"

<Seo Canonical="/" Title="Blazorise Commercial" Description="A comprehensive web development platform on Blazorise with pre-built components, startup templates, rapid dev tools, pro UI themes & premium support." />

<PageHeader>
    <Title>
        Blazorise <Span Class="gradient-commercial">Commercial</Span>
    </Title>
    <Subtitle>
        Be one of the thousands of satisfied users of Blazorise components.
    </Subtitle>
    <Description>
        Blazorise is an open-source toolkit for building high-quality, cross-platform native and web app experiences. Use one of the most advanced Blazor UI libraries to rapidly build amazing web applications without leaving C# language and toolchain.
    </Description>
    <Actions>
        <Button Type="ButtonType.Link" To="pricing" Color="Color.Primary" Size="Size.Large" Padding="Padding.Is4.OnX.Is3.FromEnd.OnTablet">
            <Icon Name="IconName.Key" />
            Get a License
        </Button>
        <Button Type="ButtonType.Link" To="book-a-demo" Color="Color.Secondary" Size="Size.Large" Padding="Padding.Is4.OnX">
            <Icon Name="IconName.Microphone" />
            Book a Demo
        </Button>
    </Actions>
</PageHeader>

<Container Padding="Padding.Is5.FromTop">
    <Row>
        <Column Margin="Margin.IsAuto.OnX">
            <Paragraph TextSize="TextSize.Heading1" TextWeight="TextWeight.Normal" TextAlignment="TextAlignment.Center">
                Trusted By
            </Paragraph>
            <Lead TextColor="TextColor.Muted" TextAlignment="TextAlignment.Center">
                The world's best product teams trust Blazorise to deliver an unrivaled experience for both developers and users.
            </Lead>
        </Column>
    </Row>
    <Row>
        <Column TextAlignment="TextAlignment.Center">
            <Anchor To="https://corporate.comcast.com/" Target="Target.Blank" Title="Comcast">
                <Image Source="_content/Blazorise.Docs/assets/img/logos/users/comcast.svg" Text="Comcast" />
            </Anchor>
        </Column>
        <Column TextAlignment="TextAlignment.Center">
            <Anchor To="https://abp.io/" Target="Target.Blank" Title="abp">
                <Image Source="_content/Blazorise.Docs/assets/img/logos/users/abp.svg" Text="abp" />
            </Anchor>
        </Column>
        <Column TextAlignment="TextAlignment.Center">
            <Anchor To="https://www.ge.com/" Target="Target.Blank" Title="ge">
                <Image Source="_content/Blazorise.Docs/assets/img/logos/users/ge.svg" Text="ge" />
            </Anchor>
        </Column>
        <Column TextAlignment="TextAlignment.Center">
            <Anchor To="https://www.daimlertruck.com/en/" Target="Target.Blank" Title="daimler">
                <Image Source="_content/Blazorise.Docs/assets/img/logos/users/daimler.svg" Text="daimler" />
            </Anchor>
        </Column>
        <Column TextAlignment="TextAlignment.Center">
            <Anchor To="https://www.pebble.tv/" Target="Target.Blank" Title="pebble">
                <Image Source="_content/Blazorise.Docs/assets/img/logos/users/pebble.svg" Text="pebble" />
            </Anchor>
        </Column>
        <Column TextAlignment="TextAlignment.Center">
            <Anchor To="https://www.telekom.com/en" Target="Target.Blank" Title="Deutsche Telekom">
                <Image Source="_content/Blazorise.Docs/assets/img/logos/users/deutsche-telekom.svg" Text="Deutsche Telekom" />
            </Anchor>
        </Column>
        <Column TextAlignment="TextAlignment.Center">
            <Anchor To="https://corptrade.se/" Target="Target.Blank" Title="corptrade">
                <Image Source="_content/Blazorise.Docs/assets/img/logos/users/corptrade.svg" Text="corptrade" />
            </Anchor>
        </Column>
        <Column TextAlignment="TextAlignment.Center">
            <Anchor To="https://www.microsoft.com/" Target="Target.Blank" Title="microsoft">
                <Image Source="_content/Blazorise.Docs/assets/img/logos/users/microsoft.svg" Text="microsoft" />
            </Anchor>
        </Column>
        <Column TextAlignment="TextAlignment.Center">
            <Anchor To="https://fitabase.com/" Target="Target.Blank" Title="fitabase">
                <Image Source="_content/Blazorise.Docs/assets/img/logos/users/fitabase.svg" Text="fitabase" />
            </Anchor>
        </Column>
    </Row>
</Container>

<Container Padding="Padding.Is5.OnY">
    <Row>
        <Column Margin="Margin.IsAuto.OnX">
            <Paragraph TextSize="TextSize.Heading1" TextWeight="TextWeight.Normal" TextAlignment="TextAlignment.Center">
                Additional Services
            </Paragraph>
            <Lead TextColor="TextColor.Muted" TextAlignment="TextAlignment.Center">
                Do you need additional or custom services? <Strong>We and our partners can provide it.</Strong>
            </Lead>
        </Column>
    </Row>

    <Row Margin="Margin.Is5.FromTop" Padding="Padding.Is4.FromTop">
        <Column ColumnSize="ColumnSize.Is4.OnDesktop" Margin="Margin.Is5.FromBottom.OnWidescreen">
            <Div Margin="Margin.Is4.FromBottom">
                <Icon Name="IconName.Building" IconSize="IconSize.x3" TextColor="TextColor.Primary" />
            </Div>
            <Heading Size="HeadingSize.Is4">Design System</Heading>
            <Paragraph>Custom Blazorise integration with your design system.</Paragraph>
        </Column>

        <Column ColumnSize="ColumnSize.Is4.OnDesktop" Margin="Margin.Is5.FromBottom.OnWidescreen">
            <Div Margin="Margin.Is4.FromBottom">
                <Icon Name="IconName.Undo" IconSize="IconSize.x3" TextColor="TextColor.Secondary" />
            </Div>
            <Heading Size="HeadingSize.Is4">Porting Existing Projects</Heading>
            <Paragraph>Migrating your legacy projects to the Blazor platform.</Paragraph>
        </Column>

        <Column ColumnSize="ColumnSize.Is4.OnDesktop" Margin="Margin.Is5.FromBottom.OnWidescreen">
            <Div Margin="Margin.Is4.FromBottom">
                <Icon Name="IconName.UmbrellaBeach" IconSize="IconSize.x3" TextColor="TextColor.Primary" />
            </Div>
            <Heading Size="HeadingSize.Is4">Custom Project Development</Heading>
            <Paragraph>Dedicated developers for your custom projects.</Paragraph>
        </Column>

        <Column ColumnSize="ColumnSize.Is4.OnDesktop" Margin="Margin.Is5.FromBottom.OnWidescreen">
            <Div Margin="Margin.Is4.FromBottom">
                <Icon Name="IconName.Users" IconSize="IconSize.x3" TextColor="TextColor.Danger" />
            </Div>
            <Heading Size="HeadingSize.Is4">Live Support</Heading>
            <Paragraph>Live remote support option when you need it.</Paragraph>
        </Column>

        <Column ColumnSize="ColumnSize.Is4.OnDesktop" Margin="Margin.Is5.FromBottom.OnWidescreen">
            <Div Margin="Margin.Is4.FromBottom">
                <Icon Name="IconName.Book" IconSize="IconSize.x3" TextColor="TextColor.Info" />
            </Div>
            <Heading Size="HeadingSize.Is4">Training</Heading>
            <Paragraph>Dedicated training for your developers.</Paragraph>
        </Column>

        <Column ColumnSize="ColumnSize.Is4.OnDesktop" Margin="Margin.Is5.FromBottom.OnWidescreen">
            <Div Margin="Margin.Is4.FromBottom">
                <Icon Name="IconName.HandsHelping" IconSize="IconSize.x3" />
            </Div>
            <Heading Size="HeadingSize.Is4">Onboarding</Heading>
            <Paragraph>Help to setup your development, CI/CD environments.</Paragraph>
        </Column>
    </Row>
    <Row>
        <Column Flex="Flex.JustifyContent.Center" Margin="Margin.Is5.FromBottom.OnWidescreen">
            <Button Type="ButtonType.Link" To="contact" Color="Color.Primary" Size="Size.Large">
                Contact us
            </Button>
        </Column>
    </Row>
</Container>

<Container Padding="Padding.Is5.OnY">
    <Row>
        <Column Margin="Margin.IsAuto.OnX">
            <Paragraph TextSize="TextSize.Heading1" TextWeight="TextWeight.Normal" TextAlignment="TextAlignment.Center">
                Premium Support
            </Paragraph>
            <Lead TextColor="TextColor.Muted" TextAlignment="TextAlignment.Center">
                Aside from the Blazorise library's strong community support, our support team prioritizes technical questions and problems from commercial users.
            </Lead>
        </Column>
    </Row>

    <Row Margin="Margin.Is3.FromTop">
        <Column ColumnSize="ColumnSize.Is6.OnDesktop" Flex="Flex.Column.AlignItems.Baseline.JustifyContent.Between">
            <Div>
                <Icon Name="IconName.HandsHelping" IconSize="IconSize.x3" Margin="Margin.Is3.OnY" TextColor="TextColor.Dark" />
            </Div>
            <Heading Size="HeadingSize.Is4" TextWeight="TextWeight.Normal">
                Premium Forum Support
            </Heading>
            <Paragraph>
                Blazorise Commercial licenses include premium forum support from a team of Blazorise experts.
            </Paragraph>
            <Button Type="ButtonType.Link" To="support" Color="Color.Info" Size="Size.Large">
                Support Forum
            </Button>
        </Column>
        <Column ColumnSize="ColumnSize.Is6.OnDesktop" Flex="Flex.Column.AlignItems.Baseline.JustifyContent.Between">
            <Div>
                <Icon Name="IconName.Heart" IconSize="IconSize.x3" Margin="Margin.Is3.OnY" TextColor="TextColor.Info" />
            </Div>
            <Heading Size="HeadingSize.Is4" TextWeight="TextWeight.Normal">
                Private Ticket
            </Heading>
            <Paragraph>
                Private support via e-mail and a ticket system is also included with the Enterprise License.
            </Paragraph>
            <Button Type="ButtonType.Link" To="pricing" Color="Color.Primary" Size="Size.Large">
                Get a License
            </Button>
        </Column>
    </Row>
</Container>