@page "/customers"

<Seo Canonical="/customers" Title="Blazorise Customers" Description="Customers around the globe depend on Blazorise component to build their products and organization. Explore their stories.!" />

<PageHeader>
    <Title>
        Customer success is our biggest priority!
    </Title>
    <Description>
        Here is what our users say about us.
    </Description>
</PageHeader>

<CustomerQuote LogoUrl="https://volosoft.com/assets/logos/volosoft-logo-dark.svg"
               LogoText="Volosoft"
               PartnerUrl="https://volosoft.com/"
               Quote="Blazorise is one of the most complete Blazor component libraries. It provides built-in solutions for all the essential UI requirements. It is easy to learn, use and customize. We trust it in our solutions, and it is highly recommended." />

<CustomerQuote LogoUrl="https://www.pebble.tv/wp-content/uploads/2020/10/logo.svg"
               LogoText="Pebble"
               PartnerUrl="https://www.pebble.tv/"
               Quote="Blazorise has been a key framework which allowed us to quickly build new products while focusing on distinguishing features. The diverse offering of components and compelling documentation made thinking about new features and visualising them much quicker. The customisation layer offered is also excellent and allows us to really make our products and solutions feel coherent and in line with the company brand." />