@page "/enterprise-plus"

<Seo Canonical="/enterprise-plus" Title="Blazorise Enterprise Plus" Description="Learn all aboout the Blazorise Enterprise Plus Support. Partner with Blazorise and speed up development with Blazorise experts joining your team. Get a tailored subscription matching your needs." />

<PageHeader>
    <Title>
        Enterprise Plus support
    </Title>
    <Description>
        Partner with Blazorise and speed up development with Blazorise experts joining your team. Get a tailored subscription matching your needs.
    </Description>
    <Actions>
        <Button Type="ButtonType.Link" To="contact" Color="Color.Primary" Size="Size.Large" Padding="Padding.Is4.OnX.Is3.FromEnd.OnTablet">
            <Icon Name="IconName.Comment" />
            Contact Sales
        </Button>
    </Actions>
</PageHeader>

<HorizontalHero ImageSource="img/enterprise/expert-1.jpg" ImageText="Expert on Demand">
    <Title>
        Expert on Demand
    </Title>
    <Description>
        If you require assistance beyond what can be provided in chat, Blazorise Experts and Designers on our team are available to assist you. They have created many Blazorise applications and can assist you in designing and implementing best practices in your app. Allow our team to lend their expertise so you can focus on the business logic while we ensure you avoid common pitfalls!
    </Description>
</HorizontalHero>

<HorizontalHero ImageSource="img/enterprise/mentor-1.jpg" ImageText="Blazorise Mentor" Reversed>
    <Title>
        Blazorise Mentor
    </Title>
    <Description>
        Would you climb Mount Everest alone or with an experienced guide who has completed the climb dozens of times? Blazorise Mentor, as your personal guide to Blazorise technology or UI Design, will assist you in tackling the challenge of building a large business application and ensuring you avoid pitfalls along the way. Mentors are senior Blazorise team members with extensive experience. They will get to know your project on a personal level and will actively guide your team to the most efficient path to successful completion.
    </Description>
</HorizontalHero>

<Container>
    <Row>
        <Column>
            <Div Padding="Padding.Is4.Is4.OnX" Margin="Margin.Is5.OnX" Shadow="Shadow.Large">
                <Rating SelectedValue="5" ReadOnly />
                <Div>
                    <Paragraph>
                        <Blockquote>
                            “Blazorise has been a key framework which allowed us to quickly build new products while focusing on distinguishing features. The diverse offering of components and compelling documentation made thinking about new features and visualising them much quicker. The customisation layer offered is also excellent and allows us to really make our products and solutions feel coherent and in line with the company brand.”
                        </Blockquote>
                    </Paragraph>
                </Div>
                <Div Class="home-testimonial-meta">
                    <Heading>Cristian Recoseanu</Heading>
                    <Paragraph>
                        <Anchor To="https://www.pebble.tv/" Target="Target.Blank">@@Pebble</Anchor>
                    </Paragraph>
                </Div>
            </Div>
        </Column>
    </Row>
</Container>