@page "/pricing"
@attribute [StreamRendering( true )]

<Seo Canonical="/pricing" Title="Blazorise Pricing" Description="Purchase Blazorise components for every type of project across major development platforms. Dynamic release cycle and best support service." />

<PageHeader>
    <Title>
        Blazorise <Span Class="gradient-commercial">Pricing</Span> & Plans
    </Title>
    <Description>
        <Paragraph>
            Blazorise Community is <Strong>free and open source</Strong> for all individuals.
        </Paragraph>
        <Paragraph>
            For advanced requirements, explore our tailored packages to match your organization's needs.
        </Paragraph>
    </Description>
</PageHeader>

<Container Padding="Padding.Is5.OnY" TextAlignment="TextAlignment.Center">
    <Pricing />

    <PlansComparer />

    <Faq />
</Container>