@page "/pricing"

<Seo Canonical="/pricing" Title="Blazorise Pricing" Description="Purchase Blazorise components for every type of project across major development platforms. Dynamic release cycle and best support service." />

<PageHeader>
    <Title>
        Pricing
    </Title>
    <Description>
        <Text TextWeight="TextWeight.Bold">Blazorise Community is free and open source for all individuals.</Text>
        For advanced requirements, explore our tailored packages to match your organization's needs.
    </Description>
</PageHeader>

<Banner>
    <LargeText>
        Choose the features and functionality your business needs today.
    </LargeText>
    <SmallText>
        Easily upgrade as your business grows.
    </SmallText>
</Banner>

<Container Padding="Padding.Is5.OnY" TextAlignment="TextAlignment.Center">
    <Pricing />

    <PlansComparer />

    <Faq />
</Container>