/*@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');*/

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

    body app {
        position: relative;
        display: flex;
        align-items: stretch;
    }

.app-main {
    width: 100%;
}

.app-bar {
    height: 3.5rem;
    display: flex;
    align-items: center;
    top: 0;
    position: sticky;
}

.app-content {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

/*@media (min-width:767.98px) {
    .app-main .app-bar {
        display: none;
    }
}*/

/*@media (min-width:992px) {
    .app-main {
        margin-left: 17.5rem
    }
}*/

.tabs-vertical-env {
}

/* FOR BULMA */
.tabs.is-vertical {
    display: table-cell;
    min-width: 120px;
    vertical-align: top;
    width: 150px;
}

    .tabs.is-vertical a {
        width: 150px;
    }

/* FOR BOOTSTRAP */
.nav.nav-tabs.flex-column {
    display: table-cell;
    min-width: 120px;
    vertical-align: top;
    width: 150px;
}

.tabs-vertical-env .tab-content {
    display: table-cell;
    padding: 0 0 0 20px;
    margin-bottom: 0;
    vertical-align: top;
}

.tabs-vertical-env-right {
}

    .tabs-vertical-env-right .tab-content {
        padding: 0 20px 0 0;
    }

.sk-cube-grid {
    width: 80px;
    height: 80px;
    margin: 100px auto;
}

    .sk-cube-grid .sk-cube {
        width: 33%;
        height: 33%;
        background-color: #494e52;
        float: left;
        -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
        animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    }

    .sk-cube-grid .sk-cube1 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    .sk-cube-grid .sk-cube2 {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .sk-cube-grid .sk-cube3 {
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }

    .sk-cube-grid .sk-cube4 {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }

    .sk-cube-grid .sk-cube5 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    .sk-cube-grid .sk-cube6 {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .sk-cube-grid .sk-cube7 {
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }

    .sk-cube-grid .sk-cube8 {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }

    .sk-cube-grid .sk-cube9 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}
