@inherits TransitionableLayoutComponent

<div class="@($"transition {transitioningClass} {(Transition?.IntoView == true ? "transitioned" : "transitioned_behind")}")">
    @Body
</div>

<style>
    .transition {
        position: absolute;
    }

    .transitioned {
        z-index: 1;
    }

    .transitioned_behind {
        z-index: 0;
    }
</style>
@code {
    private string transitioningClass => Transition?.FirstRender == true
        ? "" : $"animate__{transitioningEffect()} animate__faster animate__animated";

    private string transitioningEffect()
    {
        var effect = Transition?.IntoView == true ? "fadeIn" : "fadeOut";
        var direction = Transition?.Backwards == true ? "Up" : "Down";
        return effect + direction;
    }
}
