.progress.progress-xs {
    height: .25rem; }

.progress.progress-sm {
    height: .5rem; }

.progress.progress-md {
    height: 1rem; }

.progress.progress-lg {
    height: 1.5rem; }

.progress.progress-xl {
    height: 2rem; }

[data-tooltip]:not(.is-loading), [data-tooltip]:not(.is-disabled), [data-tooltip]:not([disabled]) {
    cursor: pointer;
    overflow: visible;
    position: relative; }
    [data-tooltip]:not(.is-loading)::before, [data-tooltip]:not(.is-loading)::after, [data-tooltip]:not(.is-disabled)::before, [data-tooltip]:not(.is-disabled)::after, [data-tooltip]:not([disabled])::before, [data-tooltip]:not([disabled])::after {
        box-sizing: border-box;
        color: #ffffff;
        display: inline-block;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: var(--b-tooltip-font-size, var(--b-font-size-sm, 0.875rem));
        hyphens: auto;
        opacity: 0;
        overflow: hidden;
        pointer-events: none;
        position: absolute;
        visibility: hidden;
        z-index: 1020; }
    [data-tooltip]:not(.is-loading)::after, [data-tooltip]:not(.is-disabled)::after, [data-tooltip]:not([disabled])::after {
        content: "";
        border-style: solid;
        border-width: 6px;
        border-color: rgba(128, 128, 128, 0.9) transparent transparent transparent;
        margin-bottom: -5px; }
    [data-tooltip]:not(.is-loading)::after, [data-tooltip]:not(.is-disabled)::after, [data-tooltip]:not([disabled])::after {
        top: 0;
        right: auto;
        bottom: auto;
        left: 50%;
        margin-top: -5px;
        margin-right: auto;
        margin-bottom: auto;
        margin-left: -5px;
        border-color: rgba(128, 128, 128, 0.9) transparent transparent transparent; }
    [data-tooltip]:not(.is-loading)::before, [data-tooltip]:not(.is-disabled)::before, [data-tooltip]:not([disabled])::before {
        background: rgba(128, 128, 128, 0.9);
        border-radius: var(--b-tooltip-border-radius, 4px);
        content: attr(data-tooltip);
        padding: 0.5rem 1rem;
        text-overflow: ellipsis;
        white-space: pre; }
    [data-tooltip]:not(.is-loading)::before, [data-tooltip]:not(.is-disabled)::before, [data-tooltip]:not([disabled])::before {
        top: 0;
        right: auto;
        bottom: auto;
        left: 50%;
        top: 0;
        margin-top: -5px;
        margin-bottom: auto;
        transform: translate(-50%, -100%); }
    [data-tooltip]:not(.is-loading).b-tooltip-bottom::after, [data-tooltip]:not(.is-disabled).b-tooltip-bottom::after, [data-tooltip]:not([disabled]).b-tooltip-bottom::after {
        top: auto;
        right: auto;
        bottom: 0;
        left: 50%;
        margin-top: auto;
        margin-right: auto;
        margin-bottom: -5px;
        margin-left: -5px;
        border-color: transparent transparent rgba(128, 128, 128, 0.9) transparent; }
    [data-tooltip]:not(.is-loading).b-tooltip-bottom::before, [data-tooltip]:not(.is-disabled).b-tooltip-bottom::before, [data-tooltip]:not([disabled]).b-tooltip-bottom::before {
        top: auto;
        right: auto;
        bottom: 0;
        left: 50%;
        margin-top: auto;
        margin-bottom: -5px;
        transform: translate(-50%, 100%); }
    [data-tooltip]:not(.is-loading).b-tooltip-left::after, [data-tooltip]:not(.is-disabled).b-tooltip-left::after, [data-tooltip]:not([disabled]).b-tooltip-left::after {
        top: auto;
        right: auto;
        bottom: 50%;
        left: 0;
        margin-top: auto;
        margin-right: auto;
        margin-bottom: -6px;
        margin-left: -11px;
        border-color: transparent transparent transparent rgba(128, 128, 128, 0.9); }
    [data-tooltip]:not(.is-loading).b-tooltip-left::before, [data-tooltip]:not(.is-disabled).b-tooltip-left::before, [data-tooltip]:not([disabled]).b-tooltip-left::before {
        top: auto;
        right: auto;
        bottom: 50%;
        left: -11px;
        transform: translate(-100%, 50%); }
    [data-tooltip]:not(.is-loading).b-tooltip-right::after, [data-tooltip]:not(.is-disabled).b-tooltip-right::after, [data-tooltip]:not([disabled]).b-tooltip-right::after {
        top: auto;
        right: 0;
        bottom: 50%;
        left: auto;
        margin-top: auto;
        margin-right: -11px;
        margin-bottom: -6px;
        margin-left: auto;
        border-color: transparent rgba(128, 128, 128, 0.9) transparent transparent; }
    [data-tooltip]:not(.is-loading).b-tooltip-right::before, [data-tooltip]:not(.is-disabled).b-tooltip-right::before, [data-tooltip]:not([disabled]).b-tooltip-right::before {
        top: auto;
        right: -11px;
        bottom: 50%;
        left: auto;
        margin-top: auto;
        transform: translate(100%, 50%); }
    [data-tooltip]:not(.is-loading).b-tooltip-multiline::before, [data-tooltip]:not(.is-disabled).b-tooltip-multiline::before, [data-tooltip]:not([disabled]).b-tooltip-multiline::before {
        height: auto;
        width: 15rem;
        max-width: 15rem;
        text-overflow: clip;
        white-space: normal;
        word-break: keep-all; }
    [data-tooltip]:not(.is-loading).b-tooltip-primary.b-tooltip-bottom::after, [data-tooltip]:not(.is-disabled).b-tooltip-primary.b-tooltip-bottom::after, [data-tooltip]:not([disabled]).b-tooltip-primary.b-tooltip-bottom::after {
        border-color: transparent transparent rgba(142, 51, 41, 0.9) transparent; }
    [data-tooltip]:not(.is-loading).b-tooltip-primary.b-tooltip-left::after, [data-tooltip]:not(.is-disabled).b-tooltip-primary.b-tooltip-left::after, [data-tooltip]:not([disabled]).b-tooltip-primary.b-tooltip-left::after {
        border-color: transparent transparent transparent rgba(142, 51, 41, 0.9); }
    [data-tooltip]:not(.is-loading).b-tooltip-primary.b-tooltip-right::after, [data-tooltip]:not(.is-disabled).b-tooltip-primary.b-tooltip-right::after, [data-tooltip]:not([disabled]).b-tooltip-primary.b-tooltip-right::after {
        border-color: transparent rgba(142, 51, 41, 0.9) transparent transparent; }
    [data-tooltip]:not(.is-loading).b-tooltip-primary:not(.b-tooltip-bottom)::after, [data-tooltip]:not(.is-loading).b-tooltip-primary:not(.b-tooltip-left)::after, [data-tooltip]:not(.is-loading).b-tooltip-primary:not(.b-tooltip-right)::after, [data-tooltip]:not(.is-disabled).b-tooltip-primary:not(.b-tooltip-bottom)::after, [data-tooltip]:not(.is-disabled).b-tooltip-primary:not(.b-tooltip-left)::after, [data-tooltip]:not(.is-disabled).b-tooltip-primary:not(.b-tooltip-right)::after, [data-tooltip]:not([disabled]).b-tooltip-primary:not(.b-tooltip-bottom)::after, [data-tooltip]:not([disabled]).b-tooltip-primary:not(.b-tooltip-left)::after, [data-tooltip]:not([disabled]).b-tooltip-primary:not(.b-tooltip-right)::after {
        border-color: rgba(142, 51, 41, 0.9) transparent transparent transparent; }
    [data-tooltip]:not(.is-loading).b-tooltip-primary:before, [data-tooltip]:not(.is-disabled).b-tooltip-primary:before, [data-tooltip]:not([disabled]).b-tooltip-primary:before {
        background-color: rgba(142, 51, 41, 0.9);
        color: #8e3329; }
    [data-tooltip]:not(.is-loading):focus::before, [data-tooltip]:not(.is-loading):focus::after, [data-tooltip]:not(.is-loading):hover::before, [data-tooltip]:not(.is-loading):hover::after, [data-tooltip]:not(.is-loading).b-tooltip-active::before, [data-tooltip]:not(.is-loading).b-tooltip-active::after, [data-tooltip]:not(.is-disabled):focus::before, [data-tooltip]:not(.is-disabled):focus::after, [data-tooltip]:not(.is-disabled):hover::before, [data-tooltip]:not(.is-disabled):hover::after, [data-tooltip]:not(.is-disabled).b-tooltip-active::before, [data-tooltip]:not(.is-disabled).b-tooltip-active::after, [data-tooltip]:not([disabled]):focus::before, [data-tooltip]:not([disabled]):focus::after, [data-tooltip]:not([disabled]):hover::before, [data-tooltip]:not([disabled]):hover::after, [data-tooltip]:not([disabled]).b-tooltip-active::before, [data-tooltip]:not([disabled]).b-tooltip-active::after {
        opacity: 1;
        visibility: visible; }
    [data-tooltip]:not(.is-loading).b-tooltip-fade::before, [data-tooltip]:not(.is-loading).b-tooltip-fade::after, [data-tooltip]:not(.is-disabled).b-tooltip-fade::before, [data-tooltip]:not(.is-disabled).b-tooltip-fade::after, [data-tooltip]:not([disabled]).b-tooltip-fade::before, [data-tooltip]:not([disabled]).b-tooltip-fade::after {
        transition: opacity 0.3s linear, visibility 0.3s linear; }

.b-tooltip-inline {
    display: inline-block; }

.b-character-casing-lower {
    text-transform: lowercase; }

.b-character-casing-upper {
    text-transform: uppercase; }

.b-character-casing-title {
    text-transform: lowercase; }
    .b-character-casing-title::first-letter {
        text-transform: uppercase; }
