<option @attributes=attributes>@ChildContent</option>

@code {
    [Parameter] public bool IsSelected { get; set; }
    [Parameter] public string Value { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }

    private Dictionary<string, object> attributes;

    protected override void OnInitialized()
    {
        attributes = new Dictionary<string, object>();

        if (IsSelected)
        {
            attributes["selected"] = true;
        }

        if (!string.IsNullOrWhiteSpace(Value))
        {
            attributes["value"] = Value;
        }
    }
}
