.mui-row {
    & > .mui-column:has(> .mui-field-body > .b-cropper-container) {
        display: flex;
        flex-direction: column;
    }

    & > .mui-column > .mui-field-body:has(> .b-cropper-container) {
        display: flex;
        flex: 1 1 auto;
        min-block-size: 0;
    }

    & > .mui-column > .mui-field-body:has(> .b-cropper-container) > .b-cropper-container {
        flex: 1 1 auto;
        min-block-size: 100%;
    }
}
