body .b-report {
    --b-report-zindex-designer: 0;
    --b-report-zindex-section-label: 2;
    --b-report-zindex-section-rail: 3;
    --b-report-zindex-drag-preview: 4;
    --b-report-zindex-selection: 4;
    --b-report-zindex-resize-handle: 5;
    --b-report-zindex-section-active: 6;
    --b-report-zindex-section-resize-handle: 7;
    --b-report-zindex-toolbar: 20;
    --b-report-zindex-menu: var(--mui-zindex-dropdown);
    --b-report-zindex-context-menu: var(--mui-zindex-popover);
    --b-report-zindex-modal-layer: var(--mui-zindex-modal);
}
