.b-richtextedit {
    > .b-richtextedit-toolbar.ql-snow,
    > .b-richtextedit-editor.ql-snow,
    > .b-richtextedit-toolbar.ql-bubble,
    > .b-richtextedit-editor.ql-bubble,
    > .ql-toolbar.ql-snow,
    > .ql-toolbar.ql-bubble {
        border-style: solid;
        border-width: 0.0625rem;
        border-color: var(--mui-outline-variant);
    }

    > .b-richtextedit-toolbar + .b-richtextedit-content + .b-richtextedit-editor,
    > .b-richtextedit-toolbar + .b-richtextedit-editor {
        border-top: 0;
    }

    > .b-richtextedit-editor + .b-richtextedit-content + .b-richtextedit-toolbar,
    > .b-richtextedit-editor + .b-richtextedit-toolbar {
        border-top: 0;
    }

    > .b-richtextedit-editor.ql-container {
        height: auto;
        min-block-size: 0;

        > .ql-editor {
            height: auto;
            min-block-size: 0;
        }
    }
}

.b-richtextedit.is-valid {
    > .b-richtextedit-editor.ql-bubble,
    > .b-richtextedit-toolbar.ql-bubble,
    > .ql-toolbar.ql-bubble {
        border-style: solid;
        border-width: 0.0625rem;
    }

    > .b-richtextedit-editor.ql-container,
    > .b-richtextedit-toolbar.ql-toolbar,
    > .ql-toolbar.ql-snow,
    > .ql-toolbar.ql-bubble {
        border-color: var(--mui-success);
    }

    + .valid-feedback {
        display: block;
        inline-size: 100%;
        margin-block-start: 0.25rem;
        padding: 0;
    }
}

.b-richtextedit.is-warning {
    > .b-richtextedit-editor.ql-bubble,
    > .b-richtextedit-toolbar.ql-bubble,
    > .ql-toolbar.ql-bubble {
        border-style: solid;
        border-width: 0.0625rem;
    }

    > .b-richtextedit-editor.ql-container,
    > .b-richtextedit-toolbar.ql-toolbar,
    > .ql-toolbar.ql-snow,
    > .ql-toolbar.ql-bubble {
        border-color: var(--mui-warning);
    }

    + .form-text.text-muted,
    + .valid-feedback,
    + .form-text.text-muted + .valid-feedback {
        display: none;
    }

    + .warning-feedback,
    + .form-text.text-muted + .warning-feedback,
    + .valid-feedback + .warning-feedback,
    + .form-text.text-muted + .valid-feedback + .warning-feedback {
        display: block;
        inline-size: 100%;
        margin-block-start: 0.25rem;
        padding: 0;
    }
}

.b-richtextedit.is-invalid {
    > .b-richtextedit-editor.ql-bubble,
    > .b-richtextedit-toolbar.ql-bubble,
    > .ql-toolbar.ql-bubble {
        border-style: solid;
        border-width: 0.0625rem;
    }

    > .b-richtextedit-editor.ql-container,
    > .b-richtextedit-toolbar.ql-toolbar,
    > .ql-toolbar.ql-snow,
    > .ql-toolbar.ql-bubble {
        border-color: var(--mui-error);
    }

    + .invalid-feedback {
        display: block;
        inline-size: 100%;
        margin-block-start: 0.25rem;
        padding: 0;
    }
}

.b-richtextedit[aria-invalid='true'] {
    + .invalid-feedback {
        display: block;
        inline-size: 100%;
        margin-block-start: 0.25rem;
        padding: 0;
    }
}
