<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.4/dist/flowbite.min.css" />
<link href="_content/Blazorise.Icons.FontAwesome/v6/css/all.min.css" rel="stylesheet">

<script src="https://cdn.tailwindcss.com"></script>
<script src="_content/Blazorise.Tailwind/blazorise.tailwind.config.js?v=1.7.3.0"></script>

<link href="_content/Blazorise/blazorise.css?v=1.7.3.0" rel="stylesheet" />
<link href="_content/Blazorise.Tailwind/blazorise.tailwind.css?v=1.7.3.0" rel="stylesheet" />