<script src="_content/Blazorise.AntDesign/bar.js?v=__BLAZORISE_VERSION__" type="module"></script>
<script src="_content/Blazorise.AntDesign/modal.js?v=__BLAZORISE_VERSION__" type="module"></script>
<script src="_content/Blazorise.AntDesign/segmented.js?v=__BLAZORISE_VERSION__" type="module"></script>
<script src="_content/Blazorise.AntDesign/tooltip.js?v=__BLAZORISE_VERSION__" type="module"></script>
<script src="_content/Blazorise.AntDesign/wave.js?v=__BLAZORISE_VERSION__" type="module"></script>