<script src="_content/Blazorise.Bootstrap5/modal.js?v=__BLAZORISE_VERSION__" type="module"></script>
<script src="_content/Blazorise.Bootstrap5/tooltip.js?v=__BLAZORISE_VERSION__" type="module"></script>