<script src="_content/Blazorise/breakpoint.js?v=1.4.1.0" type="module"></script>
<script src="_content/Blazorise/button.js?v=1.4.1.0" type="module"></script>
<script src="_content/Blazorise/closable.js?v=1.4.1.0" type="module"></script>
<script src="_content/Blazorise/colorPicker.js?v=1.4.1.0" type="module"></script>
<script src="_content/Blazorise/datePicker.js?v=1.4.1.0" type="module"></script>
<script src="_content/Blazorise/dragDrop.js?v=1.4.1.0" type="module"></script>
<script src="_content/Blazorise/dropdown.js?v=1.4.1.0" type="module"></script>
<script src="_content/Blazorise/fileEdit.js?v=1.4.1.0" type="module"></script>
<script src="_content/Blazorise/filePicker.js?v=1.4.1.0" type="module"></script>
<script src="_content/Blazorise/inputMask.js?v=1.4.1.0" type="module"></script>
<script src="_content/Blazorise/io.js?v=1.4.1.0" type="module"></script>
<script src="_content/Blazorise/memoEdit.js?v=1.4.1.0" type="module"></script>
<script src="_content/Blazorise/numericPicker.js?v=1.4.1.0" type="module"></script>
<script src="_content/Blazorise/observer.js?v=1.4.1.0" type="module"></script>
<script src="_content/Blazorise/table.js?v=1.4.1.0" type="module"></script>
<script src="_content/Blazorise/textEdit.js?v=1.4.1.0" type="module"></script>
<script src="_content/Blazorise/theme.js?v=1.4.1.0" type="module"></script>
<script src="_content/Blazorise/timePicker.js?v=1.4.1.0" type="module"></script>
<script src="_content/Blazorise/tooltip.js?v=1.4.1.0" type="module"></script>
<script src="_content/Blazorise/utilities.js?v=1.4.1.0" type="module"></script>
