<script src="_content/Blazorise/breakpoint.js?v=__BLAZORISE_VERSION__" type="module"></script>
<script src="_content/Blazorise/button.js?v=__BLAZORISE_VERSION__" type="module"></script>
<script src="_content/Blazorise/closable.js?v=__BLAZORISE_VERSION__" type="module"></script>
<script src="_content/Blazorise/colorPicker.js?v=__BLAZORISE_VERSION__" type="module"></script>
<script src="_content/Blazorise/datePicker.js?v=__BLAZORISE_VERSION__" type="module"></script>
<script src="_content/Blazorise/dragDrop.js?v=__BLAZORISE_VERSION__" type="module"></script>
<script src="_content/Blazorise/dropdown.js?v=__BLAZORISE_VERSION__" type="module"></script>
<script src="_content/Blazorise/fileInput.js?v=__BLAZORISE_VERSION__" type="module"></script>
<script src="_content/Blazorise/filePicker.js?v=__BLAZORISE_VERSION__" type="module"></script>
<script src="_content/Blazorise/floatingUi.js?v=__BLAZORISE_VERSION__" type="module"></script>
<script src="_content/Blazorise/inputMask.js?v=__BLAZORISE_VERSION__" type="module"></script>
<script src="_content/Blazorise/io.js?v=__BLAZORISE_VERSION__" type="module"></script>
<script src="_content/Blazorise/memoInput.js?v=__BLAZORISE_VERSION__" type="module"></script>
<script src="_content/Blazorise/modal.js?v=__BLAZORISE_VERSION__" type="module"></script>
<script src="_content/Blazorise/numericPicker.js?v=__BLAZORISE_VERSION__" type="module"></script>
<script src="_content/Blazorise/observer.js?v=__BLAZORISE_VERSION__" type="module"></script>
<script src="_content/Blazorise/rangeSlider.js?v=__BLAZORISE_VERSION__" type="module"></script>
<script src="_content/Blazorise/table.js?v=__BLAZORISE_VERSION__" type="module"></script>
<script src="_content/Blazorise/textInput.js?v=__BLAZORISE_VERSION__" type="module"></script>
<script src="_content/Blazorise/theme.js?v=__BLAZORISE_VERSION__" type="module"></script>
<script src="_content/Blazorise/timePicker.js?v=__BLAZORISE_VERSION__" type="module"></script>
<script src="_content/Blazorise/tooltip.js?v=__BLAZORISE_VERSION__" type="module"></script>
<script src="_content/Blazorise/utilities.js?v=__BLAZORISE_VERSION__" type="module"></script>