<script src="_content/Blazorise.Material/blazorise.material.js?v=2.1.1.0"></script>
<script src="_content/Blazorise.Material/modal.js?v=2.1.1.0" type="module"></script>
<script src="_content/Blazorise.Material/tooltip.js?v=2.1.1.0" type="module"></script>