<script src="_content/Blazorise.Material/blazorise.material.js?v=__BLAZORISE_VERSION__"></script>
<script src="_content/Blazorise.Material/modal.js?v=__BLAZORISE_VERSION__" type="module"></script>
<script src="_content/Blazorise.Material/tooltip.js?v=__BLAZORISE_VERSION__" type="module"></script>