@namespace Blazorise.Docs.Docs.Examples

<Card Margin="Margin.Is4.OnY">
    <CardImage Source="img/gallery/7.jpg" Alt="Placeholder image">
    </CardImage>
    <CardBody>
        <CardTitle Size="5">Card title</CardTitle>
        <CardText>
            Some quick example text to build on the card title and make up the bulk of the card's content.
        </CardText>
        <Button Color="Color.Primary">Button</Button>
    </CardBody>
</Card>