@-webkit-keyframes spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); } }

@keyframes spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); } }

@-webkit-keyframes spinner-grow {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0); }
    50% {
        opacity: 1; } }

@keyframes spinner-grow {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0); }
    50% {
        opacity: 1; } }

.e-rounded {
    border-radius: 0.25rem !important; }

.e-figure-is-16x16 {
    height: 16px;
    width: 16px; }

.e-figure-is-24x24 {
    height: 24px;
    width: 24px; }

.e-figure-is-32x32 {
    height: 32px;
    width: 32px; }

.e-figure-is-48x48 {
    height: 48px;
    width: 48px; }

.e-figure-is-64x64 {
    height: 64px;
    width: 64px; }

.e-figure-is-96x96 {
    height: 96px;
    width: 96px; }

.e-figure-is-128x128 {
    height: 128px;
    width: 128px; }

.e-figure-is-256x256 {
    height: 256px;
    width: 256px; }

.e-figure-is-512x512 {
    height: 512px;
    width: 512px; }

.e-is-none {
    display: none !important; }

.e-is-inline {
    display: inline !important; }

.e-is-inline-block {
    display: inline-block !important; }

.e-is-block {
    display: block !important; }

.e-is-table {
    display: table !important; }

.e-is-table-row {
    display: table-row !important; }

.e-is-table-cell {
    display: table-cell !important; }

.e-is-flex {
    display: flex !important; }

.e-is-inline-flex {
    display: inline-flex !important; }

.e-is-table {
    display: table !important; }

.e-is-table-row {
    display: table-row !important; }

.e-is-table-cell {
    display: table-cell !important; }

.e-is-flex-row {
    flex-direction: row !important; }

.e-is-flex-column {
    flex-direction: column !important; }

.e-is-flex-row-reverse {
    flex-direction: row-reverse !important; }

.e-is-flex-column-reverse {
    flex-direction: column-reverse !important; }

.e-alert {
    margin-bottom: 1rem; }

.e-tag-close {
    cursor: pointer; }
    .e-tag-close::before {
        height: 2px;
        width: 50%; }
    .e-tag-close::after {
        height: 50%;
        width: 2px; }
    .e-tag-close:hover, .e-tag-close:focus {
        background-color: rgba(10, 10, 10, 0.3); }
    .e-tag-close:active {
        background-color: rgba(10, 10, 10, 0.4); }

.e-btn.e-btn-tiny, .e-buttons-tiny > .e-btn {
    padding: .275rem .475rem;
    font-size: .6rem; }

.e-btn.e-btn-small, .e-buttons-small > .e-btn {
    padding: .27rem .85rem;
    font-size: .85rem; }

.e-btn.e-btn-medium, .e-buttons-medium > .e-btn {
    padding: .65rem 1.65rem;
    font-size: 1.1rem; }

.e-btn.e-btn-plus, .e-buttons-plus > .e-btn {
    padding: .75rem 2rem;
    font-size: 1.125rem; }

.e-btn.e-btn-huge, .e-buttons-huge > .e-btn {
    padding: .85rem 2.4rem;
    font-size: 1.5rem; }

.carousel, .carousel-list {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.carousel {
    min-height: 120px;
    position: relative; }
    .carousel.is-overlay {
        background-color: rgba(0, 0, 0, 0.86);
        align-items: center;
        flex-direction: column;
        justify-content: center;
        display: flex;
        max-height: 100vh;
        position: fixed;
        z-index: 40; }
        .carousel.is-overlay .carousel-item img {
            cursor: default; }
        .carousel.is-overlay .carousel-indicator.has-background {
            background: transparent; }
    .carousel .progress {
        border-radius: 2px;
        height: 0.25rem;
        margin-bottom: 0; }
    .carousel .carousel-items {
        position: relative;
        display: flex;
        overflow: hidden;
        width: 100%; }
        @media screen and (min-width: 1023px), print {
            .carousel .carousel-items:hover .carousel-arrow.is-hovered {
                opacity: 1; } }
        .carousel .carousel-items .carousel-item {
            flex-shrink: 0;
            width: 100%; }
            .carousel .carousel-items .carousel-item-hidden {
                display: none; }
    .carousel .carousel-pause {
        pointer-events: none;
        position: absolute;
        top: 0;
        right: 0.15rem;
        z-index: 1; }
    .carousel .carousel-indicator {
        width: 100%;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center; }
        .carousel .carousel-indicator.has-background {
            background: rgba(0, 0, 0, 0.5); }
        .carousel .carousel-indicator.has-custom {
            flex-wrap: nowrap;
            justify-content: flex-start;
            -webkit-overflow-scrolling: touch;
            overflow: hidden;
            overflow-x: auto; }
            .carousel .carousel-indicator.has-custom.is-small .indicator-item {
                flex: 1 0 10%; }
            .carousel .carousel-indicator.has-custom.is-medium .indicator-item {
                flex: 1 0 16.66667%; }
        .carousel .carousel-indicator.is-inside {
            position: absolute; }
            .carousel .carousel-indicator.is-inside.is-bottom {
                bottom: 0; }
            .carousel .carousel-indicator.is-inside.is-top {
                top: 0; }
        .carousel .carousel-indicator .indicator-item:not(:last-child) {
            margin-right: 0.5rem; }
        .carousel .carousel-indicator .indicator-item.is-active .indicator-style,
        .carousel .carousel-indicator .indicator-item .indicator-style:hover {
            background: var(--b-theme-primary, #1da1f2);
            border: 1px solid var(--b-theme-white, #fff); }
        .carousel .carousel-indicator .indicator-item .indicator-style {
            display: block;
            border: 1px solid var(--b-theme-primary, #1da1f2);
            background: var(--b-theme-white, #fff);
            outline: none;
            transition: 150ms ease-out; }
            .carousel .carousel-indicator .indicator-item .indicator-style.is-boxes {
                height: 10px;
                width: 10px; }
            .carousel .carousel-indicator .indicator-item .indicator-style.is-dots {
                border-radius: 10px;
                height: 10px;
                width: 10px; }
            .carousel .carousel-indicator .indicator-item .indicator-style.is-lines {
                height: 5px;
                width: 25px; }

.carousel-list {
    position: relative;
    overflow: hidden;
    width: 100%; }
    .carousel-list.has-shadow {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); }
    @media screen and (min-width: 1023px), print {
        .carousel-list:hover .carousel-arrow.is-hovered {
            opacity: 1; } }
    .carousel-list .carousel-slides {
        position: relative;
        display: flex;
        width: 100%; }
        .carousel-list .carousel-slides:not(.is-dragging) {
            transition: all 250ms ease-out 0s; }
        .carousel-list .carousel-slides.has-grayscale .carousel-slide img {
            filter: grayscale(100%); }
        .carousel-list .carousel-slides.has-grayscale .carousel-slide.is-active img {
            filter: grayscale(0%); }
        .carousel-list .carousel-slides.has-opacity .carousel-slide img {
            opacity: 0.25; }
        .carousel-list .carousel-slides.has-opacity .carousel-slide.is-active img {
            opacity: 1; }
        .carousel-list .carousel-slides .carousel-slide {
            border: 2px solid transparent;
            flex-shrink: 0; }

.carousel-arrow {
    transition: 150ms ease-out; }
    .carousel-arrow.is-hovered {
        opacity: 0; }
    .carousel-arrow .icon {
        background: var(--b-theme-white, #fff);
        color: var(--b-theme-primary, #1da1f2);
        cursor: pointer;
        border: 1px solid var(--b-theme-white, #fff);
        border-radius: 290486px;
        outline: 0; }
        .carousel-arrow .icon:hover {
            border: 1px solid var(--b-theme-primary, #1da1f2);
            opacity: 1; }
        .carousel-arrow .icon.has-icons-left, .carousel-arrow .icon.has-icons-right {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1; }
        .carousel-arrow .icon.has-icons-left {
            left: 1.5rem; }
        .carousel-arrow .icon.has-icons-right {
            right: 1.5rem; }

.collapse:not(.show) {
    display: none; }

.accordion > .e-card {
    overflow: hidden; }

.accordion > .e-card:not(:first-of-type) .e-card-body:first-child {
    border-radius: 0; }

.accordion > .e-card:not(:first-of-type):not(:last-of-type) {
    border-bottom: 0;
    border-radius: 0; }

.accordion > .e-card:first-of-type:not(:last-of-type) {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }

.accordion > .e-card:last-of-type {
    border-top-left-radius: 0; }

.accordion > .e-card .e-card-body {
    margin-bottom: 1px; }

.e-figure {
    display: inline-block; }

.e-figure-img {
    margin-bottom: 1rem / 2;
    line-height: 1; }

.e-figure-caption {
    font-size: 90%;
    color: #6c757d; }

label.e-btn {
    display: flex; }

label.e-btn {
    outline: none;
    display: inline-flex;
    align-items: center; }
    label.e-btn input[type=radio] {
        position: absolute;
        left: 0;
        opacity: 0;
        outline: none;
        z-index: -1; }

select.e-select {
    width: 100%; }

.e-form-group .e-dropdown {
    margin: 0; }

.drop-items-right {
    right: 0;
    left: auto; }

.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite; }

.spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: 0.2em; }

.spinner-grow {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: spinner-grow .75s linear infinite;
    animation: spinner-grow .75s linear infinite; }

.spinner-grow-sm {
    width: 1rem;
    height: 1rem; }

.e-form-group > .e-label-pointer,
.e-form-group > .e-label-pointer > .e-check-pointer {
    cursor: pointer; }

.e-control-tiny.e-control, .e-select-tiny.e-select:not([multiple]) {
    height: calc(1.5rem + 2px);
    padding: .275rem .475rem;
    font-size: .6rem; }

.e-control-small.e-control, .e-select-small.e-select:not([multiple]) {
    height: calc(1.75rem + 2px);
    padding: .3rem .5rem;
    font-size: .8rem; }

.e-control-medium.e-control, .e-select-medium.e-select:not([multiple]) {
    height: calc(2.75rem + 2px);
    padding: .4rem 1rem;
    font-size: 1.1rem; }

.e-control-plus.e-control, .e-select-plus.e-select:not([multiple]) {
    height: calc(3.15rem + 2px);
    padding: .45rem 1rem;
    font-size: 1.2rem; }

.e-control-huge.e-control, .e-select-huge.e-select:not([multiple]) {
    height: calc(3.75rem + 2px);
    padding: .65rem 1.2rem;
    font-size: 1.4rem; }

.e-face-subtitle {
    font-size: 1.25rem;
    font-weight: 300; }

.e-face.e-face-primary {
    background-color: #1da1f2;
    color: #fff; }

.e-face.e-face-gray {
    background-color: #6c757d;
    color: #fff; }

.e-face.e-face-success {
    background-color: #4fd69c;
    color: #212529; }

.e-face.e-face-info {
    background-color: #54c7ec;
    color: #212529; }

.e-face.e-face-warning {
    background-color: #ffdd57;
    color: #212529; }

.e-face.e-face-danger {
    background-color: #f64669;
    color: #fff; }

.e-face.e-face-light {
    background-color: #f5f5f5;
    color: #212529; }

.e-face.e-face-dark {
    background-color: #343a40;
    color: #fff; }

.e-pagination.tiny .e-page-item {
    padding: 0.1em 0.4em;
    min-width: 1em; }

.e-pagination.medium .e-page-item {
    padding: 0.5em 0.9em; }

.e-pagination.plus .e-page-item {
    padding: 0.7em 1.1em; }

.e-pagination.huge .e-page-item {
    padding: 0.9em 1.3em; }

.e-progress.e-progress-tiny {
    height: 8px; }

.e-progress.e-progress-small {
    height: 12px; }

.e-progress.e-progress-medium {
    height: 20px; }

.e-progress.e-progress-plus {
    height: 24px; }

.e-progress.e-progress-huge {
    height: 28px !important; }

.e-switch[type="checkbox"] {
    outline: 0;
    user-select: none;
    display: inline-block;
    opacity: 0; }
    .e-switch[type="checkbox"] + label {
        position: relative;
        display: initial;
        font-size: 1rem;
        line-height: 1.5;
        padding-left: 3.5rem;
        padding-top: .2rem;
        cursor: pointer; }
        .e-switch[type="checkbox"] + label::before, .e-switch[type="checkbox"] + label:before {
            position: absolute;
            display: block;
            top: calc( 50% - 1.5rem / 2);
            left: 0;
            width: 3rem;
            height: 1.5rem;
            border: 0.1rem solid transparent;
            border-radius: 4px;
            background: rgba(0, 0, 0, 0.125);
            content: ''; }
        .e-switch[type="checkbox"] + label::after, .e-switch[type="checkbox"] + label:after {
            display: block;
            position: absolute;
            top: calc( 50% - 1rem / 2);
            left: 0.25rem;
            width: 1rem;
            height: 1rem;
            transform: translate3d(0, 0, 0);
            border-radius: 4px;
            background: var(--b-theme-white, #fff);
            transition: all 0.25s ease-out;
            content: ''; }
    .e-switch[type="checkbox"]:checked + label::before, .e-switch[type="checkbox"]:checked + label:before {
        background: var(--b-theme-primary, #00d1b2); }
    .e-switch[type="checkbox"]:checked + label::after {
        left: 1.625rem; }
    .e-switch[type="checkbox"].e-switch-tiny + label {
        position: relative;
        display: initial;
        font-size: 0.5rem;
        line-height: 1.5;
        padding-left: 2rem;
        padding-top: .2rem;
        cursor: pointer; }
        .e-switch[type="checkbox"].e-switch-tiny + label::before, .e-switch[type="checkbox"].e-switch-tiny + label:before {
            position: absolute;
            display: block;
            top: calc( 50% - 0.75rem / 2);
            left: 0;
            width: 1.5rem;
            height: 0.75rem;
            border: 0.1rem solid transparent;
            border-radius: 4px;
            background: rgba(0, 0, 0, 0.125);
            content: ''; }
        .e-switch[type="checkbox"].e-switch-tiny + label::after, .e-switch[type="checkbox"].e-switch-tiny + label:after {
            display: block;
            position: absolute;
            top: calc( 50% - 0.25rem / 2);
            left: 0.25rem;
            width: 0.25rem;
            height: 0.25rem;
            transform: translate3d(0, 0, 0);
            border-radius: 4px;
            background: var(--b-theme-white, #fff);
            transition: all 0.25s ease-out;
            content: ''; }
    .e-switch[type="checkbox"].e-switch-tiny:checked + label::before, .e-switch[type="checkbox"].e-switch-tiny:checked + label:before {
        background: var(--b-theme-primary, #00d1b2); }
    .e-switch[type="checkbox"].e-switch-tiny:checked + label::after {
        left: 0.875rem; }
    .e-switch[type="checkbox"].e-switch-small + label {
        position: relative;
        display: initial;
        font-size: 0.75rem;
        line-height: 1.5;
        padding-left: 2.75rem;
        padding-top: .2rem;
        cursor: pointer; }
        .e-switch[type="checkbox"].e-switch-small + label::before, .e-switch[type="checkbox"].e-switch-small + label:before {
            position: absolute;
            display: block;
            top: calc( 50% - 1.125rem / 2);
            left: 0;
            width: 2.25rem;
            height: 1.125rem;
            border: 0.1rem solid transparent;
            border-radius: 4px;
            background: rgba(0, 0, 0, 0.125);
            content: ''; }
        .e-switch[type="checkbox"].e-switch-small + label::after, .e-switch[type="checkbox"].e-switch-small + label:after {
            display: block;
            position: absolute;
            top: calc( 50% - 0.625rem / 2);
            left: 0.25rem;
            width: 0.625rem;
            height: 0.625rem;
            transform: translate3d(0, 0, 0);
            border-radius: 4px;
            background: var(--b-theme-white, #fff);
            transition: all 0.25s ease-out;
            content: ''; }
    .e-switch[type="checkbox"].e-switch-small:checked + label::before, .e-switch[type="checkbox"].e-switch-small:checked + label:before {
        background: var(--b-theme-primary, #00d1b2); }
    .e-switch[type="checkbox"].e-switch-small:checked + label::after {
        left: 1.25rem; }
    .e-switch[type="checkbox"].e-switch-medium + label {
        position: relative;
        display: initial;
        font-size: 1.25rem;
        line-height: 1.5;
        padding-left: 4.25rem;
        padding-top: .2rem;
        cursor: pointer; }
        .e-switch[type="checkbox"].e-switch-medium + label::before, .e-switch[type="checkbox"].e-switch-medium + label:before {
            position: absolute;
            display: block;
            top: calc( 50% - 1.875rem / 2);
            left: 0;
            width: 3.75rem;
            height: 1.875rem;
            border: 0.1rem solid transparent;
            border-radius: 4px;
            background: rgba(0, 0, 0, 0.125);
            content: ''; }
        .e-switch[type="checkbox"].e-switch-medium + label::after, .e-switch[type="checkbox"].e-switch-medium + label:after {
            display: block;
            position: absolute;
            top: calc( 50% - 1.375rem / 2);
            left: 0.25rem;
            width: 1.375rem;
            height: 1.375rem;
            transform: translate3d(0, 0, 0);
            border-radius: 4px;
            background: var(--b-theme-white, #fff);
            transition: all 0.25s ease-out;
            content: ''; }
    .e-switch[type="checkbox"].e-switch-medium:checked + label::before, .e-switch[type="checkbox"].e-switch-medium:checked + label:before {
        background: var(--b-theme-primary, #00d1b2); }
    .e-switch[type="checkbox"].e-switch-medium:checked + label::after {
        left: 2rem; }
    .e-switch[type="checkbox"].e-switch-plus + label {
        position: relative;
        display: initial;
        font-size: 1.5rem;
        line-height: 1.5;
        padding-left: 5rem;
        padding-top: .2rem;
        cursor: pointer; }
        .e-switch[type="checkbox"].e-switch-plus + label::before, .e-switch[type="checkbox"].e-switch-plus + label:before {
            position: absolute;
            display: block;
            top: calc( 50% - 2.25rem / 2);
            left: 0;
            width: 4.5rem;
            height: 2.25rem;
            border: 0.1rem solid transparent;
            border-radius: 4px;
            background: rgba(0, 0, 0, 0.125);
            content: ''; }
        .e-switch[type="checkbox"].e-switch-plus + label::after, .e-switch[type="checkbox"].e-switch-plus + label:after {
            display: block;
            position: absolute;
            top: calc( 50% - 1.75rem / 2);
            left: 0.25rem;
            width: 1.75rem;
            height: 1.75rem;
            transform: translate3d(0, 0, 0);
            border-radius: 4px;
            background: var(--b-theme-white, #fff);
            transition: all 0.25s ease-out;
            content: ''; }
    .e-switch[type="checkbox"].e-switch-plus:checked + label::before, .e-switch[type="checkbox"].e-switch-plus:checked + label:before {
        background: var(--b-theme-primary, #00d1b2); }
    .e-switch[type="checkbox"].e-switch-plus:checked + label::after {
        left: 2.375rem; }
    .e-switch[type="checkbox"].e-switch-huge + label {
        position: relative;
        display: initial;
        font-size: 2rem;
        line-height: 1.5;
        padding-left: 6.5rem;
        padding-top: .2rem;
        cursor: pointer; }
        .e-switch[type="checkbox"].e-switch-huge + label::before, .e-switch[type="checkbox"].e-switch-huge + label:before {
            position: absolute;
            display: block;
            top: calc( 50% - 3rem / 2);
            left: 0;
            width: 6rem;
            height: 3rem;
            border: 0.1rem solid transparent;
            border-radius: 4px;
            background: rgba(0, 0, 0, 0.125);
            content: ''; }
        .e-switch[type="checkbox"].e-switch-huge + label::after, .e-switch[type="checkbox"].e-switch-huge + label:after {
            display: block;
            position: absolute;
            top: calc( 50% - 2.5rem / 2);
            left: 0.25rem;
            width: 2.5rem;
            height: 2.5rem;
            transform: translate3d(0, 0, 0);
            border-radius: 4px;
            background: var(--b-theme-white, #fff);
            transition: all 0.25s ease-out;
            content: ''; }
    .e-switch[type="checkbox"].e-switch-huge:checked + label::before, .e-switch[type="checkbox"].e-switch-huge:checked + label:before {
        background: var(--b-theme-primary, #00d1b2); }
    .e-switch[type="checkbox"].e-switch-huge:checked + label::after {
        left: 3.125rem; }

.e-switch[type="checkbox"].primary:checked + label::before,
.e-switch[type="checkbox"].primary:checked + label:before {
    background-color: #1da1f2; }

.e-switch[type="checkbox"]:disabled.primary:checked + label::before {
    background-color: rgba(29, 161, 242, 0.5); }

.e-switch[type="checkbox"].gray:checked + label::before,
.e-switch[type="checkbox"].gray:checked + label:before {
    background-color: #6c757d; }

.e-switch[type="checkbox"]:disabled.gray:checked + label::before {
    background-color: rgba(108, 117, 125, 0.5); }

.e-switch[type="checkbox"].success:checked + label::before,
.e-switch[type="checkbox"].success:checked + label:before {
    background-color: #4fd69c; }

.e-switch[type="checkbox"]:disabled.success:checked + label::before {
    background-color: rgba(79, 214, 156, 0.5); }

.e-switch[type="checkbox"].info:checked + label::before,
.e-switch[type="checkbox"].info:checked + label:before {
    background-color: #54c7ec; }

.e-switch[type="checkbox"]:disabled.info:checked + label::before {
    background-color: rgba(84, 199, 236, 0.5); }

.e-switch[type="checkbox"].warning:checked + label::before,
.e-switch[type="checkbox"].warning:checked + label:before {
    background-color: #ffdd57; }

.e-switch[type="checkbox"]:disabled.warning:checked + label::before {
    background-color: rgba(255, 221, 87, 0.5); }

.e-switch[type="checkbox"].danger:checked + label::before,
.e-switch[type="checkbox"].danger:checked + label:before {
    background-color: #f64669; }

.e-switch[type="checkbox"]:disabled.danger:checked + label::before {
    background-color: rgba(246, 70, 105, 0.5); }

.e-switch[type="checkbox"].light:checked + label::before,
.e-switch[type="checkbox"].light:checked + label:before {
    background-color: #f5f5f5; }

.e-switch[type="checkbox"]:disabled.light:checked + label::before {
    background-color: rgba(245, 245, 245, 0.5); }

.e-switch[type="checkbox"].dark:checked + label::before,
.e-switch[type="checkbox"].dark:checked + label:before {
    background-color: #343a40; }

.e-switch[type="checkbox"]:disabled.dark:checked + label::before {
    background-color: rgba(52, 58, 64, 0.5); }

.e-table.borderless td, .e-table.borderless th, .e-table.borderless tr {
    border: 0 !important; }

.e-table.narrowed td,
.e-table.narrowed th {
    padding: .25em .5em; }

.e-thead.light {
    background: #e9ecef; }

table.e-table tbody tr.selected {
    background-color: #1da1f2; }

tr.table-row-selectable:hover {
    cursor: pointer; }

.e-table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; }

.e-table-responsive > .bordered {
    border: 0; }

.e-tabs.vertical ul {
    -webkit-flex-direction: column;
    flex-direction: column; }

.e-tabs.vertical li {
    width: 100%; }
    .e-tabs.vertical li > a {
        width: 100%; }

.e-tabs ul li a {
    cursor: pointer; }

.e-tabs-content > .e-tabs-panel {
    display: none; }

.e-tabs-content > .e-tabs-panel {
    display: none; }

.e-tabs-content > .active {
    display: block;
    background-color: inherit !important; }

code {
    color: #ff3860;
    padding: .25em .5em .25em; }
