.e-table.borderless td, .e-table.borderless th, .e-table.borderless tr {
    border: 0 !important; }

.e-table.narrowed td,
.e-table.narrowed th {
    padding: .25em .5em; }

.e-thead.light {
    background: #e9ecef; }

table.e-table tbody tr.selected {
    background-color: #1da1f2; }

code {
    color: #ff3860;
    padding: .25em .5em .25em; }

select.e-select {
    width: 100%; }

.e-tabs.vertical ul {
    -webkit-flex-direction: column;
    flex-direction: column; }

.e-tabs.vertical li {
    width: 100%; }

.e-tabs.vertical li > a {
    width: 100%; }

.e-tabs-content > .e-tabs-panel {
    display: none; }

.e-tabs-content > .e-tabs-panel {
    display: none; }

.e-tabs-content > .active {
    display: block;
    background-color: inherit !important; }

.e-form-group .e-dropdown {
    margin: 0; }

.drop-items-right {
    right: 0;
    left: auto; }

@-webkit-keyframes spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); } }

@keyframes spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); } }

.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite; }

.spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: 0.2em; }

@-webkit-keyframes spinner-grow {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0); }
    50% {
        opacity: 1; } }

@keyframes spinner-grow {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0); }
    50% {
        opacity: 1; } }

.spinner-grow {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: spinner-grow .75s linear infinite;
    animation: spinner-grow .75s linear infinite; }

.spinner-grow-sm {
    width: 1rem;
    height: 1rem; }

.e-form-group > .e-label-pointer,
.e-form-group > .e-label-pointer > .e-check-pointer {
    cursor: pointer; }

.collapse:not(.show) {
    display: none; }

.accordion > .e-card {
    overflow: hidden; }

.accordion > .e-card:not(:first-of-type) .e-card-body:first-child {
    border-radius: 0; }

.accordion > .e-card:not(:first-of-type):not(:last-of-type) {
    border-bottom: 0;
    border-radius: 0; }

.accordion > .e-card:first-of-type:not(:last-of-type) {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }

.accordion > .e-card:last-of-type {
    border-top-left-radius: 0; }

.accordion > .e-card .e-card-body {
    margin-bottom: 1px; }

.e-figure {
    display: inline-block; }

.e-figure-img {
    margin-bottom: 1rem / 2;
    line-height: 1; }

.e-figure-caption {
    font-size: 90%;
    color: #6c757d; }

.e-rounded {
    border-radius: 0.25rem !important; }

.e-figure-is-16x16 {
    height: 16px;
    width: 16px; }

.e-figure-is-24x24 {
    height: 24px;
    width: 24px; }

.e-figure-is-32x32 {
    height: 32px;
    width: 32px; }

.e-figure-is-48x48 {
    height: 48px;
    width: 48px; }

.e-figure-is-64x64 {
    height: 64px;
    width: 64px; }

.e-figure-is-96x96 {
    height: 96px;
    width: 96px; }

.e-figure-is-128x128 {
    height: 128px;
    width: 128px; }

.e-figure-is-256x256 {
    height: 256px;
    width: 256px; }

.e-figure-is-512x512 {
    height: 512px;
    width: 512px; }
