.e-table.borderless td,
.e-table.borderless th,
.e-table.borderless tr {
    border: 0 !important;
}

.e-table.narrowed td,
.e-table.narrowed th {
    padding: .25em .5em;
}

.e-thead.light {
    background: #e9ecef;
}

table.e-table tbody tr.selected {
    background-color: #1da1f2;
}

code {
    color: #ff3860;
    padding: .25em .5em .25em;
}

select.e-select {
    width: 100%;
}

.e-tabs.vertical ul {
    -webkit-flex-direction: column;
    flex-direction: column;
}

.e-tabs.vertical li {
    width: 100%;
}

    .e-tabs.vertical li > a {
        width: 100%;
    }

.e-tabs-content > .e-tabs-panel {
    display: none;
}

.e-tabs-content > .e-tabs-panel {
    display: none;
}

.e-tabs-content > .active {
    display: block;
    background-color: inherit !important;
}

.e-form-group .e-dropdown {
    margin: 0;
}


@-webkit-keyframes spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

.spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: 0.2em;
}

@-webkit-keyframes spinner-grow {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        opacity: 1;
    }
}

@keyframes spinner-grow {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        opacity: 1;
    }
}

.spinner-grow {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: spinner-grow .75s linear infinite;
    animation: spinner-grow .75s linear infinite;
}

.spinner-grow-sm {
    width: 1rem;
    height: 1rem;
}
