@namespace Blazorise.Docs.Docs.Examples

<Div Width="Width.Px().Max( 520 )" Background="Background.Light" Border="Border.Is1.Secondary.Subtle" Padding="Padding.Is3">
    <Div Width="Width.Px( 260 ).Min( 180 ).Max( 360 )"
         Height="Height.Rem(6).Min(4).Max(8)"
         Padding="Padding.Is2"
         Margin="Margin.Is2.FromBottom"
         Background="Background.Secondary.Subtle"
         Border="Border.Is1.Secondary"
         TextColor="TextColor.Secondary.Emphasis">
        Width.Px(260).Min(180).Max(360)
        <br />
        Height.Rem(6).Min(4).Max(8)
    </Div>
    <Div Width="Width.Vw( 35 ).Min( 25 ).Max( 55 )"
         Height="Height.Vh(20).Min(12).Max(30)"
         Padding="Padding.Is2"
         Background="Background.Warning.Subtle"
         Border="Border.Is1.Warning"
         TextColor="TextColor.Warning.Emphasis">
        Width.Vw(35).Min(25).Max(55)
        <br />
        Height.Vh(20).Min(12).Max(30)
    </Div>
</Div>