@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --b-bar-horizontal-height: 88px;
}

.b-accordion > .b-collapse:not(:first-child) > .b-collapse-header .b-accordion-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.b-accordion > .b-collapse:not(:last-child) > .b-collapse-header .b-accordion-button {
  border-bottom-width: 0;
}
.b-accordion > .b-accordion-item:not(:first-child) > .b-accordion-header .b-accordion-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.b-accordion > .b-accordion-item:not(:last-child) > .b-accordion-header .b-accordion-button {
  border-bottom-width: 0;
}

.b-addons > .b-addon-body:not(:last-child) > input,
.b-addons > .b-addon-body:not(:last-child) > div.flatpickr-wrapper > input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.b-addons > .b-addon-body:not(:last-child) > select {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.b-addons > .b-addon-body:not(:first-child):not(.b-dropdown-menu) > input,
.b-addons > .b-addon-body:not(:first-child):not(.b-dropdown-menu) > div.flatpickr-wrapper > input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.b-addons > .b-addon-body:not(:first-child):not(.b-dropdown-menu) > select {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.b-addons > .b-addon-start button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 100%;
}
.b-addons > .b-addon-end button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 100%;
}
.b-addons > .b-addon-body > input,
.b-addons > .b-addon-body > div.flatpickr-wrapper {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}
.b-addons > .b-addon-body:not(:first-child):not(.b-dropdown-menu) + .b-addon-body:not(:first-child):not(.b-dropdown-menu) > input,
.b-addons > .b-addon-body:not(:first-child):not(.b-dropdown-menu) + .b-addon-body:not(:first-child):not(.b-dropdown-menu) > div.flatpickr-wrapper > input {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.b-addons > .b-addon-body + .b-addon-end:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.b-bar-horizontal .b-bar-dropdown > .b-bar-dropdown-toggle > .b-bar-dropdown-toggle-arrow {
  transition: transform 200ms ease-out;
}
.b-bar-horizontal .b-bar-dropdown > .b-bar-dropdown-toggle[aria-expanded=true] > svg.b-bar-dropdown-toggle-arrow {
  transform: rotate(180deg);
}
.b-bar-horizontal .b-bar-dropdown .b-bar-dropdown-menu > ul > .b-bar-dropdown > .b-bar-dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0rem;
  margin-right: 0.1rem;
}

.b-breadcrumb .b-breadcrumb-item:first-child > div > svg {
  display: none;
}
.b-breadcrumb .b-breadcrumb-item:first-child > div > span {
  margin-left: 0;
}

.b-card-group > .b-card {
  flex: 1 0 0%;
}
.b-card-group > .b-card + .b-card {
  margin-left: 0;
  border-left: 0;
}
.b-card-group > .b-card:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.b-card-group > .b-card:not(:last-child) .b-card-image,
.b-card-group > .b-card:not(:last-child) .b-card-image > img,
.b-card-group > .b-card:not(:last-child) .b-card-header {
  border-top-right-radius: 0;
}
.b-card-group > .b-card:not(:last-child) .b-card-image,
.b-card-group > .b-card:not(:last-child) .b-card-image > img,
.b-card-group > .b-card:not(:last-child) .b-card-footer {
  border-bottom-right-radius: 0;
}
.b-card-group > .b-card:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.b-card-group > .b-card:not(:first-child) .b-card-image, .b-card-group > .b-card:not(:first-child) .b-card-image > img,
.b-card-group > .b-card:not(:first-child) .b-card-header {
  border-top-left-radius: 0;
}
.b-card-group > .b-card:not(:first-child) .b-card-image, .b-card-group > .b-card:not(:first-child) .b-card-image > img,
.b-card-group > .b-card:not(:first-child) .b-card-footer {
  border-bottom-left-radius: 0;
}

.b-card-deck > .b-card {
  flex: 1 0 0%;
}

.b-carousel-fade .b-carousel-slide {
  opacity: 0;
  transition-property: opacity;
  transform: none;
}
.b-carousel-fade .b-carousel-slide.b-carousel-slide-active,
.b-carousel-fade .b-carousel-slide-next.b-carousel-slide-start,
.b-carousel-fade .b-carousel-slide-prev.b-carousel-slide-end {
  z-index: 1;
  opacity: 1;
}
.b-carousel-fade .b-carousel-slide-active.b-carousel-slide-start,
.b-carousel-fade .b-carousel-slide-active.b-carousel-slide-end {
  z-index: 0;
  opacity: 0;
  transition: opacity 0s 0.6s;
}
@media (prefers-reduced-motion: reduce) {
  .b-carousel-fade .b-carousel-slide-active.b-carousel-slide-start,
  .b-carousel-fade .b-carousel-slide-active.b-carousel-slide-end {
    transition: none;
  }
}

.b-dropdown.b-dropdown-group > .b-button:not(:last-child):not(.b-dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.b-dropdown.b-dropdown-group > .b-button + .b-button.b-dropdown-toggle > .b-dropdown-toggle-arrow {
  margin-left: 0;
}

.b-button-group:not(.b-button-group-vertical) > .b-dropdown:first-child > .b-dropdown-toggle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.b-button-group:not(.b-button-group-vertical) > .b-dropdown:last-child > .b-dropdown-toggle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.b-dropdown {
  position: relative;
}
.b-dropdown.b-dropdown-disabled.b-is-autocomplete {
  background-color: var(--b-theme-light, #f5f5f5);
}
.b-dropdown .b-dropdown-toggle-arrow {
  transition: transform 200ms ease-out;
}
.b-dropdown > .b-dropdown-toggle[aria-expanded=true] > svg.b-dropdown-toggle-arrow {
  transform: rotate(180deg);
}
.b-dropdown > .b-dropdown-menu > ul > .b-dropdown.b-dropdown-submenu:not(.dropup, .dropleft, .dropright) {
  position: relative;
}
.b-dropdown > .b-dropdown-menu > ul > .b-dropdown.b-dropdown-submenu:not(.dropup, .dropleft, .dropright) > .b-dropdown-menu > ul {
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
}
.b-dropdown > .b-dropdown-menu > ul > .b-dropdown.b-dropdown-submenu.dropup .b-dropdown-toggle::after, .b-dropdown > .b-dropdown-menu > ul > .b-dropdown.b-dropdown-submenu.dropleft .b-dropdown-toggle::after, .b-dropdown > .b-dropdown-menu > ul > .b-dropdown.b-dropdown-submenu.dropright .b-dropdown-toggle::after {
  position: absolute;
  right: 10%;
  top: 45%;
}
.b-dropdown.dropup > .b-dropdown-toggle-submenu[aria-expanded=true] > svg.b-dropdown-toggle-arrow {
  transform: rotate(0deg);
}
.b-dropdown.dropup > .b-dropdown-toggle-submenu[aria-expanded=false] > svg.b-dropdown-toggle-arrow {
  transform: rotate(180deg);
}
.b-dropdown.dropup > .b-dropdown-menu > ul {
  top: auto;
  left: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: 0.125rem;
}
.b-dropdown.dropright > .b-dropdown-toggle-submenu[aria-expanded=true] > svg.b-dropdown-toggle-arrow {
  transform: rotate(90deg);
}
.b-dropdown.dropright > .b-dropdown-toggle-submenu[aria-expanded=false] > svg.b-dropdown-toggle-arrow {
  transform: rotate(-90deg);
}
.b-dropdown.dropright > .b-dropdown-menu > ul {
  top: 0%;
  right: auto;
  left: 100%;
  bottom: auto;
  margin-top: 0;
  margin-left: 0.125rem;
}
.b-dropdown.dropleft > .b-dropdown-toggle-submenu[aria-expanded=true] > svg.b-dropdown-toggle-arrow {
  transform: rotate(-90deg);
}
.b-dropdown.dropleft > .b-dropdown-toggle-submenu[aria-expanded=false] > svg.b-dropdown-toggle-arrow {
  transform: rotate(90deg);
}
.b-dropdown.dropleft > .b-dropdown-menu > ul {
  top: 0%;
  right: 100%;
  left: auto;
  bottom: auto;
  margin-top: 0;
  margin-right: 0.125rem;
}

.b-is-autocomplete {
  width: 100%;
}
.b-is-autocomplete .b-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: var(--autocomplete-menu-max-height, 200px);
  overflow-y: scroll;
}
.b-is-autocomplete.b-is-autocomplete-multipleselection {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  width: 100%;
  cursor: text;
  min-height: calc(1.5em + 0.75rem + 2px);
  height: auto;
  border: 1px solid var(--btw-color-gray-300);
  border-radius: 0.5rem;
}
.b-is-autocomplete.b-is-autocomplete-multipleselection > input:not(.border-green-500, .border-red-500) {
  border: none;
}
.b-is-autocomplete.b-is-autocomplete-multipleselection > input {
  display: inline-block;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  max-width: inherit;
  width: auto;
  flex-grow: 1;
}
.b-is-autocomplete.b-is-autocomplete-multipleselection > .b-badge {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  line-height: 1.5;
  flex-grow: initial;
}
.b-is-autocomplete.b-is-autocomplete-multipleselection .b-dropdown-menu {
  top: 100%;
}
.b-is-autocomplete.b-is-autocomplete-multipleselection.focus {
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/ );
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: var(--btw-color-primary-500);
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  border-color: var(--btw-color-primary-500);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.b-modal {
  display: none;
}
.b-modal.b-modal-fade.flex {
  animation: modal-slidein var(--modal-animation-duration, 300ms) linear;
}
.b-modal.b-modal-fade:not(.flex) {
  animation: modal-slideaway var(--modal-animation-duration, 300ms) linear;
}

@keyframes modal-slidein {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes modal-slideaway {
  from {
    display: flex;
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.pagination > li.pagination-item:first-child > * {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.pagination > li.pagination-item:last-child > * {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.pagination > li.pagination-item:not(:first-child):not(:last-child) > * {
  border-radius: 0;
}

@keyframes progress-bar-stripes {
  0% {
    background-position-x: 1rem;
  }
}
.bg-striped {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}

.bg-striped-animated {
  animation: 1s linear infinite progress-bar-stripes;
}

.progress-bar-indeterminate {
  animation: progress 1s infinite linear;
  transform-origin: 0% 50%;
}

@keyframes progress {
  0% {
    transform: translateX(0) scaleX(0);
  }
  40% {
    transform: translateX(0) scaleX(0.4);
  }
  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}
.b-skeleton .b-skeleton-item {
  position: relative;
}
.b-skeleton.animate-wave {
  mask-image: linear-gradient(130deg, #000 55%, rgba(0, 0, 0, 0.8) 75%, #000 95%);
  mask-size: 200% 100%;
  animation: skeleton-wave-anim 2s linear infinite;
}

@keyframes skeleton-wave-anim {
  100% {
    mask-position: -200% 0%;
  }
}
.b-steps .b-step-item:not(:first-child) .b-step-item-head:before {
  flex: 1;
  height: 1px;
  width: 100%;
  margin-right: 0.5rem;
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
}
.b-steps .b-step-item:not(:last-child) .b-step-item-head:after {
  flex: 1;
  height: 1px;
  width: 100%;
  margin-left: 0.5rem;
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
}

.b-table .b-table-resizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  cursor: col-resize;
  user-select: none;
  z-index: 1;
}

tr.b-table-row.b-table-row-selectable:focus[tabindex="0"] {
  outline: none;
}

.b-table-fixed-header {
  overflow-y: auto;
}
.b-table-fixed-header > .b-table {
  border-collapse: separate;
  border-spacing: 0;
}
.b-table-fixed-header > .b-table > thead:not(.table-thead-theme) > tr > th {
  background: white;
}
.b-table-fixed-header > .b-table > thead > tr > th {
  border-top: none;
  position: sticky;
  z-index: 10;
}
.b-table-fixed-header > .b-table > thead > tr:nth-child(1) > th {
  top: 0;
}

.b-table-fixed-columns .b-table {
  table-layout: fixed;
  overflow-x: auto;
  white-space: nowrap;
  border-collapse: separate;
  border-spacing: 0;
  border: 0;
}

td:focus {
  outline: -webkit-focus-ring-color auto 1px;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  .b-table-mobile {
    /* Force table to not be like tables anymore */
    /* Hide table headers (but not display: none;, for accessibility) */
  }
  .b-table-mobile [data-caption]:before {
    content: attr(data-caption);
  }
  .b-table-mobile thead, .b-table-mobile tbody, .b-table-mobile th, .b-table-mobile td, .b-table-mobile tr {
    display: block;
  }
  .b-table-mobile thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .b-table-mobile td, .b-table-mobile th {
    /* Behave  like a "row" */
    position: relative;
    padding-top: 1.5rem !important;
  }
  .b-table-mobile td:before, .b-table-mobile th:before {
    position: absolute;
    top: 0;
    white-space: nowrap;
    font-weight: bold;
  }
  .b-table-mobile:not(.b-table-borderless) tr {
    border-bottom: 1px solid;
  }
}
.b-toast.b-toast-fade.flex {
  animation: toast-slidein var(--toast-animation-duration, 300ms) linear;
}
.b-toast.b-toast-fade:not(.flex) {
  animation: toast-slideaway var(--toast-animation-duration, 300ms) linear;
}

@keyframes toast-slidein {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes toast-slideaway {
  from {
    display: flex;
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
p {
  --tw-text-opacity: 1;
  color: rgb(75 85 99/var(--tw-text-opacity));
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  margin-bottom: 0.75rem;
}

.b-paragraph {
  margin-bottom: 0.75rem;
}

.b-figure-16x16 {
  height: 16px;
  width: 16px;
}

.b-figure-24x24 {
  height: 24px;
  width: 24px;
}

.b-figure-32x32 {
  height: 32px;
  width: 32px;
}

.b-figure-48x48 {
  height: 48px;
  width: 48px;
}

.b-figure-64x64 {
  height: 64px;
  width: 64px;
}

.b-figure-96x96 {
  height: 96px;
  width: 96px;
}

.b-figure-128x128 {
  height: 128px;
  width: 128px;
}

.b-figure-256x256 {
  height: 256px;
  width: 256px;
}

.b-figure-512x512 {
  height: 512px;
  width: 512px;
}

.no-gutters > .pl-2.pr-2,
.no-gutters > [class*=column-] {
  padding-right: 0;
  padding-left: 0;
}
