.addons > :not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.addons > :not(:first-child):not(.dropdown-menu) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.addons > .addon-start button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.addons > .addon-end button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.addons > input:not(:first-child):not(.dropdown-menu) + input:not(:first-child):not(.dropdown-menu) {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.breadcrumb .breadcrumb-item:first-child > div > svg {
  display: none;
}
.breadcrumb .breadcrumb-item:first-child > div > span {
  margin-left: 0;
}

.btn-xl {
  height: 5rem;
  min-height: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.5rem;
}

.dropdown.dropdown-group > .button:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.card .card-body {
  /*flex-direction: row;*/
  /*flex-wrap: wrap;*/
}

@keyframes progress-bar-stripes {
  0% {
    background-position-x: 1rem;
  }
}
.bg-striped {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}

.bg-striped-animated {
  animation: 1s linear infinite progress-bar-stripes;
}

p {
  --tw-text-opacity: 1;
  color: rgb(75 85 99/var(--tw-text-opacity));
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.figure-is-16x16 {
  height: 16px;
  width: 16px;
}

.figure-is-24x24 {
  height: 24px;
  width: 24px;
}

.figure-is-32x32 {
  height: 32px;
  width: 32px;
}

.figure-is-48x48 {
  height: 48px;
  width: 48px;
}

.figure-is-64x64 {
  height: 64px;
  width: 64px;
}

.figure-is-96x96 {
  height: 96px;
  width: 96px;
}

.figure-is-128x128 {
  height: 128px;
  width: 128px;
}

.figure-is-256x256 {
  height: 256px;
  width: 256px;
}

.figure-is-512x512 {
  height: 512px;
  width: 512px;
}

.no-gutters > .pl-2.pr-2,
.no-gutters > [class*=column-] {
  padding-right: 0;
  padding-left: 0;
}

.b-table .b-table-resizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  cursor: col-resize;
  user-select: none;
  z-index: 1;
}
