.b-accordion > .b-collapse:not(:first-child) > .b-collapse-header .b-accordion-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.b-accordion > .b-collapse:not(:last-child) > .b-collapse-header .b-accordion-button {
  border-bottom-width: 0;
}

.addons > :not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.addons > :not(:first-child):not(.dropdown-menu) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.addons > .addon-start button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.addons > .addon-end button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.addons > input:not(:first-child):not(.dropdown-menu) + input:not(:first-child):not(.dropdown-menu) {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.b-bar-horizontal .b-bar-dropdown .b-bar-dropdown-menu > ul > .b-bar-dropdown > .b-bar-dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0rem;
  margin-right: 0.1rem;
}

.breadcrumb .breadcrumb-item:first-child > div > svg {
  display: none;
}
.breadcrumb .breadcrumb-item:first-child > div > span {
  margin-left: 0;
}

.btn-xl {
  height: 5rem;
  min-height: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.5rem;
}

.b-dropdown.b-dropdown-group > .button:not(:last-child):not(.b-dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.b-button-group:not(.b-button-group-vertical) > .b-dropdown:first-child > .b-dropdown-toggle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.b-button-group:not(.b-button-group-vertical) > .b-dropdown:last-child > .b-dropdown-toggle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.b-dropdown {
  position: relative;
}
.b-dropdown > .b-dropdown-menu > ul > .b-dropdown.b-dropdown-submenu:not(.dropup, .dropleft, .dropright) {
  position: relative;
}
.b-dropdown > .b-dropdown-menu > ul > .b-dropdown.b-dropdown-submenu:not(.dropup, .dropleft, .dropright) > .b-dropdown-menu > ul {
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
}
.b-dropdown > .b-dropdown-menu > ul > .b-dropdown.b-dropdown-submenu.dropup .b-dropdown-toggle::after, .b-dropdown > .b-dropdown-menu > ul > .b-dropdown.b-dropdown-submenu.dropleft .b-dropdown-toggle::after, .b-dropdown > .b-dropdown-menu > ul > .b-dropdown.b-dropdown-submenu.dropright .b-dropdown-toggle::after {
  position: absolute;
  right: 10%;
  top: 45%;
}
.b-dropdown.dropup > .b-dropdown-menu > ul {
  top: auto;
  left: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: 0.125rem;
}
.b-dropdown.dropright > .b-dropdown-menu > ul {
  top: 0%;
  right: auto;
  left: 100%;
  bottom: auto;
  margin-top: 0;
  margin-left: 0.125rem;
}
.b-dropdown.dropleft > .b-dropdown-menu > ul {
  top: 0%;
  right: 100%;
  left: auto;
  bottom: auto;
  margin-top: 0;
  margin-right: 0.125rem;
}

.card-group > .card {
  flex: 1 0 0%;
}
.card-group > .card + .card {
  margin-left: 0;
  border-left: 0;
}
.card-group > .card:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.card-group > .card:not(:last-child) .card-image,
.card-group > .card:not(:last-child) .card-image > img,
.card-group > .card:not(:last-child) .card-header {
  border-top-right-radius: 0;
}
.card-group > .card:not(:last-child) .card-image,
.card-group > .card:not(:last-child) .card-image > img,
.card-group > .card:not(:last-child) .card-footer {
  border-bottom-right-radius: 0;
}
.card-group > .card:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.card-group > .card:not(:first-child) .card-image, .card-group > .card:not(:first-child) .card-image > img,
.card-group > .card:not(:first-child) .card-header {
  border-top-left-radius: 0;
}
.card-group > .card:not(:first-child) .card-image, .card-group > .card:not(:first-child) .card-image > img,
.card-group > .card:not(:first-child) .card-footer {
  border-bottom-left-radius: 0;
}

.card-deck > .card {
  flex: 1 0 0%;
}

.pagination > li.pagination-item:first-child > * {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.pagination > li.pagination-item:last-child > * {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.pagination > li.pagination-item:not(:first-child):not(:last-child) > * {
  border-radius: 0;
}

@keyframes progress-bar-stripes {
  0% {
    background-position-x: 1rem;
  }
}
.bg-striped {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}

.bg-striped-animated {
  animation: 1s linear infinite progress-bar-stripes;
}

.steps .step-item:not(:first-child) .step-item-head:before {
  flex: 1;
  height: 1px;
  width: 100%;
  margin-right: 0.5rem;
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
}
.steps .step-item:not(:last-child) .step-item-head:after {
  flex: 1;
  height: 1px;
  width: 100%;
  margin-left: 0.5rem;
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
}

.b-table .b-table-resizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  cursor: col-resize;
  user-select: none;
  z-index: 1;
}

.b-table-fixed-header {
  overflow-y: auto;
}
.b-table-fixed-header > .b-table {
  border-collapse: separate;
  border-spacing: 0;
}
.b-table-fixed-header > .b-table > thead:not(.table-thead-theme) > tr > th {
  background: white;
}
.b-table-fixed-header > .b-table > thead > tr > th {
  border-top: none;
  position: sticky;
  z-index: 10;
}
.b-table-fixed-header > .b-table > thead > tr:nth-child(1) > th {
  top: 0;
}

p {
  --tw-text-opacity: 1;
  color: rgb(75 85 99/var(--tw-text-opacity));
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.figure-is-16x16 {
  height: 16px;
  width: 16px;
}

.figure-is-24x24 {
  height: 24px;
  width: 24px;
}

.figure-is-32x32 {
  height: 32px;
  width: 32px;
}

.figure-is-48x48 {
  height: 48px;
  width: 48px;
}

.figure-is-64x64 {
  height: 64px;
  width: 64px;
}

.figure-is-96x96 {
  height: 96px;
  width: 96px;
}

.figure-is-128x128 {
  height: 128px;
  width: 128px;
}

.figure-is-256x256 {
  height: 256px;
  width: 256px;
}

.figure-is-512x512 {
  height: 512px;
  width: 512px;
}

.no-gutters > .pl-2.pr-2,
.no-gutters > [class*=column-] {
  padding-right: 0;
  padding-left: 0;
}
