.blockquote {
    background-color: var(--bulma-content-blockquote-background-color, var(--bulma-background));
    border-inline-start: var(--bulma-content-blockquote-border-left, 5px solid var(--bulma-border));
    padding: var(--bulma-content-blockquote-padding, 1.25em 1.5em);

    &:not(:last-child) {
        margin-bottom: var(--bulma-content-block-margin-bottom, 1em);
    }
}

.blockquote-footer {
    &::before {
        content: "\2014\00A0"; // em dash, nbsp
    }
}
