.collapse {
    &:not(.show) {
        display: none;
    }
}

.accordion {
    > .card {
        overflow: hidden;

        &:not(:first-of-type) {
            .card-header:first-child {
                border-radius: 0;
            }

            &:not(:last-of-type) {
                border-bottom: 0;
                border-radius: 0;
            }
        }

        &:first-of-type:not(:last-of-type) {
            border-bottom: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:last-of-type {
            border-top-left-radius: 0;
        }

        .card-header {
            margin-bottom: 1px;
        }
    }
}
