a.is-link-unstyled {
    text-decoration: none;
    color: inherit;
}

.is-link-stretched {
    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        content: "";
    }
}
