a {
    &.is-link-unstyled {
        text-decoration: none;
        color: inherit;
    }

    &.is-link-disabled {
        &[aria-disabled="true"] {
            pointer-events: none;
            opacity: .65;
        }
    }
}

.is-link-stretched {
    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        content: "";
    }
}
