.resize-handle {
    --b-resize-handle-hit-area: .5rem;
    --b-resize-handle-focus-size: 2px;
    --b-resize-handle-focus-color: var(--b-theme-primary, #00d1b2);
    position: absolute;
    z-index: 10;
    padding: 0;
    border: 0;
    background: transparent;
    user-select: none;
    touch-action: none;
    outline: none;

    &::before {
        content: "";
        position: absolute;
        background-color: transparent;
        pointer-events: none;
    }

    &.is-vertical {
        top: 0;
        bottom: 0;
        width: var(--b-resize-handle-hit-area);
        cursor: col-resize;

        &::before {
            top: 0;
            bottom: 0;
            left: 50%;
            width: var(--b-resize-handle-focus-size);
            transform: translateX(-50%);
        }
    }

    &.is-horizontal {
        right: 0;
        left: 0;
        height: var(--b-resize-handle-hit-area);
        cursor: row-resize;

        &::before {
            top: 50%;
            right: 0;
            left: 0;
            height: var(--b-resize-handle-focus-size);
            transform: translateY(-50%);
        }
    }

    &.is-top {
        top: 0;
    }

    &.is-bottom {
        bottom: 0;
    }

    &.is-start {
        inset-inline-start: 0;
    }

    &.is-end {
        inset-inline-end: 0;
    }

    &:focus-visible::before {
        background-color: var(--b-resize-handle-focus-color);
    }

    &.is-resizing:focus-visible::before {
        background-color: transparent;
    }

    &.is-disabled {
        pointer-events: none;
        opacity: .5;
    }
}

.is-resize-target-resizing {
    transition: none !important;
}

@media (pointer: coarse) {
    .resize-handle {
        --b-resize-handle-hit-area: 1rem;
    }
}
