.tab-pane {
    display: none;

    &.is-active {
        display: block;
    }
}

.tabs {
    &.is-vertical ul {
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    &.is-vertical li {
        width: 100%;
    }

    &.is-vertical li > a {
        border: none;
    }
}
