.tab-pane {
    display: none;

    &.is-active {
        display: block;
    }
}

.tabs {
    &.is-vertical {
        ul {
            -webkit-flex-direction: column;
            flex-direction: column;
        }

        li {
            width: 100%;

            > a {
                border: none;
            }
        }
    }
}
