@namespace Blazorise.Docs.Docs.Examples

<Splitter Style="height: 100px;" GutterSize="32" GutterBackgroundImage="assets/img/icons/resize-horizontal-30.png">
    <SplitterSection>
        <div>Hello!</div>
    </SplitterSection>
    <SplitterSection>
        <div>World!</div>
    </SplitterSection>
</Splitter>