@namespace Blazorise.Docs.Docs.Examples

<Splitter Style="height: 100px;">
    <SplitterSection MinSize="50">
        <div>Hello!</div>
    </SplitterSection>
    <SplitterSection>
        <div>World!</div>
    </SplitterSection>
</Splitter>