@namespace Blazorise.Docs.Docs.Examples

<Splitter Direction="SplitDirection.Vertical" Style="height: 250px;">
    <SplitterSection>
        <div>Hello!</div>
    </SplitterSection>
    <SplitterSection>
        <div>World!</div>
    </SplitterSection>
</Splitter>