@namespace Blazorise.Docs.Docs.Examples

<Splitter Style="height: 100px;" GutterSize="50">
    <SplitterSection>
        <div>Hello!</div>
    </SplitterSection>
    <SplitterSection>
        <div>World!</div>
    </SplitterSection>
</Splitter>