@namespace Blazorise
@inherits BaseComponent
<CascadingValue Value="@this" IsFixed="true">
    <span>
        @for ( int i = 1; i <= MaxValue; i++ )
        {
            <RatingItem Class="@RatingItemsClass" Style="@RatingItemsStyle"
                        Value="@i"
                        Color="Color"
                        Disabled="Disabled"
                        ReadOnly="ReadOnly"
                        ItemClicked="HandleItemClicked"
                        ItemHovered="HandleItemHovered" />
        }
    </span>
</CascadingValue>