.fui-Input {
    --fui-addon-icon-size: var(--fontSizeBase500);

    .fui-Input__contentBefore,
    .fui-Input__contentAfter {
        align-items: center;
        align-self: stretch;
        box-sizing: border-box;
        color: var(--colorNeutralForeground3);
        display: flex;

        button.fui-Button {
            align-self: stretch;
            background-color: var(--colorNeutralBackground1);
            color: var(--colorNeutralForeground1);
            border: none;
            font-family: inherit;
            font-size: inherit;
            font-weight: var(--fontWeightSemibold);
            line-height: inherit;
            padding-bottom: 0;
            padding-top: 0;
            cursor: pointer;

            > :is(i, .fluentui-icon) {
                font-size: var(--fui-addon-icon-size);
            }

            > svg {
                width: var(--fui-addon-icon-size);
                height: var(--fui-addon-icon-size);
            }

            &:hover {
                background-color: var(--colorTransparentBackgroundHover);
                color: var(--colorNeutralForeground2BrandHover);
            }
        }

        @each $color, $value in $background-theme-colors {
            button.fui-Button-#{$color} {
                &:hover {
                    background-color: var(--colorTransparentBackgroundHover);
                    color: var(--colorNeutralForeground2BrandHover);
                }
            }
        }
    }

    .fui-Input__content {
        align-self: stretch;
        flex-wrap: nowrap;
        position: relative;
        box-sizing: border-box;
        align-items: center;
        display: flex;
        font-family: var(--fontFamilyBase);
        flex-grow: 1;
        min-width: 0;

        .fui-Select__select {
            align-self: stretch;
            height: auto;
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;
            padding-left: var(--spacingHorizontalXXS);
            padding-right: calc(var(--fontSizeBase500) + var(--spacingHorizontalXXS) + var(--spacingHorizontalXXS));
        }

        .fui-Select__select,
        .fui-Select__select:focus {
            border-bottom-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;
            border-top-color: transparent;
        }
    }

    &.fui-Input-xs {
        --fui-addon-icon-size: var(--fontSizeBase200);
    }

    &.fui-Input-sm {
        --fui-addon-icon-size: var(--fontSizeBase400);
    }

    &.fui-Input-xs,
    &.fui-Input-sm {
        .fui-Input__content .fui-Select__select {
            padding-left: var(--spacingHorizontalXXS);
            padding-right: calc(var(--fontSizeBase400) + var(--spacingHorizontalXXS) + var(--spacingHorizontalXXS));
        }
    }

    &.fui-Input-md,
    &.fui-Input-lg {
        --fui-addon-icon-size: var(--fontSizeBase600);
    }

    &.fui-Input-xl {
        --fui-addon-icon-size: calc(var(--fontSizeBase600) + var(--spacingHorizontalXS));
    }

    &.fui-Input-md,
    &.fui-Input-lg,
    &.fui-Input-xl {
        .fui-Input__content .fui-Select__select {
            padding-left: var(--spacingHorizontalSNudge);
            padding-right: calc(var(--fontSizeBase600) + var(--spacingHorizontalSNudge) + var(--spacingHorizontalSNudge));
        }
    }
}
