@keyframes alert-slide-away {
    from {
        display: block;
    }

    to {
        transform: translateY(-1rem);
        opacity: 0;
    }
}

.fui-MessageBar {
    --b-fui-alert-color: inherit;
    --b-fui-alert-bg: var(--colorNeutralBackground3);
    --b-fui-alert-border-color: var(--colorNeutralStroke1);
    --b-fui-alert-icon-color: var(--colorNeutralForeground3);
    --b-fui-alert-link-color: var(--b-fui-alert-color);
    position: relative;
    align-items: center;
    padding-left: var(--spacingHorizontalM);
    padding-right: var(--spacingHorizontalM);
    padding-top: var(--spacingVerticalS);
    padding-bottom: var(--spacingVerticalS);
    border-top-width: var(--strokeWidthThin);
    border-right-width: var(--strokeWidthThin);
    border-bottom-width: var(--strokeWidthThin);
    border-left-width: var(--strokeWidthThin);
    border-style: solid;
    border-top-color: var(--b-fui-alert-border-color);
    border-right-color: var(--b-fui-alert-border-color);
    border-bottom-color: var(--b-fui-alert-border-color);
    border-left-color: var(--b-fui-alert-border-color);
    border-bottom-right-radius: var(--borderRadiusMedium);
    border-bottom-left-radius: var(--borderRadiusMedium);
    border-top-right-radius: var(--borderRadiusMedium);
    border-top-left-radius: var(--borderRadiusMedium);
    min-height: 36px;
    box-sizing: border-box;
    color: var(--b-fui-alert-color);
    background-color: var(--b-fui-alert-bg);
    margin-bottom: var(--spacingVerticalM);

    &-closable {
        padding-right: 4rem;
    }

    &.fui-Display-none {
        animation: alert-slide-away var(--durationNormal);
    }

    .fui-MessageBar__description {
        display: inline-flex;
        align-items: center;
        font-family: var(--fontFamilyBase);
        font-size: var(--fontSizeBase300);
        font-weight: var(--fontWeightRegular);
        line-height: var(--lineHeightBase300);
        padding-right: var(--spacingHorizontalS);
    }

    .fui-MessageBar__message {
        display: inline-flex;
        align-items: center;
        font-family: var(--fontFamilyBase);
        font-size: var(--fontSizeBase300);
        font-weight: var(--fontWeightRegular);
        line-height: var(--lineHeightBase300);
        padding-right: var(--spacingHorizontalS);
    }

    .fui-MessageBar__title {
        font-family: var(--fontFamilyBase);
        font-size: var(--fontSizeBase300);
        font-weight: var(--fontWeightSemibold);
        line-height: var(--lineHeightBase300);
    }

    .fui-MessageBar__icon {
        font-size: var(--fontSizeBase500);
        margin-right: var(--spacingHorizontalS);
        color: var(--b-fui-alert-icon-color);
        display: inline-flex;
        align-items: center;
    }

    .fui-MessageBarActions {
        display: flex;
        column-gap: var(--spacingHorizontalM);
        padding-right: var(--spacingHorizontalM);
    }

    .fui-MessageBarActions__containerAction {
        padding-right: var(--spacingHorizontalM);
        position: absolute;
        top: var(--spacingVerticalS);
        right: 0;
    }

    &-primary {
        --b-fui-alert-bg: var(--colorBrandBackground2);
        --b-fui-alert-border-color: var(--colorBrandStroke2);
        --b-fui-alert-icon-color: var(--colorBrandForeground2);
    }

    &-secondary {
        --b-fui-alert-bg: var(--colorNeutralBackground3);
        --b-fui-alert-border-color: var(--colorNeutralStroke1);
        --b-fui-alert-icon-color: var(--colorNeutralForeground3);
    }

    &-success {
        --b-fui-alert-bg: var(--colorStatusSuccessBackground1);
        --b-fui-alert-border-color: var(--colorStatusSuccessBorder1);
        --b-fui-alert-icon-color: var(--colorStatusSuccessForeground1);
    }

    &-danger {
        --b-fui-alert-bg: var(--colorStatusDangerBackground1);
        --b-fui-alert-border-color: var(--colorStatusDangerBorder1);
        --b-fui-alert-icon-color: var(--colorStatusDangerForeground1);
    }

    &-warning {
        --b-fui-alert-bg: var(--colorStatusWarningBackground1);
        --b-fui-alert-border-color: var(--colorStatusWarningBorder1);
        --b-fui-alert-icon-color: var(--colorStatusWarningForeground3);
    }

    &-info {
    }

    &-light {
        --b-fui-alert-bg: var(--colorNeutralBackground1);
        --b-fui-alert-border-color: var(--colorNeutralStroke1);
    }

    &-dark {
        --b-fui-alert-color: var(--colorNeutralBackground1);
        --b-fui-alert-bg: var(--colorNeutralForeground3);
        --b-fui-alert-border-color: var(--colorNeutralStroke2);
        --b-fui-alert-icon-color: var(--colorNeutralBackground1);
    }

    &-link {
        --b-fui-alert-color: var(--colorBrandForegroundLink);
        --b-fui-alert-bg: var(--colorTransparentBackground);
        --b-fui-alert-border-color: var(--colorTransparentStroke);
        --b-fui-alert-icon-color: var(--colorBrandForegroundLink);
        --b-fui-alert-link-color: var(--colorBrandForegroundLink);
    }

    .alert-link {
        color: var(--b-fui-alert-link-color);
    }
}
