button {
    font: inherit;
}

.fui-Button {
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    text-decoration-line: none;
    vertical-align: middle;
    margin: 0px;
    /*overflow: hidden;*/
    background-color: var(--colorNeutralBackground1);
    color: var(--colorNeutralForeground1);
    border: var(--strokeWidthThin) solid var(--colorNeutralStroke1);
    font-family: var(--fontFamilyBase);
    outline-style: none;
    min-height: 32px;
    padding: 0 var(--spacingHorizontalM);
    border-radius: var(--borderRadiusMedium);
    font-size: var(--fontSizeBase300);
    font-weight: var(--fontWeightSemibold);
    line-height: var(--lineHeightBase300);
    transition-duration: var(--durationFaster);
    transition-property: background-color, border-color, color, box-shadow;
    transition-timing-function: var(--curveEasyEase);
    user-select: none;

    &:has(> :is(i, svg):only-child:not([class*="fui-Margin"])) {
        inline-size: 32px;
        padding-inline: 0;
    }

    &:hover {
        background-color: var(--colorNeutralBackground1Hover);
        border-color: var(--colorNeutralStroke1Hover);
        color: var(--colorNeutralForeground1Hover);
        cursor: pointer;

        &:active,
        &.fui-Button-active {
            background-color: var(--colorNeutralBackground1Pressed);
            border-color: var(--colorNeutralStroke1Pressed);
            color: var(--colorNeutralForeground1Pressed);
            outline-style: none;
        }
    }

    &.fui-Button-disabled,
    &:disabled {
        cursor: not-allowed;
        color: var(--colorNeutralForegroundDisabled);
        border-color: var(--colorNeutralStrokeDisabled);
        background-color: var(--colorNeutralBackgroundDisabled);

        &:active,
        &.fui-Button-active {
            color: var(--colorNeutralForegroundDisabled);
            background-color: var(--colorNeutralBackgroundDisabled);
            border-color: transparent;
        }
    }

    &.fui-Button-xs {
        min-height: 20px;
        padding: 0 var(--spacingHorizontalXS);
        font-weight: var(--fontWeightRegular);
        font-size: var(--fontSizeBase100);
        border-radius: var(--borderRadiusSmall);
        line-height: var(--lineHeightBase100);

        &:has(> :is(i, svg):only-child:not([class*="fui-Margin"])) {
            inline-size: 20px;
        }
    }

    &.fui-Button-sm {
        min-height: 24px;
        padding: 0 var(--spacingHorizontalS);
        font-weight: var(--fontWeightRegular);
        font-size: var(--fontSizeBase200);
        border-radius: var(--borderRadiusSmall);
        line-height: var(--lineHeightBase200);

        &:has(> :is(i, svg):only-child:not([class*="fui-Margin"])) {
            inline-size: 24px;
        }
    }

    &.fui-Button-md {
        min-height: 36px;
        padding: 0 var(--spacingHorizontalM);
        font-weight: var(--fontWeightSemibold);
        font-size: var(--fontSizeBase400);
        border-radius: var(--borderRadiusMedium);
        line-height: var(--lineHeightBase400);

        &:has(> :is(i, svg):only-child:not([class*="fui-Margin"])) {
            inline-size: 36px;
        }
    }

    &.fui-Button-lg {
        min-height: 40px;
        padding: 0 var(--spacingHorizontalL);
        font-weight: var(--fontWeightSemibold);
        font-size: var(--fontSizeBase400);
        border-radius: var(--borderRadiusLarge);
        line-height: var(--lineHeightBase400);

        &:has(> :is(i, svg):only-child:not([class*="fui-Margin"])) {
            inline-size: 40px;
        }
    }

    &.fui-Button-xl {
        min-height: 48px;
        padding: 0 var(--spacingHorizontalXL);
        font-weight: var(--fontWeightSemibold);
        font-size: var(--fontSizeBase500);
        border-radius: var(--borderRadiusXLarge);
        line-height: var(--lineHeightBase500);

        &:has(> :is(i, svg):only-child:not([class*="fui-Margin"])) {
            inline-size: 48px;
        }
    }

    &-block {
        display: block;
        width: 100%;

        + .fui-ButtonBlock {
            margin-top: var(--spacingHorizontalS);
        }
    }

    &-link-stretched {
        &::after {
            position: absolute;
            inset: 0;
            z-index: 1;
            content: "";
        }
    }
}

.fui-Button {
    &-primary {
        @include button-variant(var(--colorBrandBackground), var(--colorBrandBackgroundHover), var(--colorBrandBackgroundPressed), var(--colorNeutralForegroundOnBrand), var(--colorNeutralForegroundOnBrand), var(--colorNeutralForegroundOnBrand));
    }

    &-secondary {
        @include button-variant(var(--colorNeutralBackground3), var(--colorNeutralBackground3Hover), var(--colorNeutralBackground3Pressed), var(--colorNeutralForeground3), var(--colorNeutralForeground3Hover), var(--colorNeutralForeground3Hover));
        border-color: var(--colorNeutralStroke1);
    }

    &-success {
        @include button-variant(var(--colorStatusSuccessBackground3), var(--colorStatusSuccessForeground1), var(--colorStatusSuccessForeground2), var(--colorNeutralForegroundOnBrand), var(--colorNeutralForegroundOnBrand), var(--colorNeutralForegroundOnBrand));
    }

    &-danger {
        @include button-variant(var(--colorStatusDangerBackground3), var(--colorStatusDangerBackground3Hover), var(--colorStatusDangerBackground3Pressed), var(--colorNeutralForegroundOnBrand), var(--colorNeutralForegroundOnBrand), var(--colorNeutralForegroundOnBrand));
    }

    &-warning {
        @include button-variant(var(--colorStatusWarningBackground3), var(--colorStatusWarningForeground1), var(--colorStatusWarningForeground2), var(--colorPaletteMarigoldBackground1), var(--colorPaletteMarigoldBackground1), var(--colorPaletteMarigoldBackground1));
    }

    &-info {
        @include button-variant(var(--colorNeutralForeground3), var(--colorNeutralForeground3Hover), var(--colorNeutralForeground3Pressed), var(--colorNeutralBackground3), var(--colorNeutralBackground3Hover), var(--colorNeutralBackground3Pressed));
    }

    &-dark {
        @include button-variant(var(--colorNeutralForeground1), var(--colorNeutralForeground2), var(--colorNeutralForeground3), var(--colorNeutralBackground1), var(--colorNeutralBackground1), var(--colorNeutralBackground1));
    }

    &-light {
        @include button-variant(var(--colorNeutralBackground2), var(--colorNeutralBackground2Hover), var(--colorNeutralBackground2Pressed), var(--colorNeutralForeground2), var(--colorNeutralForeground2Hover), var(--colorNeutralForeground2Pressed));
    }

    &-link {
        background-color: var(--colorSubtleBackground);
        color: var(--colorBrandForegroundLink);
        border: none;
        text-decoration: none;

        &.fui-Button-disabled,
        &:disabled {
            cursor: not-allowed;
            border-color: var(--colorNeutralStrokeDisabled);
            background-color: var(--colorNeutralBackgroundDisabled);
        }

        &:not(:disabled):not(.fui-Button-disabled) {
            &:hover {
                color: var(--colorBrandForegroundLinkHover);
                text-decoration: underline;
            }

            &:active,
            &.fui-Button-active {
                color: var(--colorBrandForegroundLinkPressed);
            }
        }
    }
}

.fui-ButtonOutline {
    &-primary {
        @include button-outline-variant(var(--colorBrandBackground), var(--colorBrandBackgroundHover), var(--colorBrandBackgroundPressed));
    }

    &-secondary {
        @include button-outline-variant(var(--colorNeutralForeground3), var(--colorNeutralForeground3Hover), var(--colorNeutralForeground3Pressed));
    }

    &-success {
        @include button-outline-variant(var(--colorStatusSuccessBackground3), var(--colorStatusSuccessForeground1), var(--colorStatusSuccessForeground2));
    }

    &-danger {
        @include button-outline-variant(var(--colorStatusDangerBackground3), var(--colorStatusDangerBackground3Hover), var(--colorStatusDangerBackground3Pressed));
    }

    &-warning {
        @include button-outline-variant(var(--colorStatusWarningBackground3), var(--colorStatusWarningForeground1), var(--colorStatusWarningForeground2));
    }

    &-info {
        @include button-outline-variant(var(--colorNeutralForeground3), var(--colorNeutralForeground3Hover), var(--colorNeutralForeground3Pressed));
    }

    &-dark {
        @include button-outline-variant(var(--colorNeutralForeground1), var(--colorNeutralForeground2), var(--colorNeutralForeground3));
    }

    &-light {
        color: var(--colorNeutralBackground2);
        border-color: var(--colorNeutralBackground2);

        &.fui-Button-disabled,
        &:disabled {
            cursor: not-allowed;
            border-color: var(--colorNeutralStrokeDisabled);
            background-color: var(--colorNeutralBackgroundDisabled);
        }

        &:not(:disabled):not(.fui-Button-disabled) {
            &:hover {
                color: var(--colorNeutralForeground2Hover);
            }

            &:active,
            &.fui-Button-active {
                color: var(--colorNeutralForeground2Pressed);
            }
        }
    }

    &-link {
        @include button-outline-variant(var(--colorBrandForegroundLink), var(--colorBrandForegroundLinkHover), var(--colorBrandForegroundLinkPressed));
    }
}

.fui-CloseButton {
    overflow: visible;
    padding: 0px;
    border-style: none;
    position: relative;
    box-sizing: content-box;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    line-height: 0;
    appearance: button;
    text-align: unset;

    .fui-CloseButton__icon {
        display: inline;
        line-height: 0;
    }
}

.fui-ButtonGroup {
    &-toolbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

.fui-ButtonGroup {
    vertical-align: middle;
    justify-content: stretch;
    display: inline-flex;
    position: relative;

    .fui-Button:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .fui-Button:not(:last-child):not(.fui-MenuButton) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    > .fui-ButtonGroup:not(:first-child),
    > .fui-Button:not(:first-child) {
        margin-inline-start: -1px;
    }

    > .fui-ButtonGroup:not(:first-child) > .fui-Button,
    .fui-ButtonGroup > .fui-Button:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.fui-Button {
    &__spinner {
        display: inline-block;
        width: 1em;
        height: 1em;
        margin-inline-end: var(--spacingHorizontalXS);
        border-width: var(--strokeWidthThick);
        border: var(--strokeWidthThicker) solid currentColor;
        border-right-color: transparent;
        border-radius: var(--borderRadiusCircular);
        animation: var(--durationUltraSlow) linear infinite spinner-border;
    }
}

@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}
