button {
    font: inherit;
}

.fui-Button {
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    text-decoration-line: none;
    vertical-align: middle;
    margin: 0px;
    overflow: hidden;
    background-color: var(--colorNeutralBackground1);
    color: var(--colorNeutralForeground1);
    border: var(--strokeWidthThin) solid var(--colorNeutralStroke1);
    font-family: var(--fontFamilyBase);
    outline-style: none;
    padding: 5px var(--spacingHorizontalM);
    /*min-width: 96px;*/
    border-radius: var(--borderRadiusMedium);
    font-size: var(--fontSizeBase300);
    font-weight: var(--fontWeightSemibold);
    line-height: var(--lineHeightBase300);
    transition-duration: var(--durationFaster);
    transition-property: background, border, color;
    transition-timing-function: var(--curveEasyEase);

    &:hover {
        color: var(--colorNeutralForegroundOnBrand);
        background-color: var(--colorNeutralBackground1Hover);
        border-color: var(--colorNeutralStroke1Hover);
        color: var(--colorNeutralForeground1Hover);
        cursor: pointer;

        &:active {
            background-color: var(--colorNeutralBackground1Pressed);
            border-color: var(--colorNeutralStroke1Pressed);
            color: var(--colorNeutralForeground1Pressed);
            outline-style: none;
        }
    }

    &.disabled,
    &:disabled {
        cursor: not-allowed;
        color: var(--colorNeutralForegroundDisabled);
        border-bottom-color: var(--colorNeutralStrokeDisabled);
        border-left-color: var(--colorNeutralStrokeDisabled);
        border-right-color: var(--colorNeutralStrokeDisabled);
        border-top-color: var(--colorNeutralStrokeDisabled);
        background-color: var(--colorNeutralBackgroundDisabled);

        &:active,
        &.active {
            color: var(--colorNeutralForegroundDisabled);
            background-color: var(--colorNeutralBackgroundDisabled);
            border-bottom-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;
            border-top-color: transparent;
        }
    }

    &.fui-Button__extra-small {
        padding-left: var(--spacingHorizontalXS);
        padding-right: var(--spacingHorizontalXS);
        padding-top: 1px;
        padding-bottom: 1px;
        font-weight: var(--fontWeightRegular);
        font-size: var(--fontSizeBase100);
        /*min-width: 64px;*/
        border-top-left-radius: var(--borderRadiusMedium);
        border-top-right-radius: var(--borderRadiusMedium);
        border-bottom-left-radius: var(--borderRadiusMedium);
        border-bottom-right-radius: var(--borderRadiusMedium);
        line-height: var(--lineHeightBase100);
    }

    &.fui-Button__small {
        padding-left: var(--spacingHorizontalS);
        padding-right: var(--spacingHorizontalS);
        padding-top: 3px;
        padding-bottom: 3px;
        font-weight: var(--fontWeightRegular);
        font-size: var(--fontSizeBase200);
        /*min-width: 64px;*/
        border-top-left-radius: var(--borderRadiusMedium);
        border-top-right-radius: var(--borderRadiusMedium);
        border-bottom-left-radius: var(--borderRadiusMedium);
        border-bottom-right-radius: var(--borderRadiusMedium);
        line-height: var(--lineHeightBase200);
    }

    &.fui-Button__medium {
        padding-left: var(--spacingHorizontalM);
        padding-right: var(--spacingHorizontalM);
        padding-top: 6px;
        padding-bottom: 6px;
        font-weight: var(--fontWeightSemibold);
        font-size: var(--fontSizeBase400);
        /*min-width: 96px;*/
        border-top-left-radius: var(--borderRadiusMedium);
        border-top-right-radius: var(--borderRadiusMedium);
        border-bottom-left-radius: var(--borderRadiusMedium);
        border-bottom-right-radius: var(--borderRadiusMedium);
        line-height: var(--lineHeightBase400);
    }

    &.fui-Button__large {
        padding-left: var(--spacingHorizontalL);
        padding-right: var(--spacingHorizontalL);
        padding-top: 8px;
        padding-bottom: 8px;
        font-weight: var(--fontWeightSemibold);
        font-size: var(--fontSizeBase400);
        /*min-width: 96px;*/
        border-top-left-radius: var(--borderRadiusMedium);
        border-top-right-radius: var(--borderRadiusMedium);
        border-bottom-left-radius: var(--borderRadiusMedium);
        border-bottom-right-radius: var(--borderRadiusMedium);
        line-height: var(--lineHeightBase400);
    }

    &.fui-Button__extra-large {
        padding-left: var(--spacingHorizontalXL);
        padding-right: var(--spacingHorizontalXL);
        padding-top: 12px;
        padding-bottom: 12px;
        font-weight: var(--fontWeightSemibold);
        font-size: var(--fontSizeBase400);
        /*min-width: 96px;*/
        border-top-left-radius: var(--borderRadiusMedium);
        border-top-right-radius: var(--borderRadiusMedium);
        border-bottom-left-radius: var(--borderRadiusMedium);
        border-bottom-right-radius: var(--borderRadiusMedium);
        line-height: var(--lineHeightBase400);
    }

    &Block {
        display: block;
        width: 100%;

        + .fui-ButtonBlock {
            margin-top: var(--spacingHorizontalS);
        }
    }
}

.fui-Button__primary {
    @include button-variant(var(--colorBrandBackground), var(--colorBrandBackgroundHover), var(--colorBrandBackgroundPressed), var(--colorNeutralForegroundOnBrand), var(--colorNeutralForegroundOnBrand), var(--colorNeutralForegroundOnBrand));
}

.fui-Button__secondary {
    @include button-variant(var(--colorNeutralBackground3), var(--colorNeutralBackground3Hover), var(--colorNeutralBackground3Pressed), var(--colorNeutralForeground3), var(--colorNeutralForeground3Hover), var(--colorNeutralForeground3Hover));
    border-color: var(--colorNeutralStroke1);
}

.fui-Button__success {
    @include button-variant(var(--colorStatusSuccessBackground3), var(--colorStatusSuccessForeground1), var(--colorStatusSuccessForeground2), var(--colorNeutralForegroundOnBrand), var(--colorNeutralForegroundOnBrand), var(--colorNeutralForegroundOnBrand));
}

.fui-Button__danger {
    @include button-variant(var(--colorStatusDangerBackground3), var(--colorStatusDangerForeground1), var(--colorStatusDangerForeground2), var(--colorNeutralForegroundOnBrand), var(--colorNeutralForegroundOnBrand), var(--colorNeutralForegroundOnBrand));
}

.fui-Button__warning {
    @include button-variant(var(--colorPaletteMarigoldBackground3), var(--colorPaletteMarigoldForeground1), var(--colorPaletteMarigoldForeground2), var(--colorPaletteMarigoldBackground1), var(--colorPaletteMarigoldBackground1), var(--colorPaletteMarigoldBackground1));
}

.fui-Button__info {
    @include button-variant(var(--colorNeutralForeground3), var(--colorNeutralForeground3Hover), var(--colorNeutralForeground3Pressed), var(--colorNeutralBackground3), var(--colorNeutralBackground3Hover), var(--colorNeutralBackground3Pressed));
}

.fui-Button__dark {
    @include button-variant(var(--colorNeutralForeground1), var(--colorNeutralForeground2), var(--colorNeutralForeground3), var(--colorNeutralBackground1), var(--colorNeutralBackground1), var(--colorNeutralBackground1));
}

.fui-Button__light {
    @include button-variant(var(--colorNeutralBackground2), var(--colorNeutralBackground2Hover), var(--colorNeutralBackground2Pressed), var(--colorNeutralForeground2), var(--colorNeutralBackground2Hover), var(--colorNeutralBackground2Hover));
}

.fui-Button__link {
    background-color: var(--colorSubtleBackground);
    color: var(--colorBrandForegroundLink);
    border: none;
    text-decoration: none;

    &.disabled,
    &:disabled {
        cursor: not-allowed;
        border-bottom-color: var(--colorNeutralStrokeDisabled);
        border-left-color: var(--colorNeutralStrokeDisabled);
        border-right-color: var(--colorNeutralStrokeDisabled);
        border-top-color: var(--colorNeutralStrokeDisabled);
        background-color: var(--colorNeutralBackgroundDisabled);
    }

    &:not(:disabled):not(.disabled),
    &:not(:disabled):not(.disabled) {
        &:hover {
            color: var(--colorBrandForegroundLinkHover);
            text-decoration: underline;
        }

        &:active,
        &.active {
            color: var(--colorBrandForegroundLinkPressed);
        }
    }
}

.fui-ButtonOutline__primary {
    @include button-outline-variant(var(--colorBrandBackground), var(--colorBrandBackgroundHover), var(--colorBrandBackgroundPressed));
}

.fui-ButtonOutline__secondary {
    @include button-outline-variant(var(--colorNeutralForeground3), var(--colorNeutralForeground3Hover), var(--colorNeutralForeground3Pressed));
}

.fui-ButtonOutline__success {
    @include button-outline-variant(var(--colorStatusSuccessBackground3), var(--colorStatusSuccessForeground1), var(--colorStatusSuccessForeground2));
}

.fui-ButtonOutline__danger {
    @include button-outline-variant(var(--colorStatusDangerBackground3), var(--colorStatusDangerForeground1), var(--colorStatusDangerForeground2));
}

.fui-ButtonOutline__warning {
    @include button-outline-variant(var(--colorPaletteMarigoldBackground3), var(--colorPaletteMarigoldForeground1), var(--colorPaletteMarigoldForeground2));
}

.fui-ButtonOutline__info {
    @include button-outline-variant(var(--colorNeutralForeground3), var(--colorNeutralForeground3Hover), var(--colorNeutralForeground3Pressed));
}

.fui-ButtonOutline__dark {
    @include button-outline-variant(var(--colorNeutralForeground1), var(--colorNeutralForeground2), var(--colorNeutralForeground3));
}

.fui-ButtonOutline__light {
    @include button-outline-variant(var(--colorNeutralBackground2), var(--colorNeutralBackground2Hover), var(--colorNeutralBackground2Pressed));
}

.fui-ButtonOutline__link {
    @include button-outline-variant(var(--colorBrandForegroundLink), var(--colorBrandForegroundLinkHover), var(--colorBrandForegroundLinkPressed));
}

.fui-CloseButton {
    overflow: visible;
    padding: 0px;
    border-style: none;
    position: relative;
    box-sizing: content-box;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    line-height: 0;
    appearance: button;
    text-align: unset;

    .fui-CloseButton__icon {
        display: inline;
        line-height: 0;
    }
}
