.fui-ColorPicker {
    display: inline-flex;
    box-sizing: border-box;
    justify-content: start;
    align-items: center;
    max-width: 100%;
    min-width: 0;

    padding: 0.6rem;

    &[aria-disabled=true] {
        opacity: 0.65;
    }

    .fui-Input__colorPreview {
        display: inline-flex;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 20px;
        height: 20px;
        flex: 0 0 auto;
        padding: 0 calc(var(--spacingHorizontalXS) + var(--spacingHorizontalXXS));
        border-radius: var(--borderRadiusCircular);
        border-color: var(--colorTransparentStroke);
    }

    .fui-Input__colorValue {
        font-family: var(--fontFamilyBase);
        font-size: var(--fontSizeBase200);
        font-weight: var(--fontWeightSemibold);
        line-height: var(--lineHeightBase200);
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-left: var(--spacingHorizontalS);
        padding-right: var(--spacingHorizontalS);
    }

    &[data-show-value='false'] {
        .fui-Input__colorValue {
            display: none;
        }
    }

    &-error {
        border-bottom-color: var(--colorPaletteRedBorder2) !important;
        border-left-color: var(--colorPaletteRedBorder2) !important;
        border-right-color: var(--colorPaletteRedBorder2) !important;
        border-top-color: var(--colorPaletteRedBorder2) !important;
    }

    &-success {
        border-bottom-color: var(--colorPaletteGreenForeground1) !important;
        border-left-color: var(--colorPaletteGreenForeground1) !important;
        border-right-color: var(--colorPaletteGreenForeground1) !important;
        border-top-color: var(--colorPaletteGreenForeground1) !important;
    }
}

.fui-Input,
.fui-Input__content {
    &[data-show-value='false'] {
        width: auto;
        flex: 0 0 auto;
    }
}
