.fui-ColorPicker {
    display: inline-flex;
    box-sizing: border-box;
    justify-content: start;
    align-items: center;

    padding: 0.6rem;

    > .b-input-color-picker-preview {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 100%;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            content: "";
            background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
            background-size: 0.5em;
            border-radius: var(--borderRadiusSmall);
        }

        > .b-input-color-picker-curent-color {
            display: inline-block;
            width: 100%;
            height: 100%;
        }
    }

    &[aria-disabled=true] {
        opacity: 0.65;
    }

    .fui-Input__colorPreview {
        display: inline-flex;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 20px;
        height: 20px;
        padding: 0 calc(var(--spacingHorizontalXS) + var(--spacingHorizontalXXS));
        border-radius: var(--borderRadiusCircular);
        border-color: var(--colorTransparentStroke);
    }

    .fui-Input__colorValue {
        font-family: var(--fontFamilyBase);
        font-size: var(--fontSizeBase200);
        font-weight: var(--fontWeightSemibold);
        line-height: var(--lineHeightBase200);
        min-width: max-content;
        padding-left: var(--spacingHorizontalS);
        padding-right: var(--spacingHorizontalS);
    }

    &-error {
        border-bottom-color: var(--colorPaletteRedBorder2) !important;
        border-left-color: var(--colorPaletteRedBorder2) !important;
        border-right-color: var(--colorPaletteRedBorder2) !important;
        border-top-color: var(--colorPaletteRedBorder2) !important;
    }

    &-success {
        border-bottom-color: var(--colorPaletteGreenForeground1) !important;
        border-left-color: var(--colorPaletteGreenForeground1) !important;
        border-right-color: var(--colorPaletteGreenForeground1) !important;
        border-top-color: var(--colorPaletteGreenForeground1) !important;
    }
}
