.fui-Field:not(.fui-FieldHorizontal) {
    display: grid;
    /* display: flex;
    flex-direction: column;
    row-gap: 2px;
    column-gap: 2px;*/

    .fui-Label {
        margin-bottom: var(--spacingVerticalXXS);
        padding-bottom: var(--spacingVerticalXXS);
        padding-top: var(--spacingVerticalXXS);
        line-height: var(--lineHeightBase300);
        font-size: var(--fontSizeBase300);
        font-family: var(--fontFamilyBase);
        color: var(--colorNeutralForeground1);
        /*  line-height: var(--lineHeightBase300);
        font-size: var(--fontSizeBase300);
        font-family: var(--fontFamilyBase);
        color: var(--colorNeutralForeground1);*/
    }

    .fui-Input {
        display: inline-flex;
        align-items: center;
        flex-wrap: nowrap;
        position: relative;
        box-sizing: border-box;
        min-height: 32px;
        font-family: var(--fontFamilyBase);
        font-size: var(--fontSizeBase300);
        font-weight: var(--fontWeightRegular);
        line-height: var(--lineHeightBase300);
        background-color: var(--colorNeutralBackground1);
        /* border-top-color:;
        border-top-style:;
        border-top-width:;
        border-right-color:;
        border-right-style:;
        border-right-width:;
        border-bottom-style:;
        border-bottom-width:;
        border-left-color:;
        border-left-style:;
        border-left-width:;
        border-image-source:;
        border-image-slice:;
        border-image-width:;
        border-image-outset:;
        border-image-repeat:;*/
        border-bottom-color: var(--colorNeutralStrokeAccessible);
        gap: var(--spacingHorizontalXXS);
        border-radius: var(--borderRadiusMedium);
        padding: 0 var(--spacingHorizontalMNudge);

        .fui-Input__input {
            box-sizing: border-box;
            flex-grow: 1;
            min-width: 0px;
            border-style: none;
            padding: 0 var(--spacingHorizontalXXS);
            color: var(--colorNeutralForeground1);
            background-color: transparent;
            outline-style: none;
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;
        }

        &:after {
            box-sizing: border-box;
            content: "";
            position: absolute;
            left: -1px;
            bottom: -1px;
            right: -1px;
            height: max(2px, var(--borderRadiusMedium));
            border-bottom-left-radius: var(--borderRadiusMedium);
            border-bottom-right-radius: var(--borderRadiusMedium);
            border-bottom: 2px solid var(--colorCompoundBrandStroke);
            clip-path: inset(calc(100% - 2px) 0px 0px);
            transform: scaleX(0);
            transition-property: transform;
            transition-duration: var(--durationUltraFast);
            transition-delay: var(--curveAccelerateMid);
        }
    }
}

.fui-Field.fui-FieldHorizontal {
    /* display: grid;
    grid-template-rows: auto auto auto 1fr;
    grid-template-columns: 33% 1fr;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .fui-LabelHorizontal {
        padding-bottom: var(--spacingVerticalXXS);
        padding-top: var(--spacingVerticalXXS);
        line-height: var(--lineHeightBase300);
        font-size: var(--fontSizeBase300);
        font-family: var(--fontFamilyBase);
        color: var(--colorNeutralForeground1);
    }

    .fui-Input {
        display: inline-flex;
        align-items: center;
        flex-wrap: nowrap;
        position: relative;
        box-sizing: border-box;
        min-height: 32px;
        font-family: var(--fontFamilyBase);
        font-size: var(--fontSizeBase300);
        font-weight: var(--fontWeightRegular);
        line-height: var(--lineHeightBase300);
        background-color: var(--colorNeutralBackground1);
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: var(--colorNeutralStrokeAccessible);
        gap: var(--spacingHorizontalXXS);
        border-radius: var(--borderRadiusMedium);
        padding: 0 var(--spacingHorizontalMNudge);
        text-align: left;
        color: var(--colorNeutralForeground1);
        width: 100%;

        &:active,
        &:focus-within {
            border-bottom-width: 2px;
            border-bottom-style: solid;
            border-bottom-color: var(--colorCompoundBrandStroke);
            border-left-color: var(--colorNeutralStroke1Pressed);
            border-right-color: var(--colorNeutralStroke1Pressed);
            border-top-color: var(--colorNeutralStroke1Pressed);
        }

        &:focus-within {
            outline: transparent solid 2px;
        }

        .fui-Input__input {
            box-sizing: border-box;
            flex-grow: 1;
            min-width: 0px;
            border-style: none;
            padding: 0 var(--spacingHorizontalXXS);
            color: var(--colorNeutralForeground1);
            background-color: transparent;
            outline-style: none;
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;
        }

        &:after {
            line-height: var(--lineHeightBase300);
            font-weight: var(--fontWeightRegular);
            font-size: var(--fontSizeBase300);
            font-family: var(--fontFamilyBase);
            text-align: left;
            color: var(--colorNeutralForeground1);
            box-sizing: border-box;
            content: "";
            position: absolute;
            left: -1px;
            bottom: -1px;
            right: -1px;
            height: max(2px, var(--borderRadiusMedium));
            border-bottom-left-radius: var(--borderRadiusMedium);
            border-bottom-right-radius: var(--borderRadiusMedium);
            border-bottom: 2px solid var(--colorCompoundBrandStroke);
            clip-path: inset(calc(100% - 2px) 0px 0px);
            transform: scaleX(0);
            transition-property: transform;
            transition-duration: var(--durationUltraFast);
            transition-delay: var(--curveAccelerateMid);
        }
    }
}
