.ms-Icon {
    font-size: 1em
}

.ms-Icon-xs {
    font-size: .75em
}

.ms-Icon-sm {
    font-size: .875em
}

.ms-Icon-lg {
    font-size: 1.33333em;
    line-height: .75em;
    vertical-align: -.0667em
}

.ms-Icon-1x {
    font-size: 1em
}

.ms-Icon-2x {
    font-size: 2em
}

.ms-Icon-3x {
    font-size: 3em
}

.ms-Icon-4x {
    font-size: 4em
}

.ms-Icon-5x {
    font-size: 5em
}

.ms-Icon-6x {
    font-size: 6em
}

.ms-Icon-7x {
    font-size: 7em
}

.ms-Icon-8x {
    font-size: 8em
}

.ms-Icon-9x {
    font-size: 9em
}

.ms-Icon-10x {
    font-size: 10em
}
