.icon-ic {
    font-size: 1em
}

.icon-ic-xs {
    font-size: .75em
}

.icon-ic-sm {
    font-size: .875em
}

.icon-ic-lg {
    font-size: 1.33333em;
    line-height: .75em;
    vertical-align: -.0667em
}

.icon-ic-1x {
    font-size: 1em
}

.icon-ic-2x {
    font-size: 2em
}

.icon-ic-3x {
    font-size: 3em
}

.icon-ic-4x {
    font-size: 4em
}

.icon-ic-5x {
    font-size: 5em
}

.icon-ic-6x {
    font-size: 6em
}

.icon-ic-7x {
    font-size: 7em
}

.icon-ic-8x {
    font-size: 8em
}

.icon-ic-9x {
    font-size: 9em
}

.icon-ic-10x {
    font-size: 10em
}
