.fui-ResizeHandle {
    --b-resize-handle-hit-area: .5rem;
    --b-resize-handle-grip-background: var(--colorNeutralBackground2, #fafafa);
    --b-resize-handle-grip-border: var(--colorNeutralStroke1, #d1d1d1);
    --b-resize-handle-grip-color: var(--colorNeutralForeground3, #616161);
    position: absolute;
    z-index: 10;
    padding: 0;
    border: 0;
    background: transparent;
    user-select: none;
    touch-action: none;
    outline: none;

    &-vertical {
        top: 0;
        bottom: 0;
        width: var(--b-resize-handle-hit-area);
        cursor: col-resize;
    }

    &-horizontal {
        right: 0;
        left: 0;
        height: var(--b-resize-handle-hit-area);
        cursor: row-resize;
    }

    &-top {
        top: 0;
    }

    &-bottom {
        bottom: 0;
    }

    &-start {
        inset-inline-start: 0;
    }

    &-end {
        inset-inline-end: 0;
    }

    &-grip {
        &::before,
        &::after {
            content: "";
            position: absolute;
            pointer-events: none;
        }

        &::before {
            inset: 0;
            box-sizing: border-box;
            background: var(--b-resize-handle-grip-background);
        }

        &::after {
            top: 50%;
            left: 50%;
            border-radius: 9999px;
            background: var(--b-resize-handle-grip-color);
            transform: translate(-50%, -50%);
        }

        &:hover,
        &:focus-visible,
        &.fui-ResizeHandle-resizing {
            --b-resize-handle-grip-background: var(--colorBrandBackground2, #ebf3fc);
            --b-resize-handle-grip-border: var(--colorBrandStroke1, var(--b-theme-primary, #0f6cbd));
            --b-resize-handle-grip-color: var(--colorBrandForeground1, #115ea3);
        }
    }

    &-disabled {
        pointer-events: none;
        opacity: .5;
    }

    &-target-resizing {
        transition: none !important;
    }
}

.fui-ResizeHandle-grip.fui-ResizeHandle-vertical {
    &::before {
        border-inline: 1px solid var(--b-resize-handle-grip-border);
    }

    &::after {
        width: 4px;
        height: 1.5rem;
    }
}

.fui-ResizeHandle-grip.fui-ResizeHandle-horizontal {
    &::before {
        border-block: 1px solid var(--b-resize-handle-grip-border);
    }

    &::after {
        width: 1.5rem;
        height: 4px;
    }
}

@media (pointer: coarse) {
    .fui-ResizeHandle {
        --b-resize-handle-hit-area: 1rem;
    }
}
