.fui-Text {
    text-overflow: clip;
    overflow-y: visible;
    overflow-x: visible;
    white-space: normal;
    text-align: start;
    display: inline;
    line-height: var(--lineHeightBase300);
    font-weight: var(--fontWeightRegular);
    font-size: var(--fontSizeBase300);
    font-family: var(--fontFamilyBase);
}

code {
    background: #f0f0f0;
    border-radius: 4px;
    padding: 1px 4px;
    margin: 0 3px 0 3px;
    color: black;
    border: none;
    line-height: 1.5;
}
