@namespace Blazorise.Docs.Docs.Examples

<Div Width="Width.Rem(24)" Background="Background.Light" Margin="Margin.IsAuto.OnX">
    <Image Source="@imageSrc" Text="mountain" ObjectFit="ObjectFit.Contain" Height="Height.Rem( 12 )" Width="Width.Is100" Border="Border.Is1.Rounded" />
</Div>

@code {
    string imageSrc = "_content/Blazorise.Docs/assets/img/photo/mountain.jpg";
}