.b-one-time-input {
    .fui-Input:has(> .b-one-time-input-slot.fui-Input__input-error) {
        border-bottom-color: var(--colorPaletteRedBorder2) !important;
        border-left-color: var(--colorPaletteRedBorder2) !important;
        border-right-color: var(--colorPaletteRedBorder2) !important;
        border-top-color: var(--colorPaletteRedBorder2) !important;
    }

    .fui-Input:has(> .b-one-time-input-slot.fui-Input__input-success) {
        border-bottom-color: var(--colorPaletteGreenForeground1) !important;
        border-left-color: var(--colorPaletteGreenForeground1) !important;
        border-right-color: var(--colorPaletteGreenForeground1) !important;
        border-top-color: var(--colorPaletteGreenForeground1) !important;
    }

    &:has(.b-one-time-input-slot.fui-Input__input-error) + .fui-Field__validationMessage {
        color: var(--colorPaletteRedForeground1);

        .fui-Field__validationMessageIcon {
            color: var(--colorPaletteRedForeground1);
        }
    }

    &:has(.b-one-time-input-slot.fui-Input__input-success) + .fui-Field__validationMessage {
        .fui-Field__validationMessageIcon {
            color: var(--colorPaletteGreenForeground1);
        }
    }
}
