.b-password-strength {
    > .fui-Field__validationMessage-error,
    > .fui-Field__validationMessage-success {
        display: none;
    }

    &:has(.fui-Input__input-error) > .fui-Field__validationMessage-error {
        display: block;
        color: var(--colorPaletteRedForeground1);

        .fui-Field__validationMessageIcon {
            color: var(--colorPaletteRedForeground1);
        }
    }

    &:has(.fui-Input__input-success) > .fui-Field__validationMessage-success {
        display: block;

        .fui-Field__validationMessageIcon {
            color: var(--colorPaletteGreenForeground1);
        }
    }
}
