.b-richtextedit {
    > .b-richtextedit-toolbar.ql-bubble,
    > .b-richtextedit-editor.ql-bubble {
        border-style: solid;
        border-width: var(--strokeWidthThin);
        border-color: var(--colorNeutralStroke1);
    }

    > .b-richtextedit-toolbar + .b-richtextedit-content + .b-richtextedit-editor,
    > .b-richtextedit-toolbar + .b-richtextedit-editor {
        border-top: 0;
    }

    > .b-richtextedit-editor + .b-richtextedit-content + .b-richtextedit-toolbar,
    > .b-richtextedit-editor + .b-richtextedit-toolbar {
        border-top: 0;
    }
}

.b-richtextedit.fui-Textarea__input-error {
    > .b-richtextedit-editor.ql-container,
    > .b-richtextedit-toolbar.ql-toolbar {
        border-color: var(--colorPaletteRedBorder2);
    }
}

.b-richtextedit.fui-Textarea__input-error + .fui-Field__validationMessage {
    color: var(--colorPaletteRedForeground1);

    .fui-Field__validationMessageIcon {
        color: var(--colorPaletteRedForeground1);
    }
}

.b-richtextedit.fui-Textarea__input-success {
    > .b-richtextedit-editor.ql-container,
    > .b-richtextedit-toolbar.ql-toolbar {
        border-color: var(--colorPaletteGreenForeground1);
    }
}

.b-richtextedit.fui-Textarea__input-success + .fui-Field__validationMessage {
    .fui-Field__validationMessageIcon {
        color: var(--colorPaletteGreenForeground1);
    }
}
