.fui-Textarea__input-error {
    > .ql-container,
    > .ql-toolbar {
        border-color: var(--colorPaletteRedBorder2) !important;
    }
}

.fui-Textarea__input-success {
    > .ql-container,
    > .ql-toolbar {
        border-color: var(--colorPaletteGreenForeground1) !important;
    }
}
