.mui-character-casing-upper {
    text-transform: uppercase !important;
}

.mui-character-casing-lower {
    text-transform: lowercase !important;
}

.mui-character-casing-title {
    text-transform: capitalize !important;
}
