.mui-row {
    --_gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(var(--_gap) * -1);
    margin-left: calc(var(--_gap) * -1);

    .mui-nogutters {
        margin-right: 0;
        margin-left: 0;

        > .mui-column,
        > [class*="mui-column-"] {
            padding-right: 0;
            padding-left: 0;
        }
    }
}

@include make-grid-columns();

.mui-grid {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(12, 1fr);
    gap: var(--mui-spacing);
    block-size: auto;

    @each $breakpoint in map-keys($grid-breakpoints) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
            @if $grid-columns > 0 {
                @for $i from 1 through $grid-rows {
                    &.mui-grid-rows#{$infix}-#{$i} {
                        grid-template-rows: repeat($i,minmax(0,1fr));
                    }
                }

                @for $i from 1 through $grid-columns {
                    &.mui-grid-columns#{$infix}-#{$i} {
                        grid-template-columns: repeat($i,minmax(0,1fr));
                    }
                }
            }
        }
    }

    @include make-cssgrid();
}
