.mui-shadow {
    box-shadow: var(--mui-elevate2) !important;
}

.mui-shadow-sm {
    box-shadow: var(--mui-elevate1) !important;
}

.mui-shadow-lg {
    box-shadow: var(--mui-elevate3) !important;
}

.mui-shadow-none {
    box-shadow: none !important;
}
