.mui-visible {
    visibility: visible !important;
}

.mui-invisible {
    visibility: hidden !important;
}

@mixin mui-visually-hidden {
    inline-size: 1px !important;
    block-size: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;

    &:not(caption) {
        position: absolute !important;
    }
}

.mui-visually-hidden {
    @include mui-visually-hidden;
}

.mui-visually-hidden-focusable {
    &:not(:focus):not(:focus-within) {
        @include mui-visually-hidden;
    }
}
