.b-bar-vertical-inline,
.b-bar-vertical {
    &.b-bar-dark {
        .is-active {
            color: #fff !important;
        }
    }
}

.navbar-dropdown[data-visible="true"] {
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}
