label.radio.button {
    display: flex;
}

label.radio.button {
    outline: none;
    display: inline-flex;
    align-items: center;

    input[type=radio] {
        position: absolute;
        left: 0;
        opacity: 0;
        outline: none;
        z-index: -1;
    }
}

.switch[type="checkbox"] {
    outline: 0;
    user-select: none;
    display: inline-block;
    position: absolute;
    opacity: 0;

    @include switch-size($size-normal);
}

.field-body {
    .switch[type="checkbox"] {
        + label {
            margin-top: .375em;
        }
    }
}

.field-body {
    .slider[type="range"] {
        width: 100%;
    }
}
