@mixin make-cssgrid($columns: $grid-columns, $breakpoints: $grid-breakpoints) {
    @each $breakpoint in map-keys($breakpoints) {
        $infix: breakpoint-infix($breakpoint, $breakpoints);

        @include media-breakpoint-up($breakpoint, $breakpoints) {
            @if $columns > 0 {
                @for $i from 1 through $columns {
                    .is-grid-column-#{$i}#{$infix} {
                        grid-column: auto / span $i;
                    }
                }
            }
        }
    }
}

.grid {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(12, 1fr);
    gap: #{$grid-gutter-width};

    @for $i from 1 through $grid-rows {
        &.are-grid-rows-#{$i} {
            grid-template-rows: repeat($i,minmax(0,1fr));
        }
    }

    @for $i from 1 through $grid-columns {
        &.are-grid-columns-#{$i} {
            grid-template-columns: repeat($i,minmax(0,1fr));
        }
    }

    @include make-cssgrid();
}
