@each $size, $length in $spacers {
    .is-gap-#{$size} {
        gap: $length !important;
    }

    .is-gap-y-#{$size} {
        row-gap: $length !important;
    }

    .is-gap-x-#{$size} {
        column-gap: $length !important;
    }
}
