table {
    &.is-borderless td,
    &.is-borderless th,
    &.is-borderless tr {
        border: 0 !important;
    }
}

tr.table-row-selectable {
    &:hover, &.is-hovered {
        cursor: pointer;
    }
}

.b-table-container {
    &.b-table-container-fixed-header {
        table.is-bordered {
            border: none;
            border-collapse: separate;
            border-spacing: 0;

            th:first-child,
            td:first-child {
                border-left: none;
            }
        }
    }
}
