table {
    &.is-borderless td,
    &.is-borderless th,
    &.is-borderless tr {
        border: 0 !important;
    }
}

tr.table-row-selectable {
    &:hover, &.is-hovered {
        cursor: pointer;
    }
}

.table-container-fixed-header {
    overflow-y: auto;

    .table {
        border-collapse: separate;
        border-spacing: 0;

        thead:not(.b-table-header-theme) th {
            background: white;
        }

        thead tr th {
            border-top: none;
            position: sticky;
            z-index: 10;
        }

        thead tr:nth-child(1) th {
            top: 0;
        }
    }
}
