.blockquote {
    margin-bottom: $spacer;
    font-size: $blockquote-font-size;
}

.blockquote-footer {
    display: block;
    font-size: $blockquote-small-font-size;
    color: $blockquote-small-color;

    &::before {
        content: "\2014\00A0"; // em dash, nbsp
    }
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.is-size {
    &-xs {
        font-size: 0.75rem;
    }

    &-sm {
        font-size: 0.925rem;
    }

    &-md {
        font-size: 1.125rem;
    }

    &-lg {
        font-size: 1.25rem;
    }

    &-xl {
        font-size: 1.5rem;
    }
}
