.is-none {
    display: none;
}

.is-table {
    display: table !important;
}

.is-table-row {
    display: table-row !important;
}

.is-table-cell {
    display: table-cell !important;
}

.is-borderless {
    border: 0 !important;
}

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        @each $prop, $abbrev in (margin: m, padding: p) {
            @each $size, $length in $spacers {

                .is-#{$abbrev}#{$infix}-#{$size} {
                    #{$prop}: $length !important;
                }

                .is-#{$abbrev}t#{$infix}-#{$size},
                .is-#{$abbrev}y#{$infix}-#{$size} {
                    #{$prop}-top: $length !important;
                }

                .is-#{$abbrev}r#{$infix}-#{$size},
                .is-#{$abbrev}x#{$infix}-#{$size} {
                    #{$prop}-right: $length !important;
                }

                .is-#{$abbrev}b#{$infix}-#{$size},
                .is-#{$abbrev}y#{$infix}-#{$size} {
                    #{$prop}-bottom: $length !important;
                }

                .is-#{$abbrev}l#{$infix}-#{$size},
                .is-#{$abbrev}x#{$infix}-#{$size} {
                    #{$prop}-left: $length !important;
                }
            }
        }
        // Some special margin utils
        .is-m#{$infix}-auto {
            margin: auto !important;
        }

        .is-mt#{$infix}-auto,
        .is-my#{$infix}-auto {
            margin-top: auto !important;
        }

        .is-mr#{$infix}-auto,
        .is-mx#{$infix}-auto {
            margin-right: auto !important;
        }

        .is-mb#{$infix}-auto,
        .is-my#{$infix}-auto {
            margin-bottom: auto !important;
        }

        .is-ml#{$infix}-auto,
        .is-mx#{$infix}-auto {
            margin-left: auto !important;
        }

        .is-table#{$infix} {
            display: table !important;
        }

        .is-table-row#{$infix} {
            display: table-row !important;
        }

        .is-table-cell#{$infix} {
            display: table-cell !important;
        }
    }
}

@each $dimension in $dimensions {
    &.is-#{$dimension}x#{$dimension} {
        height: $dimension * 1px;
        width: $dimension * 1px;
    }
}


.has-border {
    border: $border-width solid $border-color !important;
}

.has-border-top {
    border-top: $border-width solid $border-color !important;
}

.has-border-right {
    border-right: $border-width solid $border-color !important;
}

.has-border-bottom {
    border-bottom: $border-width solid $border-color !important;
}

.has-border-left {
    border-left: $border-width solid $border-color !important;
}

.has-border-0 {
    border: 0 !important;
}

.has-border-top-0 {
    border-top: 0 !important;
}

.has-border-right-0 {
    border-right: 0 !important;
}

.has-border-bottom-0 {
    border-bottom: 0 !important;
}

.has-border-left-0 {
    border-left: 0 !important;
}

@each $name, $value in $theme-colors {
    $color: $value;

    .has-border-#{$name} {
        border-color: $color !important;
    }
}

.has-border-white {
    border-color: white !important;
}

.is-rounded {
    border-radius: $radius !important;
}

.is-rounded-top {
    border-top-left-radius: $radius !important;
    border-top-right-radius: $radius !important;
}

.is-rounded-right {
    border-top-right-radius: $radius !important;
    border-bottom-right-radius: $radius !important;
}

.is-rounded-bottom {
    border-bottom-right-radius: $radius !important;
    border-bottom-left-radius: $radius !important;
}

.is-rounded-left {
    border-top-left-radius: $radius !important;
    border-bottom-left-radius: $radius !important;
}

.is-rounded-circle {
    border-radius: 50% !important;
}

.is-rounded-pill {
    border-radius: $radius-pill !important;
}

.is-rounded-0 {
    border-radius: 0 !important;
}
