@page "/docs/extensions/icons-available"
@inject IIconProvider IconProvider

<Seo Canonical="/docs/extensions/icons-available" Title="Blazorise Available Icons" Description="Find out the Available Blazorise Icons, symbols that can be used to represent various options within an application." />

<DocsPageTitle Path="Extensions/Available Icons">
    Blazorise Available Icons
</DocsPageTitle>

<DocsPageLead>
    List of all available, or predefined icons in Blazorise.
</DocsPageLead>

<Div Flex="Flex.Row.Wrap.JustifyContent.Start.AlignItems.Start">
    @foreach ( var icon in Enum.GetValues<IconName>() )
    {
        <Tooltip Text="@IconProvider.GetIconName(icon, IconStyle.Regular)">
            <Div Flex="Flex.Column.JustifyContent.Center" Class="b-docs-example-blazorise-icon">
                <Span Flex="Flex.JustifyContent.Center.AlignItems.Center" Padding="Padding.Is5">
                    <Icon Name="@icon" />
                </Span>
                <Text TextAlignment="TextAlignment.Center">
                    @icon
                </Text>
            </Div>
        </Tooltip>
    }
</Div>