@namespace Blazorise.Docs.Docs.Examples

<Alert Color="Color.Info">
    Password: <Code>test</Code>
</Alert>

<Button Color="Color.Primary" Clicked="@OnLoadProtectedPdfClicked" Margin="Blazorise.Margin.Is2.FromBottom">
    Load protected PDF
</Button>

<PdfViewer Source="@pdfSource" />

@code {
    const string ProtectedPdfSource = "_content/Blazorise.Docs/assets/files/protected.pdf";

    string pdfSource;

    async Task OnLoadProtectedPdfClicked()
    {
        // We force the PDF viewer to reload the source by setting it to null first, otherwise it won't trigger the password prompt again.
        // This is only for demonstration purposes, in a real application you would probably want to have a more elegant way of handling this, like a separate component for the password prompt that would be shown when the PDF viewer encounters a password protected PDF.
        pdfSource = null;
        await Task.Yield();
        pdfSource = ProtectedPdfSource;
    }
}