@layout RootLayout
@inherits BlazorLayoutComponent

<Sidebar ref="sidebar">
    <SidebarContent>
        <SidebarBrand>
            <a href="">Blazorise</a>
        </SidebarBrand>
        <ul class="sidebar-nav">
            <SidebarLabel>Main</SidebarLabel>
            <SidebarItem>
                <SidebarLink To="">
                    <Icon Name="IconName.Dashboard" Margin="Margin.Is3.FromRight" />Dashboard
                </SidebarLink>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink Toggled="(t)=> sidebarDropdownTests.Toggle(t)" IsShow="true">
                    Test Pages
                </SidebarLink>
                <SidebarDropdown ref="sidebarDropdownTests" IsShow="true">
                    <SidebarItem>
                        <SidebarLink To="tests/buttons"> Buttons </SidebarLink>
                    </SidebarItem>
                    <SidebarItem>
                        <SidebarLink To="tests/forms">Forms</SidebarLink>
                    </SidebarItem>
                    <SidebarItem>
                        <SidebarLink To="tests/modals">Modals</SidebarLink>
                    </SidebarItem>
                    <SidebarItem>
                        <SidebarLink To="tests/tables">Tables</SidebarLink>
                    </SidebarItem>
                    <SidebarItem>
                        <SidebarLink To="tests/cards">Cards</SidebarLink>
                    </SidebarItem>
                    <SidebarItem>
                        <SidebarLink To="tests/tabs">Tabs</SidebarLink>
                    </SidebarItem>
                    <SidebarItem>
                        <SidebarLink To="tests/progressbars">Progress bars</SidebarLink>
                    </SidebarItem>
                    <SidebarItem>
                        <SidebarLink To="tests/elements">Elements</SidebarLink>
                    </SidebarItem>
                    <SidebarItem>
                        <SidebarLink To="tests/charts">Charts</SidebarLink>
                    </SidebarItem>
                </SidebarDropdown>
            </SidebarItem>
        </ul>
    </SidebarContent>
</Sidebar>

<div class="app-main">
    <Bar Class="app-bar" Breakpoint="Breakpoint.Medium" Background="Background.Light" Theme="Theme.Light">
        <BarBrand>
            <BarItem>
                <BarLink To="">Blazorise</BarLink>
            </BarItem>
        </BarBrand>
        <BarToggler Clicked="@ToggleSidebar">
        </BarToggler>
    </Bar>
    <div class="app-content">
        @Body
    </div>
</div>

@functions{
    Sidebar sidebar;
    SidebarDropdown sidebarDropdownTests;

    bool collapseNavMenu = true;

    void ToggleSidebar()
    {
        sidebar.Toggle();
    }
}