public record Platform(string Name, string TextColor, string BackgroundColor, string IconName, string Href)
{
    public static Platform X => new Platform("X", "white", "x", "fa-brands fa-x", "https://twitter.com/intent/tweet");
    
    // your social media platform can go here.
}