<Button TextColor="@TextColor" Background="@(new Background(BackgroundColor))" To="@To" 
        Type="@ButtonType.Link" Size="Size.Large" @attributes="@AdditionalAttributes">

  @ChildContent

  <Icon Name="@IconName" IconStyle="IconStyle.Light"/>
</Button>