@typeparam TItem

@if ( PivotGrid.ToolbarTemplate is not null )
{
    @PivotGrid.ToolbarTemplate( Context )
}
else
{
    <Div Flex="FlexRow" Gap="GapIs2" Padding="PaddingIs2">
        @if ( Context.CanOpenFieldChooser )
        {
            <Button Color="Color.Primary" Clicked="@Context.OpenFieldChooserCommand">
                @PivotGrid.LocalizedFieldsText
            </Button>
        }
    </Div>
}