.navbar-inline,
.navabar-vertical {
    display: inline-block !important;
    position: sticky;
    top: 0;
    padding: 0;
    min-width: 220px;
    max-width: 220px;
    width: 220px;
    /*transition: margin .2s ease-in-out;*/
    transition: display .2s ease-in-out;
    box-shadow: 2px 0 6px rgba(0,21,41,.35);
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

    .navbar-brand {
        width: inherit;
        margin: 0;
        height: 64px;
    }

    .navbar-nav {
        flex-direction: column !important;
        flex-grow: 1;
    }

    .dropdown-menu {
        position: relative !important;
        background: inherit;
        color: inherit;
        border: none;
        border-radius: 0;

        .dropdown-item {
            color: inherit;
            padding: .5rem 3rem !important;
            transition: background .1s ease-in-out,color .1s ease-in-out;
            position: relative;
            text-decoration: none;

            i {
                margin-right: 0.3rem;
            }
        }
    }

    .navbar-end {
        padding-bottom: 1rem;
        width: inherit;
        bottom: 0;
        position: fixed;
    }

    .nav-link {
        padding-left: 1.5rem !important;

        i {
            margin-right: 0.3rem;
        }
    }
    /* 
        Theming
    */
    &.navbar-dark {
        /*background: var(--b-sidebar-background);*/
        /*color: var(--b-sidebar-color);*/
        background: #001529;
        color: rgba(255,255,255, 0.5);

        .navbar-brand {
            .nav-link {
                color: #fff;

                &.active {
                    color: #fff;
                    background: inherit;
                }

                &:hover {
                    color: #fff;
                    background: inherit;
                }
            }
        }

        .dropdown-menu {
            background: #000c17;

            .dropdown-item {
                &.active {
                    color: #fff;
                }

                &:hover {
                    color: #fff;
                    background: rgba(255,255,255,0.3);
                }
            }
        }

        .nav-link {
            &.active {
                color: #fff;
                background: #0288D1; /* TODO: CHANGE THIS TO BE GENERATED */
            }

            &:hover {
                color: #fff;
                background: rgba(255,255,255,0.3);
            }
        }
    }

    &.navbar-light {
        /*background: var(--b-sidebar-background);*/
        /*color: var(--b-sidebar-color);*/
        background: #fff;
        color: rgba(0,0,0,.5);

        .navbar-brand {
            .nav-link {
                color: #000;

                &.active {
                    color: #000;
                    background: #fff;
                }

                &:hover {
                    color: #000;
                    background: inherit;
                }
            }
        }

        .dropdown-menu {
            background: rgba(0,0,0,0.05);

            .dropdown-item {
                &.active {
                    color: #000;
                }

                &:hover {
                    color: #000;
                }
            }
        }

        .nav-link {
            &.active {
                color: #000;
                background: #0288D1; /* TODO: CHANGE THIS TO BE GENERATED */
            }

            &:hover {
                color: #000;
                background: rgba(0,0,0,0.3);
            }
        }
    }
}
