@mixin b-bar-popout-menu {
    display: block !important;
    visibility: hidden;
    position: absolute !important;
    margin: -45px 5px 0px 5px;
    z-index: 100;
    box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05);
    border-radius: 3px;
    min-width: 180px;
    max-width: 180px;

    .b-bar-dropdown-item {
        padding: .5rem 1.5rem !important;
    }

    &:hover, &:focus, &active {
        visibility: visible;
    }

    &:before {
        position: absolute;
        top: 0;
        left: -7px;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: .0001;
        content: ' ';
    }

    &.b-bar-right {
        &:before {
            left: unset;
            right: -7px;
        }
    }
}

@mixin b-bar-dropdown-arrow {
    content: " ";
    border: solid;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    right: 1.25rem;
    transition: all 200ms ease-out;
    float: right;
    position: relative;
}

.b-bar-vertical-inline,
.b-bar-vertical-popout,
.b-bar-vertical-small {
    display: inline-block !important;
    position: sticky;
    top: 0;
    padding: 0;
    min-width: var(--b-vertical-bar-width, 220px);
    max-width: var(--b-vertical-bar-width, 220px);
    width: var(--b-vertical-bar-width, 220px);
    transition: width 200ms ease-in-out, min-width 200ms ease-in-out;
    box-shadow: 2px 0 6px rgba(0,21,41,.35);
    height: 100vh;

    .b-bar-menu {
        height: calc(100% - var(--b-vertical-bar-brand-height, 64px));
        justify-content: space-between;
        flex-direction: column;
        display: flex !important;
    }

    .b-bar-brand {
        width: 100%;
        display: flex;
        margin: 0;
        height: var(--b-vertical-bar-brand-height, 64px);
    }

    .b-bar-item {
        margin: auto;
        flex-grow: 1;
        min-height: 40px;

        .b-bar-icon {
            font-size: 18px;
            margin: 3px;
        }
    }

    .b-bar-start {
        width: 100%;
        display: inline-block;
    }

    .b-bar-end {
        padding-bottom: 1rem;
        width: 100%;
        padding-top: 1rem;
        display: inline-block;
    }

    .b-bar-link {
        display: block;
        width: 100%;
        text-decoration: none;
        padding: .5rem .5rem .5rem 1.5rem;
        cursor: pointer;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow-x: hidden;
    }

    .b-bar-label {
        background: transparent;
        color: #adb5bd;
        padding: .375rem 1.25rem;
        font-size: .75rem;
        text-overflow: ellipsis;
        overflow-x: hidden;
    }

    .b-bar-dropdown {
        &:before {
            @include b-bar-dropdown-arrow;
            -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
            top: 1.5rem;
        }

        &:not(.show):before {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            top: 1.3rem;
        }

        .b-bar-dropdown-menu {
            display: none;
            background: inherit;
            color: inherit;
            float: none;
            padding: 5px 0px;

            &.show {
                display: block;
            }

            .b-bar-dropdown-item {
                position: relative;
                color: inherit;
                transition: background 100ms ease-in-out,color 100ms ease-in-out;
                text-decoration: none;
                display: block;
                width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow-x: hidden;

                i {
                    margin-right: 0.3rem;
                }
            }

            &:before {
                background: inherit;
                box-shadow: none;
            }
        }
    }

    .b-bar-mobile-toggle {
        right: 20px;
        margin: auto;
        display: none;
    }
    /* 
        Theming
    */
    &.b-bar-dark {
        background: var(--b-bar-dark-background, #001529);
        color: var(--b-bar-dark-color, rgba(255,255,255, 0.5));

        .b-bar-brand {
            background: var(--b-bar-brand-dark-background, rgba(255,255,255,0.025));

            .b-bar-link {
                color: #fff;

                &.active {
                    color: #fff;
                    background: inherit;
                }

                &:hover {
                    color: #fff;
                    background: inherit;
                }
            }
        }

        .b-bar-dropdown-menu {
            background: var(--b-bar-dropdown-dark-background, #000c17);

            .b-bar-dropdown-item {
                &.active {
                    color: var(--b-bar-item-dark-active-color, #fff);
                    background: var(--b-bar-item-dark-active-background, #0288D1);
                }

                &:hover {
                    color: var(--b-bar-item-dark-hover-color, #fff);
                    background: var(--b-bar-item-dark-hover-background, rgba(255,255,255,0.3));
                }
            }
        }

        .b-bar-link {
            color: inherit;

            &.active {
                color: var(--b-bar-item-dark-active-color, #fff);
                background: var(--b-bar-item-dark-active-background, #0288D1);
            }

            &:hover {
                color: var(--b-bar-item-dark-hover-color, #fff);
                background: var(--b-bar-item-dark-hover-background, rgba(255,255,255,0.3));
            }
        }
    }

    &.b-bar-light {
        background: var(--b-bar-light-background, #fff);
        color: var(--b-bar-light-color, rgba(0,0,0,0.7));

        .b-bar-brand {
            background: var(--b-bar-brand-light-background, rgba(0,0,0,0.025));

            .b-bar-link {
                color: #000;

                &.active {
                    background: inherit;
                }

                &:hover {
                    background: inherit;
                }
            }
        }

        .b-bar-dropdown-menu {
            background: var(--b-bar-dropdown-light-background, #f2f2f2);

            .b-bar-dropdown-item {
                &.active {
                    color: var(--b-bar-item-light-active-color, #000);
                    background: var(--b-bar-item-light-active-background, #0288D1);
                }

                &:hover {
                    color: var(--b-bar-item-dark-hover-color, #000);
                    background: var(--b-bar-item-dark-hover-background, rgba(0,0,0,0.3));
                }
            }
        }

        .b-bar-link {
            color: inherit;

            &.active {
                color: var(--b-bar-item-light-active-color, #000);
                background: var(--b-bar-item-light-active-background, #0288D1);
            }

            &:hover {
                color: var(--b-bar-item-dark-hover-color, #000);
                background: var(--b-bar-item-dark-hover-background, rgba(0,0,0,0.3));
            }
        }
    }
}

.b-bar-vertical-small,
.b-bar-vertical-inline[data-collapse=small],
.b-bar-vertical-popout[data-collapse=small] {
    width: var(--b-vertical-bar-small-width, 64px);
    min-width: var(--b-vertical-bar-small-width, 64px);
    transition: width 200ms ease-in-out, min-width 200ms ease-in-out;

    .b-bar-dropdown {
        &:before {
            display: none;
        }

        &:hover, &:focus, &active {
            .b-bar-dropdown-menu {
                visibility: visible;
            }
        }
    }

    .b-bar-dropdown-menu {
        @include b-bar-popout-menu;
        left: var(--b-vertical-bar-small-width, 64px);

        &.b-bar-right {
            right: var(--b-vertical-bar-small-width, 64px);
            left: unset;
        }
    }

    @keyframes b-bar-link-small {
        to {
            text-align: center;
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    .b-bar-link {
        animation: b-bar-link-small forwards;
        animation-delay: 170ms;
        font-size: 0px;

        &:after {
            display: none;
        }
    }

    .b-bar-label {
        text-align: center;
    }
}

.b-bar-vertical-inline:not([data-collapse]) {
    overflow-y: auto;
    overflow-x: hidden;

    .b-bar-dropdown-menu {
        position: relative !important;
        border: none;
        border-radius: 0;
        box-shadow: none;

        .b-bar-dropdown-item {
            padding: .5rem 3rem !important;
        }
    }
}

.b-bar-vertical-popout:not([data-collapse]) {
    .b-bar-dropdown {
        &:before {
            @include b-bar-dropdown-arrow;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            top: 1.45rem;
        }

        &:hover, &:focus, &active {
            .b-bar-dropdown-menu {
                visibility: visible;
            }
        }
    }

    .b-bar-dropdown-menu {
        @include b-bar-popout-menu;
        left: var(--b-vertical-bar-width, 220px);

        &.b-bar-right {
            right: var(--b-vertical-bar-small-width, 220px);
            left: unset;
        }
    }
}

.b-bar-vertical-inline[data-collapse=hide],
.b-bar-vertical-popout[data-collapse=hide],
.b-bar-vertical-small[data-collapse=hide] {
    width: 0px;
    min-width: 0px;
    transition: width 200ms ease-in-out, min-width 200ms ease-in-out, visibility 100ms;
    visibility: hidden;
}

/* Mobile & below */
@media only screen and (max-width:576px) {
    .b-bar-vertical-inline:not([data-collapse]) {
        min-width: 100vw;

        .b-bar-mobile-toggle {
            display: flex;
        }
    }
}
