.b-file-picker {
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.15);
    padding: 1rem;

    .b-text-drop {
        margin-top: 0.5rem;
        display: block;
        text-align: center;
        font-size: 0.75rem;
    }

    .b-file-picker-file {
        span {
            display: block;
        }

        .b-file-picker-file-size, .b-file-picker-file-status {
            font-size: 0.75rem;
        }
    }

    .dropdown {
        .custom-file {
            width: auto;

            .custom-file-label {
                border: 0;
            }
        }

        .b-file-picker-files {
            width: 100%;
        }

        .b-file-picker-file {
            margin-right: 1.5rem;
        }
    }
}
