.b-table-container {
    &.b-table-container-fixed-header {
        border: 1px solid #dee2e6;
        overflow-y: auto;

        thead tr th {
            position: sticky;
            top: 0;
            background: inherit;
        }

        thead tr th.bg-white {
            background: white;
        }
    }
}
