.b-table {
    &.b-table-fixed-header table {
        width: 100%;
    }

    &.b-table-fixed-header thead,
    &.b-table-fixed-header tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    &.b-table-fixed-header tbody {
        display: block;
        table-layout: fixed;
        overflow-y: overlay;
        max-height: 250px;
    }
}
