$tooltip-color: var(--tooltip-color, #ffffff) !default
$tooltip-background-color: #808080 !default
$tooltip-background-opacity: 0.9 !default
$tooltip-max-width: var(--tooltip-max-width, 24rem) !default
$tooltip-font-size: var(--tooltip-font-size, .75rem) !default
$tooltip-border-radius: var(--tooltip-border-radius, 4px) !default
