$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: var(--b-font-size-base, 1rem) !default;
$font-size-lg: var(--b-font-size-lg, 1.25rem) !default;
$font-size-sm: var(--b-font-size-sm, .875rem) !default;

$font-weight-light: var(--b-font-weight-light, 300) !default;
$font-weight-normal: var(--b-font-weight-normal, 400) !default;
$font-weight-bold: var(--b-font-weight-bold, 700) !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

$tooltip-arrow-size: 6px !default;
$tooltip-background-color-r: var(--b-tooltip-background-color-r, 128) !default;
$tooltip-background-color-g: var(--b-tooltip-background-color-g, 128) !default;
$tooltip-background-color-b: var(--b-tooltip-background-color-b, 128) !default;
$tooltip-background-opacity: var(--b-tooltip-background-opacity, 0.9) !default;
$tooltip-color: var(--b-tooltip-color, #ffffff) !default;
$tooltip-font-family: $font-family-base !default;
$tooltip-font-size: var(--b-tooltip-font-size, $font-size-sm) !default;
$tooltip-max-width: var(--b-tooltip-maxwidth, 15rem) !default
$tooltip-padding: var(--b-tooltip-padding, .5rem 1rem) !default;
$tooltip-radius: var(--b-tooltip-border-radius, 4px) !default;
$tooltip-z-index: var(--b-tooltip-z-index, 1020) !default;
$tooltip-fade-time: var(--b-tooltip-fade-time, 0.3s) !default;

$colors: ("primary": (#8e3329, #8e3329));
