@import "breakpoints";

@import "variables";
@import "mixins";

@import "divider";
@import "dropzone";
@import "file";
@import "form";
@import "progress";
@import "tooltip";
@import "layout";

@import "bar";
@import "table";
@import "memoedit";

.b-character-casing-lower {
    text-transform: lowercase;
}

.b-character-casing-upper {
    text-transform: uppercase;
}

.b-character-casing-title {
    text-transform: lowercase;

    &::first-letter {
        text-transform: uppercase;
    }
}

@import "vendor/flatpickr";
@import "vendor/colorpicker";
