@import "breakpoints";

@import "variables";
@import "mixins";

@import "divider";
@import "progress";
@import "tooltip";
@import "layout";

@import "bar";

.b-character-casing-lower {
    text-transform: lowercase;
}

.b-character-casing-upper {
    text-transform: uppercase;
}

.b-character-casing-title {
    text-transform: lowercase;

    &::first-letter {
        text-transform: uppercase;
    }
}