.progress {
    &.progress-xs {
        height: .25rem;
    }

    &.progress-sm {
        height: .5rem;
    }

    &.progress-md {
        height: 1rem;
    }

    &.progress-lg {
        height: 1.5rem;
    }

    &.progress-xl {
        height: 2rem;
    }
}
