@namespace Blazorise.Docs.Docs.Examples

<Field>
    <Button Color="Color.Primary" Clicked="@(()=>dateEditRef.ShowPicker())">
        Show Picker
    </Button>
</Field>
<Field>
    <DateEdit @ref="@dateEditRef" TValue="DateTime" />
</Field>

@code {
    DateEdit<DateTime> dateEditRef;
}