.fui-Align-baseline {
    vertical-align: baseline !important;
}

.fui-Align-top {
    vertical-align: top !important;
}

.fui-Align-middle {
    vertical-align: middle !important;
}

.fui-Align-bottom {
    vertical-align: bottom !important;
}

.fui-Align-text-bottom {
    vertical-align: text-bottom !important;
}

.fui-Align-text-top {
    vertical-align: text-top !important;
}
