.fui-Align {
    &-baseline {
        vertical-align: baseline !important;
    }

    &-top {
        vertical-align: top !important;
    }

    &-middle {
        vertical-align: middle !important;
    }

    &-bottom {
        vertical-align: bottom !important;
    }

    &-text-bottom {
        vertical-align: text-bottom !important;
    }

    &-text-top {
        vertical-align: text-top !important;
    }
}
