@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        @each $prop, $abbrev in (margin: fui-Margin, padding: fui-Padding) {
            @each $size, $length in $spacers {
                .#{$abbrev}#{$infix}-#{$size} {
                    #{$prop}: $length !important;
                }

                .#{$abbrev}-Top#{$infix}-#{$size},
                .#{$abbrev}-Y#{$infix}-#{$size} {
                    #{$prop}-top: $length !important;
                }

                .#{$abbrev}-End#{$infix}-#{$size},
                .#{$abbrev}-X#{$infix}-#{$size} {
                    #{$prop}-right: $length !important;
                }

                .#{$abbrev}-Bottom#{$infix}-#{$size},
                .#{$abbrev}-Y#{$infix}-#{$size} {
                    #{$prop}-bottom: $length !important;
                }

                .#{$abbrev}-Start#{$infix}-#{$size},
                .#{$abbrev}-X#{$infix}-#{$size} {
                    #{$prop}-left: $length !important;
                }
            }
        }
        // Negative margins (e.g., where `.mb-n1` is negative version of `.mb-1`)
        @each $size, $length in $spacers {
            @if $size != 0 {
                .fui-Margin#{$infix}-n#{$size} {
                    margin: -$length !important;
                }

                .fui-Margin-Top#{$infix}-n#{$size},
                .fui-Margin-Y#{$infix}-n#{$size} {
                    margin-top: -$length !important;
                }

                .fui-Margin-End#{$infix}-n#{$size},
                .fui-Margin-X#{$infix}-n#{$size} {
                    margin-right: -$length !important;
                }

                .fui-Margin-Bottom#{$infix}-n#{$size},
                .fui-Margin-Y#{$infix}-n#{$size} {
                    margin-bottom: -$length !important;
                }

                .fui-Margin-Start#{$infix}-n#{$size},
                .fui-Margin-X#{$infix}-n#{$size} {
                    margin-left: -$length !important;
                }
            }
        }
        // Some special margin utils
        .fui-Margin#{$infix}-auto {
            margin: auto !important;
        }

        .fui-Margin-Top#{$infix}-auto,
        .fui-Margin-Y#{$infix}-auto {
            margin-top: auto !important;
        }

        .fui-Margin-End#{$infix}-auto,
        .fui-Margin-X#{$infix}-auto {
            margin-right: auto !important;
        }

        .fui-Margin-Bottom#{$infix}-auto,
        .fui-Margin-Y#{$infix}-auto {
            margin-bottom: auto !important;
        }

        .fui-Margin-Start#{$infix}-auto,
        .fui-Margin-X#{$infix}-auto {
            margin-left: auto !important;
        }
    }
}

@each $size, $length in $spacers {
    .fui-Gap-#{$size} {
        gap: $length !important;
    }

    .fui-GapY-#{$size} {
        row-gap: $length !important;
    }

    .fui-GapX-#{$size} {
        column-gap: $length !important;
    }
}
