.ant-card-group {
    > .card {
        margin-bottom: $card-group-margin;
    }

    @include media-breakpoint-up(sm) {
        display: flex;
        flex-flow: row wrap;

        > .card {
            flex: 1 0 0%;
            margin-bottom: 0;

            + .card {
                margin-left: 0;
                border-left: 0;
            }
        }
    }
}

.ant-card-head-subtitle {
    margin-top: -.375rem;
    margin-bottom: 0;
}

img.ant-card-cover {
    display: block;
    width: 100%;
    border-radius: 2px 2px 0 0;
}