.ant-dropdown-group {
    display: inline-flex;
    white-space: nowrap;
}

.ant-input-group-addon.ant-input-group-addon-dropdown {
    padding: 0;
    border: 0;
}

.ant-dropdown-group {
    // Reset rounded corners
    > .ant-btn:not(:last-child):not(.ant-dropdown-trigger) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    > .ant-btn:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.ant-dropdown-group.ant-dropdown-button.b-is-autocomplete {
    width: 100%;
}

.ant-dropdown:not(.ant-dropdown-hidden) .ant-dropdown-menu {
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}

.ant-dropdown-menu-header {
    display: block;
    padding: 7px 12px;
    margin-bottom: 0;
    font-size: 12px;
    color: $text-muted;
    white-space: nowrap;
}

.b-is-autocomplete .ant-dropdown-menu {
    max-height: var(--autocomplete-menu-max-height, 200px);
    overflow-y: scroll;
}

.ant-dropdown-menu-submenu.ant-dropdown-menu-submenu-vertical {
    position: unset;

    > .ant-dropdown-menu-item {
        width: 100%;
    }

    > .ant-dropdown {
        > .ant-dropdown-menu {
            transform: translate(0, -32px);
            top: 0;
            left: 100%;
            margin-left: .1rem;
            margin-right: .1rem;
        }
    }
}
