.ant-form-item-has-success .ant-input, .ant-form-item-has-success .ant-input-affix-wrapper, .ant-form-item-has-success .ant-input:hover, .ant-form-item-has-success .ant-input-affix-wrapper:hover {
    background-color: #fff;
    border-color: #52c41a;
}

.ant-checkbox-wrapper {
    cursor: default;

    &-pointer {
        cursor: pointer;
    }
}

.ant-input-group {
    > .ant-input-group-addon {
        &:last-child > .ant-btn {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:first-child > .ant-btn {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}

.ant-input-group {
    > .ant-input-group-addon {
        &:last-child > .ant-dropdown-button > .ant-btn {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:first-child > .ant-dropdown-button > .ant-btn {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}
