.ant-display-inline {
    display: inline !important;
}

.ant-display-inline-block {
    display: inline-block !important;
}

.ant-display-block {
    display: block !important;
}

.ant-display-table {
    display: table !important;
}

.ant-display-table-row {
    display: table-row !important;
}

.ant-display-table-cell {
    display: table-cell !important;
}

.ant-display-flex {
    display: flex !important;
}

.ant-display-inline-flex {
    display: inline-flex !important;
}

.ant-display-table {
    display: table !important;
}

.ant-display-table-row {
    display: table-row !important;
}

.ant-display-table-cell {
    display: table-cell !important;
}

.ant-flex-row {
    flex-direction: row !important;
}

.ant-flex-column {
    flex-direction: column !important;
}

.ant-flex-row-reverse {
    flex-direction: row-reverse !important;
}

.ant-flex-column-reverse {
    flex-direction: column-reverse !important;
}

@each $breakpoint in map-keys($grid-breakpoints) {

    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        @each $prop, $abbrev in (margin: m, padding: p) {
            @each $size, $length in $spacers {
                .#{$abbrev}-#{$breakpoint}-#{$size} {
                    #{$prop}: $length !important;
                }

                .#{$abbrev}t#{$infix}-#{$size},
                .#{$abbrev}y#{$infix}-#{$size} {
                    #{$prop}-top: $length !important;
                }

                .#{$abbrev}r#{$infix}-#{$size},
                .#{$abbrev}x#{$infix}-#{$size} {
                    #{$prop}-right: $length !important;
                }

                .#{$abbrev}b#{$infix}-#{$size},
                .#{$abbrev}y#{$infix}-#{$size} {
                    #{$prop}-bottom: $length !important;
                }

                .#{$abbrev}l#{$infix}-#{$size},
                .#{$abbrev}x#{$infix}-#{$size} {
                    #{$prop}-left: $length !important;
                }
            }
        }
        // Negative margins (e.g., where `.mb-n1` is negative version of `.mb-1`)
        @each $size, $length in $spacers {
            @if $size != 0 {
                .m#{$infix}-n#{$size} {
                    margin: -$length !important;
                }

                .mt#{$infix}-n#{$size},
                .my#{$infix}-n#{$size} {
                    margin-top: -$length !important;
                }

                .mr#{$infix}-n#{$size},
                .mx#{$infix}-n#{$size} {
                    margin-right: -$length !important;
                }

                .mb#{$infix}-n#{$size},
                .my#{$infix}-n#{$size} {
                    margin-bottom: -$length !important;
                }

                .ml#{$infix}-n#{$size},
                .mx#{$infix}-n#{$size} {
                    margin-left: -$length !important;
                }
            }
        }
        // Some special margin utils
        .m#{$infix}-auto {
            margin: auto !important;
        }

        .mt#{$infix}-auto,
        .my#{$infix}-auto {
            margin-top: auto !important;
        }

        .mr#{$infix}-auto,
        .mx#{$infix}-auto {
            margin-right: auto !important;
        }

        .mb#{$infix}-auto,
        .my#{$infix}-auto {
            margin-bottom: auto !important;
        }

        .ml#{$infix}-auto,
        .mx#{$infix}-auto {
            margin-left: auto !important;
        }

        .ant-display#{$infix}-inline {
            display: inline !important;
        }

        .ant-display#{$infix}-inline-block {
            display: inline-block !important;
        }

        .ant-display#{$infix}-block {
            display: block !important;
        }

        .ant-display#{$infix}-flex {
            display: flex !important;
        }

        .ant-display#{$infix}-inline-flex {
            display: inline-flex !important;
        }

        .ant-flex#{$infix}-row {
            flex-direction: row !important;
        }

        .ant-flex#{$infix}-column {
            flex-direction: column !important;
        }

        .ant-flex#{$infix}-row-reverse {
            flex-direction: row-reverse !important;
        }

        .ant-flex#{$infix}-column-reverse {
            flex-direction: column-reverse !important;
        }
    }
}

.ant-text {
    &-left {
        text-align: left !important;
    }

    &-right {
        text-align: right !important;
    }

    &-center {
        text-align: center !important;
    }

    &-justify {
        text-align: justify !important;
    }
}
