.ant-display-none {
    display: none !important;
}

.ant-display-inline {
    display: inline !important;
}

.ant-display-inline-block {
    display: inline-block !important;
}

.ant-display-block {
    display: block !important;
}

.ant-display-table {
    display: table !important;
}

.ant-display-table-row {
    display: table-row !important;
}

.ant-display-table-cell {
    display: table-cell !important;
}

.ant-display-flex {
    display: flex !important;
}

.ant-display-inline-flex {
    display: inline-flex !important;
}

.ant-display-table {
    display: table !important;
}

.ant-display-table-row {
    display: table-row !important;
}

.ant-display-table-cell {
    display: table-cell !important;
}

.ant-flex-row {
    flex-direction: row !important;
}

.ant-flex-column {
    flex-direction: column !important;
}

.ant-flex-row-reverse {
    flex-direction: row-reverse !important;
}

.ant-flex-column-reverse {
    flex-direction: column-reverse !important;
}

@each $breakpoint in map-keys($grid-breakpoints) {

    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        @each $prop, $abbrev in (margin: m, padding: p) {
            @each $size, $length in $spacers {
                .#{$abbrev}#{$infix}-#{$size} {
                    #{$prop}: $length !important;
                }

                .#{$abbrev}t#{$infix}-#{$size},
                .#{$abbrev}y#{$infix}-#{$size} {
                    #{$prop}-top: $length !important;
                }

                .#{$abbrev}r#{$infix}-#{$size},
                .#{$abbrev}x#{$infix}-#{$size} {
                    #{$prop}-right: $length !important;
                }

                .#{$abbrev}b#{$infix}-#{$size},
                .#{$abbrev}y#{$infix}-#{$size} {
                    #{$prop}-bottom: $length !important;
                }

                .#{$abbrev}l#{$infix}-#{$size},
                .#{$abbrev}x#{$infix}-#{$size} {
                    #{$prop}-left: $length !important;
                }
            }
        }
        // Negative margins (e.g., where `.mb-n1` is negative version of `.mb-1`)
        @each $size, $length in $spacers {
            @if $size != 0 {
                .m#{$infix}-n#{$size} {
                    margin: -$length !important;
                }

                .mt#{$infix}-n#{$size},
                .my#{$infix}-n#{$size} {
                    margin-top: -$length !important;
                }

                .mr#{$infix}-n#{$size},
                .mx#{$infix}-n#{$size} {
                    margin-right: -$length !important;
                }

                .mb#{$infix}-n#{$size},
                .my#{$infix}-n#{$size} {
                    margin-bottom: -$length !important;
                }

                .ml#{$infix}-n#{$size},
                .mx#{$infix}-n#{$size} {
                    margin-left: -$length !important;
                }
            }
        }
        // Some special margin utils
        .m#{$infix}-auto {
            margin: auto !important;
        }

        .mt#{$infix}-auto,
        .my#{$infix}-auto {
            margin-top: auto !important;
        }

        .mr#{$infix}-auto,
        .mx#{$infix}-auto {
            margin-right: auto !important;
        }

        .mb#{$infix}-auto,
        .my#{$infix}-auto {
            margin-bottom: auto !important;
        }

        .ml#{$infix}-auto,
        .mx#{$infix}-auto {
            margin-left: auto !important;
        }

        .ant-display#{$infix}-inline {
            display: inline !important;
        }

        .ant-display#{$infix}-inline-block {
            display: inline-block !important;
        }

        .ant-display#{$infix}-block {
            display: block !important;
        }

        .ant-display#{$infix}-none {
            display: none !important;
        }

        .ant-display#{$infix}-flex {
            display: flex !important;
        }

        .ant-display#{$infix}-inline-flex {
            display: inline-flex !important;
        }

        .ant-flex#{$infix}-row {
            flex-direction: row !important;
        }

        .ant-flex#{$infix}-column {
            flex-direction: column !important;
        }

        .ant-flex#{$infix}-row-reverse {
            flex-direction: row-reverse !important;
        }

        .ant-flex#{$infix}-column-reverse {
            flex-direction: column-reverse !important;
        }
    }
}

.ant-border {
    border: $border-width solid $border-color !important;
}

.ant-border-top {
    border-top: $border-width solid $border-color !important;
}

.ant-border-right {
    border-right: $border-width solid $border-color !important;
}

.ant-border-bottom {
    border-bottom: $border-width solid $border-color !important;
}

.ant-border-left {
    border-left: $border-width solid $border-color !important;
}

.ant-border-0 {
    border: 0 !important;
}

.ant-border-top-0 {
    border-top: 0 !important;
}

.ant-border-right-0 {
    border-right: 0 !important;
}

.ant-border-bottom-0 {
    border-bottom: 0 !important;
}

.ant-border-left-0 {
    border-left: 0 !important;
}

@each $name, $value in $theme-colors {
    $color: $value;

    .ant-border-#{$name} {
        border-color: $color !important;
    }
}

.ant-border-white {
    border-color: white !important;
}

.ant-rounded {
    border-radius: $radius !important;
}

.ant-rounded-top {
    border-top-left-radius: $radius !important;
    border-top-right-radius: $radius !important;
}

.ant-rounded-right {
    border-top-right-radius: $radius !important;
    border-bottom-right-radius: $radius !important;
}

.ant-rounded-bottom {
    border-bottom-right-radius: $radius !important;
    border-bottom-left-radius: $radius !important;
}

.ant-rounded-left {
    border-top-left-radius: $radius !important;
    border-bottom-left-radius: $radius !important;
}

.ant-rounded-circle {
    border-radius: 50% !important;
}

.ant-rounded-pill {
    border-radius: $radius-pill !important;
}

.ant-rounded-0 {
    border-radius: 0 !important;
}

$border-sides: ("top", "right", "bottom", "left");
$border-sizes: (1, 2, 3, 4, 5);

@each $size in $border-sizes {
    .ant-border-#{$size} {
        border: #{$size}px solid $border-color !important;
    }

    @each $color-name, $color-value in $theme-colors {
        .ant-border-#{$color-name}-#{$size} {
            border: #{$size}px solid $color-value !important;
        }
    }

    @each $side in $border-sides {
        .ant-border-#{$side}-#{$size} {
            border-#{$side}: #{$size}px solid $border-color !important;
        }

        @each $color-name, $color-value in $theme-colors {
            .ant-border-#{$color-name}-#{$side}-#{$size} {
                border-#{$side}: #{$size}px solid $color-value !important;
            }
        }
    }
}

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        .ant-flex-direction#{$infix}-row {
            flex-direction: row !important;
        }

        .ant-flex-direction#{$infix}-column {
            flex-direction: column !important;
        }

        .ant-flex-direction#{$infix}-row-reverse {
            flex-direction: row-reverse !important;
        }

        .ant-flex-direction#{$infix}-column-reverse {
            flex-direction: column-reverse !important;
        }

        .ant-flex-wrap#{$infix}-wrap {
            flex-wrap: wrap !important;
        }

        .ant-flex-wrap#{$infix}-nowrap {
            flex-wrap: nowrap !important;
        }

        .ant-flex-wrap#{$infix}-wrap-reverse {
            flex-wrap: wrap-reverse !important;
        }

        .ant-flex#{$infix}-fill {
            flex: 1 1 auto !important;
        }

        .ant-flex#{$infix}-grow-0 {
            flex-grow: 0 !important;
        }

        .ant-flex#{$infix}-grow-1 {
            flex-grow: 1 !important;
        }

        .ant-flex#{$infix}-shrink-0 {
            flex-shrink: 0 !important;
        }

        .ant-flex#{$infix}-shrink-1 {
            flex-shrink: 1 !important;
        }

        .ant-justify-content#{$infix}-flex-start {
            justify-content: flex-start !important;
        }

        .ant-justify-content#{$infix}-flex-end {
            justify-content: flex-end !important;
        }

        .ant-justify-content#{$infix}-center {
            justify-content: center !important;
        }

        .ant-justify-content#{$infix}-space-between {
            justify-content: space-between !important;
        }

        .ant-justify-content#{$infix}-space-around {
            justify-content: space-around !important;
        }

        .ant-align-items#{$infix}-flex-start {
            align-items: flex-start !important;
        }

        .ant-align-items#{$infix}-flex-end {
            align-items: flex-end !important;
        }

        .ant-align-items#{$infix}-center {
            align-items: center !important;
        }

        .ant-align-items#{$infix}-baseline {
            align-items: baseline !important;
        }

        .ant-align-items#{$infix}-stretch {
            align-items: stretch !important;
        }

        .ant-align-self#{$infix}-auto {
            align-self: auto !important;
        }

        .ant-align-self#{$infix}-flex-start {
            align-self: flex-start !important;
        }

        .ant-align-self#{$infix}-flex-end {
            align-self: flex-end !important;
        }

        .ant-align-self#{$infix}-center {
            align-self: center !important;
        }

        .ant-align-self#{$infix}-baseline {
            align-self: baseline !important;
        }

        .ant-align-self#{$infix}-stretch {
            align-self: stretch !important;
        }

        .ant-align-content#{$infix}-flex-start {
            align-content: flex-start !important;
        }

        .ant-align-content#{$infix}-flex-end {
            align-content: flex-end !important;
        }

        .ant-align-content#{$infix}-center {
            align-content: center !important;
        }

        .ant-align-content#{$infix}-space-between {
            align-content: space-between !important;
        }

        .ant-align-content#{$infix}-space-around {
            align-content: space-around !important;
        }

        .ant-align-content#{$infix}-stretch {
            align-content: stretch !important;
        }

        @for $i from 0 through 12 {
            .ant-flex-order#{$infix}-#{$i} {
                order: $i;
            }
        }
    }
}

// Width and height

@each $prop, $abbrev in (width: width, height: height) {
    @each $size, $length in $sizes {
        .ant-#{$abbrev}-#{$size} {
            #{$prop}: $length !important;
        }
    }
}

.ant-max-width-100 {
    max-width: 100% !important;
}

.ant-max-height-100 {
    max-height: 100% !important;
}

// Viewport additional helpers

.ant-min-viewport-width-100 {
    min-width: 100vw !important;
}

.ant-min-viewport-height-100 {
    min-height: 100vh !important;
}

.ant-viewport-width-100 {
    width: 100vw !important;
}

.ant-viewport-height-100 {
    height: 100vh !important;
}

.ant-visible {
    visibility: visible !important;
}

.ant-invisible {
    visibility: hidden !important;
}

// Browser default
.ant-vertical-align-baseline {
    vertical-align: baseline !important;
}

.ant-vertical-align-top {
    vertical-align: top !important;
}

.ant-vertical-align-middle {
    vertical-align: middle !important;
}

.ant-vertical-align-bottom {
    vertical-align: bottom !important;
}

.ant-vertical-align-text-bottom {
    vertical-align: text-bottom !important;
}

.ant-vertical-align-text-top {
    vertical-align: text-top !important;
}

.ant-image-img-fluid {
    width: 100%;
    height: auto;
}

.ant-shadow-sm {
    box-shadow: $box-shadow-sm !important;
}

.ant-shadow {
    box-shadow: $box-shadow !important;
}

.ant-shadow-lg {
    box-shadow: $box-shadow-lg !important;
}

.ant-shadow-none {
    box-shadow: none !important;
}

@each $value1 in $overflows {
    .ant-overflow-#{$value1} {
        overflow: $value1 !important;
    }

    @each $value2 in $overflows {
        .ant-overflow-#{$value1}-#{$value2} {
            overflow: $value1 $value2 !important;
        }
    }
}

.ant-typography-wrap {
    white-space: normal !important;
}

.ant-typography-nowrap {
    white-space: nowrap !important;
}

.ant-typography-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ant-unordered-list {
    &-unstyled {
        padding-left: 0;
        list-style: none;
    }
}

ol.ant-ordered-list {
    &-unstyled {
        padding-left: 0;
        list-style: none;
    }

    &-lower-alpha {
        list-style-type: lower-alpha;
    }

    &-lower-roman {
        list-style-type: lower-roman;
    }

    &-upper-alpha {
        list-style-type: upper-alpha;
    }

    &-upper-roman {
        list-style-type: upper-roman;
    }
}

// Position

.ant-position {
    &-static {
        position: static !important;
    }

    &-relative {
        position: relative !important;
    }

    &-absolute {
        position: absolute !important;
    }

    &-fixed {
        position: fixed !important;
    }

    &-sticky {
        position: -webkit-sticky !important;
        position: sticky !important;
    }
}

@each $name, $value in $position-values {
    .ant-top-#{$name} {
        top: #{$value} !important;
    }

    .ant-bottom-#{$name} {
        bottom: #{$value} !important;
    }

    .ant-left-#{$name} {
        left: #{$value} !important;
    }

    .ant-right-#{$name} {
        right: #{$value} !important;
    }
}

.ant-translate-middle {
    transform: translate(-50%, -50%) !important;
}

.ant-translate-middle-x {
    transform: translateX(-50%) !important;
}

.ant-translate-middle-y {
    transform: translateY(-50%) !important;
}

.ant-cursor-pointer {
    cursor: pointer;
}

.ant-font-weight {
    &-bold {
        font-weight: 700;
    }

    &-semibold {
        font-weight: 600;
    }

    &-normal {
        font-weight: 400;
    }

    &-default {
        font-weight: 400;
    }

    &-light {
        font-weight: 300;
    }
}