@namespace Blazorise.Docs.Docs.Examples

<Field>
    <Button Color="Color.Primary" Clicked="@(() => fileInput.ShowPicker())">
        Show Picker
    </Button>
</Field>
<Field>
    <FileInput @ref="@fileInput" />
</Field>

@code {
    FileInput fileInput;
}