@namespace Blazorise.Docs.Docs.Examples

<Field>
    <Control Role="ControlRole.File">
        <input id="file-input-label-cursor" type="file" style="display: none;" />
        <Label For="file-input-label-cursor"
               Type="LabelType.File"
               Cursor="Cursor.Pointer">
            Upload document
        </Label>
    </Control>
</Field>
