@namespace Blazorise.Docs.Docs.Examples

<Field>
    <Button Color="Color.Primary" Clicked="@(()=>fileEditRef.ShowPicker())">
        Show Picker
    </Button>
</Field>
<Field>
    <FileEdit @ref="@fileEditRef" />
</Field>

@code {
    FileEdit fileEditRef;
}