@namespace Blazorise.Docs.Docs.Examples

<Field>
    <FileEdit @ref="@fileEdit" AutoReset="false" Changed="@OnChanged" />
</Field>
<Field>
    <Button Color="Color.Primary" Clicked="Reset">Reset</Button>
</Field>

@code {
    FileEdit fileEdit;

    Task OnChanged(FileChangedEventArgs e)
    {
        return Task.CompletedTask;
    }

    Task Reset()
    {
        return fileEdit.Reset().AsTask();
    }
}