.b-addons {
    > :not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    > :not(:first-child):not(.b-dropdown-menu) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    > .b-addon-start {
        button {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    > .b-addon-end {
        button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    > input:not(:first-child):not(.b-dropdown-menu) + input:not(:first-child):not(.b-dropdown-menu) {
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
