@include emit-initial-bar-breakpoints(".b-bar-initial", $breakpoint-observer-breakpoints, $bar-initial-breakpoints);

.b-bar-horizontal,
.b-bar-vertical-inline,
.b-bar-vertical-popout,
.b-bar-vertical-small {
    font-family: var(--tw-bar-font-family, var(--b-bar-font-family, inherit));
    font-size: var(--tw-bar-font-size, var(--b-bar-font-size, inherit));
    font-style: var(--tw-bar-font-style, var(--b-bar-font-style, inherit));
    font-weight: var(--tw-bar-font-weight, var(--b-bar-font-weight, inherit));
}

.b-bar {
    &-horizontal {
        .b-bar-link,
        .b-bar-dropdown-toggle,
        .b-bar-dropdown-item {
            font-family: var(--tw-bar-font-family, var(--b-bar-font-family, inherit));
            font-size: var(--tw-bar-font-size, var(--b-bar-font-size, inherit));
            font-style: var(--tw-bar-font-style, var(--b-bar-font-style, inherit));
            font-weight: var(--tw-bar-font-weight, var(--b-bar-font-weight, inherit));
        }

        .b-bar-dropdown {
            > .b-bar-dropdown-toggle {
                > .b-bar-dropdown-toggle-arrow {
                    transition: transform 200ms ease-out;
                }

                &[aria-expanded="true"] {
                    > svg.b-bar-dropdown-toggle-arrow {
                        transform: rotate(180deg);
                    }
                }
            }

            .b-bar-dropdown-menu {
                > ul > .b-bar-dropdown {
                    > .b-bar-dropdown-menu {
                        top: 0;
                        left: 100%;
                        margin-left: 0rem;
                        margin-right: .1rem;
                    }
                }
            }
        }
    }

    &-vertical-inline,
    &-vertical-popout,
    &-vertical-small {
        .b-bar-toggler-inline {
            padding: 0.5rem;
        }
    }
}
