.btn-xl {
    height: 5rem;
    min-height: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.5rem;
}

.b-dropdown {
    &.b-dropdown-group {
        > .button:not(:last-child):not(.b-dropdown-toggle) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}

.b-button-group:not(.b-button-group-vertical) {
    > .b-dropdown:first-child {
        > .b-dropdown-toggle {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    > .b-dropdown:last-child {
        > .b-dropdown-toggle {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}
