.b-carousel-fade {
    .b-carousel-slide {
        opacity: 0;
        transition-property: opacity;
        transform: none;
    }

    .b-carousel-slide.b-carousel-slide-active,
    .b-carousel-slide-next.b-carousel-slide-start,
    .b-carousel-slide-prev.b-carousel-slide-end {
        z-index: 1;
        opacity: 1;
    }

    .b-carousel-slide-active.b-carousel-slide-start,
    .b-carousel-slide-active.b-carousel-slide-end {
        z-index: 0;
        opacity: 0;
        @include transition(opacity 0s $carousel-transition-duration);
    }
}

.b-carousel[data-animation-duration] {
    > .b-carousel-slides > .b-carousel-slide {
        @include component-animation-duration(var(--tw-carousel-animation-duration));
    }

    &.b-carousel-fade > .b-carousel-slides > .b-carousel-slide-active:is(.b-carousel-slide-start, .b-carousel-slide-end) {
        @include component-animation-duration(0s, var(--tw-carousel-animation-duration));
    }
}
