.b-input {
    height: calc(var(--spacing) * 10);

    @each $name, $properties in $button-sizes {
        &-#{$name} {
            height: map-get($properties, height);
        }
    }

    &[multiple] {
        height: auto;
    }
}

textarea[data-autosize='true'] {
    field-sizing: content;
    height: auto;
    min-block-size: calc(var(--tw-textarea-min-block-size) + 1.25rem + 2px);
}
