.tw-resize-handle {
    --b-resize-handle-hit-area: .5rem;
    --b-resize-handle-focus-size: 2px;
    --b-resize-handle-focus-color: var(--b-theme-primary, #2563eb);

    &::before {
        content: "";
        position: absolute;
        background-color: transparent;
        pointer-events: none;
    }

    &-vertical {
        width: var(--b-resize-handle-hit-area);

        &::before {
            top: 0;
            bottom: 0;
            left: 50%;
            width: var(--b-resize-handle-focus-size);
            transform: translateX(-50%);
        }
    }

    &-horizontal {
        height: var(--b-resize-handle-hit-area);

        &::before {
            top: 50%;
            right: 0;
            left: 0;
            height: var(--b-resize-handle-focus-size);
            transform: translateY(-50%);
        }
    }

    &:focus-visible::before {
        background-color: var(--b-resize-handle-focus-color);
    }

    &-resizing:focus-visible::before {
        background-color: transparent;
    }
}

.tw-resize-handle-target-resizing {
    transition: none !important;
}

@media (pointer: coarse) {
    .tw-resize-handle {
        --b-resize-handle-hit-area: 1rem;
    }
}