.b-skeleton {
    .b-skeleton-item {
        position: relative;
    }

    &.animate-wave {
        mask-image: linear-gradient(130deg, #000 55%, rgba(0, 0, 0, (1 - 0.2)) 75%, #000 95%);
        mask-size: 200% 100%;
        animation: skeleton-wave-anim 2s linear infinite;
    }
}

@keyframes skeleton-wave-anim {
    100% {
        mask-position: -200% 0%;
    }
}
