p {
    --tw-text-opacity: 1;
    color: rgb(75 85 99/var(--tw-text-opacity));
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
    margin-bottom: 0.75rem;
}

.b-paragraph {
    margin-bottom: 0.75rem;
}

@each $dimension in $figure-dimensions {
    .b-figure-#{$dimension}x#{$dimension} {
        height: $dimension * 1px;
        width: $dimension * 1px;
    }
}
