@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        .is-flex#{$infix}-fill {
            flex: 1 1 auto !important;
        }

        @for $i from 0 through 12 {
            .is-flex-order#{$infix}-#{$i} {
                order: $i;
            }
        }
    }
}
