@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        .is-object-fit#{$infix}-contain {
            object-fit: contain !important;
        }

        .is-object-fit#{$infix}-cover {
            object-fit: cover !important;
        }

        .is-object-fit#{$infix}-fill {
            object-fit: fill !important;
        }

        .is-object-fit#{$infix}-scale {
            object-fit: scale-down !important;
        }

        .is-object-fit#{$infix}-none {
            object-fit: none !important;
        }
    }
}
