@each $name, $value in $position-values {
    .is-top-#{$name} {
        top: #{$value} !important;
    }

    .is-bottom-#{$name} {
        bottom: #{$value} !important;
    }

    .is-left-#{$name} {
        left: #{$value} !important;
    }

    .is-right-#{$name} {
        right: #{$value} !important;
    }
}

.is-translate-middle {
    transform: translate(-50%, -50%) !important;
}

.is-translate-middle-x {
    transform: translateX(-50%) !important;
}

.is-translate-middle-y {
    transform: translateY(-50%) !important;
}
