@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        .is-table#{$infix} {
            display: table !important;
        }

        .is-table-row#{$infix} {
            display: table-row !important;
        }

        .is-table-cell#{$infix} {
            display: table-cell !important;
        }
    }
}

$gap-spacers: ( 0: 0, 1: 0.5rem, 2: 1.0rem, 3: 1.2rem, 4: 2.0rem, 5: 2.5rem );

@each $size, $length in $gap-spacers {
    .gap-y-#{$size} {
        row-gap: $length !important;
    }

    .gap-x-#{$size} {
        column-gap: $length !important;
    }
}
