.lead {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.has-text-decoration {
    &-underline {
        text-decoration: underline !important;
    }

    &-overline {
        text-decoration: overline !important;
    }

    &-line-through {
        text-decoration: line-through !important;
    }

    &-inherit {
        text-decoration: inherit !important;
    }

    &-none {
        text-decoration: none !important;
    }
}
