@keyframes fadeIn {
    0% {
        opacity: 0; }
    100% {
        opacity: 1; }
    0% {
        opacity: 0; } }

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0; }
    100% {
        transform: translateY(0rem);
        opacity: 1; }
    0% {
        transform: translateY(1rem);
        opacity: 0; } }

.badge-close {
    cursor: pointer; }
    .badge-close::before {
        height: 2px;
        width: 50%; }
    .badge-close::after {
        height: 50%;
        width: 2px; }
    .badge-close:hover, .badge-close:focus {
        background-color: rgba(10, 10, 10, 0.3); }
    .badge-close:active {
        background-color: rgba(10, 10, 10, 0.4); }

.btn-xs, .btn-group-xs > .btn {
    font-size: 0.75rem;
    height: 1.5rem; }

.btn-md, .btn-group-md > .btn {
    font-size: 0.91rem;
    height: 2.5rem; }

.btn-lg, .btn-group-lg > .btn {
    font-size: 0.9375rem;
    height: 2.75rem; }

.btn-xl, .btn-group-xl > .btn {
    font-size: 0.95rem;
    height: 3rem; }

.dropdown-toggle.dropdown-toggle-hidden::after {
    content: none !important; }

.dropdown-toggle.dropdown-toggle-hidden::before {
    content: none !important; }

.dropdown-menu.show {
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-name: fadeIn; }

.dropdown-menu a:not([href]).dropdown-item:not(.disabled) {
    cursor: pointer; }

.form-check > .form-check-input.form-check-input-pointer,
.form-check > .form-check-label.form-check-label-pointer,
.custom-checkbox > .custom-control-input.custom-control-input-pointer,
.custom-checkbox > .custom-control-label.custom-control-label-pointer {
    cursor: pointer; }

input.form-control[type=color] {
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem; }

.form-control-plaintext.form-control-xs, .form-control-plaintext.form-control-md, .form-control-plaintext.form-control-xl {
    padding-right: 0;
    padding-left: 0; }

.form-control {
    height: 36px; }

.form-control-xs {
    font-size: 0.75rem;
    height: 1.5rem;
    /*height: 36px;*/
    line-height: 1.5;
    padding: 0.1875rem 0 calc(0.1875rem - 1px); }
    .form-control-xs[type='file'] {
        max-height: 1.5rem; }

.form-control-sm {
    font-size: 0.8125rem;
    height: 1.75rem;
    /*height: 36px;*/
    line-height: 1.5;
    padding: 0.26563rem 0 calc(0.26563rem - 1px); }
    .form-control-sm[type='file'] {
        max-height: 1.75rem; }

.form-control-md {
    font-size: 1.25rem;
    height: 2.5rem;
    /*height: 40px;*/
    line-height: 1.5;
    padding: 0.3125rem 0 calc(0.3125rem - 1px); }
    .form-control-md[type='file'] {
        max-height: 2.5rem; }

.form-control-lg {
    font-size: 1.5rem;
    height: 2.75rem;
    /*height: 62px;*/
    line-height: 1.5;
    padding: 0.25rem 0 calc(0.25rem - 1px); }
    .form-control-lg[type='file'] {
        max-height: 2.75rem; }

.form-control-xl {
    font-size: 1.75rem;
    height: 3rem;
    /*height: 66px;*/
    line-height: 1.5;
    padding: 0.1875rem 0 calc(0.1875rem - 1px); }
    .form-control-xl[type='file'] {
        max-height: 3rem; }

.custom-select-xs {
    font-size: 0.75rem;
    line-height: 1.5;
    padding: 0.1875rem 1.5em calc(0.1875rem - 1px) 0; }
    .custom-select-xs[multiple], .custom-select-xs[size]:not([size='1']) {
        padding: calc(0.5625rem - 1px) 0.6rem; }

.custom-select-sm {
    font-size: 0.8125rem;
    line-height: 1.5;
    padding: 0.26563rem 1.5em calc(0.26563rem - 1px) 0; }
    .custom-select-sm[multiple], .custom-select-sm[size]:not([size='1']) {
        padding: calc(0.76563rem - 1px) 0.75rem; }

.custom-select-md {
    font-size: 1.25rem;
    line-height: 1.5;
    padding: 0.3125rem 1.5em calc(0.3125rem - 1px) 0; }
    .custom-select-md[multiple], .custom-select-md[size]:not([size='1']) {
        padding: calc(0.8125rem - 1px) 0.9rem; }

.custom-select-lg {
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 0.25rem 1.5em calc(0.25rem - 1px) 0; }
    .custom-select-lg[multiple], .custom-select-lg[size]:not([size='1']) {
        padding: calc(1rem - 1px) 1rem; }

.custom-select-xl {
    font-size: 1.75rem;
    line-height: 1.5;
    padding: 0.1875rem 1.5em calc(0.1875rem - 1px) 0; }
    .custom-select-xl[multiple], .custom-select-xl[size]:not([size='1']) {
        padding: calc(1.1875rem - 1px) 1.15rem; }

.custom-control.custom-checkbox > .custom-control-input.custom-control-input-xs + .custom-control-label::before {
    width: 0.75rem;
    height: 0.75rem;
    margin-top: -0.125rem;
    margin-left: -0.125rem; }

.custom-control.custom-checkbox > .custom-control-input.custom-control-input-xs + .custom-control-label::after {
    font-size: 0.5rem; }

.custom-control.custom-checkbox > .custom-control-input.custom-control-input-xs + .custom-control-label {
    line-height: 0.5rem;
    padding-left: 0px;
    vertical-align: middle; }

.custom-control.custom-checkbox > .custom-control-input.custom-control-input-sm + .custom-control-label::before {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -0.25rem;
    margin-left: -0.25rem; }

.custom-control.custom-checkbox > .custom-control-input.custom-control-input-sm + .custom-control-label::after {
    font-size: 1rem; }

.custom-control.custom-checkbox > .custom-control-input.custom-control-input-sm + .custom-control-label {
    line-height: 1rem;
    padding-left: 0px;
    vertical-align: middle; }

.custom-control.custom-checkbox > .custom-control-input.custom-control-input-md + .custom-control-label::before {
    width: 3rem;
    height: 3rem;
    margin-top: -0.5rem;
    margin-left: -0.5rem; }

.custom-control.custom-checkbox > .custom-control-input.custom-control-input-md + .custom-control-label::after {
    font-size: 2rem; }

.custom-control.custom-checkbox > .custom-control-input.custom-control-input-md + .custom-control-label {
    line-height: 2rem;
    padding-left: 3px;
    vertical-align: middle; }

.custom-control.custom-checkbox > .custom-control-input.custom-control-input-lg + .custom-control-label::before {
    width: 3.75rem;
    height: 3.75rem;
    margin-top: -0.625rem;
    margin-left: -0.625rem; }

.custom-control.custom-checkbox > .custom-control-input.custom-control-input-lg + .custom-control-label::after {
    font-size: 2.5rem; }

.custom-control.custom-checkbox > .custom-control-input.custom-control-input-lg + .custom-control-label {
    line-height: 2.5rem;
    padding-left: 6px;
    vertical-align: middle; }

.custom-control.custom-checkbox > .custom-control-input.custom-control-input-xl + .custom-control-label::before {
    width: 4.5rem;
    height: 4.5rem;
    margin-top: -0.75rem;
    margin-left: -0.75rem; }

.custom-control.custom-checkbox > .custom-control-input.custom-control-input-xl + .custom-control-label::after {
    font-size: 3rem; }

.custom-control.custom-checkbox > .custom-control-input.custom-control-input-xl + .custom-control-label {
    line-height: 3rem;
    padding-left: 10px;
    vertical-align: middle; }

/* $padding-top: (($radio-size - ($radio-size - ($radio-size / 2))) / 2);
    $padding-left: $radio-size / 2;*/
.custom-control.custom-radio > .custom-control-input.custom-control-input-xs + .custom-control-label::before {
    width: 1.05rem;
    height: 1.05rem;
    margin-top: -0.175rem;
    margin-left: -0.175rem; }

.custom-control.custom-radio > .custom-control-input.custom-control-input-xs + .custom-control-label::after {
    font-size: 0.7rem; }

.custom-control.custom-radio > .custom-control-input.custom-control-input-xs + .custom-control-label {
    line-height: 0.7rem;
    padding-left: 0px; }

/* $padding-top: (($radio-size - ($radio-size - ($radio-size / 2))) / 2);
    $padding-left: $radio-size / 2;*/
.custom-control.custom-radio > .custom-control-input.custom-control-input-sm + .custom-control-label::before {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -0.25rem;
    margin-left: -0.25rem; }

.custom-control.custom-radio > .custom-control-input.custom-control-input-sm + .custom-control-label::after {
    font-size: 1rem; }

.custom-control.custom-radio > .custom-control-input.custom-control-input-sm + .custom-control-label {
    line-height: 1rem;
    padding-left: 0px; }

/* $padding-top: (($radio-size - ($radio-size - ($radio-size / 2))) / 2);
    $padding-left: $radio-size / 2;*/
.custom-control.custom-radio > .custom-control-input.custom-control-input-md + .custom-control-label::before {
    width: 3rem;
    height: 3rem;
    margin-top: -0.5rem;
    margin-left: -0.5rem; }

.custom-control.custom-radio > .custom-control-input.custom-control-input-md + .custom-control-label::after {
    font-size: 2rem; }

.custom-control.custom-radio > .custom-control-input.custom-control-input-md + .custom-control-label {
    line-height: 2rem;
    padding-left: 3px; }

/* $padding-top: (($radio-size - ($radio-size - ($radio-size / 2))) / 2);
    $padding-left: $radio-size / 2;*/
.custom-control.custom-radio > .custom-control-input.custom-control-input-lg + .custom-control-label::before {
    width: 3.75rem;
    height: 3.75rem;
    margin-top: -0.625rem;
    margin-left: -0.625rem; }

.custom-control.custom-radio > .custom-control-input.custom-control-input-lg + .custom-control-label::after {
    font-size: 2.5rem; }

.custom-control.custom-radio > .custom-control-input.custom-control-input-lg + .custom-control-label {
    line-height: 2.5rem;
    padding-left: 6px; }

/* $padding-top: (($radio-size - ($radio-size - ($radio-size / 2))) / 2);
    $padding-left: $radio-size / 2;*/
.custom-control.custom-radio > .custom-control-input.custom-control-input-xl + .custom-control-label::before {
    width: 4.5rem;
    height: 4.5rem;
    margin-top: -0.75rem;
    margin-left: -0.75rem; }

.custom-control.custom-radio > .custom-control-input.custom-control-input-xl + .custom-control-label::after {
    font-size: 3rem; }

.custom-control.custom-radio > .custom-control-input.custom-control-input-xl + .custom-control-label {
    line-height: 3rem;
    padding-left: 10px; }

.no-gutters {
    margin-right: 0;
    margin-left: 0; }
    .no-gutters > .col,
    .no-gutters > [class*='col-'] {
        padding-right: 0;
        padding-left: 0; }

.jumbotron.jumbotron-primary {
    background-color: #9c27b0;
    color: #fff; }

.jumbotron.jumbotron-secondary {
    background-color: #ff4081;
    color: #fff; }

.jumbotron.jumbotron-success {
    background-color: #4caf50;
    color: #fff; }

.jumbotron.jumbotron-info {
    background-color: #2196f3;
    color: #fff; }

.jumbotron.jumbotron-warning {
    background-color: #ff9800;
    color: #212529; }

.jumbotron.jumbotron-danger {
    background-color: #f44336;
    color: #fff; }

.jumbotron.jumbotron-light {
    background-color: #f5f5f5;
    color: #212529; }

.jumbotron.jumbotron-dark {
    background-color: #424242;
    color: #fff; }

.jumbotron.jumbotron-link {
    background-color: #3273dc;
    color: #fff; }

.b-layout-header-fixed {
    z-index: 1020; }

.b-layout-footer-fixed {
    z-index: 1020; }

.b-layout-sider-content {
    z-index: 1021; }

.modal.show {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: fadeIn; }

.pagination-xs .page-link {
    border-radius: 0.84375rem;
    font-size: 0.75rem;
    width: 1.6875rem; }

.pagination-md .page-link {
    border-radius: 1.26rem;
    font-size: 1.12rem;
    width: 2.52rem; }

.pagination-xl .page-link {
    border-radius: 1.51875rem;
    font-size: 1.35rem;
    width: 3.0375rem; }

.b-page-progress .b-page-progress-indicator.b-page-progress-indicator-primary {
    background-color: #9c27b0; }

.b-page-progress .b-page-progress-indicator.b-page-progress-indicator-secondary {
    background-color: #ff4081; }

.b-page-progress .b-page-progress-indicator.b-page-progress-indicator-success {
    background-color: #4caf50; }

.b-page-progress .b-page-progress-indicator.b-page-progress-indicator-info {
    background-color: #2196f3; }

.b-page-progress .b-page-progress-indicator.b-page-progress-indicator-warning {
    background-color: #ff9800; }

.b-page-progress .b-page-progress-indicator.b-page-progress-indicator-danger {
    background-color: #f44336; }

.b-page-progress .b-page-progress-indicator.b-page-progress-indicator-light {
    background-color: #f5f5f5; }

.b-page-progress .b-page-progress-indicator.b-page-progress-indicator-dark {
    background-color: #424242; }

.b-page-progress .b-page-progress-indicator.b-page-progress-indicator-link {
    background-color: #3273dc; }

@-webkit-keyframes spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); } }

@keyframes spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); } }

.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite; }

.spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: 0.2em; }

@-webkit-keyframes spinner-grow {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0); }
    50% {
        opacity: 1; } }

@keyframes spinner-grow {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0); }
    50% {
        opacity: 1; } }

.spinner-grow {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: spinner-grow .75s linear infinite;
    animation: spinner-grow .75s linear infinite; }

.spinner-grow-sm {
    width: 1rem;
    height: 1rem; }

.stepper-primary.done .stepper-icon {
    background-color: #9c27b0; }

.stepper-primary.done .stepper-text {
    color: #9c27b0; }

.stepper-primary.active .stepper-icon {
    background-color: #9c27b0;
    color: #ffffff; }

.stepper-primary.active .stepper-text {
    color: #9c27b0; }

.stepper-primary .stepper-icon {
    background-color: #9c27b0; }

.stepper-primary .stepper-text {
    color: #9c27b0; }

.stepper-secondary.done .stepper-icon {
    background-color: #ff4081; }

.stepper-secondary.done .stepper-text {
    color: #ff4081; }

.stepper-secondary.active .stepper-icon {
    background-color: #9c27b0;
    color: #ffffff; }

.stepper-secondary.active .stepper-text {
    color: #ff4081; }

.stepper-secondary .stepper-icon {
    background-color: #ff4081; }

.stepper-secondary .stepper-text {
    color: #ff4081; }

.stepper-success.done .stepper-icon {
    background-color: #4caf50; }

.stepper-success.done .stepper-text {
    color: #4caf50; }

.stepper-success.active .stepper-icon {
    background-color: #9c27b0;
    color: #ffffff; }

.stepper-success.active .stepper-text {
    color: #4caf50; }

.stepper-success .stepper-icon {
    background-color: #4caf50; }

.stepper-success .stepper-text {
    color: #4caf50; }

.stepper-info.done .stepper-icon {
    background-color: #2196f3; }

.stepper-info.done .stepper-text {
    color: #2196f3; }

.stepper-info.active .stepper-icon {
    background-color: #9c27b0;
    color: #ffffff; }

.stepper-info.active .stepper-text {
    color: #2196f3; }

.stepper-info .stepper-icon {
    background-color: #2196f3; }

.stepper-info .stepper-text {
    color: #2196f3; }

.stepper-warning.done .stepper-icon {
    background-color: #ff9800; }

.stepper-warning.done .stepper-text {
    color: #ff9800; }

.stepper-warning.active .stepper-icon {
    background-color: #9c27b0;
    color: #ffffff; }

.stepper-warning.active .stepper-text {
    color: #ff9800; }

.stepper-warning .stepper-icon {
    background-color: #ff9800; }

.stepper-warning .stepper-text {
    color: #ff9800; }

.stepper-danger.done .stepper-icon {
    background-color: #f44336; }

.stepper-danger.done .stepper-text {
    color: #f44336; }

.stepper-danger.active .stepper-icon {
    background-color: #9c27b0;
    color: #ffffff; }

.stepper-danger.active .stepper-text {
    color: #f44336; }

.stepper-danger .stepper-icon {
    background-color: #f44336; }

.stepper-danger .stepper-text {
    color: #f44336; }

.stepper-light.done .stepper-icon {
    background-color: #f5f5f5; }

.stepper-light.done .stepper-text {
    color: #f5f5f5; }

.stepper-light.active .stepper-icon {
    background-color: #9c27b0;
    color: #ffffff; }

.stepper-light.active .stepper-text {
    color: #f5f5f5; }

.stepper-light .stepper-icon {
    background-color: #f5f5f5; }

.stepper-light .stepper-text {
    color: #f5f5f5; }

.stepper-dark.done .stepper-icon {
    background-color: #424242; }

.stepper-dark.done .stepper-text {
    color: #424242; }

.stepper-dark.active .stepper-icon {
    background-color: #9c27b0;
    color: #ffffff; }

.stepper-dark.active .stepper-text {
    color: #424242; }

.stepper-dark .stepper-icon {
    background-color: #424242; }

.stepper-dark .stepper-text {
    color: #424242; }

.stepper-link.done .stepper-icon {
    background-color: #3273dc; }

.stepper-link.done .stepper-text {
    color: #3273dc; }

.stepper-link.active .stepper-icon {
    background-color: #9c27b0;
    color: #ffffff; }

.stepper-link.active .stepper-text {
    color: #3273dc; }

.stepper-link .stepper-icon {
    background-color: #3273dc; }

.stepper-link .stepper-text {
    color: #3273dc; }

.stepper-horiz-content > .stepper-panel {
    display: none; }

.stepper-horiz-content > .active {
    display: block; }

.custom-switch .custom-control-input:checked.custom-control-input-primary ~ .custom-control-label::after {
    background-color: #9c27b0; }

.custom-switch .custom-control-input:checked.custom-control-input-primary ~ .custom-control-track {
    background-color: rgba(156, 39, 176, 0.25); }

.custom-switch .custom-control-input:disabled.custom-control-input-primary ~ .custom-control-label::after {
    background-color: #bdbdbd; }

.custom-switch .custom-control-input:disabled.custom-control-input-primary ~ .custom-control-track {
    background-color: rgba(189, 189, 189, 0.25); }

.custom-switch .custom-control-input:checked.custom-control-input-secondary ~ .custom-control-label::after {
    background-color: #ff4081; }

.custom-switch .custom-control-input:checked.custom-control-input-secondary ~ .custom-control-track {
    background-color: rgba(255, 64, 129, 0.25); }

.custom-switch .custom-control-input:disabled.custom-control-input-secondary ~ .custom-control-label::after {
    background-color: #bdbdbd; }

.custom-switch .custom-control-input:disabled.custom-control-input-secondary ~ .custom-control-track {
    background-color: rgba(189, 189, 189, 0.25); }

.custom-switch .custom-control-input:checked.custom-control-input-success ~ .custom-control-label::after {
    background-color: #4caf50; }

.custom-switch .custom-control-input:checked.custom-control-input-success ~ .custom-control-track {
    background-color: rgba(76, 175, 80, 0.25); }

.custom-switch .custom-control-input:disabled.custom-control-input-success ~ .custom-control-label::after {
    background-color: #bdbdbd; }

.custom-switch .custom-control-input:disabled.custom-control-input-success ~ .custom-control-track {
    background-color: rgba(189, 189, 189, 0.25); }

.custom-switch .custom-control-input:checked.custom-control-input-info ~ .custom-control-label::after {
    background-color: #2196f3; }

.custom-switch .custom-control-input:checked.custom-control-input-info ~ .custom-control-track {
    background-color: rgba(33, 150, 243, 0.25); }

.custom-switch .custom-control-input:disabled.custom-control-input-info ~ .custom-control-label::after {
    background-color: #bdbdbd; }

.custom-switch .custom-control-input:disabled.custom-control-input-info ~ .custom-control-track {
    background-color: rgba(189, 189, 189, 0.25); }

.custom-switch .custom-control-input:checked.custom-control-input-warning ~ .custom-control-label::after {
    background-color: #ff9800; }

.custom-switch .custom-control-input:checked.custom-control-input-warning ~ .custom-control-track {
    background-color: rgba(255, 152, 0, 0.25); }

.custom-switch .custom-control-input:disabled.custom-control-input-warning ~ .custom-control-label::after {
    background-color: #bdbdbd; }

.custom-switch .custom-control-input:disabled.custom-control-input-warning ~ .custom-control-track {
    background-color: rgba(189, 189, 189, 0.25); }

.custom-switch .custom-control-input:checked.custom-control-input-danger ~ .custom-control-label::after {
    background-color: #f44336; }

.custom-switch .custom-control-input:checked.custom-control-input-danger ~ .custom-control-track {
    background-color: rgba(244, 67, 54, 0.25); }

.custom-switch .custom-control-input:disabled.custom-control-input-danger ~ .custom-control-label::after {
    background-color: #bdbdbd; }

.custom-switch .custom-control-input:disabled.custom-control-input-danger ~ .custom-control-track {
    background-color: rgba(189, 189, 189, 0.25); }

.custom-switch .custom-control-input:checked.custom-control-input-light ~ .custom-control-label::after {
    background-color: #f5f5f5; }

.custom-switch .custom-control-input:checked.custom-control-input-light ~ .custom-control-track {
    background-color: rgba(245, 245, 245, 0.25); }

.custom-switch .custom-control-input:disabled.custom-control-input-light ~ .custom-control-label::after {
    background-color: #bdbdbd; }

.custom-switch .custom-control-input:disabled.custom-control-input-light ~ .custom-control-track {
    background-color: rgba(189, 189, 189, 0.25); }

.custom-switch .custom-control-input:checked.custom-control-input-dark ~ .custom-control-label::after {
    background-color: #424242; }

.custom-switch .custom-control-input:checked.custom-control-input-dark ~ .custom-control-track {
    background-color: rgba(66, 66, 66, 0.25); }

.custom-switch .custom-control-input:disabled.custom-control-input-dark ~ .custom-control-label::after {
    background-color: #bdbdbd; }

.custom-switch .custom-control-input:disabled.custom-control-input-dark ~ .custom-control-track {
    background-color: rgba(189, 189, 189, 0.25); }

.custom-switch .custom-control-input:checked.custom-control-input-link ~ .custom-control-label::after {
    background-color: #3273dc; }

.custom-switch .custom-control-input:checked.custom-control-input-link ~ .custom-control-track {
    background-color: rgba(50, 115, 220, 0.25); }

.custom-switch .custom-control-input:disabled.custom-control-input-link ~ .custom-control-label::after {
    background-color: #bdbdbd; }

.custom-switch .custom-control-input:disabled.custom-control-input-link ~ .custom-control-track {
    background-color: rgba(189, 189, 189, 0.25); }

.custom-switch .custom-control-input.custom-control-input-xs {
    /* &:not(:checked):focus ~ .custom-control-label::after {
            box-shadow: $handle-shadow, 0 0 0 $height rgba($black, 0.08);
        }

        &:checked:focus ~ .custom-control-label::after {
            box-shadow: $handle-shadow, 0 0 0 $height rgba($primary, 0.12);
        }*/ }
    .custom-switch .custom-control-input.custom-control-input-xs ~ .custom-control-track {
        height: calc(1rem - 4px);
        top: 0;
        left: 0;
        width: calc(1rem + 0.75rem); }
    .custom-switch .custom-control-input.custom-control-input-xs ~ .custom-control-label {
        padding-left: 0;
        line-height: 1rem;
        vertical-align: middle; }
        .custom-switch .custom-control-input.custom-control-input-xs ~ .custom-control-label::before {
            height: calc(1rem * 1.5);
            width: calc(1rem * 1.5); }
        .custom-switch .custom-control-input.custom-control-input-xs ~ .custom-control-label::after {
            height: calc(1rem - 4px);
            width: calc(1rem - 4px);
            left: -calc(1rem - 4px);
            border-radius: 50%;
            box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            border-radius: calc(1rem - (1rem / 2)); }
    .custom-switch .custom-control-input.custom-control-input-xs:checked ~ .custom-control-label::after,
    .custom-switch .custom-control-input.custom-control-input-xs:checked ~ .custom-control-label::before {
        transform: translateX(calc(1rem - (1rem / 2))); }

.custom-switch .custom-control-input.custom-control-input-sm {
    /* &:not(:checked):focus ~ .custom-control-label::after {
            box-shadow: $handle-shadow, 0 0 0 $height rgba($black, 0.08);
        }

        &:checked:focus ~ .custom-control-label::after {
            box-shadow: $handle-shadow, 0 0 0 $height rgba($primary, 0.12);
        }*/ }
    .custom-switch .custom-control-input.custom-control-input-sm ~ .custom-control-track {
        height: calc(1.5rem - 4px);
        top: 0;
        left: 0;
        width: calc(1.5rem + 0.75rem); }
    .custom-switch .custom-control-input.custom-control-input-sm ~ .custom-control-label {
        padding-left: 0;
        line-height: 1.5rem;
        vertical-align: middle; }
        .custom-switch .custom-control-input.custom-control-input-sm ~ .custom-control-label::before {
            height: calc(1.5rem * 1.5);
            width: calc(1.5rem * 1.5); }
        .custom-switch .custom-control-input.custom-control-input-sm ~ .custom-control-label::after {
            height: calc(1.5rem - 4px);
            width: calc(1.5rem - 4px);
            left: -calc(1.5rem - 4px);
            border-radius: 50%;
            box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            border-radius: calc(1.5rem - (1.5rem / 2)); }
    .custom-switch .custom-control-input.custom-control-input-sm:checked ~ .custom-control-label::after,
    .custom-switch .custom-control-input.custom-control-input-sm:checked ~ .custom-control-label::before {
        transform: translateX(calc(1.5rem - (1.5rem / 2))); }

.custom-switch .custom-control-input.custom-control-input-md {
    /* &:not(:checked):focus ~ .custom-control-label::after {
            box-shadow: $handle-shadow, 0 0 0 $height rgba($black, 0.08);
        }

        &:checked:focus ~ .custom-control-label::after {
            box-shadow: $handle-shadow, 0 0 0 $height rgba($primary, 0.12);
        }*/ }
    .custom-switch .custom-control-input.custom-control-input-md ~ .custom-control-track {
        height: calc(2rem - 4px);
        top: 0;
        left: 0;
        width: calc(2.5rem + 0.75rem); }
    .custom-switch .custom-control-input.custom-control-input-md ~ .custom-control-label {
        padding-left: 1.25rem;
        line-height: 2rem;
        vertical-align: middle; }
        .custom-switch .custom-control-input.custom-control-input-md ~ .custom-control-label::before {
            height: calc(2rem * 1.5);
            width: calc(2rem * 1.5); }
        .custom-switch .custom-control-input.custom-control-input-md ~ .custom-control-label::after {
            height: calc(2rem - 4px);
            width: calc(2rem - 4px);
            left: -calc(2.5rem - 4px);
            border-radius: 50%;
            box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            border-radius: calc(2.5rem - (2rem / 2)); }
    .custom-switch .custom-control-input.custom-control-input-md:checked ~ .custom-control-label::after,
    .custom-switch .custom-control-input.custom-control-input-md:checked ~ .custom-control-label::before {
        transform: translateX(calc(2.5rem - (2rem / 2))); }

.custom-switch .custom-control-input.custom-control-input-lg {
    /* &:not(:checked):focus ~ .custom-control-label::after {
            box-shadow: $handle-shadow, 0 0 0 $height rgba($black, 0.08);
        }

        &:checked:focus ~ .custom-control-label::after {
            box-shadow: $handle-shadow, 0 0 0 $height rgba($primary, 0.12);
        }*/ }
    .custom-switch .custom-control-input.custom-control-input-lg ~ .custom-control-track {
        height: calc(2.25rem - 4px);
        top: 0;
        left: 0;
        width: calc(3rem + 0.75rem); }
    .custom-switch .custom-control-input.custom-control-input-lg ~ .custom-control-label {
        padding-left: 1.5rem;
        line-height: 2.25rem;
        vertical-align: middle; }
        .custom-switch .custom-control-input.custom-control-input-lg ~ .custom-control-label::before {
            height: calc(2.25rem * 1.5);
            width: calc(2.25rem * 1.5); }
        .custom-switch .custom-control-input.custom-control-input-lg ~ .custom-control-label::after {
            height: calc(2.25rem - 4px);
            width: calc(2.25rem - 4px);
            left: -calc(3rem - 4px);
            border-radius: 50%;
            box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            border-radius: calc(3rem - (2.25rem / 2)); }
    .custom-switch .custom-control-input.custom-control-input-lg:checked ~ .custom-control-label::after,
    .custom-switch .custom-control-input.custom-control-input-lg:checked ~ .custom-control-label::before {
        transform: translateX(calc(3rem - (2.25rem / 2))); }

.custom-switch .custom-control-input.custom-control-input-xl {
    /* &:not(:checked):focus ~ .custom-control-label::after {
            box-shadow: $handle-shadow, 0 0 0 $height rgba($black, 0.08);
        }

        &:checked:focus ~ .custom-control-label::after {
            box-shadow: $handle-shadow, 0 0 0 $height rgba($primary, 0.12);
        }*/ }
    .custom-switch .custom-control-input.custom-control-input-xl ~ .custom-control-track {
        height: calc(2.5rem - 4px);
        top: 0;
        left: 0;
        width: calc(4rem + 0.75rem); }
    .custom-switch .custom-control-input.custom-control-input-xl ~ .custom-control-label {
        padding-left: 2rem;
        line-height: 2.5rem;
        vertical-align: middle; }
        .custom-switch .custom-control-input.custom-control-input-xl ~ .custom-control-label::before {
            height: calc(2.5rem * 1.5);
            width: calc(2.5rem * 1.5); }
        .custom-switch .custom-control-input.custom-control-input-xl ~ .custom-control-label::after {
            height: calc(2.5rem - 4px);
            width: calc(2.5rem - 4px);
            left: -calc(4rem - 4px);
            border-radius: 50%;
            box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            border-radius: calc(4rem - (2.5rem / 2)); }
    .custom-switch .custom-control-input.custom-control-input-xl:checked ~ .custom-control-label::after,
    .custom-switch .custom-control-input.custom-control-input-xl:checked ~ .custom-control-label::before {
        transform: translateX(calc(4rem - (2.5rem / 2))); }

table.table tbody tr.selected {
    background-color: var(--primary); }

tr.table-row-selectable:hover {
    cursor: pointer; }

.nav.nav-tabs .nav-item a.nav-link {
    cursor: pointer; }

h1.card-title,
.h1.card-title {
    font-size: 2.5rem; }

h2.card-title,
.h2.card-title {
    font-size: 2rem; }

h3.card-title,
.h3.card-title {
    font-size: 1.75rem; }

h4.card-title,
.h4.card-title {
    font-size: 1.5rem; }

h5.card-title,
.h5.card-title {
    font-size: 1.25rem; }

h6.card-title,
.h6.card-title {
    font-size: 1rem; }
