.form-check > .form-check-input.form-check-input-pointer,
.form-check > .form-check-label.form-check-label-pointer,
.custom-checkbox > .custom-control-input.custom-control-input-pointer,
.custom-checkbox > .custom-control-label.custom-control-label-pointer {
    cursor: pointer; }

.jumbotron.jumbotron-primary {
    background-color: #9c27b0;
    color: #fff; }

.jumbotron.jumbotron-secondary {
    background-color: #ff4081;
    color: #fff; }

.jumbotron.jumbotron-success {
    background-color: #4caf50;
    color: #fff; }

.jumbotron.jumbotron-info {
    background-color: #2196f3;
    color: #fff; }

.jumbotron.jumbotron-warning {
    background-color: #ff9800;
    color: #212529; }

.jumbotron.jumbotron-danger {
    background-color: #f44336;
    color: #fff; }

.jumbotron.jumbotron-light {
    background-color: #f5f5f5;
    color: #212529; }

.jumbotron.jumbotron-dark {
    background-color: #424242;
    color: #fff; }

.modal-backdrop {
    z-index: -1; }

@-webkit-keyframes spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); } }

@keyframes spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); } }

.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite; }

.spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: 0.2em; }

@-webkit-keyframes spinner-grow {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0); }
    50% {
        opacity: 1; } }

@keyframes spinner-grow {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0); }
    50% {
        opacity: 1; } }

.spinner-grow {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: spinner-grow .75s linear infinite;
    animation: spinner-grow .75s linear infinite; }

.spinner-grow-sm {
    width: 1rem;
    height: 1rem; }

table.table tbody tr.selected {
    background-color: var(--primary); }

tr.table-row-selectable:hover {
    cursor: pointer; }

h1.card-title,
.h1.card-title {
    font-size: 2.5rem; }

h2.card-title,
.h2.card-title {
    font-size: 2rem; }

h3.card-title,
.h3.card-title {
    font-size: 1.75rem; }

h4.card-title,
.h4.card-title {
    font-size: 1.5rem; }

h5.card-title,
.h5.card-title {
    font-size: 1.25rem; }

h6.card-title,
.h6.card-title {
    font-size: 1rem; }
