@namespace Blazorise
@inherits BaseComponent
<CascadingValue Value=this>
    <div id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @ChildContent
    </div>
</CascadingValue>