@inherits Blazorise.BarDropdown
<CascadingValue Value=this>
    <CascadingValue Value="@Store">
        @if (Store.Mode == BarMode.Horizontal)
        {
            @ChildContent
        }
        else
        {
            <div class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
                @ChildContent
            </div>
        }
    </CascadingValue>
</CascadingValue>