@inherits Blazorise.CloseButton
<button type="button" class="@ClassNames" style="@StyleNames" aria-label="Close" @onclick="@ClickHandler" @attributes="@Attributes">
    <span aria-hidden="true">&times;</span>
    @ChildContent
</button>
