@inherits BaseFieldBody
<CascadingValue Value=this>
    @if ( ParentIsHorizontal )
    {
        <div class="@Classnames">
            @ChildContent
        </div>
    }
    else
    {
        @ChildContent
    }
</CascadingValue>