@namespace Blazorise
@inherits BaseComponent

<div id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    @if ( Mode == TabsMode.Default || ( Mode == TabsMode.LazyReload && Active ) )
    {
        @ChildContent
    }
</div>

