@namespace Blazorise
@if ( Content is not null )
{
    <main id="@Context.GetDockNodeElementId( NodeId )" class="@Content.ClassNames" style="@Content.StyleNames">
        @Content.ChildContent
    </main>
}