<link href="_content/Blazorise.Icons.FluentUI/FluentSystemIcons-Resizable.css" rel="stylesheet" />

<link href="_content/Blazorise/blazorise.css" rel="stylesheet" />
<link href="_content/Blazorise.FluentUI2/reboot.css" rel="stylesheet" />
<link href="_content/Blazorise.FluentUI2/blazorise.fluentui2.css" rel="stylesheet" />