<link href="_content/Blazorise.Icons.FluentUI/FluentSystemIcons-Resizable.css?v=1.8.0.0" rel="stylesheet" />

<link href="_content/Blazorise/blazorise.css?v=1.8.0.0" rel="stylesheet" />
<link href="_content/Blazorise.FluentUI2/reboot.css?v=1.8.0.0" rel="stylesheet" />
<link href="_content/Blazorise.FluentUI2/blazorise.fluentui2.css?v=1.8.0.0" rel="stylesheet" />