<link href="_content/Blazorise.Icons.FluentUI/blazorise.icons.fluentui.css?v=__BLAZORISE_VERSION__" rel="stylesheet" />

<link href="_content/Blazorise/blazorise.css?v=__BLAZORISE_VERSION__" rel="stylesheet" />
<link href="_content/Blazorise.FluentUI2/reboot.css?v=__BLAZORISE_VERSION__" rel="stylesheet" />
<link href="_content/Blazorise.FluentUI2/blazorise.fluentui2.css?v=__BLAZORISE_VERSION__" rel="stylesheet" />