
<h2>Manual Close Button</h2>
<p id="close-button-event">
  <button type="button" class="close" aria-label="Close" blazor:onclick="1" id="close-button">Count</button>
  <span id="close-button-event-result">0</span>
</p>
<h2>Auto Close Button</h2>
<p id="autoclose-button-event"></p>
<div class="alert" role="alert" blazor:elementreference="Guid_1">
  <button id="autoclose-button" type="button" class="close" aria-label="Close" blazor:onclick="2"></button>
</div>
<span id="autoclose-button-event-result">0</span>
<p></p>