
<h3>DateEdit - DateTime</h3>
<p id="date-event-initially-undefined">
  <input type="date" class="form-control" value="0001-01-01" blazor:onchange="1" step="1" blazor:onkeydown="2" blazor:onkeypress="3" blazor:onkeyup="4" blazor:onblur="5" blazor:onfocus="6" blazor:onfocusin="7" blazor:onfocusout="8" id="date-control" blazor:elementreference="Guid_1">
  <span>The Value should update automatically as you edit in the date field</span>
  <span id="date-event-initially-undefined-result">01/01/0001 00:00:00</span>
</p>
<p id="nullable-date-event-initially-null">
  <input type="date" class="form-control" blazor:onchange="9" step="1" blazor:onkeydown="10" blazor:onkeypress="11" blazor:onkeyup="12" blazor:onblur="13" blazor:onfocus="14" blazor:onfocusin="15" blazor:onfocusout="16" id="nullable-date-control" blazor:elementreference="Guid_2">
  <span>The Value should update automatically as you type in the date field</span>
  <span id="nullable-date-event-initially-null-result"></span>
</p>
<h3>DateEdit - DateTimeOffset</h3>
<p id="date-offset-event-initially-undefined">
  <input type="date" class="form-control" value="0001-01-01" blazor:onchange="17" step="1" blazor:onkeydown="18" blazor:onkeypress="19" blazor:onkeyup="20" blazor:onblur="21" blazor:onfocus="22" blazor:onfocusin="23" blazor:onfocusout="24" id="date-offset-control" blazor:elementreference="Guid_3">
  <span>The Value should update automatically as you edit in the date field</span>
  <span id="date-offset-event-initially-undefined-result">01/01/0001 00:00:00 +00:00</span>
</p>
<p id="nullable-date-offset-event-initially-null">
  <input type="date" class="form-control" blazor:onchange="25" step="1" blazor:onkeydown="26" blazor:onkeypress="27" blazor:onkeyup="28" blazor:onblur="29" blazor:onfocus="30" blazor:onfocusin="31" blazor:onfocusout="32" id="nullable-date-offset-control" blazor:elementreference="Guid_4">
  <span>The Value should update automatically as you type in the date field</span>
  <span id="nullable-date-offset-event-initially-null-result"></span>
</p>
<h3>DateEdit - Validation</h3>
<p id="validation-initially-undefined">
  <input type="date" class="form-control is-invalid" value="0001-01-01" blazor:onchange="33" step="1" blazor:onkeydown="34" blazor:onkeypress="35" blazor:onkeyup="36" blazor:onblur="37" blazor:onfocus="38" blazor:onfocusin="39" blazor:onfocusout="40" id="date-validation-control" blazor:elementreference="Guid_5">
  <span id="validation-initially-undefined-result">01/01/0001 00:00:00</span>
</p>