
<h3>DatePicker - DateTime</h3>
<p id="date-event-initially-undefined">
  <input type="text" class="form-control" value="0001-01-01" blazor:onchange="1" blazor:onclick="2" blazor:onkeydown="3" blazor:onkeypress="4" blazor:onkeyup="5" blazor:onblur="6" blazor:onfocus="7" blazor:onfocusin="8" blazor:onfocusout="9" id="date-control" blazor:elementreference="Guid_1">
  <span>The Value should update automatically as you edit in the date field</span>
  <span id="date-event-initially-undefined-result">01/01/0001 00:00:00</span>
</p>
<p id="nullable-date-event-initially-null">
  <input type="text" class="form-control" blazor:onchange="10" blazor:onclick="11" blazor:onkeydown="12" blazor:onkeypress="13" blazor:onkeyup="14" blazor:onblur="15" blazor:onfocus="16" blazor:onfocusin="17" blazor:onfocusout="18" id="nullable-date-control" blazor:elementreference="Guid_2">
  <span>The Value should update automatically as you type in the date field</span>
  <span id="nullable-date-event-initially-null-result"></span>
</p>
<h3>DatePicker - DateTimeOffset</h3>
<p id="date-offset-event-initially-undefined">
  <input type="text" class="form-control" value="0001-01-01" blazor:onchange="19" blazor:onclick="20" blazor:onkeydown="21" blazor:onkeypress="22" blazor:onkeyup="23" blazor:onblur="24" blazor:onfocus="25" blazor:onfocusin="26" blazor:onfocusout="27" id="date-offset-control" blazor:elementreference="Guid_3">
  <span>The Value should update automatically as you edit in the date field</span>
  <span id="date-offset-event-initially-undefined-result">01/01/0001 00:00:00 +00:00</span>
</p>
<p id="nullable-date-offset-event-initially-null">
  <input type="text" class="form-control" blazor:onchange="28" blazor:onclick="29" blazor:onkeydown="30" blazor:onkeypress="31" blazor:onkeyup="32" blazor:onblur="33" blazor:onfocus="34" blazor:onfocusin="35" blazor:onfocusout="36" id="nullable-date-offset-control" blazor:elementreference="Guid_4">
  <span>The Value should update automatically as you type in the date field</span>
  <span id="nullable-date-offset-event-initially-null-result"></span>
</p>
<h3>DatePicker - Validation</h3>
<p id="validation-initially-undefined">
  <input type="text" class="form-control is-invalid" value="0001-01-01" blazor:onchange="37" blazor:onclick="38" blazor:onkeydown="39" blazor:onkeypress="40" blazor:onkeyup="41" blazor:onblur="42" blazor:onfocus="43" blazor:onfocusin="44" blazor:onfocusout="45" id="date-validation-control" blazor:elementreference="Guid_5">
  <span id="validation-initially-undefined-result">01/01/0001 00:00:00</span>
</p>