@namespace Blazorise.Docs.Docs.Examples

<Button Color="Color.Primary" Clicked="@(()=>snackbarStack.PushAsync( DateTime.Now.ToString(), SnackbarColor.Info))">Primary</Button>

<Button Color="Color.Info" Clicked="@(()=>snackbarStack.PushAsync("Some info message! Timeout: " + intervalBeforeMsgClose, SnackbarColor.Info, options => {  options.IntervalBeforeClose = intervalBeforeMsgClose; } ))">Show Info</Button>

<SnackbarStack @ref="snackbarStack" Location="SnackbarStackLocation.BottomEnd" />

@code{
    SnackbarStack snackbarStack;
    double intervalBeforeMsgClose = 2000;
}