@inherits BaseComponent
<div class="@ClassNames" style="@StyleNames" @onclick="@OnClickHandler" @attributes="@Attributes">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>