@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    <button class="@ClassNames" type="button" @onclick="@ClickHandler">
        @ChildContent
    </button>
}
else
{
    @RenderCustomComponent()
}