@inherits BaseSnackbarAction
@if ( !HasCustomRegistration )
{
    <button class="@Classnames" type="button" @onclick="@ClickHandler">
        @ChildContent
    </button>
}
else
{
    @RenderCustomComponent()
}