@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    <div class="@ClassNames">
        <CascadingValue Value="this">
            @ChildContent
        </CascadingValue>
    </div>
}
else
{
    @RenderCustomComponent()
}