@inherits Base.BaseSnackbarAction
@if ( !HasCustomRegistration )
{
    <button class="@ClassMapper.Class" type="button" @onclick="@ClickHandler">
        @ChildContent
    </button>
}
else
{
    @RenderCustomComponent()
}