_registrationModel = this.WhenAnyValue(x => x.EmailAddress, y => y.Password)
                .Select(model => new RegistrationModel { Email = model.Item1, Password = model.Item2})
                .ToProperty(this, x => x.RegistrationModel);