public sealed class MockNavigationManager
    : NavigationManager
{
    public MockNavigationManager() : base() => 
        this.Initialize("http://localhost/", "http://localhost/test");

    protected override void NavigateToCore(string uri, bool forceLoad) 
        => WasNavigateInvoked = true;

    public bool WasNavigateInvoked { get; private set; }
}  