.ant-tag-primary {
    color: var(--ant-primary-color);
    background: var(--ant-primary-1);
    border-color: var(--ant-primary-color-outline);
}

.ant-tag-light {
    color: #595959;
    background: #f5f5f5;
    border-color: #d9d9d9;
}

.ant-tag-dark {
    color: #f5f5f5;
    background: #595959;
    border-color: #1f1f1f;
}

.ant-tag-info {
    color: var(--ant-info-color);
    background: var(--ant-info-color-deprecated-bg);
    border-color: var(--ant-info-color-deprecated-border);
}

.ant-tag-link {
    color: var(--ant-primary-color);
}

.ant-tag-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}

.ant-tag {
    @each $color-name, $color-value in $theme-colors-text-emphasis {
        &.ant-tag-#{$color-name}-subtle {
            color: #{$color-value};
            background-color: #{map-get($theme-colors-bg-subtle, $color-name)};
            border-color: #{map-get($theme-colors-border-subtle, $color-name)};
        }
    }

    .anticon.anticon-close {
        @each $color-name, $color-value in $theme-colors-text-emphasis {
            &.ant-tag-#{$color-name}-subtle {
                color: #{$color-value};
                background-color: #{map-get($theme-colors-bg-subtle, $color-name)};
                border-color: #{map-get($theme-colors-border-subtle, $color-name)};
            }
        }
    }
}
