@namespace Blazorise.Docs.Docs.Examples
@using System
@using System.Linq

<Validations @ref="@validations" Mode="ValidationMode.Manual">
    <Validation Validator="@ValidatePasswordPolicy">
        <Field>
            <FieldLabel RequiredIndicator>Password</FieldLabel>
            <FieldBody>
                <PasswordStrength @bind-Value="@password"
                                  MinimumLength="12"
                                  RequireUppercase
                                  RequireLowercase
                                  RequireNumber
                                  RequireSpecialCharacter>
                    <Feedback>
                        <ValidationError>Please enter a password that satisfies all active policy rules.</ValidationError>
                    </Feedback>
                </PasswordStrength>
            </FieldBody>
        </Field>
    </Validation>

    <Button Color="Color.Primary" Clicked="@ValidateAll">
        Validate
    </Button>
</Validations>

@code {
    private Validations validations;
    private string password;

    private void ValidatePasswordPolicy( ValidatorEventArgs eventArgs )
    {
        string currentPassword = Convert.ToString( eventArgs.Value );

        if ( string.IsNullOrWhiteSpace( currentPassword ) )
        {
            eventArgs.Status = ValidationStatus.Error;
            return;
        }

        bool hasMinimumLength = currentPassword.Length >= 12;
        bool hasUppercase = currentPassword.Any( char.IsUpper );
        bool hasLowercase = currentPassword.Any( char.IsLower );
        bool hasNumber = currentPassword.Any( char.IsDigit );
        bool hasSpecialCharacter = currentPassword.Any( c => char.IsPunctuation( c ) || char.IsSymbol( c ) );

        bool isValid = hasMinimumLength
            && hasUppercase
            && hasLowercase
            && hasNumber
            && hasSpecialCharacter;

        eventArgs.Status = isValid
            ? ValidationStatus.Success
            : ValidationStatus.Error;
    }

    private Task ValidateAll()
    {
        return validations.ValidateAll();
    }
}