@namespace Blazorise.Docs.Docs.Examples

<PasswordStrength @bind-Value="@password"
                  Title="Password Strength"
                  Placeholder="Use a long passphrase"
                  StrengthChanged="@OnStrengthChanged" />

<Div Margin="Margin.Is3.FromTop">
    <Span TextWeight="TextWeight.SemiBold">Current score:</Span> @score%
</Div>

@code {
    private string password;
    private int score;

    private void OnStrengthChanged( PasswordStrengthChangedEventArgs eventArgs )
    {
        score = eventArgs.Score;
    }
}