@namespace Blazorise.Docs.Docs.Examples

<Div Width="Width.Px().Max( 520 )" Background="Background.Light" Border="Border.Is1.Secondary.Subtle" Padding="Padding.Is3">
    <Div Width="Width.Is25"
         Padding="Padding.Is2"
         Margin="Margin.Is2.FromBottom"
         Background="Background.Primary.Subtle"
         Border="Border.Is1.Primary"
         TextColor="TextColor.Primary.Emphasis">
        Width.Is25
    </Div>
    <Div Width="Width.Is50"
         Padding="Padding.Is2"
         Margin="Margin.Is2.FromBottom"
         Background="Background.Success.Subtle"
         Border="Border.Is1.Success"
         TextColor="TextColor.Success.Emphasis">
        Width.Is50
    </Div>
    <Div Width="Width.Is100.OnMobile.Is50.OnDesktop"
         Padding="Padding.Is2"
         Background="Background.Info.Subtle"
         Border="Border.Is1.Info"
         TextColor="TextColor.Info.Emphasis">
        Width.Is100.OnMobile.Is50.OnDesktop
    </Div>
</Div>