@namespace Blazorise.Docs.Docs.Examples

<Fields>
    <Field ColumnSize="ColumnSize.IsHalf">
        <FieldLabel>First name</FieldLabel>
        <FieldBody>
            <TextInput Value="John" />
        </FieldBody>
    </Field>
    <Field ColumnSize="ColumnSize.IsHalf">
        <FieldLabel>Last name</FieldLabel>
        <FieldBody>
            <TextInput Value="Smith" />
        </FieldBody>
    </Field>
    <Field ColumnSize="ColumnSize.IsFull">
        <FieldLabel>Email address</FieldLabel>
        <FieldBody>
            <TextInput Value="john.smith@example.com" />
        </FieldBody>
    </Field>
    <Field Flex="Flex.JustifyContent.Between">
        <Button Color="Color.Danger">Delete</Button>
        <Div>
            <Button Color="Color.Secondary">Cancel</Button>
            <Button Color="Color.Primary">Create account</Button>
        </Div>
    </Field>
</Fields>