@namespace Blazorise.Docs.Docs.Examples

<Button Color="Color.Primary" Size="Size.Large">Large</Button>
<Button Color="Color.Primary">Normal</Button>
<Button Color="Color.Primary" Size="Size.Small">Small</Button>