@namespace Blazorise.Docs.Docs.Examples

<Card Width="Width.Rem(18)">
    <CardImage Source="/img/gallery/5.jpg" Alt="Placeholder image" />
    <CardBody>
        <CardTitle Size="HeadingSize.Is3">
            Card with stretched link
        </CardTitle>
        <CardText>
            Some quick example text to build on the card title and make up the bulk of the card's content.
        </CardText>
        <Button Type="ButtonType.Link" To="#" Color="Color.Primary" StretchedLink>
            Go somewhere
        </Button>
    </CardBody>
</Card>