.e-btn {
    &.e-btn-tiny {
        padding: .275rem .475rem;
        font-size: .6rem;
    }

    &.e-btn-small {
        padding: .27rem .85rem;
        font-size: .85rem;
    }

    &.e-btn-medium {
        padding: .65rem 1.65rem;
        font-size: 1.1rem;
    }

    &.e-btn-plus {
        padding: .75rem 2rem;
        font-size: 1.125rem;
    }

    &.e-btn-huge {
        padding: .85rem 2.4rem;
        font-size: 1.5rem;
    }
}

.e-buttons-tiny > .e-btn {
    @extend .e-btn-tiny;
}

.e-buttons-small > .e-btn {
    @extend .e-btn-small;
}

.e-buttons-medium > .e-btn {
    @extend .e-btn-medium;
}

.e-buttons-plus > .e-btn {
    @extend .e-btn-plus;
}

.e-buttons-huge > .e-btn {
    @extend .e-btn-huge;
}
