.collapse:not(.show) {
    display: none;
}

.accordion > .e-card {
    overflow: hidden;
}

.accordion > .e-card:not(:first-of-type) .e-card-body:first-child {
    border-radius: 0;
}

.accordion > .e-card:not(:first-of-type):not(:last-of-type) {
    border-bottom: 0;
    border-radius: 0;
}

.accordion > .e-card:first-of-type:not(:last-of-type) {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.accordion > .e-card:last-of-type {
    border-top-left-radius: 0;
}

.accordion > .e-card .e-card-body {
    margin-bottom: 1px;
}
