.e-figure {
    // Ensures the caption's text aligns with the image.
    display: inline-block;
}

.e-figure-img {
    margin-bottom: 1rem / 2;
    line-height: 1;
}

.e-figure-caption {
    font-size: 90%;
    color: #6c757d;
}
