label.e-btn {
    display: flex;
}

label.e-btn {
    outline: none;
    display: inline-flex;
    align-items: center;

    input[type=radio] {
        position: absolute;
        left: 0;
        opacity: 0;
        outline: none;
        z-index: -1;
    }
}

select.e-select {
    width: 100%;
}

.e-form-group .e-dropdown {
    margin: 0;
}

.drop-items-right {
    right: 0;
    left: auto;
}

.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

.spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: 0.2em;
}

.spinner-grow {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: spinner-grow .75s linear infinite;
    animation: spinner-grow .75s linear infinite;
}

.spinner-grow-sm {
    width: 1rem;
    height: 1rem;
}

.e-form-group > .e-label-pointer,
.e-form-group > .e-label-pointer > .e-check-pointer {
    cursor: pointer;
}

.e-control-tiny.e-control, .e-select-tiny.e-select:not([multiple]) {
    height: calc(1.5rem + 2px);
    padding: .275rem .475rem;
    font-size: .6rem;
}

.e-control-small.e-control, .e-select-small.e-select:not([multiple]) {
    height: calc(1.75rem + 2px);
    padding: .3rem .5rem;
    font-size: .8rem;
}

.e-control-medium.e-control, .e-select-medium.e-select:not([multiple]) {
    height: calc(2.75rem + 2px);
    padding: .4rem 1rem;
    font-size: 1.1rem;
}

.e-control-plus.e-control, .e-select-plus.e-select:not([multiple]) {
    height: calc(3.15rem + 2px);
    padding: .45rem 1rem;
    font-size: 1.2rem;
}

.e-control-huge.e-control, .e-select-huge.e-select:not([multiple]) {
    height: calc(3.75rem + 2px);
    padding: .65rem 1.2rem;
    font-size: 1.4rem;
}

.e-buttons.unified.e-buttons-vertical {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .e-btn {
        display: block;
        width: 100%;
        border-radius: 0;
    }

    .e-btn:not(:last-child) {
        margin: -1px;
    }
}
