.e-face-subtitle {
    font-size: 1.25rem;
    font-weight: 300;
}

.e-face {
    @each $name, $value in $theme-colors {
        $color: $value;
        $color-invert: color-yiq($value);

        &.e-face-#{$name} {
            background-color: $color;
            color: $color-invert;
        }
    }
}
