.e-pagination {
    &.tiny {
        & .e-page-item {
            padding: 0.1em 0.4em;
            min-width: 1em;
        }
    }
}

.e-pagination {
    &.medium {
        & .e-page-item {
            padding: 0.5em 0.9em;
        }
    }
}

.e-pagination {
    &.plus {
        & .e-page-item {
            padding: 0.7em 1.1em;
        }
    }
}

.e-pagination {
    &.huge {
        & .e-page-item {
            padding: 0.9em 1.3em;
        }
    }
}
