.e-progress {
    &.e-progress-tiny {
        height: 8px;
    }

    &.e-progress-small {
        height: 12px;
    }

    &.e-progress-medium {
        height: 20px;
    }

    &.e-progress-plus {
        height: 24px;
    }

    &.e-progress-huge {
        height: 28px !important;
    }
}

.b-page-progress {
    .b-page-progress-indicator {
        @each $name, $value in $theme-colors {
            $color: $value;

            &.b-page-progress-indicator-#{$name} {
                background-color: $color;
            }
        }
    }
}

