@import "variables";

.e-rating {
    &:not(.e-rating-disabled):not(.e-rating-readonly):hover {
        .e-rating-item {
            cursor: pointer;
        }
    }

    &.rating-disabled {
        opacity: .65;
    }

    .e-rating-item {
        @each $name, $value in $theme-colors {
            $color: $value;

            &.e-rating-item-#{$name} {
                color: $color;
            }
        }

        &.e-rating-item-hover {
            opacity: 0.7;
        }
    }
}
