.e-tabs.vertical ul {
    -webkit-flex-direction: column;
    flex-direction: column;
}

.e-tabs {
    &.vertical li {
        width: 100%;

        > a {
            width: 100%;
        }
    }

    ul {
        li {
            a {
                cursor: pointer;
            }
        }
    }
}

.e-tabs-content > .e-tabs-panel {
    display: none;
}

.e-tabs-content > .e-tabs-panel {
    display: none;
}

.e-tabs-content > .active {
    display: block;
    background-color: inherit !important;
}
