@-webkit-keyframes spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinner-grow {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        opacity: 1;
    }
}

@keyframes spinner-grow {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        opacity: 1;
    }
}

.e-rounded {
    border-radius: 0.25rem !important;
}

$dimensions: 16 24 32 48 64 96 128 256 512 !default

@each $dimension in $dimensions {
    &.e-figure-is-#{$dimension}x#{$dimension} {
        height: $dimension * 1px;
        width: $dimension * 1px;
    }
}

.e-is-none {
    display: none;
}

.e-is-inline {
    display: inline !important;
}

.e-is-inline-block {
    display: inline-block !important;
}

.e-is-block {
    display: block !important;
}

.e-is-table {
    display: table !important;
}

.e-is-table-row {
    display: table-row !important;
}

.e-is-table-cell {
    display: table-cell !important;
}

.e-is-flex {
    display: flex !important;
}

.e-is-inline-flex {
    display: inline-flex !important;
}

.e-is-table {
    display: table !important;
}

.e-is-table-row {
    display: table-row !important;
}

.e-is-table-cell {
    display: table-cell !important;
}

.e-is-flex-row {
    flex-direction: row !important;
}

.e-is-flex-column {
    flex-direction: column !important;
}

.e-is-flex-row-reverse {
    flex-direction: row-reverse !important;
}

.e-is-flex-column-reverse {
    flex-direction: column-reverse !important;
}

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);


        .d#{$infix}-inline {
            display: inline !important;
        }

        .d#{$infix}-inline-block {
            display: inline-block !important;
        }

        .d#{$infix}-block {
            display: block !important;
        }

        .d#{$infix}-flex {
            display: flex !important;
        }

        .d#{$infix}-inline-flex {
            display: inline-flex !important;
        }

        .flex#{$infix}-row {
            flex-direction: row !important;
        }

        .flex#{$infix}-column {
            flex-direction: column !important;
        }

        .flex#{$infix}-row-reverse {
            flex-direction: row-reverse !important;
        }

        .flex#{$infix}-column-reverse {
            flex-direction: column-reverse !important;
        }
    }
}


.e-border {
    border: $border-width solid $border-color !important;
}

.e-border-top {
    border-top: $border-width solid $border-color !important;
}

.e-border-right {
    border-right: $border-width solid $border-color !important;
}

.e-border-bottom {
    border-bottom: $border-width solid $border-color !important;
}

.e-border-left {
    border-left: $border-width solid $border-color !important;
}

.e-border-0 {
    border: 0 !important;
}

.e-border-top-0 {
    border-top: 0 !important;
}

.e-border-right-0 {
    border-right: 0 !important;
}

.e-border-bottom-0 {
    border-bottom: 0 !important;
}

.e-border-left-0 {
    border-left: 0 !important;
}

@each $name, $value in $theme-colors {
    $color: $value;

    .e-border-#{$name} {
        border-color: $color !important;
    }
}

.e-border-white {
    border-color: white !important;
}

.e-rounded {
    border-radius: $radius !important;
}

.e-rounded-top {
    border-top-left-radius: $radius !important;
    border-top-right-radius: $radius !important;
}

.e-rounded-right {
    border-top-right-radius: $radius !important;
    border-bottom-right-radius: $radius !important;
}

.e-rounded-bottom {
    border-bottom-right-radius: $radius !important;
    border-bottom-left-radius: $radius !important;
}

.e-rounded-left {
    border-top-left-radius: $radius !important;
    border-bottom-left-radius: $radius !important;
}

.e-rounded-circle {
    border-radius: 50% !important;
}

.e-rounded-pill {
    border-radius: $radius-pill !important;
}

.e-rounded-0 {
    border-radius: 0 !important;
}
