@namespace Blazorise
@inherits BaseContainerComponent
<div id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    <Span>@ParentRow?.ColumnIndex(this)</Span>
    @ChildContent
</div>