@namespace Blazorise.Docs.Docs.Examples

<OffcanvasHeader>
    <Heading Size="HeadingSize.Is5">Please fill in the formulary</Heading>
    <CloseButton />
</OffcanvasHeader>
<OffcanvasBody>
    <Field Horizontal>
        <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is3.OnDesktop">First Name</FieldLabel>
        <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is9.OnDesktop">
            <TextEdit @bind-Text="model.FirstName"></TextEdit>
        </FieldBody>
    </Field>

    <Field Horizontal>
        <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is3.OnDesktop">Email</FieldLabel>
        <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is9.OnDesktop">
            <TextEdit @bind-Text="model.Email"></TextEdit>
        </FieldBody>
    </Field>

    @if ( !isValid )
    {
        <Paragraph>
            <Label>Invalid Submission!</Label>
        </Paragraph>
    }
</OffcanvasBody>
<OffcanvasFooter>
    <Button Color="Color.Success" Clicked="Confirm">Confirm</Button>
    <Button Color="Color.Secondary" Clicked="OffcanvasService.Hide">Close</Button>
</OffcanvasFooter>
@code {
    private Employee model = new();
    private bool isValid = true;

    [Inject] public IOffcanvasService OffcanvasService { get; set; }

    [Parameter] public Func<Employee, Task<bool>> OnValidate { get; set; }

    [Parameter] public Func<Employee, Task> OnSuccess { get; set; }

    private async Task Confirm()
    {
        if ( OnValidate is not null )
            isValid = await OnValidate( model );

        if ( !isValid )
        {
            return;
        }

        await OnSuccess( model );
        await OffcanvasService.Hide();
    }
}