@namespace Blazorise.Docs.Docs.Examples

<Button Color="Color.Warning" Clicked="@ShowWarningNotification">Show alert!</Button>

@code {
    [Inject] INotificationService NotificationService { get; set; }

    Task ShowWarningNotification()
    {
        return NotificationService.Warning( "This is a simple notification message!", "Hello", options =>
        {
            options.IntervalBeforeClose = 500;
            options.Multiline = true;
            options.OkButtonIcon = true;
            options.OkButtonText = "OK";
        } );
    }
}