@namespace Blazorise.Docs.Docs.Examples

<Row>
    <Column>
        <FieldLabel>
            Image Cropper
        </FieldLabel>
        <FieldBody>
            <Cropper @ref="cropper" Source="img/gallery/3.jpg" PreviewSelector=".cropper-preview" />
        </FieldBody>
    </Column>
    <Column>
        <Row>
            <Column>
                <FieldBody>
                    <div class="cropper-preview" style="margin: 10px; width: 150px; height: 150px; overflow: hidden" />
                </FieldBody>
            </Column>
        </Row>
        <Row>
            <Column>
                <Row Margin="Margin.Is3.FromTop">
                    <Column>
                        <Button Color="Color.Primary" Clicked="@GetCroppedImage">Get Cropped Image</Button>
                    </Column>
                    <Column>
                        <Image Source="@result" Style="width: 250px; height: 250px;" />
                    </Column>
                </Row>
            </Column>
        </Row>
    </Column>
</Row>


@code {
    private Cropper cropper;
    private string result;

    private Task OnCropped()
    {
        return Task.CompletedTask;
    }

    private async Task GetCroppedImage()
    {
        result = await cropper.CropAsBase64ImageAsync( new() { Width = 250, Height = 250 } );
    }
}