@namespace Blazorise.Docs.Docs.Examples

<Row>
    <Column>
        <FieldLabel>
            Image Cropper
        </FieldLabel>
        <FieldBody>
            <Cropper @ref="cropper" Source="img/gallery/3.jpg" />
        </FieldBody>
    </Column>
    <Column>
        <Div Margin="Margin.Is2.FromBottom">
            <Button Color="Color.Primary" Clicked="@GetCroppedImage">Get Cropped Image</Button>
        </Div>
        <Image Source="@result" Style="width: 250px; height: 250px;" />
    </Column>
</Row>


@code {
    private Cropper cropper;
    private string result;

    private Task OnCropped()
    {
        return Task.CompletedTask;
    }

    private async Task GetCroppedImage()
    {
        result = await cropper.CropAsBase64ImageAsync( new() { Width = 250, Height = 250 } );
    }
}