.b-richtextedit {
    > .b-richtextedit-toolbar.ql-bubble,
    > .b-richtextedit-editor.ql-bubble {
        border-style: solid;
        border-width: $border-width;
        border-color: $border;
    }

    > .b-richtextedit-toolbar + .b-richtextedit-content + .b-richtextedit-editor,
    > .b-richtextedit-toolbar + .b-richtextedit-editor {
        border-top: 0;
    }

    > .b-richtextedit-editor + .b-richtextedit-content + .b-richtextedit-toolbar,
    > .b-richtextedit-editor + .b-richtextedit-toolbar {
        border-top: 0;
    }
}

.b-richtextedit.is-success {
    > .b-richtextedit-editor.ql-container,
    > .b-richtextedit-toolbar.ql-toolbar {
        border-color: var(--b-theme-success, $success);
    }
}

.b-richtextedit.is-danger {
    > .b-richtextedit-editor.ql-container,
    > .b-richtextedit-toolbar.ql-toolbar {
        border-color: var(--b-theme-danger, $danger);
    }
}
