.is-success {
    > .ql-container,
    > .ql-toolbar {
        border-color: var(--b-theme-success, $success) !important;
    }
}

.is-danger {
    > .ql-container,
    > .ql-toolbar {
        border-color: var(--b-theme-danger, $danger) !important;
    }
}
