@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    <span class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @ChildContent
    </span>
}
else
{
    @RenderCustomComponent()
}
