@inherits Blazorise.Base.BaseAlert
@if ( !ComponentMapper.HasRegistration( this ) )
{
    @if ( ( IsDismisable == false && IsShow ) || IsDismisable )
    {
        <div class="@ClassMapper.Class" role="alert">
            @ChildContent
        </div>
    }
}
else
{
    @RenderCustomComponent()
}
