@inherits Blazorise.Base.BaseBadge
@if ( !ComponentMapper.HasRegistration( this ) )
{
    @if ( Link != null )
    {
        <a href="@Link" class="@ClassMapper.Class">
            @ChildContent
        </a>
    }
    else
    {
        <span class="@ClassMapper.Class">
            @ChildContent
        </span>
    }
}
else
{
    @RenderCustomComponent()
}
