@inherits Blazorise.BaseBadge
@if ( !HasCustomRegistration )
{
    @if ( Link != null )
    {
        <a href="@Link" class="@Classnames">
            @ChildContent
        </a>
    }
    else
    {
        <span class="@Classnames">
            @ChildContent
        </span>
    }
}
else
{
    @RenderCustomComponent()
}
