@inherits Blazorise.BaseBar
@if ( !HasCustomRegistration )
{
    <CascadingValue Value=this>
        <nav class="@ClassNames">
            @ChildContent
        </nav>
    </CascadingValue>
}
else
{
    @RenderCustomComponent()
}