@inherits Blazorise.Base.BaseBar
@if ( !HasCustomRegistration )
{
    <CascadingValue Value=this>
        <nav class="@ClassMapper.Class">
            @ChildContent
        </nav>
    </CascadingValue>
}
else
{
    @RenderCustomComponent()
}