@inherits Blazorise.Base.BaseBarDropdownToggle
@if ( !ComponentMapper.HasRegistration( this ) )
{
    <a id="@ElementId" class="@ClassMapper.Class" role="button" onclick="@ClickHandler">
        @ChildContent
    </a>
}
else
{
    @RenderCustomComponent()
}