@inherits Base.BaseBarDropdownToggler
@if ( !ComponentMapper.HasRegistration( this ) )
{
    <a class="@ClassMapper.Class" role="button" onclick="@ClickHandler">
        @ChildContent
    </a>
}
else
{
    @RenderCustomComponent()
}