@inherits Blazorise.BaseBarDropdownMenu
@if ( !HasCustomRegistration )
{
    <CascadingValue Value=this>
        <div class="@Classnames" style="@StyleMapper.Style">
            @ChildContent
        </div>
    </CascadingValue>
}
else
{
    @RenderCustomComponent()
}