@inherits Blazorise.Base.BaseBarDropdownToggle
@if ( !HasCustomRegistration )
{
    <a id="@ElementId" class="@ClassMapper.Class" role="button" @onclick="@ClickHandler">
        @ChildContent
    </a>
}
else
{
    @RenderCustomComponent()
}