@inherits Blazorise.BaseBarDropdown
@if ( !HasCustomRegistration )
{
    <CascadingValue Value=this>
        <div class="@ClassNames">
            @ChildContent
        </div>
    </CascadingValue>
}
else
{
    @RenderCustomComponent()
}