@inherits Blazorise.Base.BaseBarToggler
@if ( !ComponentMapper.HasRegistration( this ) )
{
    <a role="button" class="@ClassMapper.Class" onclick="@ClickHandler">
        @ChildContent
    </a>
}
else
{
    @RenderCustomComponent()
}