@inherits BaseBarToggler
@if ( !HasCustomRegistration )
{
    <a role="button" class="@ClassNames" @onclick="@ClickHandler" @attributes="@Attributes">
        @ChildContent
    </a>
}
else
{
    @RenderCustomComponent()
}