@inherits Blazorise.Base.BaseBarToggler
@if ( !HasCustomRegistration )
{
    <a role="button" class="@ClassMapper.Class" @onclick="@ClickHandler">
        @ChildContent
    </a>
}
else
{
    @RenderCustomComponent()
}