@inherits Blazorise.BaseBarToggler
@if ( !HasCustomRegistration )
{
    <a role="button" class="@Classnames" @onclick="@ClickHandler">
        @ChildContent
    </a>
}
else
{
    @RenderCustomComponent()
}