@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    <nav aria-label="breadcrumb">
        <ol class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
            @ChildContent
        </ol>
    </nav>
}
else
{
    @RenderCustomComponent()
}