@inherits Blazorise.Base.BaseBreadcrumb
@if ( !HasCustomRegistration )
{
    <nav aria-label="breadcrumb">
        <ol class="@ClassMapper.Class">
            @ChildContent
        </ol>
    </nav>
}
else
{
    @RenderCustomComponent()
}