@inherits Blazorise.BaseBreadcrumbItem
@if ( !HasCustomRegistration )
{
    <CascadingValue Value=this>
        <li class="@ClassNames" aria-current="@(IsActive ? "page" : null)" @attributes="@Attributes">
            @ChildContent
        </li>
    </CascadingValue>
}
else
{
    @RenderCustomComponent()
}