@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    <CascadingValue Value=this>
        <nav aria-label="breadcrumb">
            <ol class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
                @ChildContent
            </ol>
        </nav>
    </CascadingValue>
}
else
{
    @RenderCustomComponent()
}