@inherits Blazorise.BaseButtons
@if ( !HasCustomRegistration )
{
    <CascadingValue Value="this">
        <div class="@Classnames" role="@(Role== ButtonsRole.Toolbar? "toolbar" : "group")">
            @ChildContent
        </div>
    </CascadingValue>
}
else
{
    @RenderCustomComponent()
}