@inherits Blazorise.Base.BaseButtons
@if ( !HasCustomRegistration )
{
    <CascadingValue Value="this">
        <div class="@ClassMapper.Class" role="@(Role== ButtonsRole.Toolbar? "toolbar" : "group")">
            @ChildContent
        </div>
    </CascadingValue>
}
else
{
    @RenderCustomComponent()
}