@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    <CascadingValue Value=this>
        <div class="@ClassNames" @attributes="@Attributes">
            @ChildContent
        </div>
    </CascadingValue>
}
else
{
    @RenderCustomComponent()
}