@inherits Blazorise.Base.BaseCardTitle
@if ( !ComponentMapper.HasRegistration( this ) )
{
    @if ( Size != null )
    {
        <Dynamic TagName="@($"h{Size}")" class="@ClassMapper.Class">
            @ChildContent
        </Dynamic>
    }
    else
    {
        <div class="@ClassMapper.Class">
            @ChildContent
        </div>
    }
}
else
{
    @RenderCustomComponent()
}