@inherits Blazorise.BaseCloseButton
@if ( !HasCustomRegistration )
{
    <button type="button" class="@ClassNames" aria-label="Close" @onclick="@ClickHandler">
        @ChildContent
    </button>
}
else
{
    @RenderCustomComponent()
}
