@inherits Blazorise.Base.BaseCloseButton
@if ( !ComponentMapper.HasRegistration( this ) )
{
    <button type="button" class="@ClassMapper.Class" aria-label="Close" onclick="@ClickHandler">
        @ChildContent
    </button>
}
else
{
    @RenderCustomComponent()
}
