@inherits Base.BaseCloseButton
<button type="button" class="@ClassMapper.Class" aria-label="Close" onclick="@ClickHandler">
    @if ( TagProvider.UseSpanForCloseButtonIcon )
    {
        <span aria-hidden="true">&times;</span>
    }
    @ChildContent
</button>
