@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    <h1 class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @ChildContent
    </h1>
}
else
{
    @RenderCustomComponent()
}