@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    <a class="@ClassNames" @onclick="@ClickHandler" @attributes="@Attributes">
        @ChildContent
    </a>
}
else
{
    @RenderCustomComponent()
}