@inherits Blazorise.BaseDropdownMenu
@if ( !HasCustomRegistration )
{
    <div class="@Classnames" style="@StyleMapper.Style">
        @ChildContent
    </div>
}
else
{
    @RenderCustomComponent()
}
