@inherits Blazorise.Base.BaseDropdownItem
@if ( !ComponentMapper.HasRegistration( this ) )
{
    <a class="@ClassMapper.Class" onclick="@ClickHandler">
        @ChildContent
    </a>
}
else
{
    @RenderCustomComponent()
}