@inherits Base.BaseDropdownMenu
<div class="@ClassMapper.Class">
    @if ( TagProvider.DropdownMenuHasBody )
    {
        <div class="@BodyClassMapper.Class">
            @ChildContent
        </div>
    }
    else
    {
        @ChildContent
    }
</div>
