@inherits Blazorise.Base.BaseDropdown
@if ( !ComponentMapper.HasRegistration( this ) )
{
    <CascadingValue Value=this>
        <div class="@ClassMapper.Class">
            @ChildContent
        </div>
    </CascadingValue>
}
else
{
    @RenderCustomComponent()
}
