@inherits Blazorise.BaseFieldLabel
@if ( !HasCustomRegistration )
{
    <label class="@ClassNames" for="@For" @attributes="@Attributes">
        @ChildContent
    </label>
}
else
{
    @RenderCustomComponent()
}