@inherits Blazorise.BaseFields
@if ( !HasCustomRegistration )
{
    @if ( Label != null )
    {
        <Label>@Label</Label>
    }
    <div class="@Classnames">
        <CascadingValue Value=this>
            @ChildContent
        </CascadingValue>
    </div>
    @if ( Help != null )
    {
        <Help>@Help</Help>
    }
}
else
{
    @RenderCustomComponent()
}
