@inherits Blazorise.Base.BaseFieldLabel
@if ( !ComponentMapper.HasRegistration( this ) )
{
    <label class="@ClassMapper.Class" for="@For">
        @ChildContent
    </label>
}
else
{
    @RenderCustomComponent()
}