@inherits Base.BaseField
<div class="@ClassMapper.Class">
    @if ( Label != null )
    {
        <FormLabel>@Label</FormLabel>
    }
    @ChildContent
    @if ( Help != null )
    {
        <Help>@Help</Help>
    }
</div>
