@inherits Blazorise.Base.BaseFields
@if ( !HasCustomRegistration )
{
    @if ( Label != null )
    {
        <FormLabel>@Label</FormLabel>
    }
    <div class="@ClassMapper.Class">
        <CascadingValue Value=this>
            @ChildContent
        </CascadingValue>
    </div>
    @if ( Help != null )
    {
        <Help>@Help</Help>
    }
}
else
{
    @RenderCustomComponent()
}
