@inherits Blazorise.Base.BaseLabel
@if ( !ComponentMapper.HasRegistration( this ) )
{
    <label class="@ClassMapper.Class" style="@StyleMapper.Style" for="@For">
        @ChildContent
    </label>
}
else
{
    @RenderCustomComponent()
}