@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    <form class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @ChildContent
    </form>
}
else
{
    @RenderCustomComponent()
}