@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    <div class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @ChildContent
    </div>
}
else
{
    @RenderCustomComponent()
}