@inherits Blazorise.BaseLabel
@if ( !HasCustomRegistration )
{
    <label class="@Classnames" style="@StyleMapper.Style" for="@For">
        @ChildContent
    </label>
}
else
{
    @RenderCustomComponent()
}