@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    <main class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @ChildContent
    </main>
}
else
{
    @RenderCustomComponent()
}