@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    <section class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @ChildContent
    </section>
}
else
{
    @RenderCustomComponent()
}