@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    <li class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @ChildContent
    </li>
}
else
{
    @RenderCustomComponent()
}