@inherits Blazorise.Base.BaseMediaRight
@if ( !ComponentMapper.HasRegistration( this ) )
{
    <div class="@ClassMapper.Class">
        @ChildContent
    </div>
}
else
{
    @RenderCustomComponent()
}