@inherits Blazorise.BaseModalBackdrop
@if ( !HasCustomRegistration )
{
    <div id="@ElementId" class="@ClassNames" @attributes="@Attributes">
        @ChildContent
    </div>
}
else
{
    @RenderCustomComponent()
}