@inherits Blazorise.Base.BaseModalBackdrop
@if ( !HasCustomRegistration )
{
    <div id="@ElementId" class="@ClassMapper.Class">
        @ChildContent
    </div>
}
else
{
    @RenderCustomComponent()
}