@inherits Blazorise.Base.BaseModalBody
@if ( !HasCustomRegistration )
{
    <div class="@ClassMapper.Class" style="@StyleMapper.Style">
        @ChildContent
    </div>
}
else
{
    @RenderCustomComponent()
}