@inherits Blazorise.Base.BaseModal
@if ( !HasCustomRegistration )
{
    <CascadingValue Value=this>
        <div class="@ClassMapper.Class" style="@StyleMapper.Style" tabindex="-1" role="dialog">
            @ChildContent
        </div>
    </CascadingValue>
}
else
{
    @RenderCustomComponent()
}