@inherits BaseComponent
@if ( !HasCustomRegistration )
{
    <h4 class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @ChildContent
    </h4>
}
else
{
    @RenderCustomComponent()
}