@inherits Base.BaseModalHeader
@if ( !ComponentMapper.HasRegistration( this ) )
{
    <div class="@ClassMapper.Class">
        @if ( Title != null )
        {
            <h4 class="@ClassProvider.ModalTitle()">@Title</h4>
        }
        @ChildContent
    </div>
}
else
{
    @RenderCustomComponent()
}