@inherits Blazorise.BaseModal
@if ( !HasCustomRegistration )
{
    <CascadingValue Value=this>
        <div class="@ClassNames" style="@StyleNames" tabindex="-1" role="dialog">
            @ChildContent
        </div>
    </CascadingValue>
}
else
{
    @RenderCustomComponent()
}