@inherits Base.BaseModalHeader
@if ( !ComponentMapper.HasRegistration( this ) )
{
    <div class="@ClassMapper.Class">
        <h4 class="@ClassProvider.ModalHeaderTitle()">@Title</h4>
        @ChildContent
    </div>
}
else
{
    @RenderCustomComponent()
}