@inherits Blazorise.Base.BaseNavigationItem
@if ( !HasCustomRegistration )
{
    <a class="@ClassMapper.Class" @onclick="@ClickHandler">
        @ChildContent
    </a>
}
else
{
    @RenderCustomComponent()
}