@inherits Blazorise.BasePaginationItem
@if ( !HasCustomRegistration )
{
    <CascadingValue Value=this>
        <li class="@ClassNames">
            @ChildContent
        </li>
    </CascadingValue>
}
else
{
    @RenderCustomComponent()
}