@inherits Blazorise.Base.BasePaginationItem
@if ( !ComponentMapper.HasRegistration( this ) )
{
    <CascadingValue Value=this>
        <li class="@ClassMapper.Class">
            @ChildContent
        </li>
    </CascadingValue>
}
else
{
    @RenderCustomComponent()
}