@inherits Base.BaseSnackbarAction
@if ( !ComponentMapper.HasRegistration( this ) )
{
    <button class="@ClassMapper.Class" type="button" onclick="@ClickHandler">
        @ChildContent
    </button>
}
else
{
    @RenderCustomComponent()
}