@inherits Blazorise.Base.BaseTableRowCell
@if ( !ComponentMapper.HasRegistration( this ) )
{
    <td class="@ClassMapper.Class" @onclick="@HandleClick">
        @ChildContent
    </td>
}
else
{
    @RenderCustomComponent()
}