@inherits Blazorise.BaseTable
@if ( !HasCustomRegistration )
{
    <table class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @ChildContent
    </table>
}
else
{
    @RenderCustomComponent()
}