@inherits Blazorise.BaseTabsContent
@if ( !HasCustomRegistration )
{
    <CascadingValue Value=this>
        <div class="@Classnames">
            @ChildContent
        </div>
    </CascadingValue>
}
else
{
    @RenderCustomComponent()
}