@inherits Blazorise.Base.BaseTabsContent
@if ( !HasCustomRegistration )
{
    <CascadingValue Value=this>
        <div class="@ClassMapper.Class">
            @ChildContent
        </div>
    </CascadingValue>
}
else
{
    @RenderCustomComponent()
}