@inherits Blazorise.BaseTooltip
<div @ref="@ElementRef" @ref:suppressField class="@Classnames" role="tooltip" data-tooltip="@Text">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>