@inherits Blazorise.BaseTooltip
<div @ref="@ElementRef" @ref:suppressField class="b-tooltip b-tooltip-none" role="tooltip">
    <div @ref="@ArrowRef" @ref:suppressField class="arrow"></div>
    <div class="b-tooltip-inner">
        @Text
    </div>
</div>
<CascadingValue Value="this">
    @ChildContent
</CascadingValue>
