@inherits BaseValidationResult
@if ( !HasCustomRegistration )
{
    @if ( ParentValidation?.Status == ValidationStatus.Success )
    {
        <div class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
            @ChildContent
        </div>
    }
}
else
{
    @RenderCustomComponent()
}