@inherits Blazorise.Base.BaseValidationSuccess
@if ( !HasCustomRegistration )
{
    @if ( ParentValidation?.Status == ValidationStatus.Success )
    {
        <div class="@ClassMapper.Class">
            @ChildContent
        </div>
    }
}
else
{
    @RenderCustomComponent()
}