@inherits Blazorise.BaseValidationSuccess
@if ( !HasCustomRegistration )
{
    @if ( ParentValidation?.Status == ValidationStatus.Success )
    {
        <div class="@Classnames">
            @ChildContent
        </div>
    }
}
else
{
    @RenderCustomComponent()
}