@inherits Blazorise.BaseValidationError
@if ( !HasCustomRegistration )
{
    @if ( ParentValidation?.Status == ValidationStatus.Error )
    {
        <div class="@Classnames">
            @if ( ErrorText != null )
            {
                @ErrorText
            }
            else
            {
                @ChildContent
            }
        </div>
    }
}
else
{
    @RenderCustomComponent()
}