h1.card-title,
.h1.card-title {
    font-size: 2.5rem;
}

h2.card-title,
.h2.card-title {
    font-size: 2rem;
}

h3.card-title,
.h3.card-title {
    font-size: 1.75rem;
}

h4.card-title,
.h4.card-title {
    font-size: 1.5rem;
}

h5.card-title,
.h5.card-title {
    font-size: 1.25rem;
}

h6.card-title,
.h6.card-title {
    font-size: 1rem;
}
