@page "/"
@using System.Text.Json
@inject IVersionProvider VersionProvider

<Captcha @ref=_captcha Solved="Solved" Validate=Validate Expired="Expired" />
<Button Background="Background.Warning" Clicked="Reset">Reset</Button>
<Button Background="Background.Primary" Clicked="Submit">Submit</Button>

@code {
    [Inject] HttpClient _httpClient { get; set; }
    private Captcha _captcha;
    private void Solved( CaptchaState state )
    {
        Console.WriteLine( $"Success: {state.Valid}" );
    }
    private void Expired()
    {
        Console.WriteLine( "Expired" );
    }
    private async Task<bool> Validate( CaptchaState state )
    {
        Console.WriteLine( "Validate" );

        //Server key =6LdF_GopAAAAAC7fRsgxYR0J6AmFaYYU9Q6-zX4_
        //Perform server side validation

        var content = new FormUrlEncodedContent( new[]
            {
                    // new KeyValuePair<string, string>("secret", "6LdF_GopAAAAAC7fRsgxYR0J6AmFaYYU9Q6-zX4_"), //checkbox
                    // new KeyValuePair<string, string>("secret", "6LfqW20pAAAAAD9RvtJTF_Z-3B5pJzXGc9MYHbmr"), //invisible
                    new KeyValuePair<string, string>("secret", "6LeALm4pAAAAAK0tGd9w15H1uzOxEOApTajcpjLR"), //v3

                    new KeyValuePair<string, string>("response", state.Response),
                } );

        var response = await _httpClient.PostAsync( "https://www.google.com/recaptcha/api/siteverify",content );

        var result = await response.Content.ReadAsStringAsync();
        Console.WriteLine(result);
        var googleResponse = JsonSerializer.Deserialize<GoogleResponse>( result, new JsonSerializerOptions()
        {
            PropertyNamingPolicy = JsonNamingPolicy.CamelCase
        } );


        return googleResponse.Success;
        // return false;
    }

    public class GoogleResponse
    {
        public bool Success { get; set; }
        public double Score { get; set; }
        public string Action { get; set; }
        public string Challenge_ts { get; set; }
        public string Hostname { get; set; }
        public string ErrorCodes { get; set; }
    }

    private async Task Reset()
    {
        await _captcha.Reset();
    }

    private async Task Submit()
    {
        await _captcha.Submit();
    }

}