@page "/"
<Dropdown Toggled="Toggled">
    <DropdownToggle>Visible: @Visible</DropdownToggle>
    <DropdownMenu>
        <DropdownItem>Action 1</DropdownItem>
        <DropdownItem>Action 2</DropdownItem>
    </DropdownMenu>
</Dropdown>

Testing BOUNDARY 
<Table Responsive="true">
    <TableBody>
        <TableRow>
            <TableRowCell>
                <Dropdown Toggled="Toggled">
                    <DropdownToggle>Visible: @Visible</DropdownToggle>
                    <DropdownMenu>
                        <DropdownItem>Action 1</DropdownItem>
                        <DropdownItem>Action 2</DropdownItem>
                    </DropdownMenu>
                </Dropdown>
            </TableRowCell>
        </TableRow>
    </TableBody>
</Table>


@code {
    protected bool Visible { get; set; }

    protected void Toggled(bool value)
    {
        Visible = value;
    }
}