@page "/"
@inject IVersionProvider VersionProvider
<DataGrid TItem="int" Data="new List<int>{1,2,3}" Responsive="true" Bordered="true" Style="border: solid blue;">
    <ChildContent>
        <DataGridColumn Caption="Id">
            <DisplayTemplate>@context</DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn>
            <DisplayTemplate>
                <Dropdown>
                    <DropdownToggle Color="Color.Primary">Actions</DropdownToggle>
                    <DropdownMenu>
                        <DropdownItem>Do something 1</DropdownItem>
                        <DropdownItem>Do something 2</DropdownItem>
                        <DropdownItem>Do something 3</DropdownItem>
                    </DropdownMenu>
                </Dropdown>
            </DisplayTemplate>
        </DataGridColumn>
    </ChildContent>
</DataGrid>

<DataGrid TItem="int" Data="new List<int>{1,2,3}" Responsive="false" Bordered="true" Style="border: solid blue;">
    <ChildContent>
        <DataGridColumn Caption="Id">
            <DisplayTemplate>@context</DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn>
            <DisplayTemplate>
                <Dropdown>
                    <DropdownToggle Color="Color.Primary">Actions</DropdownToggle>
                    <DropdownMenu>
                        <DropdownItem>Do something 1</DropdownItem>
                        <DropdownItem>Do something 2</DropdownItem>
                        <DropdownItem>Do something 3</DropdownItem>
                    </DropdownMenu>
                </Dropdown>
            </DisplayTemplate>
        </DataGridColumn>
    </ChildContent>
</DataGrid>

<Table Responsive>
    <TableHeader>
        <TableRow>
            <TableHeaderCell>#</TableHeaderCell>
            <TableHeaderCell>First Name</TableHeaderCell>
            <TableHeaderCell>Last Name</TableHeaderCell>
            <TableHeaderCell>Username</TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>

        <TableRow>
            <TableRowHeader>1</TableRowHeader>
            <TableRowCell>2</TableRowCell>
            <TableRowCell>
                <Dropdown>
                    <DropdownToggle Color="Color.Primary">Actions</DropdownToggle>
                    <DropdownMenu>
                        <DropdownItem>Do something 1</DropdownItem>
                        <DropdownItem>Do something 2</DropdownItem>
                        <DropdownItem>Do something 3</DropdownItem>
                    </DropdownMenu>
                </Dropdown>
            </TableRowCell>
            <TableRowCell>3</TableRowCell>
        </TableRow>
    </TableBody>
</Table>

<Table>
    <TableHeader>
        <TableRow>
            <TableHeaderCell>#</TableHeaderCell>
            <TableHeaderCell>First Name</TableHeaderCell>
            <TableHeaderCell>Last Name</TableHeaderCell>
            <TableHeaderCell>Username</TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>

        <TableRow>
            <TableRowHeader>1</TableRowHeader>
            <TableRowCell>2</TableRowCell>
            <TableRowCell>
                <Dropdown>
                    <DropdownToggle Color="Color.Primary">Actions</DropdownToggle>
                    <DropdownMenu>
                        <DropdownItem>Do something 1</DropdownItem>
                        <DropdownItem>Do something 2</DropdownItem>
                        <DropdownItem>Do something 3</DropdownItem>
                    </DropdownMenu>
                </Dropdown>
            </TableRowCell>
            <TableRowCell>3</TableRowCell>
        </TableRow>
    </TableBody>
</Table>