@page "/"
@inject IVersionProvider VersionProvider

<DataGrid TItem="Person" Filterable Data="People" @bind-SelectedRow=SelectedRow >
    <DataGridColumns>
@*        <DataGridCommandColumn TItem="Person" Width="0px">
            <NewCommandTemplate />
            <EditCommandTemplate />
            <SaveCommandTemplate />
            <DeleteCommandTemplate />
            <CancelCommandTemplate />
            <ClearFilterCommandTemplate>
            </ClearFilterCommandTemplate>
        </DataGridCommandColumn>*@
        <DataGridColumn TItem="Person" Field="@nameof(Person.Id)" Caption="ID" />
    </DataGridColumns>
@*    <DetailRowTemplate>
        <Table>
            <TableHeader>
                <TableRow>
                    <TableHeaderCell>#</TableHeaderCell>
                    <TableHeaderCell>First Name</TableHeaderCell>
                    <TableHeaderCell>Last Name</TableHeaderCell>
                    <TableHeaderCell>Username</TableHeaderCell>
                </TableRow>
            </TableHeader>
            <TableBody>
                <TableRow>
                    <TableRowHeader>1</TableRowHeader>
                    <TableRowCell>Mark</TableRowCell>
                    <TableRowCell>Otto</TableRowCell>
                    <TableRowCell>@@mdo</TableRowCell>
                </TableRow>
                <TableRow>
                    <TableRowHeader>2</TableRowHeader>
                    <TableRowCell>Jacob</TableRowCell>
                    <TableRowCell>Thornton</TableRowCell>
                    <TableRowCell>@@fat</TableRowCell>
                </TableRow>
                <TableRow>
                    <TableRowHeader>3</TableRowHeader>
                    <TableRowCell>Larry</TableRowCell>
                    <TableRowCell>the Bird</TableRowCell>
                    <TableRowCell>@@twitter</TableRowCell>
                </TableRow>
            </TableBody>
        </Table>
    </DetailRowTemplate>*@
</DataGrid>

@code{
    public class Person
    {
        public int Id;

        public string Name;

    }
    public Person? SelectedRow { get; set; }
    public Person? SelectedRow2 { get; set; }

    public List<Person> People { get; set; } = new()
        {
            new Person { Id = 1, Name = "Rob" },
            new Person { Id = 2, Name = "Joe" },
            new Person { Id = 3, Name = "Mary" },
            new Person { Id = 4, Name = "Peter" },
            new Person { Id = 5, Name = "Dave" },
            new Person { Id = 6, Name = "Mike" },
            new Person { Id = 7, Name = "Steve" },
            new Person { Id = 8, Name = "Scott" },
        };
}