<Button TextColor="@Platform.TextColor"
        Background="@(new Background(Platform.BackgroundColor))"
        To="@Platform.Href"
        Type="@ButtonType.Link"
        Size="@ButtonSize"
        @attributes="@AdditionalAttributes">

    @ChildContent

    <Icon Name="@($"fa-brands {Platform.IconName}")" IconStyle="IconStyle.Light"/>
</Button>