@namespace Blazorise.RichTextEdit.Rooster
@inherits BaseComponent

<div @ref="@ElementRef"
     id="@ElementId"
     class="@ClassNames"
     style="width: 500px; height: 300px; overflow: auto; border: solid 1px black"
     @attributes="@Attributes">
</div>