@namespace Blazorise.Docs.Docs.Examples

<Field>
    <FieldLabel>Button trigger</FieldLabel>
    <Addons>
        <Addon AddonType="AddonType.Body">
            <TextInput @ref="@textInputRef" @bind-Value="@textValue" Placeholder="Click the keyboard button" OnScreenKeyboard OnScreenKeyboardShowMode="OnScreenKeyboardShowMode.Manual" />
        </Addon>
        <Addon AddonType="AddonType.End">
            <Button Color="Color.Secondary" Clicked="@ShowKeyboard">Keyboard</Button>
        </Addon>
    </Addons>
</Field>

@code {
    private TextInput textInputRef;
    private string textValue;

    private Task ShowKeyboard()
    {
        return textInputRef?.ShowOnScreenKeyboard() ?? Task.CompletedTask;
    }
}