<ThemeProvider Theme="@theme">
    <Router AppAssembly="@typeof( App ).Assembly" />
    <OnScreenKeyboardProvider KeyboardSize="OnScreenKeyboardSize.Large"
                              KeyLayout="OnScreenKeyboardKeyLayout.Centered" />
</ThemeProvider>