@namespace Blazorise.Docs.Docs.Examples

<Div Flex="Flex.Row.Wrap">
    <Figure Size="FigureSize.Is64x64" Margin="Margin.Is2.FromEnd.Is2.FromBottom">
        <FigureImage Source="img/empty-256x256.png" AlternateText="Placeholder" />
        <FigureCaption>64x64</FigureCaption>
    </Figure>
    <Figure Size="FigureSize.Is128x128" Margin="Margin.Is2.FromEnd.Is2.FromBottom">
        <FigureImage Source="img/empty-256x256.png" AlternateText="Placeholder" />
        <FigureCaption>128x128</FigureCaption>
    </Figure>
    <Figure Size="FigureSize.Is256x256" Margin="Margin.Is2.FromEnd.Is2.FromBottom">
        <FigureImage Source="img/empty-256x256.png" AlternateText="Placeholder" />
        <FigureCaption>256x256</FigureCaption>
    </Figure>
</Div>