@namespace Blazorise.Docs.Docs.Examples

<Div Margin="Margin.Is2.FromBottom">
    <Paragraph Margin="Margin.Is2.FromBottom">Buttons</Paragraph>
    <Button Color="Color.Primary" Size="Size.ExtraSmall" Margin="Margin.Is1.FromEnd.Is1.FromBottom">Extra small</Button>
    <Button Color="Color.Primary" Size="Size.Small" Margin="Margin.Is1.FromEnd.Is1.FromBottom">Small</Button>
    <Button Color="Color.Primary" Size="Size.Medium" Margin="Margin.Is1.FromEnd.Is1.FromBottom">Medium</Button>
    <Button Color="Color.Primary" Size="Size.Large" Margin="Margin.Is1.FromEnd.Is1.FromBottom">Large</Button>
</Div>

<Div>
    <Paragraph Margin="Margin.Is2.FromBottom">Text inputs</Paragraph>
    <TextInput Placeholder="Small input" Size="Size.Small" Margin="Margin.Is1.FromEnd.Is1.FromBottom" />
    <TextInput Placeholder="Default input" Margin="Margin.Is1.FromEnd.Is1.FromBottom" />
    <TextInput Placeholder="Large input" Size="Size.Large" Margin="Margin.Is1.FromEnd.Is1.FromBottom" />
</Div>