@page "/docs/helpers/enums/bar"

<DocsPageTitle>
    Enums : Bar
</DocsPageTitle>

<DocsPageSection>
    <DocsPageSectionHeader Title="BarMode">
        <Paragraph>Defines the style of <Code>Bar</Code> component</Paragraph>
        <ul>
            <li><Code>Horizontal</Code> - top bar</li>
            <li><Code>VerticalPopout</Code> - sidebar with popout <Code>BarDropdown</Code> menus</li>
            <li><Code>VerticalInline</Code> - sidebar with inline <Code>BarDropdown</Code> menus</li>
            <li><Code>VerticalSmall</Code> - sidebar with icons only, and popout <Code>BarDropdown</Code> menus</li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>

<DocsPageSection>
    <DocsPageSectionHeader Title="BarCollapseMode">
        <Paragraph>Defines the <Code>Bar</Code> state when collapsed (only works with <Code>Vertical</Code> bar modes)</Paragraph>
        <ul>
            <li><Code>Hide</Code> - collapses to be completely hidden</li>
            <li><Code>Small</Code> - collapse to behave like <Code>BarMode.VerticalSmall</Code></li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>