@page "/docs/helpers/enums/button"

<DocsPageTitle>
    Enums : Button
</DocsPageTitle>

<DocsPageSection>
    <DocsPageSectionHeader Title="ButtonType">
        <Paragraph>Defines the button type and behavior.</Paragraph>
        <ul>
            <li><Code>Button</Code> The button is a clickable button.</li>
            <li><Code>Submit</Code> The button is a submit button (submits form-data).</li>
            <li><Code>Reset</Code> The button is a reset button (resets the form-data to its initial values).</li>
            <li><Code>Link</Code> The button will be rendered as a link but will appear as a regular button.</li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>