@page "/docs/helpers/enums/chart"

<DocsPageTitle>
    Enums : Chart
</DocsPageTitle>

<DocsPageSection>
    <DocsPageSectionHeader Title="ChartType">
        <Paragraph>Defines the chart type.</Paragraph>
        <ul>
            <li><Code>Line</Code></li>
            <li><Code>Bar</Code></li>
            <li><Code>Pie</Code></li>
            <li><Code>Doughnut</Code></li>
            <li><Code>PolarArea</Code></li>
            <li><Code>Radar</Code></li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>
