@page "/docs/helpers/enums/common"

<DocsPageTitle>
    Enums : Common
</DocsPageTitle>

<DocsPageSection>
    <DocsPageSectionHeader Title="Breakpoint">
        <Paragraph>Defines the media breakpoint.</Paragraph>
        <ul>
            <li><Code>None</Code> Undefined.</li>
            <li><Code>Mobile</Code> Valid on all devices. (extra small)</li>
            <li><Code>Tablet</Code> Breakpoint on tablets (small).</li>
            <li><Code>Desktop</Code> Breakpoint on desktop (medium).</li>
            <li><Code>Widescreen</Code> Breakpoint on widescreen (large).</li>
            <li><Code>FullHD</Code> Breakpoint on large desktops (extra large).</li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>

<DocsPageSection>
    <DocsPageSectionHeader Title="ThemeContrast">
        <Paragraph>Adjusts the contrast for light or dark themes.</Paragraph>
        <ul>
            <li><Code>None</Code> Undefined.</li>
            <li><Code>Light</Code> Adjusts the theme for a light colors.</li>
            <li><Code>Dark</Code> Adjusts the theme for a dark colors.</li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>

<DocsPageSection>
    <DocsPageSectionHeader Title="Match">
        <Paragraph>Modifies the URL matching behavior for a link.</Paragraph>
        <ul>
            <li><Code>Prefix</Code> Specifies that the link should be active when it matches any prefix of the current URL.</li>
            <li><Code>All</Code> Specifies that the link should be active when it matches the entire current URL.</li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>

<DocsPageSection>
    <DocsPageSectionHeader Title="Cursor">
        <Paragraph>Defines the mouse cursor.</Paragraph>
        <ul>
            <li><Code>Default</Code> Default behavior, nothing will be changed.</li>
            <li><Code>Pointer</Code> The cursor is a pointer and indicates a link.</li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>

<DocsPageSection>
    <DocsPageSectionHeader Title="JustifyContent">
        <Paragraph>Aligns the flexible container’s items when the items do not use all available space on the main-axis (horizontally).</Paragraph>
        <ul>
            <li><code>None</code> Sets this property to its default value.</li>
            <li><code>Start</code> Items are positioned at the beginning of the container.</li>
            <li><code>End</code> Items are positioned at the end of the container.</li>
            <li><code>Center</code> Items are positioned at the center of the container.</li>
            <li><code>Between</code> Items are positioned with space between the lines.</li>
            <li><code>Around</code> Items are positioned with space before, between, and after the lines.</li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>

<DocsPageSection>
    <DocsPageSectionHeader Title="Alignment">
        <Paragraph>Defines the alignment of an element.</Paragraph>
        <ul>
            <li><Code>None</Code> No alignment will be applied.</li>
            <li><Code>Start</Code> Aligns an element to the left.</li>
            <li><Code>Center</Code> Aligns an element on the center.</li>
            <li><Code>End</Code> Aligns an element to the right.</li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>

<DocsPageSection>
    <DocsPageSectionHeader Title="Placement">
        <Paragraph>Defines the placement of an element.</Paragraph>
        <ul>
            <li><Code>Top</Code> Top side.</li>
            <li><Code>Bottom</Code> Bottom side.</li>
            <li><Code>Left</Code> Left side.</li>
            <li><Code>Right</Code> Right side.</li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>

<DocsPageSection>
    <DocsPageSectionHeader Title="BreadcrumbMode">
        <Paragraph>Defines the breadcrumb activation mode.</Paragraph>
        <ul>
            <li><Code>None</Code> No activation will be applied.</li>
            <li><Code>Auto</Code> Breadcrumb items will be activated based on current navigation.</li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>

<DocsPageSection>
    <DocsPageSectionHeader Title="Target">
        <Paragraph>The target attribute specifies where to open the linked document.</Paragraph>
        <ul>
            <li><Code>None</Code> - No target will be applied. Usually this is the same as <Code>Self</Code>.</li>
            <li><Code>Self</Code> - Opens the linked document in the same frame as it was clicked (this is default)</li>
            <li><Code>Blank</Code> - Opens the linked document in a new window or tab.</li>
            <li><Code>Parent</Code> - Opens the linked document in the parent frame.</li>
            <li><Code>Top</Code> - Opens the linked document in the full body of the window.</li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>

<DocsPageSection>
    <DocsPageSectionHeader Title="Orientation">
        <Paragraph>Defines the orientation of the elements.</Paragraph>
        <ul>
            <li><Code>Horizontal</Code> - Elements will be stacked horizontally.</li>
            <li><Code>Vertical</Code> - - Elements will be stacked vertically.</li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>
