@page "/docs/helpers/enums/datagrid"

<DocsPageTitle>
    Enums : DataGrid
</DocsPageTitle>

<DocsPageSection>
    <DocsPageSectionHeader Title="DataGridFilterMethod">
        <ul>
            <li><Code>Contains</Code> search for any occurrence (default)</li>
            <li><Code>StartsWith</Code> search only the beginning</li>
            <li><Code>EndsWith</Code> search only the ending</li>
            <li><Code>Equals</Code> search must match the entire value</li>
            <li><Code>NotEquals</Code> opposite of Equals</li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>

<DocsPageSection>
    <DocsPageSectionHeader Title="DataGridSortMode">
        <ul>
            <li><Code>Single</Code> The data grid can only be sorted by one column at a time.</li>
            <li><Code>Multiple</Code> The data grid can sorted by multiple columns.</li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>

<DocsPageSection>
    <DocsPageSectionHeader Title="DataGridSelectionMode">
        <ul>
            <li><Code>Single</Code> The data grid only supports a row selected at a time.</li>
            <li><Code>Multiple</Code> The data grid enables multiple rows to be selected.</li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>

<DocsPageSection>
    <DocsPageSectionHeader Title="DataGridCommandMode">
        <ul>
            <li><Code>Default</Code> Default state which means that both defined commands and button row will render.</li>
            <li><Code>Commands</Code> Only defined commands will render.</li>
            <li><Code>ButtonRow</Code> Only button row will render.</li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>

<DocsPageSection>
    <DocsPageSectionHeader Title="DataGridCommandMode">
        <ul>
            <li><Code>Default</Code> Default state which means that both defined commands and button row will render.</li>
            <li><Code>Commands</Code> Only defined commands will render.</li>
            <li><Code>ButtonRow</Code> Only button row will render.</li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>

<DocsPageSection>
    <DocsPageSectionHeader Title="DataGridPagerPosition">
        <ul>
            <li><Code>Top</Code> Positions the pagination above the table.</li>
            <li><Code>Bottom</Code> Positions the pagination below the table.</li>
            <li><Code>TopAndBottom</Code> Positions the pagination on above and below the table.</li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>

<DocsPageSection>
    <DocsPageSectionHeader Title="SortDirection">
        <Paragraph>Specifies the direction of a sort operation.</Paragraph>
        <ul>
            <li><Code>None</Code> No sorting will be applied.</li>
            <li><Code>Ascending</Code> Sorts in ascending order.</li>
            <li><Code>Descending</Code> Sorts in descending order.</li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>


<DocsPageSection>
    <DocsPageSectionHeader Title="DataGridSelectReason">
        <Paragraph>Defines the Select Reason of the DataGrid Selection.</Paragraph>
        <ul>
            <li><Code>RowClick</Code> Row has been clicked.</li>
            <li><Code>MultiSelectClick</Code> Multi select has been triggered.</li>
            <li><Code>MultiSelectAll</Code> Multi select all has been triggered.</li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>