@page "/docs/helpers/enums/divider"

<DocsPageTitle>
    Enums : Divider
</DocsPageTitle>

<DocsPageSection>
    <DocsPageSectionHeader Title="DividerType">
        <Paragraph>Specifies divider variants.</Paragraph>
        <ul>
            <li><Code>Solid</Code></li>
            <li><Code>Dashed</Code></li>
            <li><Code>Dotted</Code></li>
            <li><Code>TextContent</Code></li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>