@page "/docs/helpers/enums/dropdown"

<DocsPageTitle>
    Enums : Dropdown
</DocsPageTitle>

<DocsPageSection>
    <DocsPageSectionHeader Title="Direction">
        <Paragraph>Direction of a dropdown menu.</Paragraph>
        <ul>
            <li><Code>None</Code> Same as Down.</li>
            <li><Code>Down</Code> Trigger dropdown menus bellow an element (default behavior).</li>
            <li><Code>Up</Code> Trigger dropdown menus above an element.</li>
            <li><Code>Right</Code> Trigger dropdown menus to the right of an element.</li>
            <li><Code>Left</Code> Trigger dropdown menus to the left of an element.</li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>