@page "/docs/helpers/enums/heading"

<DocsPageTitle>
    Enums : Heading
</DocsPageTitle>

<DocsPageSection>
    <DocsPageSectionHeader Title="HeadingSize">
        <Paragraph>Defines the heading size.</Paragraph>
        <ul>
            <li><Code>Is1</Code> Heading 1</li>
            <li><Code>Is2</Code> Heading 2</li>
            <li><Code>Is3</Code> Heading 3</li>
            <li><Code>Is4</Code> Heading 4</li>
            <li><Code>Is5</Code> Heading 5</li>
            <li><Code>Is6</Code> Heading 6</li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>

<DocsPageSection>
    <DocsPageSectionHeader Title="DisplayHeadingSize">
        <Paragraph>Defines the display heading size.</Paragraph>
        <ul>
            <li><Code>Is1</Code> Heading 1</li>
            <li><Code>Is2</Code> Heading 2</li>
            <li><Code>Is3</Code> Heading 3</li>
            <li><Code>Is4</Code> Heading 4</li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>