@page "/docs/helpers/enums/icon"

<DocsPageTitle>
    Enums : Icon
</DocsPageTitle>

<DocsPageSection>
    <DocsPageSectionHeader Title="IconStyle">
        <Paragraph>Defines the breadcrumb activation mode.</Paragraph>
        <ul>
            <li><Code>Solid</Code></li>
            <li><Code>Regular</Code></li>
            <li><Code>Light</Code></li>
            <li><Code>DuoTone</Code></li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>

<DocsPageSection>
    <DocsPageSectionHeader Title="IconSize">
        <Paragraph>Defines the size of an Icon element.</Paragraph>
        <ul>
            <li><Code>None</Code> The icon size will not be applied.</li>
            <li><Code>ExtraSmall</Code> The icon will be size 0.75em.</li>
            <li><Code>Small</Code> The icon will be size 0.875em.</li>
            <li><Code>Large</Code> The icon will be size 1.33em (Also applies vertical-align: -25%).</li>
            <li><Code>x2</Code> The icon will be size 2em.</li>
            <li><Code>x3</Code> The icon will be size 3em.</li>
            <li><Code>x4</Code> The icon will be size 4em.</li>
            <li><Code>x5</Code> The icon will be size 5em.</li>
            <li><Code>x6</Code> The icon will be size 6em.</li>
            <li><Code>x7</Code> The icon will be size 7em.</li>
            <li><Code>x8</Code> The icon will be size 8em.</li>
            <li><Code>x9</Code> The icon will be size 9em.</li>
            <li><Code>x10</Code> The icon will be size 10em.</li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>