@page "/docs/helpers/enums/listgroup"

<DocsPageTitle>
    Enums : ListGroup
</DocsPageTitle>

<DocsPageSection>
    <DocsPageSectionHeader Title="ListGroupMode">
        <Paragraph>Defines the ListGroup behavior.</Paragraph>
        <ul>
            <li><Code>Static</Code> - List group will act as a static list.</li>
            <li><Code>Selectable</Code> - List group will act on clicking the items.</li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>