@page "/docs/helpers/enums/snackbar"

<DocsPageTitle>
    Enums : Snackbar
</DocsPageTitle>

<DocsPageSection>
    <DocsPageSectionHeader Title="SnackbarLocation">
        <ul>
            <li><Code>None</Code> Default behavior.</li>
            <li><Code>Left</Code> Show the snackbar on the left side of the screen.</li>
            <li><Code>Right</Code> Show the snackbar on the right side of the screen.</li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>
