@page "/docs/helpers/enums/spinkit"

<DocsPageTitle>
    Enums : SpinKit
</DocsPageTitle>

<DocsPageSection>
    <DocsPageSectionHeader Title="SpinKitType">
        <ul>
            <li><Code>Plane</Code></li>
            <li><Code>Chase</Code></li>
            <li><Code>Bounce</Code></li>
            <li><Code>Wave</Code></li>
            <li><Code>Pulse</Code></li>
            <li><Code>Flow</Code></li>
            <li><Code>Swing</Code></li>
            <li><Code>Circle</Code></li>
            <li><Code>CircleFade</Code></li>
            <li><Code>Grid</Code></li>
            <li><Code>Fold</Code></li>
            <li><Code>Wander</Code></li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>