@page "/docs/helpers/enums/table"

<DocsPageTitle>
    Enums : Table
</DocsPageTitle>

<DocsPageSection>
    <DocsPageSectionHeader Title="TableResizeMode">
        <Paragraph>Defines the resize mode of the data grid columns.</Paragraph>
        <ul>
            <li><Code>Header</Code> - The table can only be resized from the columns header.</li>
            <li><Code>Columns</Code> - The table can be resized from the entire column area.</li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>