@page "/docs/helpers/enums/tabs"

<DocsPageTitle>
    Enums : Tabs
</DocsPageTitle>

<DocsPageSection>
    <DocsPageSectionHeader Title="TabPosition">
        <Paragraph>Specifies tab position.</Paragraph>
        <ul>
            <li><Code>Top</Code> Top side.</li>
            <li><Code>Bottom</Code> Bottom side.</li>
            <li><Code>Left</Code> Left side.</li>
            <li><Code>Right</Code> Right side.</li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>