@page "/docs/helpers/enums/tabs"

<DocsPageTitle>
    Enums : Tabs
</DocsPageTitle>

<DocsPageSection>
    <DocsPageSectionHeader Title="TabPosition">
        <Paragraph>Specifies tab position.</Paragraph>
        <ul>
            <li><Code>Top</Code> Top side.</li>
            <li><Code>Bottom</Code> Bottom side.</li>
            <li><Code>Left</Code> Left side.</li>
            <li><Code>Right</Code> Right side.</li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>

<DocsPageSection>
    <DocsPageSectionHeader Title="TabsMode">
        <Paragraph>Defines the Tabs Mode.</Paragraph>
        <ul>
            <li><Code>Default</Code> Always renders the tabs html content to the DOM.</li>
            <li><Code>LazyLoad</Code> Lazy loads tabs, meaning each tab will only be rendered/loaded the first time it is visited.</li>
            <li><Code>LazyReload</Code> Lazy loads tabs everytime, meaning only the active tab will have it's html rendered to the DOM.</li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>