@page "/docs/helpers/enums/tooltip"

<DocsPageTitle>
    Enums : Tooltip
</DocsPageTitle>

<DocsPageSection>
    <DocsPageSectionHeader Title="TooltipPlacement">
        <Paragraph>Defines the placement of an element.</Paragraph>
        <ul>
            <li><Code>Top</Code> Top-center side.</li>
            <li><Code>TopStart</Code> Top-left side.</li>
            <li><Code>TopEnd</Code> Top-right side.</li>
            <li><Code>Bottom</Code> Bottom-center side.</li>
            <li><Code>BottomStart</Code> Bottom-left side.</li>
            <li><Code>BottomEnd</Code> Bottom-right side.</li>
            <li><Code>Left</Code> Left-center side.</li>
            <li><Code>LeftStart</Code> Left-top side.</li>
            <li><Code>LeftEnd</Code> Left-bottom side.</li>
            <li><Code>Right</Code> Right-center side.</li>
            <li><Code>RightStart</Code> Right-top side.</li>
            <li><Code>RightEnd</Code> Right-bottom side.</li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>

<DocsPageSection>
    <DocsPageSectionHeader Title="TooltipTrigger">
        <Paragraph>Determines the events that cause the tooltip to show.</Paragraph>
        <ul>
            <li><Code>MouseEnterFocus</Code> - Tooltip will show on mouse enter and focus event (default option).</li>
            <li><Code>Click</Code> - Tooltip will show on click event only.</li>
            <li><Code>Focus</Code> - Tooltip will show on focus event only.</li>
            <li><Code>MouseEnterClick</Code> - Tooltip will show on mouse enter and click event.</li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>