@page "/docs/helpers/enums/validation"

<DocsPageTitle>
    Enums : Validation
</DocsPageTitle>

<DocsPageSection>
    <DocsPageSectionHeader Title="ValidationMode">
        <p>Defines the validation execution mode.</p>
        <ul>
            <li><Code>Auto</Code> Validation will execute on every input change.</li>
            <li><Code>Manual</Code> Validation will run only when explicitly called.</li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>

<DocsPageSection>
    <DocsPageSectionHeader Title="ValidationStatus">
        <p>Defines the validation results.</p>
        <ul>
            <li><Code>None</Code> No validation.</li>
            <li><Code>Success</Code> Validation has passed the check.</li>
            <li><Code>Error</Code> Validation has failed.</li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>