.app-bar {
    z-index: 100;
}

.e-tabs.vertical {
    display: table-cell;
    min-width: 120px;
    vertical-align: top;
    width: 150px;
}

    .e-tabs.vertical a {
        width: 150px;
    }

.tabs-vertical-env .e-tabs-content {
    display: table-cell;
    padding: 0 0 0 20px;
    margin-bottom: 0;
    vertical-align: top;
}

.tabs-vertical-env-right {
}

    .tabs-vertical-env-right .e-tabs-content {
        padding: 0 20px 0 0;
    }
