private List<DropItem> items = new ()
{
    new DropItem() {Name = "Contact Form", Group = "To-Do"},
    new DropItem() {Name = "Profile Image", Group = "Ongoing"},
    new DropItem() {Name = "Login Form", Group = "Completed"},
    new DropItem() {Name = "Password Reset", Group = "Ongoing"},
}