 <ChildContent>
        <DropZone TItem="DropItem" Name="To-Do" Border="Boarder.Rounded" Background="Background.Light" Padding="Padding.Is3" Margin="Margin.Is3" Flex="Flex.Grow.Is1">
            <Heading Size="HeadingSize.Is4" Margin="Margin.Is3.FromBottom">To Do</Heading>
        </DropZone>
    </ChildContent>

The above code block will create a column and name it To-Do. You can repeat the `<dropzone element>` code block to create as many columns as you want. 