.progress.progress-xs {
    height: .25rem; }

.progress.progress-sm {
    height: .5rem; }

.progress.progress-md {
    height: 1rem; }

.progress.progress-lg {
    height: 1.5rem; }

.progress.progress-xl {
    height: 2rem; }

.b-tooltip {
    overflow: visible;
    position: relative; }
    .b-tooltip:hover:not(.is-loading)::after, .b-tooltip.b-tooltip-show:not(.is-loading)::after {
        z-index: 9999;
        position: absolute;
        display: inline-block;
        pointer-events: none; }
    .b-tooltip:hover::before, .b-tooltip.b-tooltip-show::before {
        z-index: 99999;
        position: absolute;
        display: inline-block;
        pointer-events: none; }
    .b-tooltip:hover:not(.is-loading)::after, .b-tooltip.b-tooltip-show:not(.is-loading)::after {
        content: "";
        border-style: solid;
        border-width: .5rem; }
    .b-tooltip:hover::before, .b-tooltip.b-tooltip-show::before {
        opacity: 0;
        content: attr(data-tooltip);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: var(--b-tooltip-font-size, var(--b-font-size-sm, 0.875rem));
        padding: .4rem .8rem;
        background: rgba(128, 128, 128, 0.9);
        border-radius: var(--b-tooltip-border-radius, 4px);
        color: var(--b-tooltip-color, #ffffff);
        max-width: var(--b-tooltip-max-width, 24rem); }
    .b-tooltip:focus:not(.is-loading)::after, .b-tooltip:hover:not(.is-loading)::after, .b-tooltip.b-tooltip-show:not(.is-loading)::after {
        opacity: 1;
        margin-left: -.5rem;
        margin-top: -.5rem; }
    .b-tooltip:focus::before, .b-tooltip:hover::before, .b-tooltip.b-tooltip-show::before {
        opacity: 1; }
    .b-tooltip::before {
        top: auto;
        bottom: 100%;
        left: 50%;
        right: auto; }
    .b-tooltip:focus:not(.is-loading)::after, .b-tooltip:hover:not(.is-loading)::after, .b-tooltip.b-tooltip-show:not(.is-loading)::after {
        top: 0;
        bottom: auto;
        left: 50%;
        right: auto;
        border-color: rgba(128, 128, 128, 0.9) transparent transparent transparent; }
    .b-tooltip:focus::before, .b-tooltip:hover::before, .b-tooltip.b-tooltip-show::before {
        transform: translate(-50%, -0.5rem); }
    .b-tooltip.b-tooltip-bottom::before {
        top: 100%;
        bottom: auto;
        left: 50%;
        right: auto;
        transform: translate(-50%, -1rem); }
    .b-tooltip.b-tooltip-bottom:focus:not(.is-loading)::after, .b-tooltip.b-tooltip-bottom:hover:not(.is-loading)::after, .b-tooltip.b-tooltip-bottom.b-tooltip-show:not(.is-loading)::after {
        top: 100%;
        bottom: auto;
        left: 50%;
        right: auto;
        border-color: transparent transparent rgba(128, 128, 128, 0.9) transparent; }
    .b-tooltip.b-tooltip-bottom:focus::before, .b-tooltip.b-tooltip-bottom:hover::before, .b-tooltip.b-tooltip-bottom.b-tooltip-show::before {
        transform: translate(-50%, 0.5rem); }
    .b-tooltip.b-tooltip-left::before {
        top: auto;
        bottom: 50%;
        left: auto;
        right: 100%;
        transform: translate(1rem, 50%); }
    .b-tooltip.b-tooltip-left:focus:not(.is-loading)::after, .b-tooltip.b-tooltip-left:hover:not(.is-loading)::after, .b-tooltip.b-tooltip-left.b-tooltip-show:not(.is-loading)::after {
        top: 50%;
        bottom: auto;
        left: auto;
        right: calc(100% - .5rem);
        border-color: transparent transparent transparent rgba(128, 128, 128, 0.9); }
    .b-tooltip.b-tooltip-left:focus::before, .b-tooltip.b-tooltip-left:hover::before, .b-tooltip.b-tooltip-left.b-tooltip-show::before {
        transform: translate(-0.5rem, 50%); }
    .b-tooltip.b-tooltip-right::before {
        top: auto;
        bottom: 50%;
        left: 100%;
        right: auto;
        transform: translate(-1rem, 50%); }
    .b-tooltip.b-tooltip-right:focus:not(.is-loading)::after, .b-tooltip.b-tooltip-right:hover:not(.is-loading)::after, .b-tooltip.b-tooltip-right.b-tooltip-show:not(.is-loading)::after {
        top: 50%;
        left: 100%;
        right: auto;
        border-color: transparent rgba(128, 128, 128, 0.9) transparent transparent; }
    .b-tooltip.b-tooltip-right:focus::before, .b-tooltip.b-tooltip-right:hover::before, .b-tooltip.b-tooltip-right.b-tooltip-show::before {
        transform: translate(0.5rem, 50%); }

.b-tooltip-inline {
    display: inline-block; }

    hr.divider.divider-solid {
        border-top: var(--b-divider-thickness, 2px) solid var(--b-divider-color, #999); }
    
    hr.divider.divider-dashed {
        border-top: var(--b-divider-thickness, 2px) dashed var(--b-divider-color, #999); }
    
    hr.divider.divider-dotted {
        border-top: var(--b-divider-thickness, 2px) dotted var(--b-divider-color, #999); }
    
    hr.divider.divider-text {
        position: relative;
        border: none;
        height: 1px;
        background: var(--b-divider-color, #999); }
        hr.divider.divider-text::before {
            content: attr(data-content);
            display: inline-block;
            background: #fff;
            font-weight: bold;
            font-size: var(--b-divider-font-size, 0.85rem);
            color: var(--b-divider-color, #999);
            border-radius: 30rem;
            padding: 0.2rem 2rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); }
    
            .b-layout {
                display: flex;
                flex: auto;
                flex-direction: column;
                min-height: 0; }
            
            .b-layout,
            .b-layout * {
                box-sizing: border-box; }
            
            .b-layout.b-layout-has-sider {
                flex-direction: row; }
            
            .b-layout-header,
            .b-layout-footer {
                flex: 0 0 auto; }
            
            .b-layout-header {
                height: 64px;
                padding: 0 50px;
                color: rgba(0, 0, 0, 0.65);
                background: #001529;
                line-height: 64px; }
                .b-layout-header-fixed {
                    position: sticky;
                    z-index: 1;
                    top: 0; }
            
            .b-layout-footer {
                padding: 24px 50px;
                color: rgba(0, 0, 0, 0.65);
                font-size: 14px;
                background: #f0f2f5; }
            
            .b-layout-content {
                flex: auto;
                min-height: 0; }
            
            .b-layout-sider {
                position: relative;
                background: #001529;
                transition: all 0.2s; }
            
            .b-layout-sider-content {
                height: 100%;
                margin-top: -0.1px;
                padding-top: 0.1px; }
            
            .b-layout-header .navbar {
                line-height: inherit; }
            
            .b-character-casing-lower {
                text-transform: lowercase; }
            
            .b-character-casing-upper {
                text-transform: uppercase; }
            
            .b-character-casing-title {
                text-transform: lowercase; }
                .b-character-casing-title::first-letter {
                    text-transform: uppercase; }
            
            hr.divider.divider-solid {
                border-top: var(--b-divider-thickness, 2px) solid var(--b-divider-color, #999); }
            
            hr.divider.divider-dashed {
                border-top: var(--b-divider-thickness, 2px) dashed var(--b-divider-color, #999); }
            
            hr.divider.divider-dotted {
                border-top: var(--b-divider-thickness, 2px) dotted var(--b-divider-color, #999); }
            
            hr.divider.divider-text {
                position: relative;
                border: none;
                height: 1px;
                background: var(--b-divider-color, #999); }
                hr.divider.divider-text::before {
                    content: attr(data-content);
                    display: inline-block;
                    background: #fff;
                    font-weight: bold;
                    font-size: var(--b-divider-font-size, 0.85rem);
                    color: var(--b-divider-color, #999);
                    border-radius: 30rem;
                    padding: 0.2rem 2rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%); }
            