/*@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');*/

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body app {
    position: relative;
    display: flex;
    align-items: stretch;
}

.app-main {
    width: 100%;
}

.app-bar {
    height: 3.5rem;
    display: flex;
    align-items: center;
    top: 0;
    position: sticky;
    z-index: 999;
}

.app-content {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

/*@media (min-width:767.98px) {
    .app-main .app-bar {
        display: none;
    }
}*/

/*@media (min-width:992px) {
    .app-main {
        margin-left: 17.5rem
    }
}*/

.tabs-vertical-env {
}

    .tabs-vertical-env .nav-tabs-vertical.nav.nav-tabs {
        display: table-cell;
        min-width: 120px;
        vertical-align: top;
        width: 150px;
    }

    .tabs-vertical-env .tab-content {
        display: table-cell;
        padding: 0 0 0 20px;
        margin-bottom: 0;
        vertical-align: top;
    }

.tabs-vertical-env-right {
}

    .tabs-vertical-env-right .tab-content {
        padding: 0 20px 0 0;
    }
