@inherits Blazorise.FieldBody
<CascadingValue Value="@this" IsFixed>
    <div @ref="@ElementRef" id="@ElementId" class="@ContainerClassNames" style="@Styles?.Container">
        <div class="ant-form-item-control-input">
            <div class="ant-form-item-control-input-content">
                @ChildContent
            </div>
        </div>
    </div>
</CascadingValue>