@page "/docs/components/modal"

<Seo Canonical="/docs/components/modal" Title="Blazorise Modal component" Description="Learn to use and work with the Blazorise Modal component, which provides a solid foundation for creating dialogs, popovers, lightboxes, or whatever else." />

<DocsPageTitle Path="Components/Modal">
    Blazorise Modal component
</DocsPageTitle>

<DocsPageLead>
    Dialog is a small window that can be used to present information and user interface elements in an overlay.
</DocsPageLead>

<DocsPageParagraph>
    The modal component provides a solid foundation for creating dialogs, popovers, lightboxes, or whatever else.
</DocsPageParagraph>

<UnorderedList>
    <UnorderedListItem>
        <Code Tag>Modal</Code> the main container
        <UnorderedList>
            <UnorderedListItem>
                <Code Tag>ModalContent</Code> a horizontally and vertically centered container, in which you can include any content
                <UnorderedList>
                    <UnorderedListItem>
                        <Code Tag>ModalHeader</Code> top part of the modal, usually contains a title and close button
                        <UnorderedList>
                            <UnorderedListItem>
                                <Code Tag>ModalTitle</Code> a modal title
                            </UnorderedListItem>
                            <UnorderedListItem>
                                <Code Tag>CloseButton</Code> a simple close button located in the top right corner
                            </UnorderedListItem>
                        </UnorderedList>
                    </UnorderedListItem>
                    <UnorderedListItem>
                        <Code Tag>ModalBody</Code> main part of the modal, holds the input fields, images, etc.
                    </UnorderedListItem>
                    <UnorderedListItem>
                        <Code Tag>ModalFooter</Code> bottom part of the modal, usually contains the action buttons
                    </UnorderedListItem>
                </UnorderedList>
            </UnorderedListItem>
        </UnorderedList>
    </UnorderedListItem>
</UnorderedList>

<DocsPageSubtitle>
    Examples
</DocsPageSubtitle>

<DocsPageSection>
    <DocsPageSectionHeader Title="Basic">
        Place the modal markup somewhere at root of you component layout.
        <br />
        <br />
        To work with the modal you must use the reference to the Modal component.
    </DocsPageSectionHeader>
    <DocsPageSectionContent Outlined FullWidth>
        <BasicModalExample />
    </DocsPageSectionContent>
    <DocsPageSectionSource Code="BasicModalExample" />
</DocsPageSection>

<DocsPageSection>
    <DocsPageSectionHeader Title="Two-way binding">
        You can also control the <Code>Modal</Code> visibility by declaring the <Code>Visible</Code> state.
    </DocsPageSectionHeader>
    <DocsPageSectionContent Outlined FullWidth>
        <ModalBindingExample />
    </DocsPageSectionContent>
    <DocsPageSectionSource Code="ModalBindingExample" />
</DocsPageSection>

<DocsPageSection>
    <DocsPageSectionHeader Title="Closing">
        If you want to prevent modal from closing you can use <Code>Closing</Code> event.
    </DocsPageSectionHeader>
    <DocsPageSectionContent Outlined FullWidth>
        <ModalClosingExample />
    </DocsPageSectionContent>
    <DocsPageSectionSource Code="ModalClosingExample" />
</DocsPageSection>

<DocsPageSection>
    <DocsPageSectionHeader Title="Fullscreen">
        If the built-in sizes are not enough you can show the modal in fullscreen.
    </DocsPageSectionHeader>
    <DocsPageSectionContent Outlined FullWidth>
        <ModalFullscreenExample />
    </DocsPageSectionContent>
    <DocsPageSectionSource Code="ModalFullscreenExample" />
</DocsPageSection>

<DocsPageSubtitle>
    Best Practices
</DocsPageSubtitle>

<Heading Size="HeadingSize.Is3">
    Use Sparingly
</Heading>

<DocsPageParagraph>
    Modal dialogs are disruptive by nature and should be used sparingly. Do not use them to communicate nonessential information, such as success messages like "Logged in", "Copied", etc. Instead, use <Anchor To="docs/services/notification-provider">Notifications</Anchor> when appropriate.
</DocsPageParagraph>

<Heading Size="HeadingSize.Is3">
    Fullscreen Mode
</Heading>

<DocsPageParagraph>
    When using the Fullscreen mode for the Modal component, it's crucial to be aware of how you structure your layout within the <Strong>ModalBody</Strong>.
</DocsPageParagraph>

<DocsPageParagraph>
    If the <Strong>ModalBody</Strong> is wrapped within a container that has the CSS property <Code>'display'</Code> set to <Code>'block'</Code>, this can cause issues with the overflow behavior in the Fullscreen mode. Specifically, the <Code>'display: block'</Code> CSS property can interfere with the automatic adjustments that are applied to the <Strong>Modal</Strong> in Fullscreen mode.
</DocsPageParagraph>

<Heading Size="HeadingSize.Is4">
    Impact:
</Heading>

<DocsPageParagraph>
    This interference could lead to the loss of smooth scrolling, content being cut off, or the display not fitting correctly within the viewport dimensions.
</DocsPageParagraph>

<Heading Size="HeadingSize.Is4">
    Solution:
</Heading>

<DocsPageParagraph>
    To avoid such problems
</DocsPageParagraph>

<DocsPageParagraph>
    <OrderedList>
        <OrderedListItem>
            Refrain from using <Code>'display: block'</Code> style with containers within <Strong>ModalBody</Strong> when working in Fullscreen mode.
        </OrderedListItem>
        <OrderedListItem>
            <Paragraph>
                As an alternative, consider using a container with the CSS property <Code>'display'</Code> set to <Code>'contents'</Code>, eg. <Code>'display: contents;'</Code>. This property value allows the container to behave as though it's replaced by its children. This way, you can ensure the structure and style of your content are compatible with the Fullscreen modal settings.
            </Paragraph>
        </OrderedListItem>
    </OrderedList>
</DocsPageParagraph>

<DocsPageParagraph>
    Please take this warning into consideration when implementing your Modals to ensure an optimal user experience and accurate content display.
</DocsPageParagraph>

<DocsPageSubtitle>
    Functions
</DocsPageSubtitle>

<Table>
    <TableHeader ThemeContrast="ThemeContrast.Light">
        <TableRow>
            <TableHeaderCell>Name</TableHeaderCell>
            <TableHeaderCell>Description</TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        <TableRow>
            <TableRowCell><Code>Show()</Code></TableRowCell>
            <TableRowCell>Open the modal dialog.</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowCell><Code>Hide()</Code></TableRowCell>
            <TableRowCell>Close the modal dialog.</TableRowCell>
        </TableRow>
    </TableBody>
</Table>

<DocsPageSubtitle>
    API
</DocsPageSubtitle>

<Heading Size="HeadingSize.Is3">
    Attributes
</Heading>

<DocsAttributes Title="Modal">
    <DocsAttributesItem Name="Visible" Type="boolean" Default="false">
        Handles the visibility of modal dialog.
    </DocsAttributesItem>
    <DocsAttributesItem Name="VisibleChanged" Type="EventCallback<bool>">
        Occurs when the modal visibility state changes.
    </DocsAttributesItem>
    <DocsAttributesItem Name="Opening" Type="Func<ModalOpeningEventArgs, Task>">
        Occurs before the modal is opened and can be used to prevent the modal from opening.
    </DocsAttributesItem>
    <DocsAttributesItem Name="Closing" Type="Func<ModalClosingEventArgs, Task>">
        Occurs before the modal is closed and can be used to prevent the modal from closing.
    </DocsAttributesItem>
    <DocsAttributesItem Name="Opened" Type="EventCallback">
        Occurs after the modal has opened.
    </DocsAttributesItem>
    <DocsAttributesItem Name="Closed" Type="EventCallback">
        Occurs after the modal has closed.
    </DocsAttributesItem>
    <DocsAttributesItem Name="ScrollToTop" Type="boolean" Default="true">
        If true modal will scroll to top when opened.
    </DocsAttributesItem>
    <DocsAttributesItem Name="ShowBackdrop" Type="boolean" Default="true">
        If true the the backdrop will be rendered.
    </DocsAttributesItem>
    <DocsAttributesItem Name="Animated" Type="boolean" Default="true">
        Gets or sets whether the component has any animations.
    </DocsAttributesItem>
    <DocsAttributesItem Name="AnimationDuration" Type="int" Default="150">
        Gets or sets the animation duration.
    </DocsAttributesItem>
    <DocsAttributesItem Name="RenderMode" Type="ModalRenderMode" Default="Default">
        Defines how the modal content will be rendered.
    </DocsAttributesItem>
    <DocsAttributesItem Name="FocusTrap" Type="bool?" Default="true">
        Defines if the modal should keep the input focus at all times.
    </DocsAttributesItem>
</DocsAttributes>

<DocsAttributes Title="ModalContent">
    <DocsAttributesItem Name="Centered" Type="boolean" Default="false">
        Centers the modal vertically.
    </DocsAttributesItem>
    <DocsAttributesItem Name="Scrollable" Type="boolean" Default="false">
        Scrolls the modal content independent of the page itself.
    </DocsAttributesItem>
    <DocsAttributesItem Name="Size" Type="ModalSize" Default="Default">
        Changes the size of the modal.
    </DocsAttributesItem>
</DocsAttributes>

<DocsAttributes Title="ModalBody">
    <DocsAttributesItem Name="MaxHeight" Type="int?" Default="null">
        Sets the maximum height of the modal body (in viewport size unit).
    </DocsAttributesItem>
</DocsAttributes>

<DocsAttributes Title="ModalTitle">
    <DocsAttributesItem Name="Size" Type="HeadingSize" Default="Is4">
        Sets the title size and tag name.
    </DocsAttributesItem>
</DocsAttributes>