@inherits Blazorise.BarItem
@if ( Store.Mode == BarMode.Horizontal )
{
    <CascadingValue Value=this>
        @ChildContent
    </CascadingValue>
}
else
{
    <CascadingValue Value=this>
        <CascadingValue Value="@Store">
            <div class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
                @ChildContent
            </div>
        </CascadingValue>
    </CascadingValue>
}