@inherits Blazorise.BarStart
@if ( ParentBarState?.Mode == BarMode.Horizontal )
{
    @ChildContent
}
else
{
    <div id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @ChildContent
    </div>
}