@inherits Blazorise.BarStart
@if ( Mode == BarMode.Horizontal )
{
    @ChildContent
}
else
{
    <CascadingValue Value="@Mode" Name="Mode" IsFixed="true">
        <div class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
            @ChildContent
        </div>
    </CascadingValue>
}