@inherits Blazorise.BarToggler
<label for="e-menu" class="@ClassNames" style="@StyleNames" @onclick="@ClickHandler" @attributes="@Attributes">
    <i class="fas fa-bars"></i>
    @ChildContent
</label>