@inherits BaseCardTitle
@if ( Size != null )
{
    <Dynamic TagName="@($"h{Size}")" class="@Classnames">
        @ChildContent
    </Dynamic>
}
else
{
    <h3 class="@Classnames">
        @ChildContent
    </h3>
}