@inherits Blazorise.Base.BaseDropdown
<CascadingValue Value=this>
    <div class="@ClassMapper.Class">
        @ChildContent
    </div>
</CascadingValue>
@code{
    protected override void OnInit()
    {
        ParentAddon?.Hook( this );

        base.OnInit();
    }

    [CascadingParameter] protected Addon ParentAddon { get; set; }
}