@inherits Blazorise.Dropdown
<CascadingValue Value=this>
    <div class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @ChildContent
    </div>
</CascadingValue>
@code{
    protected override void OnInitialized()
    {
        ParentAddon?.Hook( this );

        base.OnInitialized();
    }

    [CascadingParameter] protected Addon ParentAddon { get; set; }
}