@inherits BaseDropdown
<CascadingValue Value=this>
    <div class="@ClassNames">
        @ChildContent
    </div>
</CascadingValue>
@code{
    protected override void OnInitialized()
    {
        ParentAddon?.Hook( this );

        base.OnInitialized();
    }

    [CascadingParameter] public Addon ParentAddon { get; set; }
}