@inherits Blazorise.Base.BaseField
<CascadingValue Value=this>
    <div class="@ClassMapper.Class">
        @ChildContent
    </div>
</CascadingValue>
@code{
    protected override void RegisterClasses()
    {
        ClassMapper
            .If( () => ClassProvider.FieldColumn(), () => IsFields && ColumnSize != null )
            .If( () => ColumnSize.Class( ClassProvider ), () => !IsFields && ColumnSize != null );

        base.RegisterClasses();
    }
}