@inherits Blazorise.Jumbotron
<main class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    <section class="face-body eFade">
        <div class="e-container">
            @ChildContent
        </div>
    </section>
</main>