@inherits Blazorise.Pagination
<div id="@ElementId" class="@ClassNames" style="@StyleNames" aria-label="pagination" @attributes="@Attributes">
    <ul class="e-page-content">
        @ChildContent
    </ul>
</div>