@namespace Blazorise.Docs.Docs.Examples
<LoadingIndicator @ref="loadingIndicator" FullScreen>
    <ChildContent>
        <Button Clicked="ShowIndicator" Color="Color.Primary">Show indicator</Button>
    </ChildContent>
    <IndicatorTemplate>
        <Div Flex="Flex.Column.AlignItems.Center" Gap="Gap.Is2">
            <SpinKit Type="SpinKitType.Chase" Size="Size.ExtraLarge" Color="Color.Primary" />
            @if ( !string.IsNullOrWhiteSpace( context.Text ) )
            {
                <Span>@context.Text</Span>
            }
            @if ( context.Progress.HasValue )
            {
                <Span>@($"{context.Progress.Value}%")</Span>
            }
        </Div>
    </IndicatorTemplate>
</LoadingIndicator>
@code
{
    LoadingIndicator loadingIndicator;

    async Task ShowIndicator()
    {
        await loadingIndicator.SetStatus( text: "Loading files", progress: 30 );
        await loadingIndicator.Show();

        await Task.Delay( 1000 );

        await loadingIndicator.SetStatus( text: "Loading other data", progress: 60 );

        await Task.Delay( 1000 );

        await loadingIndicator.SetStatus( text: "Finalizing", progress: 90 );

        await Task.Delay( 1000 );

        await loadingIndicator.Hide();
    }
}