<LoadingIndicator @ref="loadingIndicator">
    <Button Disabled="loadingIndicator.Visible" Clicked="DoWork"/>
</LoadingIndicator>

@code
{
    LoadingIndicator loadingIndicator;

    async Task DoWork()
    {
        if (!loadingIndicator.Visible)
        {
            loadingIndicator.Show();
            // do work...
            loadingIndicator.Hide();
        }
    }
}