@inject LoadingIndicatorService ApplicationLoadingIndicatorService

@code 
{
    void DoWork()
    {
        ApplicationLoadingIndicatorService.Show();
        // do work ...
        ApplicationLoadingIndicatorService.Hide();
    }
}