<Button Clicked="DoWork" />

@code
{
    [CascadingParameter]
    LoadingIndicator loadingIndicator;

    void DoWork()
    {
        loadingIndicator.Show();
        // do work ...
        loadingIndicator.Hide();
    }
}