@if (Loaded)
{
    <div Wrapper>
        <ChildContent />
        @if (Busy)
        {
            <div Indicator>
                <IndicatorTemplate />
            </div Indicator>
        }
    </div Wrapper>
}
else
{
    <LoadingTemplate />
}