<section class="banner">
    @if ( LargeText != null )
    {
        <Paragraph Class="banner-line lg">
            @LargeText
        </Paragraph>
    }

    @if ( SmallText != null )
    {
        <Paragraph Class="banner-line sm">
            @SmallText
        </Paragraph>
    }
    <Div Class="banner-bg"></Div>
    <Div Class="banner-anim"></Div>
</section>
@code{
    [Parameter] public RenderFragment LargeText { get; set; }

    [Parameter] public RenderFragment SmallText { get; set; }
}