<Table Responsive TextAlignment="TextAlignment.Center">
    <TableHeader>
        <TableRow>
            <TableHeaderCell style="width: 40%;"></TableHeaderCell>
            <TableHeaderCell style="width: 15%;">Starter</TableHeaderCell>
            <TableHeaderCell style="width: 15%;">Community</TableHeaderCell>
            <TableHeaderCell style="width: 15%;">Licensed</TableHeaderCell>
            <TableHeaderCell style="width: 15%;">Trial</TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        <TableRow>
            <TableRowHeader Flex="Flex.JustifyContent.Between">
                Core UI
            </TableRowHeader>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader Flex="Flex.JustifyContent.Between">
                DataGrid
            </TableRowHeader>
            <TableRowCell>1000 rows</TableRowCell>
            <TableRowCell>10000 rows</TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader Flex="Flex.JustifyContent.Between">
                Autocomplete
            </TableRowHeader>
            <TableRowCell>1000 items</TableRowCell>
            <TableRowCell>10000 items</TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader Flex="Flex.JustifyContent.Between">
                Charts
            </TableRowHeader>
            <TableRowCell>10 points</TableRowCell>
            <TableRowCell>100 points</TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader Flex="Flex.JustifyContent.Between">
                ListView
            </TableRowHeader>
            <TableRowCell>1000 items</TableRowCell>
            <TableRowCell>10000 items</TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader Flex="Flex.JustifyContent.Between">
                TransferList
            </TableRowHeader>
            <TableRowCell>1000 items</TableRowCell>
            <TableRowCell>10000 items</TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader Flex="Flex.JustifyContent.Between">
                TreeView
            </TableRowHeader>
            <TableRowCell>100 nodes</TableRowCell>
            <TableRowCell>1000 nodes</TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
        </TableRow>
    </TableBody>
</Table>