<Div Padding="Padding.Is4.OnX.Is5.OnY" Margin="Margin.Is5.OnY" TextAlignment="TextAlignment.Center">
    <Image Display="Display.Block" Margin="Margin.IsAuto.OnX.Is4.FromBottom" Source="/img/logos/blazorise-small.svg" Text="Blazorise logo" Style="width: 110px; height: 110px;" />
    @if ( Title != null )
    {
        <DisplayHeading Size="DisplayHeadingSize.Is4" TextWeight="TextWeight.Bold" Padding="Padding.Is3.OnY">
            @Title
        </DisplayHeading>
    }
    <Row>
        <Column ColumnSize="ColumnSize.Is6.OnWidescreen" Margin="Margin.IsAuto.OnX">
            @if ( Subtitle != null )
            {
                <Heading Size="HeadingSize.Is3">
                    @Subtitle
                </Heading>
            }
            @if ( Description != null )
            {
                <Paragraph Class="lead" Margin="Margin.Is4.FromBottom">
                    @Description
                </Paragraph>
            }
            @if ( Actions != null )
            {
                <Div Class="d-grid gap-2" Flex="Flex._.OnTablet.JustifyContent.Center">
                    @Actions
                </Div>
            }
        </Column>
    </Row>
</Div>
@code{
    [Parameter] public RenderFragment Title { get; set; }

    [Parameter] public RenderFragment Subtitle { get; set; }

    [Parameter] public RenderFragment Description { get; set; }

    [Parameter] public RenderFragment Actions { get; set; }
}