@using System.Globalization
<Paragraph TextSize="TextSize.Heading1" TextAlignment="TextAlignment.Center" Margin="Margin.Is5.FromTop.Is4.FromBottom">
    Compare Plan Features
</Paragraph>

<Table Responsive TextAlignment="TextAlignment.Center">
    <TableHeader>
        <TableRow>
            <TableHeaderCell style="width: 40%;"></TableHeaderCell>
            <TableHeaderCell style="width: 15%;">
                <Div Flex="Flex.InlineFlex.Column.JustifyContent.Center.AlignItems.Center">
                    <Div>
                        Community
                    </Div>
                    <Div Padding="Padding.Is2.OnY">
                        <Small TextColor="TextColor.Muted" TextWeight="TextWeight.Light">Free</Small>
                    </Div>
                </Div>
            </TableHeaderCell>
            <TableHeaderCell style="width: 15%;">
                <Div Flex="Flex.InlineFlex.Column.JustifyContent.Center.AlignItems.Center">
                    <Div>
                        Professional
                    </Div>
                    <Div Padding="Padding.Is2.OnY">
                        <Span>@($"${( ProfessionalPrices[Plan].Price * Quantity ).ToString( CultureInfo.InvariantCulture )}")</Span><Small TextColor="TextColor.Muted" TextWeight="TextWeight.Light">/@ProfessionalPrices[Plan].Unit</Small>
                    </Div>
                </Div>
            </TableHeaderCell>
            <TableHeaderCell style="width: 15%;">
                <Div Flex="Flex.InlineFlex.Column.JustifyContent.Center.AlignItems.Center">
                    <Div>
                    Enterprise
                    </Div>
                    <Div Padding="Padding.Is2.OnY">
                        <Span>@($"${( EnterprisePrices[Plan].Price * Quantity ).ToString( CultureInfo.InvariantCulture )}")</Span><Small TextColor="TextColor.Muted" TextWeight="TextWeight.Light">/@ProfessionalPrices[Plan].Unit</Small>
                    </Div>
                </Div>
            </TableHeaderCell>
            <TableHeaderCell style="width: 15%;">
                <Div Flex="Flex.InlineFlex.Column.JustifyContent.Center.AlignItems.Center">
                    <Div>
                        Enterprise Plus
                    </Div>
                    <Div Padding="Padding.Is2.OnY">
                        <Small TextColor="TextColor.Muted" TextWeight="TextWeight.Light">On Request</Small>
                    </Div>
                </Div>
                </TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        <TableRow>
            <TableRowHeader TextAlignment="TextAlignment.Start">Core UI</TableRowHeader>
            <TableRowCell><Icon Name="IconName.Check" TextColor="TextColor.Success" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Check" TextColor="TextColor.Success" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Check" TextColor="TextColor.Success" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Check" TextColor="TextColor.Success" /></TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader Flex="Flex.JustifyContent.Between" Padding="Padding.Is5.FromEnd">
                Private
                <Tooltip Multiline Text="You get access to all Blazorise private repositories that can include source-code of themes, templates, blocks, support forum, and other projects.">
                    <Icon Name="IconName.InfoCircle" TextColor="TextColor.Muted" />
                </Tooltip>
            </TableRowHeader>
            <TableRowCell><Icon Name="IconName.Times" TextColor="TextColor.Light" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Check" TextColor="TextColor.Light" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Check" TextColor="TextColor.Success" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Check" TextColor="TextColor.Success" /></TableRowCell>
        </TableRow>
    </TableBody>

    <TableBody>
        <TableRow>
            <TableRowHeader TextAlignment="TextAlignment.Start">
                Commercial Use
            </TableRowHeader>
            <TableRowCell><Icon Name="IconName.Times" TextColor="TextColor.Light" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Check" TextColor="TextColor.Success" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Check" TextColor="TextColor.Success" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Check" TextColor="TextColor.Success" /></TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader TextAlignment="TextAlignment.Start">
                Regular updates
            </TableRowHeader>
            <TableRowCell><Icon Name="IconName.Check" TextColor="TextColor.Success" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Check" TextColor="TextColor.Success" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Check" TextColor="TextColor.Success" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Check" TextColor="TextColor.Success" /></TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader Flex="Flex.JustifyContent.Between" Padding="Padding.Is5.FromEnd">
                Unlimited number of applications
                <Tooltip Multiline Text="No restrictions on a number of applications or deployment! You can deploy to as many servers as you want, including the cloud services or on-premises.">
                    <Icon Name="IconName.InfoCircle" TextColor="TextColor.Muted" />
                </Tooltip>
            </TableRowHeader>
            <TableRowCell><Icon Name="IconName.Check" TextColor="TextColor.Success" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Check" TextColor="TextColor.Success" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Check" TextColor="TextColor.Success" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Check" TextColor="TextColor.Success" /></TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader Flex="Flex.JustifyContent.Between" Padding="Padding.Is5.FromEnd">
                <Blazorise.Link To="themes" TextColor="TextColor.Primary">
                    Blazorise Themes
                </Blazorise.Link>
                <Tooltip Multiline Text="Access to source code of premium themes and code samples.">
                    <Icon Name="IconName.InfoCircle" TextColor="TextColor.Muted" />
                </Tooltip>
            </TableRowHeader>
            <TableRowCell><Icon Name="IconName.Times" TextColor="TextColor.Light" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Times" TextColor="TextColor.Light" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Check" TextColor="TextColor.Success" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Check" TextColor="TextColor.Success" /></TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader Flex="Flex.JustifyContent.Between" Padding="Padding.Is5.FromEnd">
                <Anchor To="blocks" TextColor="TextColor.Primary">
                    Blazorise Blocks
                </Anchor>
                <Tooltip Multiline Text="Access to the source code of growing list of UI blocks that includes full code samples.">
                    <Icon Name="IconName.InfoCircle" TextColor="TextColor.Muted" />
                </Tooltip>
            </TableRowHeader>
            <TableRowCell><Icon Name="IconName.Times" TextColor="TextColor.Light" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Times" TextColor="TextColor.Light" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Check" TextColor="TextColor.Success" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Check" TextColor="TextColor.Success" /></TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader Flex="Flex.JustifyContent.Between" Padding="Padding.Is5.FromEnd">
                <Anchor To="support" TextColor="TextColor.Primary">
                    1 year premium forum support
                </Anchor>
                <Tooltip Multiline Text="You can get the premium support for one year (you can renew your licence to extend it).">
                    <Icon Name="IconName.InfoCircle" TextColor="TextColor.Muted" />
                </Tooltip>
            </TableRowHeader>
            <TableRowCell>
                <Icon Name="IconName.Times" TextColor="TextColor.Light" />
            </TableRowCell>
            <TableRowCell>
                <Tooltip Text="With 24 hour response time">
                    <Icon Name="IconName.Clock" TextColor="TextColor.Success" />
                </Tooltip>
            </TableRowCell>
            <TableRowCell>
                <Tooltip Text="With 16 hour response time">
                    <Icon Name="IconName.Clock" TextColor="TextColor.Success" />
                </Tooltip>
            </TableRowCell>
            <TableRowCell>
                <Tooltip Text="With 16 hour response time, or a direct call to our developers.">
                    <Icon Name="IconName.Headset" TextColor="TextColor.Success" />
                </Tooltip>
            </TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader Flex="Flex.JustifyContent.Between" Padding="Padding.Is5.FromEnd">
                Forum support incident count/year
                <Tooltip Multiline Text="Professional and Enterprise licenses have incident/question count limit. If you buy additional developer licenses, your incident limit increases by 10 (for the Professional License) or 25 (for the Enterprise License).">
                    <Icon Name="IconName.InfoCircle" TextColor="TextColor.Muted" />
                </Tooltip>
            </TableRowHeader>
            <TableRowCell><Icon Name="IconName.Times" TextColor="TextColor.Light" /></TableRowCell>
            <TableRowCell>10</TableRowCell>
            <TableRowCell>25</TableRowCell>
            <TableRowCell><Strong TextColor="TextColor.Primary">Unlimited</Strong></TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader Flex="Flex.JustifyContent.Between" Padding="Padding.Is5.FromEnd">
                Guaranteed response time
                <Tooltip Multiline Text="Professional and Enterprise licenses have a guaranteed response time on weekdays, Monday through Friday.">
                    <Icon Name="IconName.InfoCircle" TextColor="TextColor.Muted" />
                </Tooltip>
            </TableRowHeader>
            <TableRowCell><Icon Name="IconName.Times" TextColor="TextColor.Light" /></TableRowCell>
            <TableRowCell>24 hours</TableRowCell>
            <TableRowCell>16 hours</TableRowCell>
            <TableRowCell><Strong TextColor="TextColor.Muted">Custom</Strong></TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader Flex="Flex.JustifyContent.Between" Padding="Padding.Is5.FromEnd">
                Priority fixes and feature requests
                <Tooltip Multiline Text="Enterprise licences includes private support (e-mail and ticket support).">
                    <Icon Name="IconName.InfoCircle" TextColor="TextColor.Muted" />
                </Tooltip>
            </TableRowHeader>
            <TableRowCell><Icon Name="IconName.Times" TextColor="TextColor.Light" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Times" TextColor="TextColor.Light" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Check" TextColor="TextColor.Success" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Check" TextColor="TextColor.Success" /></TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader Flex="Flex.JustifyContent.Between" Padding="Padding.Is5.FromEnd">
                <Anchor To="enterprise-plus" Title="Link to enterprise plus page" TextColor="TextColor.Primary">
                    Blazorise Mentor
                </Anchor>
                <Tooltip Multiline Text="We will get to know your project on a personal level and will actively guide your team to the most efficient path to successful completion.">
                    <Icon Name="IconName.InfoCircle" TextColor="TextColor.Muted" />
                </Tooltip>
            </TableRowHeader>
            <TableRowCell><Icon Name="IconName.Times" TextColor="TextColor.Light" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Times" TextColor="TextColor.Light" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Times" TextColor="TextColor.Light" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Check" TextColor="TextColor.Success" /></TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader Flex="Flex.JustifyContent.Between" Padding="Padding.Is5.FromEnd">
                <Anchor To="enterprise-plus" Title="Link to enterprise plus page" TextColor="TextColor.Primary">
                    Expert on Demand
                </Anchor>
                <Tooltip Multiline Text="Allow our team to lend their expertise so you can focus on the business logic while we ensure you avoid common pitfalls!">
                    <Icon Name="IconName.InfoCircle" TextColor="TextColor.Muted" />
                </Tooltip>
            </TableRowHeader>
            <TableRowCell><Icon Name="IconName.Times" TextColor="TextColor.Light" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Times" TextColor="TextColor.Light" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Times" TextColor="TextColor.Light" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Check" TextColor="TextColor.Success" /></TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader Flex="Flex.JustifyContent.Between" Padding="Padding.Is5.FromEnd">
                Development license
                <Tooltip Multiline Text="For active development.">
                    <Icon Name="IconName.InfoCircle" TextColor="TextColor.Muted" />
                </Tooltip>
            </TableRowHeader>
            <TableRowCell><Icon Name="IconName.Check" TextColor="TextColor.Success" /></TableRowCell>
            <TableRowCell>1 year</TableRowCell>
            <TableRowCell>1 year</TableRowCell>
            <TableRowCell>1 year</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader Flex="Flex.JustifyContent.Between">
                Access to new releases
            </TableRowHeader>
            <TableRowCell><Icon Name="IconName.Check" TextColor="TextColor.Success" /></TableRowCell>
            <TableRowCell>1 year</TableRowCell>
            <TableRowCell>1 year</TableRowCell>
            <TableRowCell>1 year</TableRowCell>
        </TableRow>





        <TableRow Background="Background.Light">
            <TableRowHeader ColumnSpan="5" TextAlignment="TextAlignment.Start">
                Extensions Record Limit
            </TableRowHeader>
        </TableRow>
        <TableRow>
            <TableRowHeader Flex="Flex.JustifyContent.Between">
                Core UI Components
            </TableRowHeader>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader Flex="Flex.JustifyContent.Between">
                DataGrid
            </TableRowHeader>
            <TableRowCell>10000 rows</TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader Flex="Flex.JustifyContent.Between">
                Autocomplete
            </TableRowHeader>
            <TableRowCell>10000 items</TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader Flex="Flex.JustifyContent.Between">
                Charts
            </TableRowHeader>
            <TableRowCell>100 points</TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader Flex="Flex.JustifyContent.Between">
                ListView
            </TableRowHeader>
            <TableRowCell>10000 items</TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader Flex="Flex.JustifyContent.Between">
                TransferList
            </TableRowHeader>
            <TableRowCell>10000 items</TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader Flex="Flex.JustifyContent.Between">
                TreeView
            </TableRowHeader>
            <TableRowCell>1000 nodes</TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
            <TableRowCell><Icon Name="IconName.Infinity" TextColor="TextColor.Primary" /></TableRowCell>
        </TableRow>
    </TableBody>
</Table>