<Row Padding="Padding.Is2.FromBottom">
    <Column>
        <Heading Size="HeadingSize.Is6" TextColor="TextColor.Dark">@Name</Heading>
        <Text TextColor="TextColor.Muted">@Description</Text>
    </Column>
    <Column Flex="Flex.JustifyContent.End">
        <Heading Size="HeadingSize.Is2" Flex="Flex.JustifyContent.Start.AlignItems.Baseline" Gap="Gap.Is1">
            <Span TextSize="TextSize.Small" TextColor="TextColor.Muted" Flex="Flex.AlignSelf.Start">@Currency</Span>
            <Span>@Price</Span>
            <Span TextSize="TextSize.Small" TextColor="TextColor.Muted">EUR</Span>
        </Heading>
    </Column>
</Row>