@page "/docs/helpers/colors"

<DocsPageTitle>
    Colors
</DocsPageTitle>

<DocsPageParagraph>
    Here is a list of contextual classes that can be applied to most of your components:
</DocsPageParagraph>

<Alert Color="Color.Info" Visible="true">
    <AlertDescription>Keep in mind: All elements have a color <Code>None</Code> specified by default.</AlertDescription>
</Alert>

<DocsPageSection>
    <DocsPageSectionHeader Title="Color">
        <ul>
            <li><Code>None</Code></li>
            <li><Code>Primary</Code></li>
            <li><Code>Secondary</Code></li>
            <li><Code>Success</Code></li>
            <li><Code>Danger</Code></li>
            <li><Code>Warning</Code></li>
            <li><Code>Info</Code></li>
            <li><Code>Light</Code></li>
            <li><Code>Dark</Code></li>
            <li><Code>Link</Code></li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>

<DocsPageSection>
    <DocsPageSectionHeader Title="Background">
        <ul>
            <li><Code>None</Code></li>
            <li><Code>Primary</Code></li>
            <li><Code>Secondary</Code></li>
            <li><Code>Success</Code></li>
            <li><Code>Danger</Code></li>
            <li><Code>Warning</Code></li>
            <li><Code>Info</Code></li>
            <li><Code>Light</Code></li>
            <li><Code>Dark</Code></li>
            <li><Code>White</Code></li>
            <li><Code>Transparent</Code></li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>

<DocsPageSection>
    <DocsPageSectionHeader Title="TextColor">
        <ul>
            <li><Code>None</Code></li>
            <li><Code>Primary</Code></li>
            <li><Code>Secondary</Code></li>
            <li><Code>Success</Code></li>
            <li><Code>Danger</Code></li>
            <li><Code>Warning</Code></li>
            <li><Code>Info</Code></li>
            <li><Code>Light</Code></li>
            <li><Code>Dark</Code></li>
            <li><Code>Body</Code></li>
            <li><Code>Muted</Code></li>
            <li><Code>White</Code></li>
            <li><Code>Black50</Code></li>
            <li><Code>White50</Code></li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>

<DocsPageSection>
    <DocsPageSectionHeader Title="SnackbarColor">
        <ul>
            <li><Code>None</Code></li>
            <li><Code>Primary</Code></li>
            <li><Code>Secondary</Code></li>
            <li><Code>Success</Code></li>
            <li><Code>Danger</Code></li>
            <li><Code>Warning</Code></li>
            <li><Code>Info</Code></li>
            <li><Code>Light</Code></li>
            <li><Code>Dark</Code></li>
        </ul>
    </DocsPageSectionHeader>
</DocsPageSection>

