<link href="_content/Blazorise.AntDesign/antd.css?v=2.0.4.0" rel="stylesheet" />
<link href="_content/Blazorise.Icons.AntDesign/blazorise.icons.antdesign.css?v=2.0.4.0" rel="stylesheet" />

<link href="_content/Blazorise/blazorise.css?v=2.0.4.0" rel="stylesheet" />
<link href="_content/Blazorise.AntDesign/blazorise.antdesign.css?v=2.0.4.0" rel="stylesheet" />