<link href="_content/Blazorise.AntDesign/antd.css?v=__BLAZORISE_VERSION__" rel="stylesheet" />
<link href="_content/Blazorise.Icons.AntDesign/blazorise.icons.antdesign.css?v=__BLAZORISE_VERSION__" rel="stylesheet" />

<link href="_content/Blazorise/blazorise.css?v=__BLAZORISE_VERSION__" rel="stylesheet" />
<link href="_content/Blazorise.AntDesign/blazorise.antdesign.css?v=__BLAZORISE_VERSION__" rel="stylesheet" />