@namespace Blazorise.Docs.Docs.Examples

<Field Group>
    <FieldLabel RequiredIndicator>Preferred contact method</FieldLabel>
    <RadioGroup TValue="string" Name="contact-method" @bind-Value="@contactMethod">
        <Radio Value="@("email")">Email</Radio>
        <Radio Value="@("phone")">Phone</Radio>
        <Radio Value="@("sms")">SMS</Radio>
    </RadioGroup>
</Field>

<Div Margin="Margin.Is4.FromTop">
    <Fields Group>
        <FieldsLabel>Shipping address</FieldsLabel>
        <Field>
            <FieldLabel>Street</FieldLabel>
            <TextInput Placeholder="1234 Main St" />
        </Field>
        <Field>
            <FieldLabel>City</FieldLabel>
            <TextInput Placeholder="Zagreb" />
        </Field>
    </Fields>
</Div>

@code {
    string contactMethod = "email";
}