@typeparam TNode
@inherits BaseComponent
<div class="tree-view-title">
    <span class="@ClassNames" style="@((Selected) ? selectedNodeStyling.Style : nodeStyling.Style)" @onclick="@OnClick">
        @ChildContent
    </span>
</div>