@page "/"

<Heading Size="HeadingSize.Is1" Margin="Margin.Is3.FromBottom">Blazorise</Heading>


<Paragraph>
    Blazorise is a component library built on top of Blazor and CSS frameworks like Bootstrap, Bulma and Material. It can be used to build responsive, single-page web applications.
</Paragraph>

<Alert Color="Color.Info" IsShow="true">
    <Heading Size="HeadingSize.Is4" TextColor="TextColor.Success">
        Note:
    </Heading>
    <Paragraph>
        This is a demo project for Blazorise to show how it can be used.
    </Paragraph>
    <Paragraph>
        You can find full source code on <a href="https://github.com/stsrki/blazorise" target="_blank">&nbsp;GitHub</a>.
    </Paragraph>
    <Paragraph>
        Or to learn more about Blazorise please go to the official <a href="https://blazorise.com/docs/" target="_blank">&nbsp;documentation</a>.
    </Paragraph>
</Alert>

<Paragraph>
    On the left sidebar you can see the Blazorise components in action.
</Paragraph>
<br />
<Paragraph>
    <strong> Demo for</strong>: Blazorise v0.7.8
</Paragraph>