.b-bar-horizontal {
    .nav-item.dropdown {
        .dropdown-menu {
            > .dropdown {
                > .dropdown-item {
                    width: 100%;

                    @include caret();

                    &::after {
                        transform: rotate( -90deg);
                        position: absolute;
                        right: 10%;
                        top: 45%;
                    }
                }

                > .dropdown-menu {
                    top: 0;
                    left: 100%;
                    margin-left: 0rem;
                    margin-right: .1rem;
                }
            }
        }
    }
}