.btn-md,
%btn-md {
    font-size: $btn-font-size-md;
    height: $btn-height-md;
}

.btn-lg,
%btn-lg {
    font-size: $btn-font-size-lg;
    height: $btn-height-lg;
}


.btn-xl,
%btn-xl {
    font-size: $btn-font-size-xl;
    height: $btn-height-xl;
}
