.btn-xs {
    font-size: $btn-font-size-xs;
    height: $btn-height-xs;
}

.btn-md {
    font-size: $btn-font-size-md;
    height: $btn-height-md;
}

.btn-lg {
    font-size: $btn-font-size-lg;
    height: $btn-height-lg;
}


.btn-xl {
    font-size: $btn-font-size-xl;
    height: $btn-height-xl;
}

.btn-group-xs > .btn {
    @extend .btn-xs;
}

.btn-group-md > .btn {
    @extend .btn-md;
}

.btn-group-lg > .btn {
    @extend .btn-lg;
}

.btn-group-xl > .btn {
    @extend .btn-xl;
}
