.form-check > .form-check-input.form-check-input-pointer,
.form-check > .form-check-label.form-check-label-pointer,
.custom-checkbox > .custom-control-input.custom-control-input-pointer,
.custom-checkbox > .custom-control-label.custom-control-label-pointer {
    cursor: pointer;
}

input.form-control[type=color] {
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
}
