@import "variables";

@each $name, $value in $theme-colors {
	$color: $value;

	&.custom-control-input-#{$name}:checked ~ .custom-control-label::after {
		background-color: $color;
	}

	&.custom-control-input-#{$name}:checked ~ .custom-control-label::before {
		background-color: $color;
	}

}

@each $name, $value in $theme-light-colors {
	$color: $value;

	&.custom-control-input-#{$name}:checked ~ .custom-control-track {
		background-color: $color;
	}

}