h1.card-title,
.h1.card-title {
    font-size: 2.5rem;
}

h2.card-title,
.h2.card-title {
    font-size: 2rem;
}

h3.card-title,
.h3.card-title {
    font-size: 1.75rem;
}

h4.card-title,
.h4.card-title {
    font-size: 1.5rem;
}

h5.card-title,
.h5.card-title {
    font-size: 1.25rem;
}

h6.card-title,
.h6.card-title {
    font-size: 1rem;
}

.fs {
    &-xs {
        font-size: 0.75rem;
    }

    &-sm {
        font-size: 0.925rem;
    }

    &-md {
        font-size: 1.125rem;
    }

    &-lg {
        font-size: 1.25rem;
    }

    &-xl {
        font-size: 1.5rem;
    }

    &-1 {
        font-size: 2.5rem;
    }

    &-2 {
        font-size: 2rem;
    }

    &-3 {
        font-size: 1.75rem;
    }

    &-4 {
        font-size: 1.5rem;
    }

    &-5 {
        font-size: 1.25rem;
    }

    &-6 {
        font-size: 1rem;
    }
}
