$theme-variants: ("primary", "secondary", "tertiary", "error", "success", "warning", "info", "light", "dark") !default;

$theme-colors-text-emphasis: () !default;
$theme-colors-text-emphasis: map-merge((
    primary: var(--mui-primary),
    secondary: var(--mui-secondary),
    tertiary: var(--mui-tertiary),
    danger: var(--mui-error),
    error: var(--mui-error),
    success: var(--mui-success),
    warning: var(--mui-warning),
    info: var(--mui-info),
    light: var(--mui-light),
    dark: var(--mui-dark)
), $theme-colors-text-emphasis);

$theme-colors-bg-subtle: () !default;
$theme-colors-bg-subtle: map-merge((
    primary: var(--mui-primary-container),
    secondary: var(--mui-secondary-container),
    tertiary: var(--mui-tertiary-container),
    danger: var(--mui-error-container),
    error: var(--mui-error-container),
    success: var(--mui-success-container),
    warning: var(--mui-warning-container),
    info: var(--mui-info-container),
    light: var(--mui-light-container),
    dark: var(--mui-dark-container)
), $theme-colors-bg-subtle);

$theme-colors-border-subtle: () !default;
$theme-colors-border-subtle: map-merge((
    primary: var(--mui-outline-primary-variant),
    secondary: var(--mui-outline-secondary-variant),
    tertiary: var(--mui-outline-tertiary-variant),
    danger: var(--mui-outline-error-variant),
    error: var(--mui-outline-error-variant),
    success: var(--mui-outline-success-variant),
    warning: var(--mui-outline-warning-variant),
    info: var(--mui-outline-info-variant),
    light: var(--mui-outline-light-variant),
    dark: var(--mui-outline-dark-variant)
), $theme-colors-border-subtle);

$spacer: var(--mui-spacing) !default;
$spacers: () !default;
$spacers: map-merge( ( 0: 0, 1: 0.5rem, 2: 0.75rem, 3: 1rem, 4: 1.5rem, 5: 2rem ), $spacers );
$gutters: $spacers !default;

$sizes: () !default;
$sizes: map-merge( ( 25: 25%, 33: 33.333333%, 50: 50%, 66: 66.666667%, 75: 75%, 100: 100%, auto: auto ), $sizes );

$grid-breakpoints: ( xs: 0, sm: 600px, md: 960px, lg: 1280px, xl: 1920px, xxl: 2560px ) !default;

$container-max-widths: ( sm: 540px, md: 720px, lg: 960px, xl: 1140px, xxl: 1320px ) !default;

$grid-rows: 6 !default;
$grid-columns: 12 !default;
$grid-gutter-width: 1rem !default;
$container-padding-x: $grid-gutter-width !default;
$grid-row-columns: 6 !default;

$breakpoint-observer-breakpoints: $grid-breakpoints !default;
$breakpoint-observer-map: (
    xs: mobile,
    sm: tablet,
    md: desktop,
    lg: widescreen,
    xl: fullhd,
    xxl: quadhd
) !default;
$bar-initial-breakpoints: (
    "mui-bar-expand-sm": sm,
    "mui-bar-expand-md": md,
    "mui-bar-expand-lg": lg,
    "mui-bar-expand-xl": xl,
    "mui-bar-expand-xxl": xxl
) !default;

$display-values: (none, inline, inline-block, block, flex, inline-flex, table, table-row, table-cell) !default;
$flex-directions: (row, row-reverse, column, column-reverse) !default;
$justify-content-values: (start: flex-start, end: flex-end, center: center, between: space-between, around: space-around) !default;
$align-items-values: (start: flex-start, end: flex-end, center: center, baseline: baseline, stretch: stretch) !default;
$align-self-values: (auto: auto, start: flex-start, end: flex-end, center: center, baseline: baseline, stretch: stretch) !default;
$align-content-values: (start: flex-start, end: flex-end, center: center, between: space-between, around: space-around, stretch: stretch) !default;
$flex-wrap-values: (wrap, nowrap, wrap-reverse) !default;
$flex-basis-values: (0, auto, full) !default;
$flex-order-values: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12) !default;
$mui-overflow-values: (visible, hidden, scroll, auto) !default;
$mui-object-fit-values: (none: none, contain: contain, cover: cover, fill: fill, scale: scale-down) !default;
$mui-positions: (static, relative, absolute, fixed, sticky) !default;
$mui-position-values: (0: 0, 50: 50%, 100: 100%) !default;
$mui-spacing-properties: (margin: mui-margin, padding: mui-padding) !default;
$mui-vertical-alignment-values: (baseline: baseline, top: top, middle: middle, bottom: bottom, text-top: text-top, text-bottom: text-bottom) !default;

$mui-heading-sizes: (1: 3.5625rem, 2: 2.8125rem, 3: 2.25rem, 4: 2rem, 5: 1.75rem, 6: 1.5rem) !default;
$mui-display-sizes: (1: 5rem, 2: 4.5rem, 3: 4rem, 4: 3.5rem) !default;
$mui-text-sizes: (
    xs: 0.75rem,
    sm: var(--mui-font-size-sm),
    md: var(--mui-font-size),
    lg: var(--mui-font-size-lg),
    xl: 1.5rem,
    1: 3.5625rem,
    2: 2.8125rem,
    3: 2.25rem,
    4: 2rem,
    5: 1.75rem,
    6: 1.5rem
) !default;
$mui-text-weights: (light: 300, normal: 400, semibold: 600, bold: 700) !default;

$mui-border-color: var(--mui-outline-variant) !default;
$mui-border-radius: 0.5rem !default;
$mui-border-pill-radius: 50rem !default;
$mui-border-widths: (0: 0, 1: 1px, 2: 2px, 3: 3px, 4: 4px, 5: 5px) !default;
$mui-border-sides: (
    top: (physical: top, logical: top),
    end: (physical: right, logical: inline-end),
    bottom: (physical: bottom, logical: bottom),
    start: (physical: left, logical: inline-start)
) !default;
$mui-border-colors: (
    primary: var(--mui-primary),
    secondary: var(--mui-secondary),
    tertiary: var(--mui-tertiary),
    success: var(--mui-success),
    danger: var(--mui-error),
    error: var(--mui-error),
    warning: var(--mui-warning),
    info: var(--mui-info),
    light: var(--mui-light),
    dark: var(--mui-dark),
    white: #fff
) !default;
$mui-border-subtle-colors: map-merge((white: rgb(255 255 255 / 50%)), $theme-colors-border-subtle) !default;

$mui-contextual-colors: (primary, secondary, tertiary, error, success, warning, info, light, dark) !default;
$mui-scheduler-on-colors: (
    primary: var(--mui-on-primary),
    secondary: var(--mui-on-secondary),
    tertiary: var(--mui-on-tertiary),
    success: var(--mui-on-success),
    warning: var(--mui-on-warning),
    info: var(--mui-on-info),
    danger: var(--mui-on-error),
    error: var(--mui-on-error),
    light: var(--mui-on-light),
    dark: var(--mui-on-dark)
) !default;
$mui-list-contextual-colors: (
    primary: ("base": var(--mui-primary), "on-base": var(--mui-on-primary), "container": var(--mui-primary-container), "on-container": var(--mui-on-primary-container)),
    secondary: ("base": var(--mui-secondary), "on-base": var(--mui-on-secondary), "container": var(--mui-secondary-container), "on-container": var(--mui-on-secondary-container)),
    tertiary: ("base": var(--mui-tertiary), "on-base": var(--mui-on-tertiary), "container": var(--mui-tertiary-container), "on-container": var(--mui-on-tertiary-container)),
    success: ("base": var(--mui-success), "on-base": var(--mui-on-success), "container": var(--mui-success-container), "on-container": var(--mui-on-success-container)),
    danger: ("base": var(--mui-error), "on-base": var(--mui-on-error), "container": var(--mui-error-container), "on-container": var(--mui-on-error-container)),
    error: ("base": var(--mui-error), "on-base": var(--mui-on-error), "container": var(--mui-error-container), "on-container": var(--mui-on-error-container)),
    warning: ("base": var(--mui-warning), "on-base": var(--mui-on-warning), "container": var(--mui-warning-container), "on-container": var(--mui-on-warning-container)),
    info: ("base": var(--mui-info), "on-base": var(--mui-on-info), "container": var(--mui-info-container), "on-container": var(--mui-on-info-container)),
    light: ("base": var(--mui-light), "on-base": var(--mui-on-light), "container": var(--mui-light-container), "on-container": var(--mui-on-light-container)),
    dark: ("base": var(--mui-dark), "on-base": var(--mui-on-dark), "container": var(--mui-dark-container), "on-container": var(--mui-on-dark-container))
) !default;
$mui-ripple-targets: (
    ".mui-button",
    ".mui-dropdown-item",
    ".mui-tabs > .mui-tab-item > .mui-tab-link",
    ".mui-pagination > .mui-pagination-item > .mui-pagination-link",
    ".mui-breadcrumb > .mui-breadcrumb-item > .mui-breadcrumb-link",
    ".mui-bar-link",
    ".mui-bar-brand",
    ".mui-bar-toggler",
    ".mui-list > .mui-list-item.mui-list-item-action",
    ".mui-list > .mui-list-item > a:only-child",
    ".mui-list > .mui-list-item > details > summary",
    ".mui-button-close",
    ".mui-chip.mui-chip-link",
    ".mui-chip > .mui-chip-close"
) !default;
