$white: #fff !default;
$black: #000 !default;

$text-light: #fff !default;
$text-dark: #212529 !default;

$yiq-text-light: $text-light !default;
$yiq-text-dark: $text-dark !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 150 !default;

$primary: #9c27b0 !default;
$secondary: #ff4081 !default;
$success: #4caf50 !default;
$info: #2196f3 !default;
$warning: #ff9800 !default;
$danger: #f44336 !default;
$light: #f5f5f5 !default;
$dark: #424242 !default;
$link: #3273dc !default;
$primary-light: #e1bee7 !default;
$secondary-light: #ff80ab !default;
$success-light: #c8e6c9 !default;
$info-light: #bbdefb !default;
$warning-light: #ffe0b2 !default;
$danger-light: #ffcdd2 !default;
$light-light: #fafafa !default;
$dark-light: #757575 !default;

$theme-colors: ( "primary": $primary, "secondary": $secondary, "success": $success, "info": $info, "warning": $warning, "danger": $danger, "light": $light, "dark": $dark, "link":$link);

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
$grid-row-columns: 6 !default;

$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px ) !default;