:root {
    --mui-primary: #4355b9;
    --mui-primary-hover: #3b4ca6;
    --mui-on-primary: #ffffff;
    --mui-primary-container: #dee0ff;
    --mui-on-primary-container: #00105c;
    --mui-secondary: #5b5d72;
    --mui-secondary-hover: #51536a;
    --mui-on-secondary: #ffffff;
    --mui-secondary-container: #e0e1f9;
    --mui-on-secondary-container: #181a2c;
    --mui-tertiary: #7a5260;
    --mui-tertiary-hover: #6c4654;
    --mui-on-tertiary: #ffffff;
    --mui-tertiary-container: #ffd9e3;
    --mui-on-tertiary-container: #31101d;
    --mui-error: #ba1a1a;
    --mui-error-hover: #93000a;
    --mui-on-error: #ffffff;
    --mui-error-container: #ffdad6;
    --mui-on-error-container: #93000a;
    --mui-success: #006d3d;
    --mui-success-hover: #004d2a;
    --mui-on-success: #ffffff;
    --mui-success-container: #b0f1c2;
    --mui-on-success-container: #10512f;
    --mui-warning: #7a5800;
    --mui-warning-hover: #5b4300;
    --mui-on-warning: #ffffff;
    --mui-warning-container: #ffdea4;
    --mui-on-warning-container: #5d4200;
    --mui-info: #00629b;
    --mui-info-hover: #004b73;
    --mui-on-info: #ffffff;
    --mui-info-container: #cee5ff;
    --mui-on-info-container: #104a73;
    --mui-light: #fdf8fd;
    --mui-light-hover: #f5eff6;
    --mui-on-light: #1c1b1e;
    --mui-light-container: #f5eff6;
    --mui-on-light-container: #322f33;
    --mui-dark: #1c1b1e;
    --mui-dark-hover: #272528;
    --mui-on-dark: #fdf8fd;
    --mui-dark-container: #49454e;
    --mui-on-dark-container: #e7e0eb;
    --mui-background: #fffbff;
    --mui-on-background: #1c1b1e;
    --mui-font-size: 1rem;
    --mui-font-size-sm: .875rem;
    --mui-font-size-lg: 1.25rem;
    --mui-size-xs: 1.5rem;
    --mui-size-sm: 2rem;
    --mui-size-md: 2.5rem;
    --mui-size-lg: 3rem;
    --mui-size-xl: 4rem;
    --mui-font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Noto Sans, Arial, sans-serif;
    --mui-font-icon: "Material Symbols Outlined";
    --mui-duration-ultra-fast: 50ms;
    --mui-duration-faster: 100ms;
    --mui-duration-fast: 150ms;
    --mui-duration-normal: 200ms;
    --mui-duration-gentle: 250ms;
    --mui-duration-slow: 300ms;
    --mui-duration-slower: 400ms;
    --mui-duration-ultra-slow: 500ms;
    --mui-active: rgb(128 128 128 / 0.192);
    --mui-overlay: rgb(0 0 0 / 0.5);
    --mui-elevate1: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px rgba(0, 0, 0, 0.15);
    --mui-elevate2: 0px 2px 4px rgba(0, 0, 0, 0.3), 0px 1px 5px rgba(0, 0, 0, 0.15);
    --mui-elevate3: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 1px 3px rgba(0, 0, 0, 0.15);
    --mui-top: env(safe-area-inset-top);
    --mui-bottom: env(safe-area-inset-bottom);
    --mui-left: env(safe-area-inset-left);
    --mui-right: env(safe-area-inset-right);
    --mui-surface: #fdf8fd;
    --mui-on-surface: #1c1b1e;
    --mui-surface-variant: #e7e0eb;
    --mui-on-surface-variant: #49454e;
    --mui-shadow: #000000;
    --mui-scrim: #000000;
    --mui-outline: #767680;
    --mui-outline-variant: #c7c5d0;
    --mui-surface-dim: #ddd8dd;
    --mui-surface-bright: #fdf8fd;
    --mui-surface-container-lowest: #ffffff;
    --mui-surface-container-low: #f7f2f7;
    --mui-surface-container: #f2ecf1;
    --mui-surface-container-high: #ece7eb;
    --mui-surface-container-highest: #e6e1e6;
    --mui-spacing: 1rem;
}

:root {
    --mui-zindex-tablefixed: 10;
    --mui-zindex-tablefixed2: 11;
    --mui-zindex-input-before: 10;
    --mui-zindex-input: 20;
    --mui-zindex-input-after: 30;
    --mui-zindex-navigation: 1000;
    --mui-zindex-dropdown: 1010;
    --mui-zindex-sticky: 1020;
    --mui-zindex-fixed: 1030;
    --mui-zindex-drawerbackdrop: 1040;
    --mui-zindex-drawer: 1045;
    --mui-zindex-modalbackdrop: 1050;
    --mui-zindex-modal: 1055;
    --mui-zindex-popover: 1060;
    --mui-zindex-tooltip: 1070;
    --mui-curve-accelerate-max: cubic-bezier(0.9,0.1,1,0.2);
    --mui-curve-accelerate-mid: cubic-bezier(1,0,1,1);
    --mui-curve-accelerate-min: cubic-bezier(0.8,0,0.78,1);
    --mui-curve-decelerate-max: cubic-bezier(0.1,0.9,0.2,1);
    --mui-curve-decelerate-mid: cubic-bezier(0,0,0,1);
    --mui-curve-decelerate-min: cubic-bezier(0.33,0,0.1,1);
    --mui-curve-easy-ease-max: cubic-bezier(0.8,0,0.2,1);
    --mui-curve-easy-ease: cubic-bezier(0.33,0,0.67,1);
}
