:root {
    --mui-primary: #4355b9;
    --mui-on-primary: #ffffff;
    --mui-primary-container: #dee0ff;
    --mui-on-primary-container: #00105c;
    --mui-secondary: #5b5d72;
    --mui-on-secondary: #ffffff;
    --mui-secondary-container: #e0e1f9;
    --mui-on-secondary-container: #181a2c;
    --mui-tertiary: #7a5260;
    --mui-on-tertiary: #ffffff;
    --mui-tertiary-container: #ffd9e3;
    --mui-on-tertiary-container: #31101d;
    --mui-error: #ba1a1a;
    --mui-on-error: #ffffff;
    --mui-error-container: #ffdad6;
    --mui-on-error-container: #410002;
    --mui-success: #006d3d;
    --mui-on-success: #ffffff;
    --mui-success-container: #a0f9c6;
    --mui-on-success-container: #00210a;
    --mui-warning: #7a5800;
    --mui-on-warning: #ffffff;
    --mui-warning-container: #ffdea0;
    --mui-on-warning-container: #261900;
    --mui-info: #00629b;
    --mui-on-info: #ffffff;
    --mui-info-container: #a0d8ff;
    --mui-on-info-container: #001f2a;
    --mui-light: #fdf8fd;
    --mui-on-light: #1c1b1e;
    --mui-light-container: #f5eff6;
    --mui-on-light-container: #322f33;
    --mui-dark: #1c1b1e;
    --mui-on-dark: #fdf8fd;
    --mui-dark-container: #49454e;
    --mui-on-dark-container: #e7e0eb;
    --mui-size: 1rem;
    --mui-size-xs: 1.5rem;
    --mui-size-sm: 2rem;
    --mui-size-md: 2.5rem;
    --mui-size-lg: 3rem;
    --mui-size-xl: 4rem;
    --mui-font: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Noto Sans, Arial, sans-serif;
    --mui-font-icon: "Material Symbols Outlined";
    --mui-speed1: 0.1s;
    --mui-speed2: 0.2s;
    --mui-speed3: 0.3s;
    --mui-speed4: 0.4s;
    --mui-active: rgb(128 128 128 / 0.192);
    --mui-overlay: rgb(0 0 0 / 0.5);
    --mui-elevate1: 0 0.125rem 0.125rem 0 rgb(0 0 0 / 0.32);
    --mui-elevate2: 0 0.25rem 0.5rem 0 rgb(0 0 0 / 0.4);
    --mui-elevate3: 0 0.375rem 0.75rem 0 rgb(0 0 0 / 0.48);
    --mui-top: env(safe-area-inset-top);
    --mui-bottom: env(safe-area-inset-bottom);
    --mui-left: env(safe-area-inset-left);
    --mui-right: env(safe-area-inset-right);
    --mui-surface: #fdf8fd;
    --mui-surface-text: #1c1b1e;
    --mui-surface-variant: #e7e0eb;
    --mui-surface-variant-text: #49454e;
    --mui-outline: #7a757f;
    --mui-outline-variant: #cac4cf;
    --mui-shadow: #000000;
    --mui-scrim: #000000;
    --mui-outline: #767680;
    --mui-outline-variant: #c7c5d0;
}
