$enable-grid-classes: true !default;
$enable-pointer-cursor-for-buttons: true !default;
$enable-print-styles: true !default;
//$enable-responsive-font-sizes: false !default; // TODO
$enable-validation-icons: true !default;
$enable-deprecation-messages: true !default;

//$enable-negative-margins:  true !default; // Include negative margin/padding utilities
$enable-validation-valid: true !default; // Apply Success color to valid inputs (not recommended)
$secondary-color-for-controls: false !default; // Use secondary color for selection/inputs (primary color otherwise, not recommended)
$enable-smooth-scroll: true !default;
$enable-form-ripple: true !default; // Animate bottom line of inputs/forms
$enable-ripple: true !default; // Enable ripple effect on components (Buttons, menus)

@import "colors";
@import "functions";
@import "variables";
@import "variables-material";
@import "mixins";

@import "components/badge";
@import "components/bar";
@import "components/buttons";
@import "components/card";
@import "components/dropdown";
@import "components/figure";
@import "components/form";
@import "components/jumbotron";
@import "components/layout";
@import "components/link";
@import "components/list-group";
@import "components/modal";
@import "components/offcanvas";
@import "components/pagination";
@import "components/placeholder";
@import "components/progress";
@import "components/rating";
@import "components/spinner";
@import "components/steps";
@import "components/switch";
@import "components/table";
@import "components/tabs";
@import "components/toast";

@import "extensions/snackbar";

@import "utilities/animations";
@import "utilities/background-color";
@import "utilities/border";
@import "utilities/cursor";
@import "utilities/display";
@import "utilities/flex";
@import "utilities/grid";
@import "utilities/list";
@import "utilities/overflow";
@import "utilities/object-fit";
@import "utilities/position";
@import "utilities/sizing";
@import "utilities/spacing";
@import "utilities/typography";

@import "vendors/flatpickr";