<code class="docs-code @(SecondaryColor? $"docs-code-secondary {Class}": $"docs-code-primary {Class}")">
    @if ( Tag )
    {<span>&lt;</span>}@ChildContent@if ( Tag )
    {<span>&gt;</span>}
</code>