<Span>@ChildContent</Span>
<Span Background="Background.Success.Subtle" TextColor="TextColor.Success.Emphasis" Border="Border.Rounded" TextWeight="TextWeight.Bold" TextSize="TextSize.ExtraSmall" Padding="Padding.Is1.OnX.Is0.OnY">New</Span>
@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
}