<Span>@ChildContent</Span>
<Span Background="Background.Primary.Subtle" TextColor="TextColor.White.Emphasis" Border="Border.Rounded" TextWeight="TextWeight.Bold" TextSize="TextSize.ExtraSmall" Padding="Padding.Is1">New</Span>
@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
}
