<Div Margin="Margin.Is4.FromBottom">
    @if ( Title != null )
    {
        <Heading Size="HeadingSize.Is3" ElementId="@ElementId">
            @Title
            @if ( New )
            {
                <DocsSectionNewFeatureBadge />
            }
        </Heading>
    }
    @ChildContent
</Div>

@code {
    [Parameter] public string Title { get; set; }

    [Parameter] public bool New { get; set; }

    [Parameter] public string ElementId { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }
}