<Span>@ChildContent</Span>
<Span Background="Background.Warning.Subtle" TextColor="TextColor.Warning.Emphasis" Border="Border.Rounded" TextWeight="TextWeight.Bold" TextSize="TextSize.ExtraSmall" Padding="Padding.Is1.OnX.Is0.OnY">Updated</Span>
@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
}