<div class="docs-page-section-header">
    @if ( Title != null )
    {
        <Heading Size="HeadingSize.Is3">
            @Title
        </Heading>
    }
    @ChildContent
</div>

@code {
    [Parameter] public string Title { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }
}