<Div>
    @if ( Year != null )
    {
        <Heading Size="HeadingSize.Is2" TextColor="TextColor.Secondary">
            @Year
        </Heading>
    }
    @ChildContent
</Div>
@code {
    [Parameter] public string Year { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }
}
