<Paragraph>
    <Span Margin="Margin.Is3">
        <Strong>Follow</Strong>
    </Span>
    <Anchor Margin="Margin.Is3" TextColor="TextColor.Secondary" To="https://twitter.com/Blazorise" Title="Twitter" Target="Target.Blank" Display="Display.InlineBlock">
        <Icon Name="@("fab fa-twitter")" IconSize="IconSize.Large" />
    </Anchor>
    <Anchor Margin="Margin.Is3" TextColor="TextColor.Secondary" To="https://github.com/Megabit/Blazorise" Title="GitHub" Target="Target.Blank" Display="Display.InlineBlock">
        <Icon Name="@("fab fa-github")" IconSize="IconSize.Large" />
    </Anchor>
    <Anchor Margin="Margin.Is3" TextColor="TextColor.Secondary" To="https://www.reddit.com/r/Blazorise/" Title="Reddit" Target="Target.Blank" Display="Display.InlineBlock">
        <Icon Name="@("fab fa-reddit")" IconSize="IconSize.Large" />
    </Anchor>
</Paragraph>