<Div Class="b-news-post-info" Flex="Flex.AlignItems.Center" Margin="Margin.Is3.OnY">
    <Div Margin="Margin.Is2.FromEnd">
        <Image Source="@($"img/avatars/{ImageName}.png")" Text="News creator avatar image" Border="Border.Rounded" Class="img-circle" Style="width:48px;height:48px;" />
    </Div>
    <Div>
        <Div Class="b-news-post-info-user">
            <Span>@UserName</Span>
        </Div>
        <Div Class="b-news-post-info-date">
            <Span>@PostedOn</Span>
            <Span>·</Span>
            <Span>@Read</Span>
        </Div>
    </Div>
</Div>
@code {
    [Parameter] public string ImageName { get; set; }

    [Parameter] public string UserName { get; set; }

    [Parameter] public string PostedOn { get; set; }

    [Parameter] public string Read { get; set; }
}