<Div Class="b-docs-toc" Margin="Margin.Is3.FromTop.Is5.FromBottom.Is0.OnY.OnWidescreen" Padding="Padding.Is3.FromStart.OnWidescreen">
    <Heading Size="HeadingSize.Is6" Display="Display.None.Block.OnDesktop" Margin="Margin.Is2.OnY">On this page</Heading>
    <Divider Display="Display.None.Block.OnDesktop" Margin="Margin.Is2.OnY" />
    <nav @ref="@elementRef" id="TableOfContents" class="toc">

    </nav>
</Div>