<BarItem>
    <BarLink To="pricing">Pricing</BarLink>
</BarItem>
<BarItem>
    <BarLink To="support">Support</BarLink>
</BarItem>
<BarItem>
    <BarLink To="account">Account</BarLink>
</BarItem>
<BarItem>
    <BarLink Class="" To="https://github.com/Megabit/Blazorise" Target="Target.Blank">
        <Div Class="d-lg-flex" Display="Display.Flex.Row.Block.OnDesktop" Flex="Flex.AlignItems.Center">
            <Icon Name="IconName.Star" IconStyle="IconStyle.Regular" IconSize="IconSize.Large" TextColor="TextColor.Warning"/>
            <Span Margin="Margin.Is2.FromStart" Display="Display.Block.OnMobile.None.OnDesktop.Block.OnWidescreen">
                Star us on GitHub
            </Span>
        </Div>
    </BarLink>
</BarItem>