<BarItem>
    <BarLink To="pricing">Pricing</BarLink>
</BarItem>
<BarItem>
    <BarLink To="support">Support</BarLink>
</BarItem>
<BarItem>
    <BarLink To="account">Account</BarLink>
</BarItem>
<BarItem>
    <BarLink Class=""  To="https://github.com/Megabit/Blazorise" Target="Target.Blank">
        <div class="d-flex d-md-block d-xl-flex align-items-center">
            <Icon Name="IconName.Star" IconStyle="IconStyle.Regular" IconSize="IconSize.Large" TextColor="TextColor.Warning" />
            <span class="d-block d-md-none d-xl-block ms-2">
            Star us on GitHub
        </span>
        </div>
    </BarLink>
</BarItem>