body {
    color: #3f4d62;
    font-family: 'Inter', 'Open Sans', 'Helvetica','Arial','sans-serif';
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #1a81fa;
}

.b-top-bar {
    /*.navbar-brand {
        font-size: 1.25rem;
        font-weight: 500;
    }*/

    > :not(.navbar-brand) {
        .nav-link {
            font-size: 1.1rem;
            font-weight: 400;
        }
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    z-index: 1;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #bfbfbf;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}

html, body * {
    scrollbar-color: #bfbfbf transparent;
    scrollbar-width: thin;
}

.img-circle {
    border-radius: 4.25rem !important;
}

.gradient-commercial {
    background: -webkit-linear-gradient(0deg,#287395,#b93895);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
