body {
    &:not([data-bs-theme="dark"]) {
        color: #3f4d62;
    }

    font-family: 'Inter', 'Open Sans', 'Helvetica','Arial','sans-serif';
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --b-scrollbar-thumb-background: #bfbfbf;
}

body {
    &:not([data-bs-theme="dark"]) {
        --b-link-color: #3f4d62;
        --b-code-color: #5748ff;
        --b-code-background-color: #f5f8fd;
        --b-codeblock-color: #3f4d62;
        --b-codeblock-background-color: #f5f8fd;
        --b-codeblock-enum-value-color: #6823d4;
        --b-blockquote-color: #6c757d;
        --b-blockquote-background-color: #f5f8fd;
    }

    &[data-bs-theme="dark"] {
        --b-link-color: #c7b5ff;
        --b-code-color: #d7ccff;
        --b-code-background-color: var(--bs-secondary-bg);
        --b-codeblock-color: var(--bs-body-color);
        --b-codeblock-background-color: var(--bs-tertiary-bg);
        --b-codeblock-enum-value-color: #c4b5fd;
        --b-blockquote-color: var(--bs-body-color);
        --b-blockquote-background-color: var(--bs-tertiary-bg);
        --b-scrollbar-thumb-background: #6b7280;
    }
}

a {
    color: var(--b-theme-primary, #1a81fa);
}

.b-top-bar {
    .navbar-nav {
        .nav-link {
            font-size: 1.1rem;
            font-weight: 400;
            padding-top: 2.4px;
            padding-bottom: 2.4px;
        }

        .nav-link:hover {
            background-color: hsla(201°, 50%, 98%, .5);
            border-radius: 7px;
        }
    }
}

body[data-bs-theme="dark"] {
    .b-top-bar {
        .navbar-nav {
            .nav-link:hover {
                background-color: rgba(255, 255, 255, 0.08);
            }
        }
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    z-index: 1;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--b-scrollbar-thumb-background);
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}

html, body * {
    scrollbar-color: var(--b-scrollbar-thumb-background) transparent;
    scrollbar-width: thin;
}

.img-circle {
    border-radius: 4.25rem !important;
}

.gradient-commercial {
    background: -webkit-linear-gradient(0deg,#287395,#b93895);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.badge-primary-gradient {
    background-image: linear-gradient(to bottom right, #9d54df, #9333EA);
}

.btn-primary-gradient {
    background-image: linear-gradient(to bottom, #9d54df, #9333EA);
}

.b-layout-footer {
    color: inherit;
}
