.blazorise-codeblock {
    height: 100%;
    background-color: var(--b-codeblock-background-color);
    border-radius: 0 0 4px 4px;
    padding: 16px;
    font-size: .9rem;
    overflow: auto;

    & pre {
        height: 100%;
        color: var(--b-codeblock-color);
        padding: 0px;
        font-size: 1em;
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        -webkit-font-smoothing: subpixel-antialiased;
        direction: ltr;
        margin-bottom: 0;
        overflow: visible;
    }

    & .html + .csharp {
        margin-top: 23px;
    }

    & .html {

        & .htmlTagDelimiter {
            color: #979797;
        }

        & .htmlElementName {
            color: #1a81fa;
        }

        & .htmlAttributeName {
            color: #ff3a49;
        }

        & .htmlOperator, .quot {
            color: #576b85;
        }

        & .htmlAttributeValue {
            color: #1ba875;
        }

        & .htmlLink {
            color: #61afef;
            text-decoration: underline;
        }

        & .enum {
            color: #1ba875;
            background-color: rgba(255,255,255,0.15);
        }

        & .enumValue, .sharpVariable {
            color: var(--b-codeblock-enum-value-color);
            background-color: rgba(255,255,255,0.15);
        }

        & .keyword {
            color: #61afef;
            background-color: rgba(255,255,255,0.15);
        }

        & .atSign {
            color: #3f4d62;
            background-color: #e8e8e8;
        }

        & .comment {
            color: #57a64a;
        }
    }

    & .csharp {
        & .atSign {
            color: #3f4d62;
            background-color: #e8e8e8;
        }

        & .keyword {
            color: #5748ff;
        }

        & .string {
            color: #d69d85;
        }

        & .function {
            color: #68B6F8;
        }

        & .class {
            color: #ff3a49
        }

        & .localVar {
            color: #FFC74C;
        }

        & .interface {
            color: #b0d7a3;
        }

        & .number {
            color: #b0d7a3;
        }

        & .enum {
            color: #1ba875;
        }

        & .comment {
            color: #57a64a;
        }
    }

    & .powershell {
        & .comment {
            color: #57a64a;
        }

        & .powershellOperator {
            color: red;
        }
    }
}

code {
    color: var(--b-code-color);
    padding: 0.25em 0.375em;
    background-color: var(--b-code-background-color);
}

body[data-bs-theme="dark"] {
    .blazorise-codeblock {
        border: 1px solid rgba(148, 163, 184, 0.2);

        .html {
            .htmlTagDelimiter {
                color: #94a3b8;
            }

            .htmlElementName {
                color: #7dd3fc;
            }

            .htmlAttributeName {
                color: #fda4af;
            }

            .htmlOperator, .quot {
                color: #cbd5e1;
            }

            .htmlAttributeValue {
                color: #6ee7b7;
            }

            .htmlLink {
                color: #93c5fd;
            }

            .enum {
                color: #6ee7b7;
                background-color: rgba(148, 163, 184, 0.16);
            }

            .enumValue, .sharpVariable {
                background-color: rgba(148, 163, 184, 0.16);
            }

            .keyword {
                color: #93c5fd;
                background-color: rgba(148, 163, 184, 0.16);
            }

            .atSign {
                color: #e2e8f0;
                background-color: rgba(148, 163, 184, 0.2);
            }

            .comment {
                color: #7bc77b;
            }
        }

        .csharp {
            .atSign {
                color: #e2e8f0;
                background-color: rgba(148, 163, 184, 0.2);
            }

            .keyword {
                color: #c4b5fd;
            }

            .string {
                color: #f2c18d;
            }

            .function {
                color: #7dd3fc;
            }

            .class {
                color: #fda4af;
            }

            .localVar {
                color: #fcd34d;
            }

            .interface {
                color: #a7f3d0;
            }

            .number {
                color: #a7f3d0;
            }

            .enum {
                color: #6ee7b7;
            }

            .comment {
                color: #7bc77b;
            }
        }

        .powershell {
            .comment {
                color: #7bc77b;
            }
        }
    }
}
