.b-docs-page {
    .b-docs-page-title {
        margin-bottom: 1.5rem;
    }

    .b-docs-page-subtitle {
        padding-bottom: 0.5em;
        border-bottom: 1px solid #f2f3f3;
    }

    .b-docs-page-paragraph {
        margin-bottom: 1.5rem;
    }

    .b-docs-page-lead {
        font-size: calc(1.275rem + .3vw);
        font-weight: 300;
    }


    @media (min-width: 1200px) {
        .b-docs-page-lead {
            font-size: 1.5rem;
        }
    }

    .b-docs-page-unordered-list {
        .b-docs-page-unordered-list-item {
            margin-bottom: .5rem;
        }
    }

    .b-docs-page-section {
        margin-bottom: 50px;
    }

    .b-docs-page-section-header {
        margin-bottom: 20px;
    }

    .b-docs-page-section-content {
        padding: 20px;
        margin-bottom: 40px;
        margin: auto;
        display: flex;
        outline: 0;
        position: relative;
        justify-content: start;

        & .b-docs-page-section-content-inner {
            /*margin-left: auto;
        margin-right: auto;*/
            display: block;
            outline: 0;
            position: relative;
            justify-content: start;
        }

        &.b-docs-display-flex {
            & > .b-docs-page-section-content-inner {
                display: flex;
                flex-grow: 1;
                flex-wrap: wrap;
            }
        }

        &.b-docs-page-section-content-fullwidth {
            & > .b-docs-page-section-content-inner {
                width: 100%;
            }
        }

        &:not(.b-docs-page-section-content-outlined) {
            padding-left: 0;
        }

        &.b-docs-page-section-content-outlined {
            border: 1px solid #e3e3e3;
        }

        &.b-docs-page-section-content-display-grid {
            display: grid;
        }
    }

    .b-docs-page-section-source {
        position: relative;
        height: 100%;

        .b-docs-page-section-source-toolbar {
            position: absolute;
            top: 0;
            right: 0;
        }

        & .b-docs-page-section-source-code {
            height: 100%;

            &.b-docs-page-section-source-code-show {
                display: block;
            }

            &.b-docs-page-section-source-code-hide {
                display: none;
            }
        }

        .btn {
            color: #576b85;
        }
    }

    .b-docs .b-bar-vertical-inline .b-bar-dropdown .b-bar-dropdown-menu-container .b-bar-dropdown-menu .b-bar-dropdown-item {
        padding: .3rem;
    }

    .b-docs-attributes {
        tbody {
            tr {
                td:first-child code {
                    color: var(--b-code-color);
                }

                td:nth-child(2) code {
                    color: #690;
                }

                .b-attribute-token {
                    &.boolean code {
                        color: #905;
                    }

                    &.keyword code {
                        color: #07a;
                    }

                    &.string code {
                        color: #690
                    }
                }
            }
        }
    }

    .b-docs-methods {
        tbody {
            tr {
                td:first-child code {
                    color: var(--b-code-color);
                }

                td:nth-child(2) code {
                    color: #690;
                }

                .b-method-token {
                    &.boolean code {
                        color: #905;
                    }

                    &.keyword code {
                        color: #07a;
                    }

                    &.string code {
                        color: #690
                    }
                }
            }
        }
    }

    .b-docs-example {
        position: relative;
        padding: 1rem;
        margin: 1rem -.75rem 0;
        border: solid #dee2e6;
        border-width: 1px 0 0
    }

    .b-docs-example::after {
        display: block;
        clear: both;
        content: ""
    }

    @media (min-width: 576px) {
        .b-docs-example {
            padding: 1.5rem;
            margin-right: 0;
            margin-left: 0;
            border-width: 1px;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
        }
    }

    .b-docs-example + p {
        margin-top: 2rem
    }

    .b-docs-example-border-utils [class*="border"] {
        display: inline-block;
        width: 5rem;
        height: 5rem;
        margin: .25rem;
        background-color: #f5f5f5;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    .b-docs-example-border-utils [class*="rounded"] {
        display: inline-block;
        width: 5rem;
        height: 5rem;
        margin: .25rem;
        background-color: #6b757d;
        color: #dee2e6;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    .b-docs-example-border-utils-0 [class*="border"] {
        border: 1px solid #dee2e6;
    }

    .b-docs-example-position-utils {
        position: relative;
        padding: 3em;

        > div {
            height: 200px;
            background-color: #f5f5f5;

            > div {
                width: 2em;
                height: 2em;
                background-color: #212529;
                border-radius: .25rem;
            }
        }
    }

    .b-docs-example-blazorise-icon span {
        width: 150px;
        overflow-wrap: break-word;
    }

    a:not(.dropdown-item):not(.page-link):not(.b-bar-link):not(.nav-link):not(.b-bar-toggler-inline):not(.navbar-toggler):not([role=button]) {
        color: inherit;
        border-bottom: 2px solid var(--b-theme-primary);
        text-decoration: none;
        transition: color 0.5s ease-in-out;

        &:hover {
            color: var(--b-theme-primary);
        }
    }
}

.b-is-autocomplete::-webkit-scrollbar-track {
    background: var(--bs-body-bg);
}

.b-is-autocomplete * {
    scrollbar-color: var( --b-scrollbar-thumb-background) var(--bs-body-bg);
}

body[data-bs-theme="dark"] {
    .b-docs-page {
        .b-docs-page-subtitle {
            border-bottom-color: var(--bs-border-color);
        }

        .b-docs-page-section-content {
            &.b-docs-page-section-content-outlined {
                border-color: var(--bs-border-color);
            }
        }

        .b-docs-page-section-source {
            .btn {
                color: var(--bs-secondary-color);
            }
        }

        .b-docs-attributes {
            tbody {
                tr {
                    td:nth-child(2) code {
                        color: #6ee7b7;
                    }

                    .b-attribute-token {
                        &.boolean code {
                            color: #fca5a5;
                        }

                        &.keyword code {
                            color: #93c5fd;
                        }

                        &.string code {
                            color: #6ee7b7;
                        }
                    }
                }
            }
        }

        .b-docs-methods {
            tbody {
                tr {
                    td:nth-child(2) code {
                        color: #6ee7b7;
                    }

                    .b-method-token {
                        &.boolean code {
                            color: #fca5a5;
                        }

                        &.keyword code {
                            color: #93c5fd;
                        }

                        &.string code {
                            color: #6ee7b7;
                        }
                    }
                }
            }
        }

        .b-docs-example {
            border-color: var(--bs-border-color);
        }

        .b-docs-example-border-utils {
            [class*="border"] {
                background-color: var(--bs-tertiary-bg);
            }

            [class*="rounded"] {
                background-color: #2f3742;
                color: var(--bs-body-color);
            }
        }

        .b-docs-example-border-utils-0 {
            [class*="border"] {
                border-color: var(--bs-border-color);
            }
        }

        .b-docs-example-position-utils {
            > div {
                background-color: var(--bs-tertiary-bg);

                > div {
                    background-color: var(--bs-body-color);
                }
            }
        }
    }
}
