.ant-display-1 {
    font-size: $display1-size;
    font-weight: $display1-weight;
    line-height: $display-line-height;
}

.ant-display-2 {
    font-size: $display2-size;
    font-weight: $display2-weight;
    line-height: $display-line-height;
}

.ant-display-3 {
    font-size: $display3-size;
    font-weight: $display3-weight;
    line-height: $display-line-height;
}

.ant-display-4 {
    font-size: $display4-size;
    font-weight: $display4-weight;
    line-height: $display-line-height;
}

.ant-typography-white {
    color: $white !important;
}

@each $name, $value in $theme-colors {
    .ant-typography-#{$name} {
        color: $value !important;
    }
}

.ant-typography-body {
    color: $body-color !important;
}

.ant-typography-muted {
    color: $text-muted !important;
}

.ant-typography-black-50 {
    color: rgba($black, .5) !important;
}

.ant-typography-white-50 {
    color: rgba($white, .5) !important;
}

// Blockquotes
.ant-blockquote {
    margin-bottom: $spacer;
    font-size: $blockquote-font-size;
}

.ant-blockquote-footer {
    display: block;
    font-size: $blockquote-small-font-size;
    color: $blockquote-small-color;

    &::before {
        content: "\2014\00A0"; // em dash, nbsp
    }
}

.ant-typography {
    &-left {
        text-align: left !important;
    }

    &-right {
        text-align: right !important;
    }

    &-center {
        text-align: center !important;
    }

    &-justify {
        text-align: justify !important;
    }
}

.ant-lead {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.ant-font-size {
    &-xs {
        font-size: 10px;
        line-height: 18px;
    }

    &-sm {
        font-size: 12px;
        line-height: 20px;
    }

    &-md {
        font-size: 16px;
        line-height: 24px;
    }

    &-lg {
        font-size: 20px;
        line-height: 28px;
    }

    &-xl {
        font-size: 24px;
        line-height: 32px;
    }

    &-1 {
        font-size: 38px;
        line-height: 46px;
    }

    &-2 {
        font-size: 30px;
        line-height: 38px;
    }

    &-3 {
        font-size: 24px;
        line-height: 32px;
    }

    &-4 {
        font-size: 20px;
        line-height: 28px;
    }

    &-5 {
        font-size: 16px;
        line-height: 24px;
    }

    &-6 {
        font-size: 14px;
        line-height: 22px;
    }
}

.ant-typography-wrap {
    white-space: normal !important;
}

.ant-typography-nowrap {
    white-space: nowrap !important;
}

.ant-typography-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ant-unordered-list {
    &-unstyled {
        padding-left: 0;
        list-style: none;
    }
}

ol.ant-ordered-list {
    &-unstyled {
        padding-left: 0;
        list-style: none;
    }

    &-lower-alpha {
        list-style-type: lower-alpha;
    }

    &-lower-roman {
        list-style-type: lower-roman;
    }

    &-upper-alpha {
        list-style-type: upper-alpha;
    }

    &-upper-roman {
        list-style-type: upper-roman;
    }
}

.ant-font-weight {
    &-bold {
        font-weight: 700;
    }

    &-semibold {
        font-weight: 600;
    }

    &-normal {
        font-weight: 400;
    }

    &-default {
        font-weight: 400;
    }

    &-light {
        font-weight: 300;
    }
}
