.ant-display-1 {
    font-size: $display1-size;
    font-weight: $display1-weight;
    line-height: $display-line-height;
}

.ant-display-2 {
    font-size: $display2-size;
    font-weight: $display2-weight;
    line-height: $display-line-height;
}

.ant-display-3 {
    font-size: $display3-size;
    font-weight: $display3-weight;
    line-height: $display-line-height;
}

.ant-display-4 {
    font-size: $display4-size;
    font-weight: $display4-weight;
    line-height: $display-line-height;
}

.ant-typography-white {
    color: $ant-white !important;
}

@each $name, $value in $theme-colors {
    .ant-typography-#{$name} {
        color: $value !important;
    }

    .ant-typography-#{$name}-emphasis {
        color: #{map-get($theme-colors-text-emphasis, $name)} !important;
    }
}

.ant-typography-body {
    color: $body-color !important;
}

.ant-typography-body-emphasis {
    color: shade-color($body-color, $text-emphasis-shade-weight) !important;
}

.ant-typography-muted {
    color: $text-muted !important;
}

.ant-typography-muted-emphasis {
    color: shade-color($text-muted, $text-emphasis-shade-weight) !important;
}

.ant-typography-black-50 {
    color: rgba($ant-black, .5) !important;
}

.ant-typography-black-50-emphasis {
    color: rgba($ant-black, 0.7) !important;
}

.ant-typography-white-50 {
    color: rgba($ant-white, .5) !important;
}

.ant-typography-white-50-emphasis {
    color: rgba($ant-white, 0.8) !important;
}

// Blockquotes
.ant-blockquote {
    margin-bottom: $spacer;
    font-size: $blockquote-font-size;
}

.ant-blockquote-footer {
    display: block;
    font-size: $blockquote-small-font-size;
    color: $blockquote-small-color;

    &::before {
        content: "\2014\00A0"; // em dash, nbsp
    }
}

.ant-typography {
    &-left {
        text-align: left !important;
    }

    &-right {
        text-align: right !important;
    }

    &-center {
        text-align: center !important;
    }

    &-justify {
        text-align: justify !important;
    }
}

.ant-lead {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

@each $breakpoint in map-keys($grid-breakpoints) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        @each $name, $fs in $font-sizes {
            $lh: map-get($line-heights, $name);

            .ant-font-size#{$infix}-#{$name} {
                font-size: $fs;
                line-height: $lh;
            }
        }
    }
}

.ant-typography-wrap {
    white-space: normal !important;
}

.ant-typography-nowrap {
    white-space: nowrap !important;
}

.ant-typography-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ant-unordered-list {
    &-unstyled {
        padding-left: 0;
        list-style: none;
    }
}

.ant-typography-lowercase {
    text-transform: lowercase !important;
}

.ant-typography-uppercase {
    text-transform: uppercase !important;
}

.ant-typography-capitalize {
    text-transform: capitalize !important;
}

.ant-typography-italic {
    font-style: italic !important;
}

ol.ant-ordered-list {
    &-unstyled {
        padding-left: 0;
        list-style: none;
    }

    &-lower-alpha {
        list-style-type: lower-alpha;
    }

    &-lower-roman {
        list-style-type: lower-roman;
    }

    &-upper-alpha {
        list-style-type: upper-alpha;
    }

    &-upper-roman {
        list-style-type: upper-roman;
    }
}

.ant-font-weight {
    &-bold {
        font-weight: 700;
    }

    &-semibold {
        font-weight: 600;
    }

    &-normal {
        font-weight: 400;
    }

    &-default {
        font-weight: 400;
    }

    &-light {
        font-weight: 300;
    }
}

.ant-typography-decoration {
    &-underline {
        text-decoration: underline !important;
    }

    &-overline {
        text-decoration: overline !important;
    }

    &-line-through {
        text-decoration: line-through !important;
    }

    &-inherit {
        text-decoration: inherit !important;
    }

    &-none {
        text-decoration: none !important;
    }
}
