services
    .AddBlazorise( options =>
    {
        // other settings

        options.ValidationMessageLocalizer = ( message, arguments ) =>
        {
            return string.Format( applicationLocalizerDictionary[message], arguments );
        };
    } );