@using Blazorise.Reporting.DataSources.Csv

<Report>
    <ReportDataSources>
        <ReportCsvDataSource Name="Products"
                             Source="https://data.example.com/products.csv"
                             Encoding="utf-8"
                             Delimiter=","
                             HasHeaderRow />
    </ReportDataSources>
    <ReportPage Name="Products">
        <ReportDetail Name="Product row" Height="24" DataSource="Products">
            <ReportField Field="Name" X="30" Y="3" Width="240" Height="18" />
            <ReportField Field="Price" X="285" Y="3" Width="90" Height="18" />
        </ReportDetail>
    </ReportPage>
</Report>