@typeparam TItem
@inherits _BaseDataGridClearFilterCommand<TItem>
@if ( ParentDataGrid.CommandColumn?.ClearFilterCommandAllowed == true )
{
    var clearFilterString = Localizer.Localize( ParentDataGrid.Localizers?.ClearFilterButtonLocalizer, "Clear Filter" );

    @if ( ParentDataGrid.CommandColumn?.ClearFilterCommandTemplate != null )
    {
        @ParentDataGrid.CommandColumn.ClearFilterCommandTemplate( new CommandContext<TItem>
{
    Clicked = ClearFilter,
    LocalizationString = clearFilterString,
} )
    }
    else
    {
        <Button Color="Color.Link" Clicked="@ClearFilter">
            @clearFilterString
        </Button>
    }
}