@inherits _BaseDataGridRowCommand
@if ( EditState == DataGridEditState.Edit )
{
    <TableRowCell>
        <Button Color="Color.Link" Clicked="@Save">Save</Button>
    </TableRowCell>
    <TableRowCell>
        <Button Color="Color.Link" Clicked="@Cancel">Cancel</Button>
    </TableRowCell>
}
else if ( EditState == DataGridEditState.None )
{
    <TableRowCell>
        <Button Color="Color.Link" Clicked="@Edit">Edit</Button>
    </TableRowCell>
    <TableRowCell>
        <Button Color="Color.Link" Clicked="@Delete">Delete</Button>
    </TableRowCell>
}