@typeparam TItem
@inherits _BaseDataGridClearFilterCommand<TItem>
@if ( ParentDataGrid?.CommandColumn?.ClearFilterCommandAllowed == true )
{
    @if ( ParentDataGrid?.CommandColumn?.ClearFilterCommandTemplate != null )
    {
        @ParentDataGrid.CommandColumn.ClearFilterCommandTemplate( new CommandContext<TItem>
        {
            Clicked = ClearFilter,
            LocalizationString = Localizer["Clear Filter"],
        } )
    }
    else
    {
        <Button Color="Color.Link" Clicked="@ClearFilter">
            @Localizer["Clear Filter"]
        </Button>
    }
}