@using Blazorise.Extensions;
@typeparam TItem


<Div Class="b-datagrid-drop-zone" Border="Border.Rounded" Background="Background.Light" Padding="Constants.PaddingIs3" Flex="Constants.FlexGrowIs1"
     ondragover="event.preventDefault();" @ondrop="OnDrop">
    @if ( !Columns.IsNullOrEmpty() )
    {
        @foreach ( var column in ( Columns ) )
        {
            <Badge @key="column.ElementId" Color="Color.Secondary" Padding="Constants.PaddingIs2" Margin="Constants.MarginIs2FromStart" CloseClicked="() => RemoveColumn(column)">@column.Caption</Badge>
        }
    }
    else
    {
        <span>@Localizer.Localize( ParentDataGrid.Localizers?.DragAndDropGroupLocalizer, "Drag a column header here to group by that column" )</span>
    }
</Div>