@typeparam TItem
@inherits _BaseDataGridMultiSelectAll<TItem>
@if ( ParentDataGrid.MultiSelectColumn?.MultiSelectTemplate != null )
{
    <Label @onclick:stopPropagation>
        @ParentDataGrid.MultiSelectColumn.MultiSelectTemplate( new( EventCallback.Factory.Create( this, new Func<bool, Task>( IsCheckedChanged ) ), IsChecked, IsIndeterminate ) )
    </Label>
}
else
{
    <Label @onclick:stopPropagation>
        <Check TValue="bool" Indeterminate="IsIndeterminate" Checked="IsChecked" CheckedExpression="()=> IsChecked" CheckedChanged="IsCheckedChanged" @onclick:stopPropagation></Check>
    </Label>
}