@page "/docs/components/tab"

<Seo Canonical="/docs/components/tab" Title="Blazorise Tab component" Description="Learn to use and work with the Blazorise Tab component, which is used for hiding content behind a selectable item. This can also be used as a pseudo-navigation for a page, where the tabs are links and the tab-items are the content." />

<DocsPageTitle Path="Components/Tab">
    Blazorise Tab component
</DocsPageTitle>

<DocsPageLead>
    Tabs are used to organize and group content into sections that the user can navigate between.
</DocsPageLead>

<DocsPageParagraph>
    The <Code Tag>Tab</Code> component is used for hiding content behind a selectable item. This can also be used as a pseudo-navigation for a page, where the tabs are links and the tab-items are the content.
</DocsPageParagraph>

<DocsPageParagraph>
    There are two pieces to a tabbed interface: the tabs themselves, and the content for each tab.
</DocsPageParagraph>

<UnorderedList>
    <UnorderedListItem>
        <Paragraph>
            <Code Tag>Tabs</Code> container for Tab items.
        </Paragraph>
        <UnorderedList>
            <UnorderedListItem>
                <Paragraph>
                    <Code Tag>Items</Code> collection of tab items.
                </Paragraph>
                <UnorderedList>
                    <UnorderedListItem>
                        <Paragraph>
                            <Code Tag>Tab</Code> individual tab item, which can be clicked to navigate to the tab content.
                        </Paragraph>
                    </UnorderedListItem>
                </UnorderedList>
            </UnorderedListItem>
            <UnorderedListItem>
                <Paragraph>
                    <Code Tag>Content</Code> container for tab panels.
                </Paragraph>
                <UnorderedList>
                    <UnorderedListItem>
                        <Paragraph>
                            <Code Tag>TabPanel</Code> individual tab content, which is displayed when the tab item is clicked.
                        </Paragraph>
                    </UnorderedListItem>
                </UnorderedList>
            </UnorderedListItem>
        </UnorderedList>
    </UnorderedListItem>
</UnorderedList>

<DocsPageParagraph>
    The tabs are container for tab items. Each tab item contains a link to a tab panel. The <Code>Name</Code> of each
    tab item should match the <Code>Name</Code> of a tab panel.
</DocsPageParagraph>

<UnorderedList>
    <UnorderedListItem>
        <Code Tag>TabsContent</Code> container for tab panels
        <UnorderedList>
            <UnorderedListItem>
                <Code Tag>TabPanel</Code> container for tab content
            </UnorderedListItem>
        </UnorderedList>
    </UnorderedListItem>
</UnorderedList>

<DocsPageParagraph>
    The tab content container is used to hold tab panels. Each content pane also has a unique <Code>Name</Code>, which
    is targeted by a link in the tab-strip.
</DocsPageParagraph>

<DocsPageParagraph>
    Most of the time you will only need to use <Code>Tabs</Code> component as it is crafted to hold both clickable
    tab items and tab content. Only in the advanced scenario where the content will be separated from the tab items you
    will need to use <Code Tag>TabsContent</Code> component.
</DocsPageParagraph>

<DocsPageSubtitle>
    Examples
</DocsPageSubtitle>

<DocsPageSection>
    <DocsPageSectionHeader Title="Basic">
    </DocsPageSectionHeader>
    <DocsPageSectionContent Outlined FullWidth>
        <BasicTabExample />
    </DocsPageSectionContent>
    <DocsPageSectionSource Code="BasicTabExample" />
</DocsPageSection>

<DocsPageSection>
    <DocsPageSectionHeader Title="Lazy Load">
        You are able to set the <Code>Tabs</Code> component to lazy load your tabs.
    </DocsPageSectionHeader>
    <DocsPageSectionContent Outlined FullWidth>
        <LazyLoadTabExample />
    </DocsPageSectionContent>
    <DocsPageSectionSource Code="LazyLoadTabExample" />
</DocsPageSection>

<DocsPageSection>
    <DocsPageSectionHeader Title="Lazy Reload">
        You are able to set the <Code>Tabs</Code> component to lazy load your tabs everytime.
    </DocsPageSectionHeader>
    <DocsPageSectionContent Outlined FullWidth>
        <LazyReloadTabExample />
    </DocsPageSectionContent>
    <DocsPageSectionSource Code="LazyReloadTabExample" />
</DocsPageSection>

<DocsPageSubtitle>
    Functions
</DocsPageSubtitle>

<Table>
    <TableHeader ThemeContrast="ThemeContrast.Light">
        <TableRow>
            <TableHeaderCell>Name</TableHeaderCell>
            <TableHeaderCell>Description</TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        <TableRow>
            <TableRowCell><Code>SelectTab(string name)</Code></TableRowCell>
            <TableRowCell>Sets the active tab by the name.</TableRowCell>
        </TableRow>
    </TableBody>
</Table>

<DocsPageSubtitle>
    API
</DocsPageSubtitle>

<Heading Size="HeadingSize.Is3">
    Attributes
</Heading>

<DocsAttributes Title="Tabs">
    <DocsAttributesItem Name="Pills" Type="bool" Default="false">
        Makes the tab items to appear as pills.
    </DocsAttributesItem>
    <DocsAttributesItem Name="FullWidth" Type="bool" Default="false">
        Makes the tab items to extend the full available width.
    </DocsAttributesItem>
    <DocsAttributesItem Name="Justified" Type="bool" Default="false">
        Makes the tab items to extend the full available width, but every item will be the same width.
    </DocsAttributesItem>
    <DocsAttributesItem Name="TabPosition" Type="TabPosition" Default="Top">
        Defines the placement of a tab items.
    </DocsAttributesItem>
    <DocsAttributesItem Name="SelectedTab" Type="string" Default="null">
        Currently selected tab name.
    </DocsAttributesItem>
    <DocsAttributesItem Name="SelectedTabChanged" Type="EventCallback<string>">
        Occurs after the selected tab has changed.
    </DocsAttributesItem>
    <DocsAttributesItem Name="VerticalItemsColumnSize" Type="IFluentColumn">
        Controls the size of the items bar when in vertical mode. If left undefined it will default to the <Code>ColumnSize.IsAuto</Code>.
    </DocsAttributesItem>
    <DocsAttributesItem Name="RenderMode" Type="TabsRenderMode" Default="TabsRenderMode.Default">
        Defines how the tabs content will be rendered.
    </DocsAttributesItem>
</DocsAttributes>

<DocsAttributes Title="Tab">
    <DocsAttributesItem Name="Name" Type="string" Default="null">
        Defines the unique tab name.
    </DocsAttributesItem>
    <DocsAttributesItem Name="Clicked" Type="EventCallback">
        Occurs when the button is clicked.
    </DocsAttributesItem>
    <DocsAttributesItem Name="Disabled" Type="bool" Default="false">
        Prevents user interactions and make it appear lighter.
    </DocsAttributesItem>
</DocsAttributes>

<DocsAttributes Title="TabsContent">
    <DocsAttributesItem Name="SelectedPanel" Type="string" Default="null">
        Currently selected panel name.
    </DocsAttributesItem>
    <DocsAttributesItem Name="SelectedPanelChanged" Type="EventCallback<string>">
        Occurs after the selected panel has changed.
    </DocsAttributesItem>
    <DocsAttributesItem Name="RenderMode" Type="TabsRenderMode" Default="TabsRenderMode.Default">
        Defines how the tabs content will be rendered.
    </DocsAttributesItem>
</DocsAttributes>

<DocsAttributes Title="TabPanel">
    <DocsAttributesItem Name="Name" Type="string" Default="null">
        Defines the panel name that must match the corresponding tab name.
    </DocsAttributesItem>
</DocsAttributes>