@inherits BaseAddons
<CascadingValue Value=this>
    @if ( ParentIsHorizontal )
    {
        <FieldBody>
            <div class="field is-expanded">
                <div class="@ClassNames">
                    @ChildContent
                </div>
            </div>
        </FieldBody>
    }
    else
    {
        <div class="@ClassNames">
            @ChildContent
        </div>
    }
</CascadingValue>
