@inherits Base.BaseAddons
<CascadingValue Value=this>
    @if ( ParentIsHorizontal )
    {
        <div class="field-body">
            <div class="field is-expanded">
                <div class="@ClassMapper.Class">
                    @ChildContent
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="@ClassMapper.Class">
            @ChildContent
        </div>
    }
</CascadingValue>
