@inherits Base.BaseAddons
<CascadingValue Value=this>
    @if ( ParentIsHorizontal )
    {
        <FieldBody ColumnSize="@ColumnSize">
            <div class="field is-expanded">
                <CascadingValue Value=this>
                    <div class="@ClassMapper.Class">
                        @ChildContent
                    </div>
                </CascadingValue>
            </div>
        </FieldBody>
    }
    else
    {
        <CascadingValue Value=this>
            <div class="@ClassMapper.Class">
                @ChildContent
            </div>
        </CascadingValue>
    }
</CascadingValue>
