@inherits BaseFieldHelp
@if ( ParentIsFieldBody )
{
    <div class="field">
        <small class="@ClassNames">
            @ChildContent
        </small>
    </div>
}
else
{
    <small class="@ClassNames">
        @ChildContent
    </small>
}