@inherits Blazorise.FieldBody
<CascadingValue Value=this>
    @if ( IsHorizontal )
    {
        <div class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
            @ChildContent
        </div>
    }
    else
    {
        @ChildContent
    }
</CascadingValue>