@inherits Blazorise.FieldHelp
@if ( ParentIsFieldBody )
{
    <div class="field">
        <small class="@ClassNames" @attributes="@Attributes">
            @ChildContent
        </small>
    </div>
}
else
{
    <small class="@ClassNames" @attributes="@Attributes">
        @ChildContent
    </small>
}