@inherits Blazorise.Jumbotron
<section class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    <div class="hero-body">
        <div class="container">
            @ChildContent
        </div>
    </div>
</section>