@inherits Blazorise.Pagination
<nav class=@("pagination " + ClassProvider.PaginationSize(ThemeSize))>
    <ul id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @ChildContent
    </ul>
</nav>