@inherits Blazorise.Pagination
<nav class=@("pagination " + ClassProvider.PaginationSize(Size))>
    <ul class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @ChildContent
    </ul>
</nav>