.material-icons.md-xs {
    font-size: .75em;
}

.material-icons.md-sm {
    font-size: .875em;
}


.material-icons.md-lg {
    font-size: 1.33em;
}

.material-icons.md-2x {
    font-size: 2em;
}

.material-icons.md-3x {
    font-size: 3em;
}

.material-icons.md-4x {
    font-size: 4em;
}

.material-icons.md-5x {
    font-size: 5em;
}

.material-icons.md-6x {
    font-size: 6em;
}

.material-icons.md-7x {
    font-size: 7em;
}

.material-icons.md-8x {
    font-size: 8em;
}

.material-icons.md-9x {
    font-size: 9em;
}

.material-icons.md-10x {
    font-size: 10em;
}
