<Validation Validator="@CaptchaInput.ValidateRobot">
    <Column ColumnSize="ColumnSize.IsHalf.OnDesktop">
        <CaptchaInput @bind-Value=NotARobot>
            <Feedback>
                <ValidationError />
            </Feedback>
        </CaptchaInput>
    </Column>
</Validation>