@inherits BaseInputComponent<bool>
<div id="@ElementId" class="@ClassNames" style="@StyleNames">
    <Captcha @ref=captchaRef Solved="@Solved" Validate="@Validate" Expired="Expired" />
</div>
@Feedback