@namespace Blazorise.Docs.Docs.Examples

<Addons>
    <Addon AddonType="AddonType.Body">
        <TextInput Placeholder="Recipient's username" />
    </Addon>
    <Addon AddonType="AddonType.End">
        <Button Color="Color.Secondary">Button</Button>
    </Addon>
</Addons>