@mixin make-addon-size($name, $size, $font-size) {
    .mui-addon-#{$name} > :is(.mui-input, .mui-select, .mui-button, .mui-addon-text) {
        --mui-input-size: #{$size};
        --mui-input-font-size: #{$font-size};
        --mui-btn-size: #{$size};
        --mui-btn-font-size: #{$font-size};
        font-size: #{$font-size};
        min-block-size: #{$size};
    }
}

.mui-addons {
    --mui-addon-border-width: 0.0625rem;
    --mui-addon-border-radius: var(--mui-input-border-radius, 0.5rem);
    position: relative;
    display: flex;
    align-items: stretch;
    inline-size: 100%;

    > .mui-addon-start,
    > .mui-addon-end,
    > .mui-addon-body {
        display: flex;
        align-items: stretch;
    }

    > .mui-addon-body {
        flex: 1 1 auto;
        min-inline-size: 0;
    }

    > :is(.mui-addon-start, .mui-addon-body, .mui-addon-end) > .mui-dropdown {
        display: inline-flex;
        align-items: stretch;
    }

    > .mui-input,
    > .mui-select,
    > .mui-addon-body > .mui-input,
    > .mui-addon-body > .mui-select {
        position: relative;
        flex: 1 1 auto;
        inline-size: 1%;
        min-inline-size: 0;
    }

    > .mui-addon-start > .mui-addon-text,
    > .mui-addon-end > .mui-addon-text {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-block-size: var(--mui-input-size);
        white-space: nowrap;
        padding: 0 0.9375rem;
        border: var(--mui-addon-border-width) solid var(--mui-outline);
        border-radius: var(--mui-addon-border-radius);
        background-color: var(--mui-surface-container-low);
        color: var(--mui-on-surface-variant);
    }

    > :not(:first-child) {
        margin-inline-start: calc(-1 * var(--mui-addon-border-width));
    }

    > :not(:first-child) > :is(.mui-input, .mui-select, .mui-button, .mui-addon-text),
    > :not(:first-child):is(.mui-input, .mui-select, .mui-button, .mui-addon-text) {
        @include border-start-radius(0);
    }

    > :not(:last-child) > :is(.mui-input, .mui-select, .mui-button, .mui-addon-text),
    > :not(:last-child):is(.mui-input, .mui-select, .mui-button, .mui-addon-text) {
        @include border-end-radius(0);
    }

    > :not(:first-child) > .mui-dropdown > .mui-dropdown-toggle {
        @include border-start-radius(0);
    }

    > :not(:last-child) > .mui-dropdown > .mui-dropdown-toggle {
        @include border-end-radius(0);
    }

    > :is(.mui-addon-start, .mui-addon-body, .mui-addon-end, .mui-input, .mui-select, .mui-button):focus-within {
        z-index: 5;
    }

    > .mui-addon-start > .mui-button,
    > .mui-addon-end > .mui-button,
    > .mui-addon-body > .mui-button,
    > .mui-button {
        --mui-btn-border-radius: var(--mui-addon-border-radius);
        box-sizing: border-box;
    }

    > .mui-addon-start > .mui-dropdown > .mui-dropdown-toggle,
    > .mui-addon-end > .mui-dropdown > .mui-dropdown-toggle,
    > .mui-addon-body > .mui-dropdown > .mui-dropdown-toggle,
    > .mui-dropdown > .mui-dropdown-toggle {
        --mui-btn-border-radius: var(--mui-addon-border-radius);
        box-sizing: border-box;
    }

    .mui-button {
        position: relative;
        z-index: 2;

        &:focus {
            z-index: 5;
        }
    }
}

@include make-addon-size(xs, 1.5rem, 0.625rem);
@include make-addon-size(sm, 2rem, 0.75rem);
@include make-addon-size(md, 2.75rem, 1.125rem);
@include make-addon-size(lg, 3rem, 1.25rem);
@include make-addon-size(xl, 3.5rem, 1.5rem);
