.badge-close {
    cursor: pointer;

    &::before {
        height: 2px;
        width: 50%;
    }

    &::after {
        height: 50%;
        width: 2px;
    }

    &:hover,
    &:focus {
        background-color: rgba(10, 10, 10, 0.3);
    }

    &:active {
        background-color: rgba(10, 10, 10, 0.4);
    }
}
