.mui-button-group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    background: none !important;
    gap: .125rem;

    > .mui-button {
        margin: 0;
    }

    .mui-button:not(:first-child) {
        @include border-start-radius(0.5rem);
    }

    .mui-button:not(:last-child):not(.mui-dropdown-toggle) {
        @include border-end-radius(0.5rem);
    }

    > .mui-button-group:not(:first-child) > .mui-button,
    .mui-button-group > .mui-button:not(:first-child) {
        @include border-start-radius(0.5rem);
    }
}
