.mud-button-filled-size-extra-small {
    padding: 4px 10px;
    font-size: 0.7125rem;

    &.mud-icon-button {
        padding: 5px;
    }
}

.mud-button-filled-size-medium {
    padding: 7px 18px;
    font-size: 0.9rem;

    &.mud-icon-button {
        padding: 5px;
    }
}


.mud-button-filled-size-extra-large {
    padding: 10px 26px;
    font-size: 1.025rem;

    &.mud-icon-button {
        padding: 5px;
    }
}
