.mui-dropdown {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    @keyframes fadein {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes slidein {
        0% {
            transform: translate(var(--mui-positioning-slide-distance-x), var(--mui-positioning-slide-distance-y));
        }
    }

    &.dropup {
        > .mui-dropdown-menu {
            --mui-positioning-slide-distance-y: 10px;
            --mui-positioning-slide-distance-x: 0px;
            inset: 0 auto auto 0;
            inset-block-start: 0;
        }
    }

    &.dropstart {
        > .mui-dropdown-menu {
            --mui-positioning-slide-distance-y: 0px;
            --mui-positioning-slide-distance-x: 10px;
            inset: auto 0 0 auto;
            inset-inline-start: 0;
        }
    }

    &.dropend {
        > .mui-dropdown-menu {
            --mui-positioning-slide-distance-y: 0px;
            --mui-positioning-slide-distance-x: -10px;
            inset: auto auto 0 0;
            inset-inline-end: 0;
        }
    }

    &-menu {
        --mui-positioning-slide-distance-y: -10px;
        --mui-positioning-slide-distance-x: 0px;
        animation-name: fadein, slidein;
        animation-timing-function: var(--mui-curve-decelerate-mid);
        animation-duration: var(--mui-duration-slower);
        animation-composition: accumulate;
        opacity: 0;
        visibility: hidden;
        display: none;
        box-shadow: var(--mui-elevate2);
        background-color: var(--mui-surface-container);
        inset: auto auto 0 0;
        inline-size: max-content;
        inset-block-end: 0;
        white-space: nowrap;
        max-block-size: 50vh;
        max-inline-size: none !important;
        overflow-x: hidden;
        overflow-y: auto;
        font-size: 0.875rem;
        font-weight: normal;
        text-transform: none;
        color: var(--mui-on-surface);
        line-height: normal;
        text-align: start;
        border-radius: 0.25rem;
        justify-content: flex-start;
        width: max-content;
        height: max-content;

        &-active {
            display: block;
            opacity: 1;
            visibility: visible;
        }

        &-position-strategy {
            z-index: calc(var(--mui-zindex-dropdown) + 1);
        }

        &-position-strategy-absolute {
            position: absolute;
        }

        &-position-strategy-fixed {
            position: fixed;
        }

        > .mui-dropdown-item,
        > .mui-dropdown-header {
            all: unset;
            box-sizing: border-box;
            position: relative;
            display: flex;
            align-items: center;
            align-self: normal;
            text-align: start;
            justify-content: inherit;
            white-space: nowrap;
            gap: 1rem;
            padding: .5rem 1rem;
            min-block-size: 3rem;
            flex: 1;
            margin: 0 !important;
            cursor: pointer;
        }

        > .mui-dropdown-header {
            font-weight: 500;
        }
    }
}
