.mui-field {
    --mui-field-input-size: var(--mui-input-size, 2.5rem);
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    min-block-size: var(--mui-field-input-size);
    border-radius: 0.25rem 0.25rem 0 0;
}

.mui-field.mui-field-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mui-field.mui-field-horizontal:has(> .mui-column),
.mui-field.mui-field-horizontal:has(> [class*="mui-column-"]) {
    margin-right: calc(#{$grid-gutter-width} * -.5);
    margin-left: calc(#{$grid-gutter-width} * -.5);
}

.mui-row > .mui-field {
    margin-top: 0;
}

.mui-fields-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    > .mui-field {
        margin-top: 0;
    }

    @include media-breakpoint-up(sm) {
        > .mui-field {
            display: flex;
            flex: 0 0 auto;
            flex-flow: row wrap;
            align-items: center;
            margin-bottom: 0;
        }

        > .mui-field > .mui-field-label:not(.mui-field-label-horizontal) {
            margin-bottom: 0;
        }

        > .mui-field > :is(.mui-input, .mui-input-plaintext, .mui-select, .mui-addons, .b-numeric),
        > .mui-field > .mui-field-body > :is(.mui-input, .mui-input-plaintext, .mui-select, .mui-addons, .b-numeric) {
            inline-size: auto;
        }
    }
}

.mui-field > .mui-field-body {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    flex: 1 1 auto;
    min-inline-size: 0;
}

.mui-field > .mui-field-label:not(.mui-field-label-horizontal) {
    display: inline-flex;
    align-items: center;
    margin: 0 0 0.375rem;
    line-height: 1.25rem;
    font-size: 0.875rem;
    gap: 0.25rem;
    color: var(--mui-on-surface-variant);
}

.mui-field.mui-field-floating > .mui-field-label:not(.mui-field-label-horizontal) {
    --_start: 1rem;
    position: absolute;
    inset: -0.5rem 1rem 0 var(--_start);
    display: flex;
    align-items: center;
    margin: 0;
    block-size: calc(var(--mui-field-input-size) + 1rem);
    line-height: calc(var(--mui-field-input-size) + 1rem);
    font-size: 1rem;
    transition: all var(--mui-duration-normal);
    gap: 0.25rem;
    white-space: nowrap;
    z-index: 2;
    pointer-events: none;
    color: inherit;
}

.mui-field > .mui-field-label-horizontal {
    display: inline-flex;
    align-items: center;
    min-block-size: var(--mui-field-input-size);
    margin: 0;
}

.mui-field > .mui-field-helper {
    display: inline-block;
    font-size: 0.75rem;
    background: none !important;
    padding: 0.25rem 1rem;
    line-height: 1.25rem;
    align-self: start;
}

.mui-field-required::after {
    content: "*";
    color: var(--mui-error);
    margin-inline-start: 0.25rem;
}

.mui-field:has(> :disabled),
.mui-field:has(> .mui-field-body > :disabled) {
    opacity: 0.5;
    cursor: not-allowed;
}

.mui-field.mui-field-floating:has(> .mui-field-label:not(.mui-field-label-horizontal)) > :is(.mui-input, .mui-select),
.mui-field.mui-field-floating:has(> .mui-field-label:not(.mui-field-label-horizontal)) > .mui-field-body > :is(.mui-input, .mui-select) {
    padding-block-start: 1rem;
}

.mui-field.mui-field-floating:has(> .mui-field-label:not(.mui-field-label-horizontal)) > :is(.mui-input, .mui-select)::placeholder,
.mui-field.mui-field-floating:has(> .mui-field-label:not(.mui-field-label-horizontal)) > .mui-field-body > :is(.mui-input, .mui-select)::placeholder,
.mui-field.mui-field-floating:has(> .mui-field-label:not(.mui-field-label-horizontal)) > textarea.mui-input::placeholder,
.mui-field.mui-field-floating:has(> .mui-field-label:not(.mui-field-label-horizontal)) > .mui-field-body > textarea.mui-input::placeholder {
    color: transparent;
    opacity: 0;
}

.mui-field.mui-field-floating:has(> .mui-field-label:not(.mui-field-label-horizontal)) > :is(.mui-input, .mui-select):focus,
.mui-field.mui-field-floating:has(> .mui-field-label:not(.mui-field-label-horizontal)) > .mui-field-body > :is(.mui-input, .mui-select):focus {
    padding-block-start: calc(1rem - 0.01rem);
}

.mui-field.mui-field-floating:has(> .mui-field-label:not(.mui-field-label-horizontal)) > textarea.mui-input,
.mui-field.mui-field-floating:has(> .mui-field-label:not(.mui-field-label-horizontal)) > .mui-field-body > textarea.mui-input {
    padding-block-start: 1rem !important;
}

.mui-field.mui-field-floating:has(> .mui-field-label:not(.mui-field-label-horizontal)) > textarea.mui-input:focus,
.mui-field.mui-field-floating:has(> .mui-field-label:not(.mui-field-label-horizontal)) > .mui-field-body > textarea.mui-input:focus {
    padding-block-start: calc(1rem - 0.01rem) !important;
}

.mui-field.mui-field-floating:has(> :is(.mui-input, .mui-select):focus) > .mui-field-label:not(.mui-field-label-horizontal),
.mui-field.mui-field-floating:has(> .mui-field-body > :is(.mui-input, .mui-select):focus) > .mui-field-label:not(.mui-field-label-horizontal),
.mui-field.mui-field-floating:has(> :is(.mui-input, .mui-select)[placeholder]:not(:placeholder-shown)) > .mui-field-label:not(.mui-field-label-horizontal),
.mui-field.mui-field-floating:has(> .mui-field-body > :is(.mui-input, .mui-select)[placeholder]:not(:placeholder-shown)) > .mui-field-label:not(.mui-field-label-horizontal),
.mui-field.mui-field-floating:has(> textarea.mui-input[placeholder]:not(:placeholder-shown)) > .mui-field-label:not(.mui-field-label-horizontal),
.mui-field.mui-field-floating:has(> .mui-field-body > textarea.mui-input[placeholder]:not(:placeholder-shown)) > .mui-field-label:not(.mui-field-label-horizontal),
.mui-field.mui-field-floating:has(> .mui-select) > .mui-field-label:not(.mui-field-label-horizontal),
.mui-field.mui-field-floating:has(> .mui-field-body > .mui-select) > .mui-field-label:not(.mui-field-label-horizontal) {
    block-size: 2.5rem;
    line-height: 2.5rem;
    font-size: 0.75rem;
}

.mui-field:has(> :is(.mui-input, .mui-select):focus) > .mui-field-label:not(.mui-field-label-horizontal),
.mui-field:has(> .mui-field-body > :is(.mui-input, .mui-select):focus) > .mui-field-label:not(.mui-field-label-horizontal),
.mui-field:has(> textarea.mui-input:focus) > .mui-field-label:not(.mui-field-label-horizontal),
.mui-field:has(> .mui-field-body > textarea.mui-input:focus) > .mui-field-label:not(.mui-field-label-horizontal) {
    color: var(--mui-primary);
}

.mui-field:has(> :is(.mui-input, .mui-select).is-invalid) > .mui-field-label:not(.mui-field-label-horizontal),
.mui-field:has(> .mui-field-body > :is(.mui-input, .mui-select).is-invalid) > .mui-field-label:not(.mui-field-label-horizontal) {
    color: var(--mui-error);
}

.mui-field:has(> :is(.mui-input, .mui-select).is-valid) > .mui-field-label:not(.mui-field-label-horizontal),
.mui-field:has(> .mui-field-body > :is(.mui-input, .mui-select).is-valid) > .mui-field-label:not(.mui-field-label-horizontal) {
    color: var(--mui-success);
}
