.mui-input,
.mui-input-plaintext,
.mui-select {
    --mui-input-size: 2.5rem;
    --mui-input-font-size: 1rem;
    --mui-input-border-radius: 0.5rem;
    all: unset;
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: inherit;
    border: 0.0625rem solid transparent;
    padding: 0 0.9375rem;
    font-family: inherit;
    font-size: var(--mui-input-font-size);
    inline-size: 100%;
    outline: none;
    z-index: 1;
    background: none;
    resize: none;
    text-align: start;
    cursor: text;

    &:not(.mui-input-plaintext) {
        border-color: var(--mui-outline);
        border-radius: var(--mui-input-border-radius);

        &:focus {
            border: 0.125rem solid transparent;
            padding-inline: 0.875rem;
            border-color: var(--mui-primary);
        }
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &[type=file],
    &[type=color],
    &::-webkit-calendar-picker-indicator {
        opacity: 0;
        position: absolute;
        inset: 0;
        inline-size: 100%;
        block-size: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        z-index: 2;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration,
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        display: none;
    }

    &[type=number] {
        appearance: textfield;
    }

    &-xs {
        --mui-input-size: 1.5rem;
        --mui-input-font-size: 0.625rem;
    }

    &-sm {
        --mui-input-size: 2rem;
        --mui-input-font-size: 0.75rem;
    }

    &-md {
        --mui-input-size: 2.75rem;
        --mui-input-font-size: 1.125rem;
    }

    &-lg {
        --mui-input-size: 3rem;
        --mui-input-font-size: 1.25rem;
    }

    &-xl {
        --mui-input-size: 3.5rem;
        --mui-input-font-size: 1.5rem;
    }
}

input::-webkit-date-and-time-value {
    text-align: start;
}

:is(input.mui-input, input.mui-input-plaintext, textarea.mui-input, select.mui-select):is(:-webkit-autofill, :autofill) {
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--mui-on-surface);
}

:is(input.mui-input, input.mui-input-plaintext) {
    block-size: var(--mui-input-size);
}

textarea.mui-input {
    min-block-size: var(--mui-input-size);
    line-height: 1.5rem;
    padding-block: 0.75rem;
    cursor: text;
    resize: vertical;
}

textarea.mui-input:not([rows]) {
    field-sizing: content;
    max-block-size: 12rem;
}

.mui-select {
    user-select: none;
    cursor: pointer;

    &:not([multiple]):not([size]),
    &:not([multiple])[size="1"] {
        block-size: var(--mui-input-size);
    }
}

:is(.mui-input, .mui-select).is-valid {
    border-color: var(--mui-success) !important;
}

:is(.mui-input, .mui-select).is-invalid {
    border-color: var(--mui-error) !important;
}

.valid-feedback,
.invalid-feedback {
    display: none;
    font-size: 0.75rem;
    background: none !important;
    padding: 0.25rem 1rem;
    line-height: 1.25rem;
}

.valid-feedback {
    color: var(--mui-success);
}

.invalid-feedback {
    color: var(--mui-error);
}

.is-valid ~ .valid-feedback,
.is-invalid ~ .invalid-feedback,
.mui-check.is-valid .valid-feedback,
.mui-check.is-invalid .invalid-feedback,
.mui-radio.is-valid .valid-feedback,
.mui-radio.is-invalid .invalid-feedback,
.mui-switch.is-valid .valid-feedback,
.mui-switch.is-invalid .invalid-feedback {
    display: inline-block;
}

.form-text.text-muted {
    color: var(--mui-on-surface-variant);
}
