.mui-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    flex: 1;

    > .mui-list-item {
        all: unset;
        box-sizing: border-box;
        position: relative;
        display: flex;
        align-items: center;
        align-self: normal;
        text-align: start;
        justify-content: flex-start;
        white-space: nowrap;
        gap: 1rem;
        min-block-size: 3.5rem;
        padding: 0.5rem 1rem;
        cursor: pointer;
        flex: 1;

        &:has(ul, ol, details[open], a:only-child) {
            padding: 0;
        }

        > .mui-list {
            padding: 0 0 0 1rem;
        }

        > *,
        > a:only-child > * {
            margin: 0;
        }

        > :is(details, .max),
        > a:only-child > .max,
        > details > summary > .max {
            flex: 1;
        }

        &.mui-list-item-action:hover {
            background-color: color-mix(in srgb, currentColor 10%, transparent);
        }

        &.active {
            background-color: var(--mui-tertiary-container);
            color: var(--mui-on-tertiary-container);
        }

        &.disabled,
        &:disabled {
            pointer-events: none;
            opacity: 0.5;
        }
    }

    > .mui-list-item:focus-visible,
    > .mui-list-item > a:only-child:focus-visible {
        outline: 0.125rem solid var(--mui-primary);
        outline-offset: -0.25rem;
    }

    &-flush {
        > .mui-list-item:not(:last-child)::before {
            content: '';
            position: absolute;
            background-color: var(--mui-outline-variant);
            inset: auto 0 0 0;
            block-size: 0.0625rem;
            inline-size: auto;
        }
    }

    &-scrollable {
        overflow-y: auto;
        max-block-size: var(--mui-list-max-height, 16rem);
    }
}

@each $color in (primary, secondary, tertiary, error, success, warning, info, light, dark) {
    .mui-list-item-#{$color} {
        color: var(--mui-on-#{$color}-container);
        background-color: var(--mui-#{$color}-container);

        &.mui-list-item-action:hover {
            background-color: color-mix(in srgb, var(--mui-#{$color}) 15%, var(--mui-#{$color}-container));
        }

        &.active {
            color: var(--mui-on-#{$color});
            background-color: var(--mui-#{$color});
        }
    }
}
