.pagination-xs .page-link {
    border-radius: ($pagination-line-height * $pagination-font-size-xs) / 2;
    font-size: $pagination-font-size-xs;
    width: $pagination-line-height * $pagination-font-size-xs;
}

.pagination-md .page-link {
    border-radius: ($pagination-line-height * $pagination-font-size-md) / 2;
    font-size: $pagination-font-size-md;
    width: $pagination-line-height * $pagination-font-size-md;
}

.pagination-xl .page-link {
    border-radius: ($pagination-line-height * $pagination-font-size-xl) / 2;
    font-size: $pagination-font-size-xl;
    width: $pagination-line-height * $pagination-font-size-xl;
}
