@page "/"
@namespace Blazorise.Demo.Bootstrap.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bootstrap Demo</title>
    <base href="~/" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="manifest.json">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link href="_content/Blazorise.Icons.FontAwesome/v6/css/all.min.css" rel="stylesheet">

    <link href="_content/Blazorise/blazorise.css?v=1.5.0.0" rel="stylesheet" />
    <link href="_content/Blazorise.Bootstrap/blazorise.bootstrap.css?v=1.5.0.0" rel="stylesheet" />
    <link href="_content/Blazorise.Sidebar/blazorise.sidebar.css?v=1.5.0.0" rel="stylesheet" />
    <link href="_content/Blazorise.Snackbar/blazorise.snackbar.css?v=1.5.0.0" rel="stylesheet" />
    <link href="_content/Blazorise.TreeView/blazorise.treeview.css?v=1.5.0.0" rel="stylesheet" />
    <link href="_content/Blazorise.SpinKit/blazorise.spinkit.css?v=1.5.0.0" rel="stylesheet" />
    <link href="_content/Blazorise.LoadingIndicator/blazorise.loadingindicator.css?v=1.5.0.0" rel="stylesheet" />
    <link href="_content/Blazorise.Demo/demo.css?v=1.5.0.0" rel="stylesheet" />

    <link href="css/site.css" rel="stylesheet" />

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <app>@(await Html.RenderComponentAsync<App>( RenderMode.Server ))</app>

    <!-- EXTENSIONS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@1.28.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@2.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@2.2.1"></script>

    <script src="_content/Blazorise.Animate/blazorise.animate.js?v=1.5.0.0"></script>
    <script src="_content/Blazorise.Demo/demo.js?v=1.5.0.0"></script>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
