@page "/"

<h1>Blazorise</h1>

<h2>Blazor + Bootstrap</h2>

<p>
    Build responsive, mobile-first projects on the web using Blazorise with Blazor. Blazorise is a component library built on top of Blazor and CSS frameworks like Bootstrap, Bulma and Material.
</p>

<p>
    <a href="https://blazor.net/">Blazor</a> Blazor is an experimental .NET web framework using C# and HTML that runs in the browser.
</p>

<a class="button gray has-icon" href="https://github.com/stsrki/blazorise" target="_blank">
    GITHUB
</a>
