@page "/"

<Heading Size="HeadingSize.Is1" Margin="Margin.Is3.FromBottom">Blazorise</Heading>
<Heading Size="HeadingSize.Is2" Margin="Margin.Is3.FromBottom">Blazor + Bootstrap</Heading>

<Paragraph>
    Build responsive, mobile-first projects on the web using Blazorise with Blazor. Blazorise is a component library built on top of Blazor and CSS frameworks like Bootstrap, Bulma and Material.
</Paragraph>

<Paragraph>
    <a href="https://blazor.net/">Blazor</a> is an experimental .NET web framework using C# and HTML that runs in the browser.
</Paragraph>

<Paragraph Margin="Margin.Is2.FromTop">
    <a href="https://github.com/stsrki/blazorise" target="_blank">
        GITHUB
    </a>
</Paragraph>