name: Blazorise Push CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Setup .NET 10
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '10.0.x'
    
    - name: Restore NuGet Packages
      run: dotnet restore
      
    - name: Build - Release
      run: dotnet build --configuration Release --no-restore
      
    - name: Run Unit Tests - Release
      run: dotnet test ./Tests/Blazorise.Tests/Blazorise.Tests.csproj --configuration Release --no-restore --no-build --verbosity normal

    - name: Prepare E2E Tests Dependencies 
      run: pwsh ./Tests/Blazorise.E2E.Tests/bin/Release/net10.0/playwright.ps1 install --with-deps

    - name: Run E2E Tests - Release
      run: dotnet test ./Tests/Blazorise.E2E.Tests/Blazorise.E2E.Tests.csproj --configuration Release --no-restore --no-build --verbosity normal
