name: Check for Stale Expecting Answer

on:
  schedule:
  - cron: "5 1 * * *"

jobs:
  stale:

    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write

    steps:
    - uses: actions/stale@v10
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: "This is an automated message reminding that this issue is expecting the author's answer."
        days-before-stale: 3
        days-before-close: 5
        only-labels: 'Status: Expecting Answer'
