@inherits Blazorise.Addons
<CascadingValue Value=this>
    <span class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        <span class="ant-input-wrapper ant-input-group">
            @ChildContent
        </span>
    </span>
</CascadingValue>