@inherits Blazorise.BarBrand
<CascadingValue Value="@Mode" Name="Mode">
    <span class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @ChildContent
    </span>
</CascadingValue>