@inherits Blazorise.BarEnd
<CascadingValue Value="@ParentStore">
    @if ( ParentStore.Mode == BarMode.Horizontal )
    {
        <div class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
            @ChildContent
        </div>
    }
    else
    {
        @ChildContent
    }
</CascadingValue>
