@inherits Blazorise.BarIcon
<span class="anticon">
    @if ( IconName is RenderFragment )
    {
        @( IconName as RenderFragment )
    }
    else
    {
        <Icon ElementId="@ElementId" Name="@IconName" />
    }
</span>