@inherits Blazorise.BarStart
<CascadingValue Value="@ParentBarState">
    @ChildContent
    @if ( ParentBarState.Mode != BarMode.Horizontal )
    {
        <li style="flex-grow: 1"></li>
    }
</CascadingValue>