@inherits Blazorise.ListGroup
<CascadingValue Value=this>
    <CascadingValue Value="@Store">
        <div class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
            <div class="ant-spin-nested-loading">
                <div class="ant-spin-container">
                    <ul class="ant-list-items">
                        @ChildContent
                    </ul>
                </div>
            </div>
        </div>
    </CascadingValue>
</CascadingValue>