@inherits Blazorise.Table
<div class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    <div class="ant-table-container">
        <div class="ant-table-content">
            <table style="table-layout: auto;">
                @ChildContent
            </table>
        </div>
    </div>
</div> 