@inherits Blazorise.Tabs
<CascadingValue Value=this>
    <div class="@ClassNames" @attributes="@Attributes">
        <div role="tablist" class="@($"ant-tabs-bar {(Vertical ? "ant-tabs-left-bar" : "ant-tabs-top-bar")}")">
            <div class="ant-tabs-nav-container">
                <div class="ant-tabs-nav-wrap">
                    <div class="ant-tabs-nav-scroll">
                        <div class="ant-tabs-nav ant-tabs-nav-animated">
                            <div>
                                @ChildContent
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</CascadingValue>