dotnet add package Blazorise.Icons.Bootstrap

or

dotnet add package Blazorise.Icons.AntDesign

or

dotnet add package Blazorise.Icons.FluentUI

or

dotnet add package Blazorise.Icons.FontAwesome

or

dotnet add package Blazorise.Icons.Lucide

or

dotnet add package Blazorise.Icons.Material